{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends base_template %}

{% block title %}
    {% if admin.id(object) is not null %}
        {{ "title_edit"|trans({'%name%': admin.toString(object)|truncate(15) }, 'SonataAdminBundle') }}
    {% else %}
        {{ "title_create"|trans({}, 'SonataAdminBundle') }}
    {% endif %}
{% endblock %}

{% block navbar_title %}
    {{ block('title') }}
{% endblock %}

{%- block actions -%}
    {% include 'SonataAdminBundle:CRUD:action_buttons.html.twig' %}
{%- endblock -%}

{% block tab_menu %}{{ knp_menu_render(admin.sidemenu(action), {'currentClass' : 'active', 'template': sonata_admin.adminPool.getTemplate('tab_menu_template')}, 'twig') }}{% endblock %}

{% use 'NKOOrderBundle:CRUD:report/finance_report/report_2018/base_edit_form_report_template.html.twig' with form as parentForm %}
{% import "NKOOrderBundle:CRUD:report/base_edit_form_macro_report.html.twig" as form_helper %}

{% block form %}
    {{ block('parentForm') }}
{% endblock %}

{% block sonata_admin_content_actions_wrappers %}
{% endblock sonata_admin_content_actions_wrappers %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/nkoorder/js/autoNumeric.js') }}"></script>
    <script src="{{ asset('bundles/nkoorder/js/autosize.js') }}"></script>
    <script src="{{ asset('bundles/nkoorder/js/finance_report/base_finance_report.js') }}"></script>
    <script src="{{ asset('bundles/nkoorder/js/finance_report/report_2018/finance_spent_sum_salary.js') }}"></script>
{% endblock %}