{% extends 'NKOOrderBundle:CRUD:report/finance_report/report_2018/base_edit_report_template.html.twig' %}
{% block tab_menu_navbar_header %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/nkoorder/js/finance_report/report_2018/report_template_form.js') }}"></script>
{% endblock %}