<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title></title>
    <meta name="generator" content="LibreOffice 5.1.4.2 (Linux)"/>
    <meta name="author" content="Elena"/>
    <meta name="created" content="2017-02-20T08:26:00"/>
    <meta name="changedby" content="Admin"/>
    <meta name="changed" content="2017-02-20T08:26:00"/>
    <meta name="AppVersion" content="14.0000"/>
    <meta name="DocSecurity" content="0"/>
    <meta name="HyperlinksChanged" content="false"/>
    <meta name="LinksUpToDate" content="false"/>
    <meta name="ScaleCrop" content="false"/>
    <meta name="ShareDoc" content="false"/>
    <style type="text/css">
        @page {
            size: 8.27in 11.69in;
            margin: 0.5in
        }

        p {
            margin-bottom: 0.08in;
            direction: ltr;
            line-height: 100%;
            text-align: left;
            orphans: 2;
            widows: 2
        }

        p.western {
            font-family: "Times New Roman", serif;
            font-size: 12pt
        }

        p.cjk {
            font-family: "Times New Roman";
            font-size: 12pt;
            so-language: ru-RU
        }

        p.ctl {
            font-family: "Times New Roman";
            font-size: 12pt
        }

        h1 {
            margin-bottom: 0.04in;
            direction: ltr;
            line-height: 100%;
            text-align: left;
            orphans: 2;
            widows: 2
        }

        h1.western {
            font-family: "Arial", serif;
            font-size: 16pt
        }

        h1.cjk {
            font-family: "Times New Roman";
            font-size: 16pt;
            so-language: ru-RU
        }

        h1.ctl {
            font-family: "Arial";
            font-size: 16pt
        }
    </style>
</head>
<body lang="ru-RU" dir="ltr">

<p class=MsoNormal align=center style='margin-top:6.0pt;text-align:center'><b><span
                style='font-family:"Arial Narrow","sans-serif"'>ЗАЯВКА </span></b></p>

<p class=MsoNormal align=center style='margin-top:6.0pt;text-align:center'><b><span
                    style='font-family:"Arial Narrow","sans-serif"'>для участия во II Всероссийском конкурсе «Семейный фарватер»</span></b></p>

<p class=MsoNormal><b><span style='font-family:"Arial Narrow","sans-serif"'>&nbsp;</span></b></p>

<p class=MsoListParagraph style='margin-left:0cm;text-align:justify;text-indent:
0cm'><b><span style='font-family:"Arial Narrow","sans-serif"'>1.<span
                    style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></b><b><span style='font-family:"Arial Narrow","sans-serif"'>Вкладка
</span></b><b><span lang=EN-US style='font-family:"Arial Narrow","sans-serif"'>I</span></b><b><span
                style='font-family:"Arial Narrow","sans-serif"'>. 	КОНТАКТНАЯ ИНФОРМАЦИЯ</span></b></p>

<p class=MsoListParagraph style='margin-left:0cm;text-align:justify'><b><span
                style='font-family:"Arial Narrow","sans-serif"'>&nbsp;</span></b></p>

<p class=MsoNormal style='margin-left:18.0pt;text-align:justify;text-indent:
-18.0pt'><span style='font-family:"Arial Narrow","sans-serif";color:black'>1.1.<span
                style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span></span><span
            style='font-family:"Arial Narrow","sans-serif"'><b>Полное название</b> организации: {{ application.name }} </span>
</p>

<p class=MsoNormal style='margin-left:18.0pt;text-align:justify'><span
            style='font-family:"Arial Narrow","sans-serif"'>&nbsp;</span></p>

<p class=MsoNormal style='margin-left:18.0pt;text-align:justify;text-indent:
-18.0pt'><span style='font-family:"Arial Narrow","sans-serif";color:black'>1.2.<span
                style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span></span><span
            style='font-family:"Arial Narrow","sans-serif"'><b>Сокращенное</b> название организации: {{ application.abbreviation }} </span>
</p>

<p class=MsoListParagraph><span style='font-family:"Arial Narrow","sans-serif"'>&nbsp;</span></p>

<p class=MsoNormal style='margin-left:18.0pt;text-align:justify;text-indent:
-18.0pt'><span style='font-family:"Arial Narrow","sans-serif";color:black'>1.3.<span
                style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span></span><span
            style='font-family:"Arial Narrow","sans-serif"'><b>ОГРН</b> организации: {{ application.pSRN }}</span></p>

<p class=MsoListParagraph><span style='font-family:"Arial Narrow","sans-serif"'>&nbsp;</span></p>

<p class=MsoNormal style='margin-left:18.0pt;text-align:justify;text-indent:
-18.0pt'><span style='font-family:"Arial Narrow","sans-serif";color:black'>1.4.<span
                style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span></span><span
            style='font-family:"Arial Narrow","sans-serif"'><b>Юридический адрес</b>:

<p class=MsoListParagraph style='margin-left:36.0pt;text-align:justify;
  text-indent:-18.0pt'><span style='font-family:Symbol'>·<span
                style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span><span style='font-family:"Arial Narrow","sans-serif"'>Индекс: {{ application.legalPostCode }}</span></p>
<p class=MsoListParagraph style='margin-left:36.0pt;text-align:justify;
  text-indent:-18.0pt'><span style='font-family:Symbol'>·<span
                style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span><span style='font-family:"Arial Narrow","sans-serif"'>Регион: {{ application.legalRegion }}</span></p>
<p class=MsoListParagraph style='margin-left:36.0pt;text-align:justify;
  text-indent:-18.0pt'><span style='font-family:Symbol'>·<span
                style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span><span
            style='font-family:"Arial Narrow","sans-serif"'>Населенный пункт: {{ application.legalCity }}</span></p>
<p class=MsoListParagraph style='margin-left:36.0pt;text-align:justify;
  text-indent:-18.0pt'><span style='font-family:Symbol'>·<span
                style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span><span
            style='font-family:"Arial Narrow","sans-serif"'>Улица, дом, корпус, номер офиса: {{ application.legalStreet }}</span>
</p>
<p class=MsoListParagraph><span style='font-family:"Arial Narrow","sans-serif"'>&nbsp;</span></p>


<p class=MsoNormal style='margin-left:18.0pt;text-align:justify;text-indent:
-18.0pt'><span style='font-family:"Arial Narrow","sans-serif";color:black'>1.5.<span
                style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span></span>

    <span style='font-family:"Arial Narrow","sans-serif"'><b>Фактический адрес</b>:
        {% if application.isAddressesEqual == true %}
<p class=MsoListParagraph style='margin-left:36.0pt;text-align:justify;
  text-indent:-18.0pt'><span style='font-family:Symbol'>·<span
                style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span><span style='font-family:"Arial Narrow","sans-serif"'>Индекс: {{ application.legalPostCode }}</span></p>
<p class=MsoListParagraph style='margin-left:36.0pt;text-align:justify;
  text-indent:-18.0pt'><span style='font-family:Symbol'>·<span
                style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span><span style='font-family:"Arial Narrow","sans-serif"'>Регион: {{ application.legalRegion }}</span></p>
<p class=MsoListParagraph style='margin-left:36.0pt;text-align:justify;
  text-indent:-18.0pt'><span style='font-family:Symbol'>·<span
                style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span><span
            style='font-family:"Arial Narrow","sans-serif"'>Населенный пункт: {{ application.legalCity }}</span></p>
<p class=MsoListParagraph style='margin-left:36.0pt;text-align:justify;
  text-indent:-18.0pt'><span style='font-family:Symbol'>·<span
                style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span><span
            style='font-family:"Arial Narrow","sans-serif"'>Улица, дом, корпус, номер офиса: {{ application.legalStreet }}</span>
</p>
{% else %}

    <p class=MsoListParagraph style='margin-left:36.0pt;text-align:justify;
  text-indent:-18.0pt'><span style='font-family:Symbol'>·<span
                    style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span><span style='font-family:"Arial Narrow","sans-serif"'>Индекс: {{ application.actualPostCode }}</span>
    </p>
    <p class=MsoListParagraph style='margin-left:36.0pt;text-align:justify;
  text-indent:-18.0pt'><span style='font-family:Symbol'>·<span
                    style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span><span style='font-family:"Arial Narrow","sans-serif"'>Регион: {{ application.actualRegion }}</span></p>
    <p class=MsoListParagraph style='margin-left:36.0pt;text-align:justify;
  text-indent:-18.0pt'><span style='font-family:Symbol'>·<span
                    style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span><span
                style='font-family:"Arial Narrow","sans-serif"'>Населенный пункт: {{ application.actualCity }}</span>
    </p>
    <p class=MsoListParagraph style='margin-left:36.0pt;text-align:justify;
  text-indent:-18.0pt'><span style='font-family:Symbol'>·<span
                    style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span><span
                style='font-family:"Arial Narrow","sans-serif"'>Улица, дом, корпус, номер офиса: {{ application.actualStreet }}</span>
    </p>
{% endif %}

<p class=MsoListParagraph><b><span style='font-family:"Arial Narrow","sans-serif"'>&nbsp;</span></b></p>

<p class=MsoNormal style='margin-left:18.0pt;text-align:justify;text-indent:
-18.0pt'>
    <span style='font-family:"Arial Narrow","sans-serif";color:black'>1.6.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span></span>
    <span style='font-family:"Arial Narrow","sans-serif"'>
        <b>Сайт</b> организации в сети Интернет:
        {% for siteLink in application.siteLinks %}
        <p>{{ siteLink.link }}</p>
    </span></p>
{% endfor %}

<p class=MsoListParagraph><span style='font-family:"Arial Narrow","sans-serif"'>&nbsp;</span></p>

<p class=MsoNormal style='margin-left:18.0pt;text-align:justify;text-indent:
-18.0pt'><span style='font-family:"Arial Narrow","sans-serif";color:black'>1.7.<span
                style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span></span><span
            style='font-family:"Arial Narrow","sans-serif"'>Страницы организации в <b>социальных
                сетях</b>:
        {% for socialNetwork in application.socialNetworkLinks %}
       <p>{{ socialNetwork.link }}</p>  </span></p>
{% endfor %}

<p class=MsoListParagraph><span style='font-family:"Arial Narrow","sans-serif"'>&nbsp;</span></p>

<p class=MsoNormal style='margin-left:18.0pt;text-align:justify;text-indent:
-18.0pt'><span style='font-family:"Arial Narrow","sans-serif";color:black'>1.8.<span
                style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span
            style='font-family:"Arial Narrow","sans-serif"'>Адрес <b>электронной</b> почты
для оперативного контакта с организацией: {{ application.email }}</span></p>

<p class=MsoListParagraph><b><span style='font-family:"Arial Narrow","sans-serif"'>&nbsp;</span></b></p>

<p class=MsoNormal style='margin-left:18.0pt;text-align:justify;text-indent:
-18.0pt'><span style='font-family:"Arial Narrow","sans-serif";color:black'>1.9.<span
                style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span></span><span
            style='font-family:"Arial Narrow","sans-serif"'><b>Телефон</b> для оперативного контакта с
организацией (код) (номер): {{ '+7('~application.phoneCode~')'~application.phone }}</span></p>


<p class=MsoListParagraph><b><span style='font-family:"Arial Narrow","sans-serif"'>&nbsp;</span></b></p>

<p class=MsoNormal style='margin-left:18.0pt;text-align:justify;text-indent:
    -18.0pt'><span style='font-family:"Arial Narrow","sans-serif";color:black'>1.10.<span
                style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span></span><span
            style='font-family:"Arial Narrow","sans-serif"'>
                <b>Руководитель организации:</b>
<p class=MsoListParagraph style='margin-left:36.0pt;text-align:justify;
      text-indent:-18.0pt'><span style='font-family:Symbol'>·<span
                style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </span></span><span
            style='font-family:"Arial Narrow","sans-serif"'>ФИО: {{ application.headOfOrganizationFullName }}</span></p>
<p class=MsoListParagraph style='margin-left:36.0pt;text-align:justify;
      text-indent:-18.0pt'><span style='font-family:Symbol'>·<span
                style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </span></span><span
            style='font-family:"Arial Narrow","sans-serif"'>Должность: {{ application.headOfOrganizationPosition }}</span>
</p>
<p class=MsoListParagraph style='margin-left:36.0pt;text-align:justify;
      text-indent:-18.0pt'><span style='font-family:Symbol'>·<span
                style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </span></span><span
            style='font-family:"Arial Narrow","sans-serif"'>Телефон (код)(номер): {{ '+7('~application.headOfOrganizationPhoneCode~')'~application.headOfOrganizationPhone }}</span>
</p>
<p class=MsoListParagraph style='margin-left:36.0pt;text-align:justify;
      text-indent:-18.0pt'><span style='font-family:Symbol'>·<span
                style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </span></span><span
            style='font-family:"Arial Narrow","sans-serif"'>Мобильный телефон (код)(номер): {{ '+7('~application.headOfOrganizationMobilePhoneCode~')'~application.headOfOrganizationMobilePhone }}</span>
</p>
<p class=MsoListParagraph style='margin-left:36.0pt;text-align:justify;
      text-indent:-18.0pt'><span style='font-family:Symbol'>·<span
                style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </span></span><span
            style='font-family:"Arial Narrow","sans-serif"'>Адрес электронной почты: {{ application.headOfOrganizationEmeil }}</span>
</p>

<p class=MsoNormal style='margin-left:18.0pt;text-align:justify;text-indent:
    -18.0pt'><span style='font-family:"Arial Narrow","sans-serif";color:black'>1.11.<span
                style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span></span><span
            style='font-family:"Arial Narrow","sans-serif"'>
                <b>Руководитель проекта:</b>
    {% if application.isOrganizationHeadEqualProjectHead == true %}
        <p class=MsoListParagraph style='margin-left:36.0pt;text-align:justify;
      text-indent:-18.0pt'><span style='font-family:Symbol'>·<span
                        style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </span></span><span
                    style='font-family:"Arial Narrow","sans-serif"'>ФИО: {{ application.headOfOrganizationFullName }}</span></p>
        <p class=MsoListParagraph style='margin-left:36.0pt;text-align:justify;
      text-indent:-18.0pt'><span style='font-family:Symbol'>·<span
                        style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </span></span><span
                    style='font-family:"Arial Narrow","sans-serif"'>Должность: {{ application.headOfOrganizationPosition }}</span></p>
        <p class=MsoListParagraph style='margin-left:36.0pt;text-align:justify;
      text-indent:-18.0pt'><span style='font-family:Symbol'>·<span
                        style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </span></span><span
                    style='font-family:"Arial Narrow","sans-serif"'>Телефон (код)(номер): {{ '+7('~application.headOfOrganizationPhoneCode~')'~application.headOfOrganizationPhone }}</span></p>
        <p class=MsoListParagraph style='margin-left:36.0pt;text-align:justify;
      text-indent:-18.0pt'><span style='font-family:Symbol'>·<span
                        style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </span></span><span
                    style='font-family:"Arial Narrow","sans-serif"'>Мобильный телефон (код)(номер): {{ '+7('~application.headOfOrganizationMobilePhoneCode~')'~application.headOfOrganizationMobilePhone }}</span></p>
        <p class=MsoListParagraph style='margin-left:36.0pt;text-align:justify;
      text-indent:-18.0pt'><span style='font-family:Symbol'>·<span
                        style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </span></span><span
                    style='font-family:"Arial Narrow","sans-serif"'>Адрес электронной почты: {{ application.headOfOrganizationEmeil }}</span></p>
    {% else %}

        <p class=MsoListParagraph style='margin-left:36.0pt;text-align:justify;
  text-indent:-18.0pt'><span style='font-family:Symbol'>·<span
                        style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span><span
                    style='font-family:"Arial Narrow","sans-serif"'>ФИО: {{ application.headOfProjectFullName }}</span></p>
        <p class=MsoListParagraph style='margin-left:36.0pt;text-align:justify;
  text-indent:-18.0pt'><span style='font-family:Symbol'>·<span
                        style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span><span
                    style='font-family:"Arial Narrow","sans-serif"'>Должность: {{ application.headOfProjectPosition }}</span></p>
        <p class=MsoListParagraph style='margin-left:36.0pt;text-align:justify;
  text-indent:-18.0pt'><span style='font-family:Symbol'>·<span
                        style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span><span
                    style='font-family:"Arial Narrow","sans-serif"'>Телефон (код)(номер): {{ '+7('~application.headOfProjectPhoneCode~')'~application.headOfProjectPhone }}</span></p>
        <p class=MsoListParagraph style='margin-left:36.0pt;text-align:justify;
  text-indent:-18.0pt'><span style='font-family:Symbol'>·<span
                        style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span><span
                    style='font-family:"Arial Narrow","sans-serif"'>Мобильный телефон (код)(номер): {{ '+7('~application.headOfProjectMobilePhoneCode~')'~application.headOfProjectMobilePhone }}</span></p>
        <p class=MsoListParagraph style='margin-left:36.0pt;text-align:justify;
  text-indent:-18.0pt'><span style='font-family:Symbol'>·<span
                        style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span><span
                    style='font-family:"Arial Narrow","sans-serif"'>Адрес электронной почты: {{ application.headOfProjectEmeil }}</span></p>
    {% endif %}

    <p class=MsoListParagraph><b><span style='font-family:"Arial Narrow","sans-serif"'>&nbsp;</span></b></p>

    <p class=MsoNormal style='margin-left:0cm;text-align:justify;text-indent:0cm'><span
                style='font-family:"Arial Narrow","sans-serif";color:black'>1.12.<span
                    style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span></span><span
                style='font-family:"Arial Narrow","sans-serif"'>
                <b>Главный бухгалтер:</b>
    <p class=MsoListParagraph style='margin-left:36.0pt;text-align:justify;
  text-indent:-18.0pt'><span style='font-family:Symbol'>·<span
                    style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span><span
                style='font-family:"Arial Narrow","sans-serif"'>ФИО: {{ application.headOfAccountingFullName }}</span></p>
    <p class=MsoListParagraph style='margin-left:36.0pt;text-align:justify;
  text-indent:-18.0pt'><span style='font-family:Symbol'>·<span
                    style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span><span
                style='font-family:"Arial Narrow","sans-serif"'>Телефон (код)(номер): {{ '+7('~application.headOfAccountingPhoneCode~')'~application.headOfAccountingPhone }}</span></p>
    <p class=MsoListParagraph style='margin-left:36.0pt;text-align:justify;
  text-indent:-18.0pt'><span style='font-family:Symbol'>·<span
                    style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span><span
                style='font-family:"Arial Narrow","sans-serif"'>Адрес электронной почты: {{ application.headOfAccountingEmeil }}</span></p>

    <p class=MsoListParagraph style='margin-left:0cm;text-align:justify'><span
                style='font-family:"Arial Narrow","sans-serif"'>&nbsp;</span></p>

    <p class=MsoListParagraph style='margin-left:21.75pt;text-align:justify;
text-indent:-21.75pt'><b><span style='font-family:"Arial Narrow","sans-serif"'>2.<span
                        style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></b><b><span style='font-family:"Arial Narrow","sans-serif"'>Вкладка
</span></b><b><span lang=EN-US style='font-family:"Arial Narrow","sans-serif"'>II</span></b><b><span
                    style='font-family:"Arial Narrow","sans-serif"'>. 	ОРГАНИЗАЦИЯ-ЗАЯВИТЕЛЬ</span></b></p>

    <p class=MsoListParagraph style='margin-left:21.75pt;text-align:justify'><span
                style='font-family:"Arial Narrow","sans-serif"'>&nbsp;</span></p>

    <p class=MsoNormal style='margin-left:0cm;text-align:justify;text-indent:0cm'><span
                style='font-family:"Arial Narrow","sans-serif";color:black'>2.1<span
                    style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span></span><span
                style='font-family:"Arial Narrow","sans-serif"'>
                <b>Дата регистрации организации:</b>
            {{ application.dateRegistrationOfOrganization | date ("d/m/Y") }} </span></p>

        <p class=MsoNormal style='text-align:justify'><b><span
                        style='font-family:"Arial Narrow","sans-serif"'>&nbsp;</span></b></p>

    <p class=MsoNormal style='margin-left:0cm;text-align:justify;text-indent:0cm'><span
                style='font-family:"Arial Narrow","sans-serif";color:black'>2.2<span
                    style='font:7.0pt "Times New Roman"'>&nbsp;</span></span><span
                style='font-family:"Arial Narrow","sans-serif"'>
            <b>Основные виды деятельности организации</b> согласно Уставу,
                соответствующие направлениям Конкурса и предлагаемому проекту:
            {{ application.primaryActivity }} </span></p>

<p class=MsoListParagraph style='margin-left:0cm;text-align:justify'><b><span
                style='font-family:"Arial Narrow","sans-serif"'>&nbsp;</span></b></p>

    <p class=MsoNormal style='margin-left:0cm;text-align:justify;text-indent:0cm'><span
                style='font-family:"Arial Narrow","sans-serif";color:black'>2.3<span
                    style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span></span><span
                style='font-family:"Arial Narrow","sans-serif"'>
            <b>Миссия</b> организации, при наличии:
            {{ application.mission }}</span></p>

    <p class=MsoListParagraph><b><span style='font-family:"Arial Narrow","sans-serif"'>&nbsp;</span></b></p>

    <p class=MsoNormal style='margin-left:0cm;text-align:justify;text-indent:0cm'><span
                style='font-family:"Arial Narrow","sans-serif";color:black'>2.4<span
                    style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span></span><span
                style='font-family:"Arial Narrow","sans-serif"'>
            Количество <b>сотрудников и добровольцев</b> организации</span></p>

    <p class=MsoNormal style='text-align:justify'><span
                style='font-family:"Arial Narrow","sans-serif"'>&nbsp;</span></p>

    <table class=MsoNormalTable border=1 cellspacing=0 cellpadding=0 width=614
           style='width:460.7pt;margin-left:19.6pt;border-collapse:collapse;border:none'>
        <tr>
            <td width=444 valign=top style='width:333.1pt;border:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
                <p class=MsoNormal style='text-align:justify'><span style='font-family:"Arial Narrow","sans-serif"'><b>Штатных
                            сотрудников (на дату подачи заявки), чел.</b></span></p>
            </td>
            <td width=170 valign=top style='width:127.6pt;border:solid windowtext 1.0pt;
  border-left:none;padding:0cm 5.4pt 0cm 5.4pt'> {{ application.countStaffEmployees }}
            </td>
        </tr>
        <tr>
            <td width=444 valign=top style='width:333.1pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0cm 5.4pt 0cm 5.4pt'>
                <p class=MsoNormal style='text-align:justify'><span style='font-family:"Arial Narrow","sans-serif"'><b>Привлеченных
                            сотрудников (на дату подачи заявки) чел.</b></span></p>
            </td>
            <td width=170 valign=top style='width:127.6pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'> {{ application.countInvolvingEmployees }}
            </td>
        </tr>
        <tr>
            <td width=444 valign=top style='width:333.1pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0cm 5.4pt 0cm 5.4pt'>
                <p class=MsoNormal style='text-align:justify'><span style='font-family:"Arial Narrow","sans-serif"'><b>Добровольцев
                            сотрудников (при наличии, за 2016-2017 гг.), чел.</b></span></p>
            </td>
            <td width=170 valign=top style='width:127.6pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'> {{ application.countVolunteerEmployees }}
            </td>
        </tr>
    </table>

    <p class=MsoListParagraph style='margin-left:0cm;text-align:justify'><span
                style='font-family:"Arial Narrow","sans-serif";color:red'>&nbsp;</span></p>

    <p class=MsoListParagraph style='margin-left:0cm;text-align:justify;text-indent:
0cm'><span style='font-family:"Arial Narrow","sans-serif";color:black'>2.5<span
                    style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;</span></span>
        <span style='font-family:"Arial Narrow","sans-serif"'><b>Основные реализованные проекты (программы) организации</b> за последние два года (по теме данного Конкурса)
            </span></p>

    <p class=MsoListParagraph style='margin-left:0cm;text-align:justify'><span
                style='font-family:"Arial Narrow","sans-serif";color:red'>&nbsp;</span></p>

    {% set num = 0 %}
    <table class=MsoNormalTable border=1 cellspacing=0 cellpadding=0
           style='margin-left:18.0pt;border-collapse:collapse;border:none'>
        <tr>
            <td width=50 valign=top style='width:37.8pt;border:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt; text-align: center;'>
                <p class=MsoNormalCxSpFirst align=center style='text-align:center;
   text-autospace:none'><span style='font-family:"Arial Narrow","sans-serif"'><b>№</b></span></p>
                <p class=MsoNormalCxSpMiddle align=center style='text-align:center;
   text-autospace:none'><span style='font-family:"Arial Narrow","sans-serif"'><b>п/п</b></span></p>
            </td>
            <td width=160 valign=top style='width:119.7pt;border:solid windowtext 1.0pt;
  border-left:none;padding:0cm 5.4pt 0cm 5.4pt'>
                <p class=MsoNormal style='text-autospace:none'><span style='font-family:"Arial Narrow","sans-serif"'><b>Период
                            реализации</b></span></p>
            </td>
            <td width=151 valign=top style='width:4.0cm;border:solid windowtext 1.0pt;
  border-left:none;padding:0cm 5.4pt 0cm 5.4pt'>
                <p class=MsoNormal style='text-autospace:none'><span style='font-family:"Arial Narrow","sans-serif"'><b>Название
                            проекта</b></span></p>
            </td>
            <td width=140 valign=top style='width:105.15pt;border:solid windowtext 1.0pt;
  border-left:none;padding:0cm 5.4pt 0cm 5.4pt'>
                <p class=MsoNormal style='text-autospace:none'><span style='font-family:"Arial Narrow","sans-serif"'><b>Источник финансирования</b></span></p>
            </td>
            <td width=132 valign=top style='width:98.7pt;border:solid windowtext 1.0pt;
  border-left:none;padding:0cm 5.4pt 0cm 5.4pt'>
                <p class=MsoNormal style='text-autospace:none'><span style='font-family:"Arial Narrow","sans-serif"'><b>Основные результаты</b></span></p>
            </td>
        </tr>
        {% for project in application.projects %}
            <tr>
                {% set num = num + 1 %}
                <td width=50 valign=top style='width:37.8pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0cm 5.4pt 0cm 5.4pt; text-align: center;'>
                    {{ num }}
                </td>
                <td width=160 valign=top style='width:119.7pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
                    {{ project.deadline }}
                </td>
                <td width=151 valign=top style='width:4.0cm;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
                    {{ project.projectName }}
                </td>
                <td width=140 valign=top style='width:105.15pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
                    {{ project.index }}
                </td>
                <td width=132 valign=top style='width:98.7pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
                    {{ project.result }}
                </td>
            </tr>
        {% endfor %}
    </table>

<p class=MsoListParagraph style='margin-left:0cm;text-align:justify'><b><span
                style='font-family:"Arial Narrow","sans-serif"'>&nbsp;</span></b></p>

    <p class=MsoListParagraph style='margin-left:21.75pt;text-align:justify;
text-indent:-21.75pt'><span style='font-family:"Arial Narrow","sans-serif"'>2.6<span
                    style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='font-family:"Arial Narrow","sans-serif"'>
            <b>Публикации об организации за последние 2 года.</b> Укажите не более 5 релевантных материалов</span></p>

    <p class=MsoListParagraph style='margin-left:0cm;text-align:justify'><span
                style='font-family:"Arial Narrow","sans-serif";color:red'>&nbsp;</span></p>

    {% set num = 0 %}
    <table class=MsoNormalTable border=1 cellspacing=0 cellpadding=0
           style='margin-left:18.0pt;border-collapse:collapse;border:none'>
        <tr>
            <td width=49 valign=top style='width:36.75pt;border:solid windowtext 1.0pt;
   padding:0cm 5.4pt 0cm 5.4pt'>
                <p class=MsoNormalCxSpFirst align=center style='text-align:center;
   text-autospace:none'><span style='font-family:"Arial Narrow","sans-serif"'><b>№</b></span></p>
                <p class=MsoNormalCxSpMiddle align=center style='text-align:center;
   text-autospace:none'><span style='font-family:"Arial Narrow","sans-serif"'><b>п/п</b></span></p>
            </td>
            <td width=214 valign=top style='width:160.45pt;border:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
                <p class=MsoListParagraph style='margin-left:0cm;text-align:justify'><span
                            style='font-family:"Arial Narrow","sans-serif"'><b>Название публикации</b></span></p>
            </td>
            <td width=214 valign=top style='width:160.5pt;border:solid windowtext 1.0pt;
  border-left:none;padding:0cm 5.4pt 0cm 5.4pt'>
                <p class=MsoListParagraph style='margin-left:0cm;text-align:justify'><span
                            style='font-family:"Arial Narrow","sans-serif"'><b>Ссылка на публикацию (если есть)</b></span></p>
            </td>
        </tr>
        {% for publication in application.publications %}
            <tr>
                {% set num = num + 1 %}
                <td width=49 valign=top style='width:36.75pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0cm 5.4pt 0cm 5.4pt; text-align: center;'>
                    {{ num }}
                </td>
                <td width=214 valign=top style='width:160.45pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0cm 5.4pt 0cm 5.4pt'>
                    {{ publication.publicationName }}
                </td>
                <td width=214 valign=top style='width:160.5pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
                    {{ publication.link | word_divider }}
                </td>
            </tr>
        {% endfor %}
    </table>

<p class=MsoListParagraph style='margin-left:0cm;text-align:justify'><span
            style='font-family:"Arial Narrow","sans-serif"'>&nbsp;</span></p>

<p class=MsoListParagraph style='margin-left:21.75pt;text-align:justify;
text-indent:-21.75pt'><b><span style='font-family:"Arial Narrow","sans-serif"'>3.<span
                    style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></b><b><span style='font-family:"Arial Narrow","sans-serif"'>Вкладка
</span></b><b><span lang=EN-US style='font-family:"Arial Narrow","sans-serif"'>III.</span></b><b><span
                style='font-family:"Arial Narrow","sans-serif"'>ОПИСАНИЕ ПРОЕКТА </span></b></p>

 <p class=MsoListParagraph style='margin-left:0cm'><span style='font-family:
"Arial Narrow","sans-serif"'>&nbsp;</span></p>

    <p class=MsoListParagraph style='margin-left:0cm;text-align:justify;text-indent:
0cm'><span style='font-family:"Arial Narrow","sans-serif"'>3.1.<span
                    style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span></span><span
                style='font-family:"Arial Narrow","sans-serif"'>
            <b>Название Практики:</b> {{ application.projectName }}</span></p>

<p class=MsoListParagraph style='margin-left:0cm;text-align:justify'><b><span
                style='font-family:"Arial Narrow","sans-serif"'>&nbsp;</span></b></p>

    <p class=MsoListParagraph style='margin-left:0cm;text-align:justify;text-indent:
0cm'><span style='font-family:"Arial Narrow","sans-serif"'>3.2<span
                    style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span></span><span
                style='font-family:"Arial Narrow","sans-serif"'>
            <b>Приоритетное направление</b> Конкурса, в рамках которого реализуется Практика:</span>
        {% if application.priorityDirection %}
                <p class=MsoListParagraph style='margin-left:36.0pt;text-align:left;
                                  text-indent:-18.0pt'><span style='font-family:Symbol'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;·<span
                                style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                  </span></span><span style='font-family:"Arial Narrow","sans-serif"'>

        {{ application.priorityDirection }} </span>
                </p>
        {% endif %}

<p class=MsoListParagraph style='margin-left:0cm;text-align:justify'><b><span
                style='font-family:"Arial Narrow","sans-serif"'>&nbsp;</span></b></p>

<p class=MsoListParagraph style='margin-left:0cm;text-align:justify;text-indent:
0cm'><span style='font-family:"Arial Narrow","sans-serif"'><span
                style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span></span><span
            style='font-family:"Arial Narrow","sans-serif"'>
            <b>Иные эффективные практики</b>  в сфере профилактики социального сиротства и
        семейного устройства детей-сирот и детей, оставшихся
        без попечения родителей (укажите, какие именно): {{ application.priorityDirectionEtc }}</span></p>

<p class=MsoListParagraph style='margin-left:0cm;text-align:justify'><b><span
                style='font-family:"Arial Narrow","sans-serif"'>&nbsp;</span></b></p>

    <p class=MsoListParagraph style='margin-left:0cm;text-align:justify;text-indent:
0cm'><span style='font-family:"Arial Narrow","sans-serif"'>3.3<span
                    style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span></span><span
                style='font-family:"Arial Narrow","sans-serif"'>
            <b>Аннотация( краткое описание сути Практики):</b> {{ application.briefPracticeDescription|nl2br }}</span></p>

<p class=MsoListParagraph style='margin-left:0cm;text-align:justify'><b><span
                style='font-family:"Arial Narrow","sans-serif"'>&nbsp;</span></b></p>

        <p class=MsoListParagraph style='margin-left:0cm;text-align:justify;text-indent:
0cm'><span style='font-family:"Arial Narrow","sans-serif"'>3.4<span
                        style='font:7.0pt "Times New Roman"'></span></span><span
                    style='font-family:"Arial Narrow","sans-serif"'>
        <b>Основные проблемы целевых групп и социальные результаты, полученные по итогам реализации Практики</b></span></p>

<p class=MsoListParagraph style='margin-left:0cm;text-align:justify'><b><span
                style='font-family:"Arial Narrow","sans-serif"'>&nbsp;</span></b></p>

    {% set num = 0 %}
    <table class=MsoNormalTable border=1 cellspacing=0 cellpadding=0
           style='margin-left:18.0pt;border-collapse:collapse;border:none'>
    <tr>
        <td width=49 valign=top style='width:36.75pt;border:solid windowtext 1.0pt;
   padding:0cm 5.4pt 0cm 5.4pt'>
            <p class=MsoNormalCxSpFirst align=center style='text-align:center;
   text-autospace:none'><span style='font-family:"Arial Narrow","sans-serif"'><b>№</b></span></p>
            <p class=MsoNormalCxSpMiddle align=center style='text-align:center;
   text-autospace:none'><span style='font-family:"Arial Narrow","sans-serif"'><b>п/п</b></span></p>
        </td>
        <td width=214 valign=top style='width:160.45pt;border:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
            <p class=MsoListParagraph style='margin-left:0cm;text-align:justify'><span
                        style='font-family:"Arial Narrow","sans-serif"'><b>Целевая группа (благополучатели) Практики</b></span></p>
        </td>
        <td width=214 valign=top style='width:160.45pt;border:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
            <p class=MsoListParagraph style='margin-left:0cm;text-align:justify'><span
                        style='font-family:"Arial Narrow","sans-serif"'><b>Основные проблемы целевой группы, на решение которых направлена Практика</b></span></p>
        </td>
        <td width=214 valign=top style='width:160.45pt;border:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
            <p class=MsoListParagraph style='margin-left:0cm;text-align:justify'><span
                        style='font-family:"Arial Narrow","sans-serif"'><b>Социальные результаты применения Практики для целевых групп</b></span></p>
        </td>
    </tr>
        {% for problem in application.problems %}
            <tr>
            {% set num = num + 1 %}
                <td width=49 valign=top style='width:36.75pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0cm 5.4pt 0cm 5.4pt; text-align: center;'>
                {{ num }}
            </td>
            <td width=214 valign=top style='width:160.45pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0cm 5.4pt 0cm 5.4pt'>
                {{ problem.targetGroup | parent_nodes_chain }}
            </td>
            <td width=214 valign=top style='width:160.45pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0cm 5.4pt 0cm 5.4pt'>
                {{ problem.mainProblems }}
            </td>
            <td width=214 valign=top style='width:160.45pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0cm 5.4pt 0cm 5.4pt'>
                {{ problem.expectedResults }}
            </td>
        </tr>
        {% endfor %}
    </table>

<p class=MsoListParagraph style='margin-left:0cm;text-align:justify'><b><span
                style='font-family:"Arial Narrow","sans-serif"'>&nbsp;</span></b></p>

<p class=MsoNormal style='margin-left:18.0pt;text-align:justify;text-indent:
-18.0pt'>
    <span style='font-family:"Arial Narrow","sans-serif";color:black'>3.5
        <span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>
    </span>
    <span style='font-family:"Arial Narrow","sans-serif"'>
        <b>Механизм достижения социальных результатов для целевых групп</b>
        <p>{{ application.achievementResultMechanizm }}</p>
        </span>
</p>

<p class=MsoListParagraph style='margin-left:0cm;text-align:justify'><b><span
                style='font-family:"Arial Narrow","sans-serif"'>&nbsp;</span></b></p>

<p class=MsoNormal style='margin-left:18.0pt;text-align:justify;text-indent:
-18.0pt'><span style='font-family:"Arial Narrow","sans-serif";color:black'>3.6<span
                style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span></span><span
            style='font-family:"Arial Narrow","sans-serif"'><b>Данные об эффективности Практики:
        </b> {{ application.effectivenessPracticeData}} </span></p>

<p class=MsoListParagraph style='margin-left:0cm;text-align:justify'><b><span
                style='font-family:"Arial Narrow","sans-serif"'>&nbsp;</span></b></p>

<p class=MsoListParagraph style='margin-left:21.75pt;text-align:justify;
text-indent:-21.75pt'><span style='font-family:"Arial Narrow","sans-serif"'>3.7<span
                style='font:7.0pt "Times New Roman"'>
</span></span><span style='font-family:"Arial Narrow","sans-serif"'>
<b>Укажите сведения о целевых значениях показателей, достигнутых в ходе реализации вашей Практики (не организации!) за 2016 год</b></span></p>

<p class=MsoListParagraph style='margin-left:0cm;text-align:justify'><b><span
                style='font-family:"Arial Narrow","sans-serif"'>&nbsp;</span></b></p>

{% set num = 0 %}
<table class=MsoNormalTable border=1 cellspacing=0 cellpadding=0
       style='margin-left:18.0pt;border-collapse:collapse;border:none'>
    <tr>
        <td width=214 valign=top style='width:160.45pt;border:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
            <p class=MsoListParagraph style='margin-left:0cm;text-align:justify'><span
                        style='font-family:"Arial Narrow","sans-serif"'><b>Показатели</b></span></p>
        </td>
        <td width=214 valign=top style='width:160.45pt;border:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
            <p class=MsoListParagraph style='margin-left:0cm;text-align:justify'><span
                        style='font-family:"Arial Narrow","sans-serif"'><b>Достигнутые значения показателя (2016 год)</b></span></p>
        </td>
    </tr>
    {% for result in application.socialResults %}
        <tr>
            {% set num = num + 1 %}
            <td width=214 valign=top style='width:160.45pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0cm 5.4pt 0cm 5.4pt'>
                {{ result.name }}
            </td>
            <td width=214 valign=top style='width:160.45pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0cm 5.4pt 0cm 5.4pt'>
                {{ result.achievedValue }}
            </td>
        </tr>
    {% endfor %}
</table>

    <p class=MsoListParagraph style='margin-left:0cm;text-align:justify'><b><span
                    style='font-family:"Arial Narrow","sans-serif"'>&nbsp;</span></b></p>

    <p class=MsoListParagraph style='margin-left:21.75pt;text-align:justify;
text-indent:-21.75pt'><span style='font-family:"Arial Narrow","sans-serif"'>3.8<span
                    style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='font-family:"Arial Narrow","sans-serif"'>
            <b>Ресурсы</b> на реализацию Практики</span></p>

<p class=MsoListParagraph style='margin-left:21.75pt;text-align:justify;
text-indent:-21.75pt'><span style='font-family:"Arial Narrow","sans-serif"'>3.8.1<span
                style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='font-family:"Arial Narrow","sans-serif"'>Работники и добровольцы организации,
        задействованные в реализации Практики (на момент подачи заявки)</span></p>

<p class=MsoListParagraph style='margin-left:0cm;text-align:justify'><b><span
                style='font-family:"Arial Narrow","sans-serif"'>&nbsp;</span></b></p>

    <table class=MsoNormalTable border=1 cellspacing=0 cellpadding=0 width=614
           style='width:460.7pt;margin-left:19.6pt;border-collapse:collapse;border:none'>
        <tr>
            <td width=444 valign=top style='width:333.1pt;border:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
                <p class=MsoNormal style='text-align:justify'><span style='font-family:"Arial Narrow","sans-serif"'><b>Количество штатных сотрудников, чел.</b></span></p>
            </td>
            <td width=170 valign=top style='width:127.6pt;border:solid windowtext 1.0pt;
  border-left:none;padding:0cm 5.4pt 0cm 5.4pt'> {{ application.countPracticeStaffEmployees }}
            </td>
        </tr>
        <tr>
            <td width=444 valign=top style='width:333.1pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0cm 5.4pt 0cm 5.4pt'>
                <p class=MsoNormal style='text-align:justify'><span style='font-family:"Arial Narrow","sans-serif"'><b>Количество привлеченных специалистов, чел.</b></span></p>
            </td>
            <td width=170 valign=top style='width:127.6pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'> {{ application.countPracticeInvolvingEmployees }}
            </td>
        </tr>
        <tr>
            <td width=444 valign=top style='width:333.1pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0cm 5.4pt 0cm 5.4pt'>
                <p class=MsoNormal style='text-align:justify'><span style='font-family:"Arial Narrow","sans-serif"'><b>Количество добровольцев, чел.</b></span></p>
            </td>
            <td width=170 valign=top style='width:127.6pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'> {{ application.countPracticeVolunteerEmployees }}
            </td>
        </tr>
    </table>

    <p class=MsoListParagraph style='margin-left:0cm;text-align:justify'><b><span
                    style='font-family:"Arial Narrow","sans-serif"'>&nbsp;</span></b></p>

<p class=MsoListParagraph style='margin-left:21.75pt;text-align:justify;
text-indent:-21.75pt'><span style='font-family:"Arial Narrow","sans-serif"'>3.8.2<span
                style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;
    </span></span><span style='font-family:"Arial Narrow","sans-serif"'>
            <b>Основные источники финансирования на реализацию Практики</b>(в 2016 году)</span></p>

<p class=MsoListParagraph style='margin-left:0cm;text-align:justify'><b><span
                style='font-family:"Arial Narrow","sans-serif"'>&nbsp;</span></b></p>

    {% set num = 0 %}
    <table class=MsoNormalTable border=1 cellspacing=0 cellpadding=0
           style='margin-left:18.0pt;border-collapse:collapse;border:none'>
    <tr>
        <td width=49 valign=top style='width:36.75pt;border:solid windowtext 1.0pt;
   padding:0cm 5.4pt 0cm 5.4pt'>
            <p class=MsoNormalCxSpFirst align=center style='text-align:center;
   text-autospace:none'><span style='font-family:"Arial Narrow","sans-serif"'><b>№</b></span></p>
            <p class=MsoNormalCxSpMiddle align=center style='text-align:center;
   text-autospace:none'><span style='font-family:"Arial Narrow","sans-serif"'><b>п/п</b></span></p>
        </td>
        <td width=214 valign=top style='width:160.45pt;border:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
            <p class=MsoListParagraph style='margin-left:0cm;text-align:justify'><span
                        style='font-family:"Arial Narrow","sans-serif"'><b>Источник</b></span></p>
        </td>
        <td width=214 valign=top style='width:160.45pt;border:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
            <p class=MsoListParagraph style='margin-left:0cm;text-align:justify'><span
                        style='font-family:"Arial Narrow","sans-serif"'><b>%</b></span></p>
        </td>
    </tr>
        {% for source in application.financingSources %}
            <tr>
            {% set num = num + 1 %}
                <td width=49 valign=top style='width:36.75pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0cm 5.4pt 0cm 5.4pt; text-align: center;'>
                {{ num }}
            </td>
            <td width=214 valign=top style='width:160.45pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0cm 5.4pt 0cm 5.4pt'>
                {{ source.sourceName }}
            </td>
            <td width=214 valign=top style='width:160.45pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0cm 5.4pt 0cm 5.4pt'>
                {{ source.percent }}
            </td>
            </tr>
        {% endfor %}
    </table>


<p class=MsoNormal style='margin-left:18.0pt;text-align:justify;text-indent:
-18.0pt'><span style='font-family:"Arial Narrow","sans-serif";color:black'><span
                style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span></span><span
            style='font-family:"Arial Narrow","sans-serif"'>Другое (указать, что именно): {{ application.financingSourceEtc }} </span>
</p>

<p class=MsoListParagraph style='margin-left:0cm;text-align:justify'><span
            style='font-family:"Arial Narrow","sans-serif";color:red'>&nbsp;</span></p>

    <p class=MsoNormal style='margin-left:0cm;text-align:justify;text-indent:0cm'><span
                style='font-family:"Arial Narrow","sans-serif";color:black'>3.9<span
                    style='font:7.0pt "Times New Roman"'>&nbsp;</span></span><span
                style='font-family:"Arial Narrow","sans-serif"'>
            <b>Территория реализации Практики</b>
            </span></p>

<p class=MsoListParagraph style='margin-left:0cm;text-align:justify'><b><span
                style='font-family:"Arial Narrow","sans-serif"'>&nbsp;</span></b></p>

    {% set num = 0 %}
    <table class=MsoNormalTable border=1 cellspacing=0 cellpadding=0
           style='margin-left:18.0pt;border-collapse:collapse;border:none'>
    <tr>
        <td width=49 valign=top style='width:36.75pt;border:solid windowtext 1.0pt;
   padding:0cm 5.4pt 0cm 5.4pt'>
            <p class=MsoNormalCxSpFirst align=center style='text-align:center;
   text-autospace:none'><span style='font-family:"Arial Narrow","sans-serif"'>№</span></p>
            <p class=MsoNormalCxSpMiddle align=center style='text-align:center;
   text-autospace:none'><span style='font-family:"Arial Narrow","sans-serif"'>п/п</span></p>
        </td>
        <td width=214 valign=top style='width:160.45pt;border:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt;'>
            <p class=MsoListParagraph style='margin-left:0cm;text-align:center'><span
                        style='font-family:"Arial Narrow","sans-serif";'><b>Регион РФ</b></span></p>
        </td>
    </tr>
        {% for region in application.practiceRegions %}
            <tr>
            {% set num = num + 1 %}
                <td width=49 valign=top style='width:36.75pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0cm 5.4pt 0cm 5.4pt; text-align: center;'>
                {{ num }}
            </td>
            <td width=214 valign=top style='width:160.45pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0cm 5.4pt 0cm 5.4pt'>
                {{ region.name }}
            </td>
            </tr>
        {% endfor %}
    </table>

</body>
</html>