{% extends "NKODefaultBundle::layout.html.twig" %}

{% block title %}{{ 'title' | meta_data('information_materials') | raw }}{% endblock %}
{% block meta %}
    <meta name="description" content="{{ 'description' | meta_data('information_materials') | raw }}">
    <meta name="keywords" content="{{ 'keywords' | meta_data('information_materials') | raw }}">
{% endblock meta %}

{% block content %}
    <div class="col-md-9">
        {% block menu %}
            {{ render(controller('NKOMenuBundle:Menu:createMenu')) }}
        {% endblock %}
        <div class="left-padding">
            <div class="row">
                <div class="col-sm-5 col-md-6">
                    <h3>{{ pageTitle }}</h3>
                </div>
                <div class=" searchButton col-sm-5 col-sm-offset-2 col-md-6 col-md-offset-0">
                    <div class="btn-group" data-toggle="buttons">
                        {% for  key, item in status %}
                            <label class="btn btn-default">
                                <input type="radio" material_id="{{ key }}" name="options" id="option2" autocomplete="off"> {{ item }}
                            </label>
                        {% endfor %}
                    </div>
                </div>
            </div>

            {% for informationMaterial in pagination %}
                {% if informationMaterial.isPublished %}
                    <div class="row news_block">
                        <div class="col-md-9">
                            <p class="news_title">
                                <a href="{{ path('informationmaterials_show', { 'id': informationMaterial.id }) }}">{{ informationMaterial.name }}</a>
                            </p>

                            <p class="news_date">
                                {{ informationMaterial.createdAt | date("d.m.Y") }}
                            </p>

                            <p class="news_description">
                                {{ informationMaterial.annotation }}
                            </p>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <div class="navigation">
                        {{ knp_pagination_render(pagination) }}
                    </div>
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function(){

            $()
            $(".btn-default").on("click", function(){
                var materialId  = $(this).find("input").attr("material_id"),
                    url = window.location.href;
                window.location.href = url.split("?")[0]
                        + "?material_id=" + materialId;
            })
        });
    </script>

{% endblock %}