{% block itm_file_preview_widget %}
    {% spaceless %}
        <link rel="stylesheet" href="{{ asset('bundles/itmfilepreview/css/styles.css') }}"/>
        {% if form.parent.vars.value|itm_file_exists(form.vars.name) %}
            <div class="itm_file_preview_ico_c">
                <a href="{{ form.parent.vars.value|itm_file_url(form.vars.name) }}" target="{{ form.vars.link_target }}">
                    <img src="{{ asset('bundles/itmfilepreview/images/file.png') }}" />
                </a>
            </div>
            <div class="itm_file_preview_info_c">
                <span>Тип файла: </span>{{ info.mime }}<br />
                <span>Размер файла: </span>{{ info.size|readable_filesize }}<br />
                <span>Имя файла: </span>{{ form.parent.vars.value|origin_file_name(form.vars.name) }}<br />
            </div>
            <div class="itm_file_separator"></div>
        {% endif %}

        {{ form_widget(form) }}
    {% endspaceless %}
{% endblock %}
