{% extends "NKODefaultBundle::layout.html.twig" %}
{% block body %}
    <div class="container page-404">
        <div class="row">
            <div class="col-md-12">
                <a href="{{ path('homepage') }}">
                    <img src="{{ asset('bundles/nkodefault/images/fond_logo.jpg') }}" class="img-responsive" alt="" width="25%" height="auto">
                </a>
                <h1 class="text-404">404</h1>
                <h1>Ой! Кажется, такой страницы не существует! </h1>
            </div>
        </div>
    </div>
{% endblock %}