<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title></title>
    <meta name="generator" content="LibreOffice 4.2.8.2 (Linux)">
    <meta name="created" content="20160913;121803338402567">
    <meta name="changed" content="20160913;122409056183929">
    <style type="text/css">
        <!--
        @page { margin: 0.79in }
        p { margin-bottom: 0.1in; line-height: 120% }
        -->
    </style>
</head>
<body lang="en-US" dir="ltr" style="font-size: 30px;">
<ul>
    <p style="margin-bottom: 0in; line-height: 100%"><font face="Arial Narrow, serif"><b>
                Экспертное заключение по оценке заявок, участвующих в Всероссийском конкурсе «Курс на семью»-2019 (второй год реализации проектов)
            </b></font></p>
    <li><p style="margin-bottom: 0in; line-height: 100%">№ <font face="Arial Narrow, serif">заявки</font><font face="Arial Narrow, serif"><span lang="en-US">: {{ number }}</span></font></p>
    <li><p style="margin-bottom: 0in; line-height: 100%"><font face="Arial Narrow, serif">Полное
                название организации: {{ application.author.nkoName }}</font></p>
    <li><p style="margin-bottom: 0in; line-height: 100%"><font face="Arial Narrow, serif">Регион организации: {{ application.legalRegion }}</font>
    <li><p style="margin-bottom: 0in; line-height: 100%"><font face="Arial Narrow, serif">Название проекта: {{ application.projectName }}</font></p>

        {% set trainingGrounds = '' %}
        {% set competitionDirection = '' %}
        {% for trainingGround in application.getTrainingGrounds %}
            {% if trainingGround.getParent %}
                {% set  trainingGrounds = trainingGrounds ~ trainingGround.getName ~ " " %}
            {% endif %}
        {% endfor %}

    <li><p style="margin-bottom: 0in; line-height: 100%"><font face="Arial Narrow, serif">Выбранная стажировочная площадка : {{ trainingGrounds }}</font></p>
    <li><p style="margin-bottom: 0in; line-height: 100%"><font face="Arial Narrow, serif">Сроки проекта: с {{ application.deadLineStart | date ("d.m.Y") }} по {{ application.deadLineFinish | date ("d.m.Y") }}</font></p>
    <li><p style="margin-bottom: 0in; line-height: 100%"><font face="Arial Narrow, serif">Сроки стажировки: с {{ application.dateStartOfInternship | date ("d.m.Y") }} </font></p>
    <li><p style="margin-bottom: 0in; line-height: 100%"><font face="Arial Narrow, serif">Запрашиваемая сумма {{ application.entirePeriodEstimatedFinancing }} </font></p>

    <li><p style="margin-bottom: 0in; line-height: 100%"><font face="Arial Narrow, serif">ФИО
                эксперта</font><font face="Arial Narrow, serif"><span lang="en-US">:  {{ expert.surname }} {{ expert.name }} {{ expert.patronymic }}</span></font></p>
    <li><p style="margin-bottom: 0in; line-height: 100%"><font face="Arial Narrow, serif">Решение
                эксперта</font><font face="Arial Narrow, serif"><span lang="en-US">: {{ final_decision }}</span></font></p>
    <li><p style="margin-bottom: 0in; line-height: 100%"><font face="Arial Narrow, serif">Обоснование
                решения эксперта</font><font face="Arial Narrow, serif"><span lang="en-US">: {{ mark.rationaleFinalDecision }}</span></font></p>
    <li><p style="margin-bottom: 0in; line-height: 100%"><font face="Arial Narrow, serif">Итоговый
                балл по заявке: {{ mark.markWithCoeff }}</font></p>
    <li><p style="margin-bottom: 0in; line-height: 100%"><font face="Arial Narrow, serif">Подробная информация по заявке – оценки по каждому критерию и их обоснование</font></p>
</ul>

<p style="margin-left: 0.49in; margin-bottom: 0in; line-height: 100%">
    <br>
</p>
{% include "@NKOOrder/Form/table_marks_pdf_widget.html.twig" with {'mark': mark} only %}
<p style="margin-bottom: 0in; line-height: 100%"><br>
</p>
</body>
</html>