<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title></title>
    <meta name="generator" content="LibreOffice 4.2.8.2 (Linux)">
    <meta name="created" content="20160913;121803338402567">
    <meta name="changed" content="20160913;122409056183929">
    <style type="text/css">
        <!--
        @page { margin: 0.79in }
        p { margin-bottom: 0.1in; line-height: 120% }
        -->
    </style>
</head>
<body lang="en-US" dir="ltr" style="font-size: 30px;">
<ul>
    <p style="margin-bottom: 0in; line-height: 100%"><font face="Arial Narrow, serif"><b>
                Экспертное заключение по оценке заявок, участвующих в конкурсе «Курс на семью»-2019
            </b></font></p>
    <li><p style="margin-bottom: 0in; line-height: 100%">№ <font face="Arial Narrow, serif">заявки</font><font face="Arial Narrow, serif"><span lang="en-US">: {{ number }}</span></font></p>
    <li><p style="margin-bottom: 0in; line-height: 100%"><font face="Arial Narrow, serif">Полное
                название организации: {{ application.author.nkoName }}</font></p>
    <li><p style="margin-bottom: 0in; line-height: 100%"><font face="Arial Narrow, serif">Регион организации: {{ application.legalRegion }}</font>
    <li><p style="margin-bottom: 0in; line-height: 100%"><font face="Arial Narrow, serif">Название проекта: {{ application.projectName }}</font></p>

        {% set trainingGrounds = '' %}
        {% set competitionDirection = '' %}
        {% for trainingGround in application.getTrainingGrounds %}
            {% if trainingGround.getParent %}
                {% set  trainingGrounds = trainingGrounds ~ trainingGround.getName ~ " " %}
            {% endif %}
        {% endfor %}

    <li><p style="margin-bottom: 0in; line-height: 100%"><font face="Arial Narrow, serif">Выбранная стажировочная площадка : {{ trainingGrounds }}</font></p>
    <li><p style="margin-bottom: 0in; line-height: 100%"><font face="Arial Narrow, serif">Сроки проекта: с {{ application.deadLineStart | date ("d.m.Y") }} по {{ application.deadLineFinish | date ("d.m.Y") }}</font></p>
    <li><p style="margin-bottom: 0in; line-height: 100%"><font face="Arial Narrow, serif">Сроки стажировки: с {{ application.dateStartOfInternship | date ("d.m.Y") }} </font></p>
    <li><p style="margin-bottom: 0in; line-height: 100%"><font face="Arial Narrow, serif">Запрашиваемая сумма {{ application.requestedFinancingMoney }} </font></p>

    <li><p style="margin-bottom: 0in; line-height: 100%"><font face="Arial Narrow, serif">ФИО
                эксперта</font><font face="Arial Narrow, serif"><span lang="en-US">:  {{ expert.surname }} {{ expert.name }} {{ expert.patronymic }}</span></font></p>
    <li><p style="margin-bottom: 0in; line-height: 100%"><font face="Arial Narrow, serif">Решение
                эксперта</font><font face="Arial Narrow, serif"><span lang="en-US">: {{ final_decision }}</span></font></p>
    <li><p style="margin-bottom: 0in; line-height: 100%"><font face="Arial Narrow, serif">Обоснование
                решения эксперта</font><font face="Arial Narrow, serif"><span lang="en-US">: {{ mark.rationaleFinalDecision }}</span></font></p>
    <li><p style="margin-bottom: 0in; line-height: 100%"><font face="Arial Narrow, serif">Итоговый
                балл по заявке: {{ mark.markWithCoeff }}</font></p>
    <li><p style="margin-bottom: 0in; line-height: 100%"><font face="Arial Narrow, serif">Подробная информация по заявке – оценки по каждому критерию и их обоснование</font></p>
</ul>
<p style="margin-left: 0.49in; margin-bottom: 0in; line-height: 100%">
    <br>
</p>
<table width="1100" cellpadding="7" cellspacing="0" style="font-size: 30px;">
    <col width="51">
    <col width="290">
    <col width="99">
    <col width="283">
    <thead style="display: table-header-group">
    <tr valign="top">
        <td width="51" bgcolor="#ffffff" style="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.07in; padding-right: 0.08in">
            <p align="center" style="margin-bottom: 0in">№ <font face="Arial Narrow, serif"><b>п</b></font><font face="Arial Narrow, serif"><span lang="en-US"><b>/</b></span></font><font face="Arial Narrow, serif"><b>п</b></font></p>
            <p align="center"><br>
            </p>
        </td>
        <td width="222" bgcolor="#ffffff" style="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.07in; padding-right: 0.08in">
            <p align="center"><font face="Arial Narrow, serif"><b>Вопрос</b></font></p>
        </td>
        <td width="80" bgcolor="#ffffff" style="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.07in; padding-right: 0.08in">
            <p align="center"><font face="Arial Narrow, serif"><b>Оценка</b></font></p>
        </td>
        <td width="222" bgcolor="#ffffff" style="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.07in; padding-right: 0.08in">
            <p align="center"><font face="Arial Narrow, serif"><b>Обоснование
                        оценки</b></font></p>
        </td>
    </tr>
    </thead>
    <tbody style="display: table-row-group">
    {% set i = 1 %}
    {% set j = 1 %}
    {%  set criteriaArray = [] %}

    {% for  one_mark in mark.marks %}
        {% if one_mark.questionMark.criteria not in criteriaArray %}
            {% set criteriaArray = criteriaArray | merge([one_mark.questionMark.criteria]) %}
        {% endif %}
    {% endfor %}

    {% for criteria_item in  criteriaArray %}
        {% for one_mark in mark.marks %}
            <tr style="page-break-inside: avoid; ">
            {%  if criteria_item == one_mark.questionMark.criteria %}

                <td bgcolor="#ffffff" style="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.07in; padding-right: 0.07in; width: 10%;">
                    <p align="center">{{ j }}.{{ i }}</p>
                </td>
                <td bgcolor="#ffffff" style="border: 1px solid #00000a; padding-top: 0.07in; padding-bottom: 0.07in; padding-left: 0.07in; padding-right: 0.07in; width: 30%;">
                    <p> {{ one_mark.questionMark }}</p>
                </td>
                <td bgcolor="#ffffff" style="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0in; padding-right: 0in; width: 10%;">
                    <p align="center">{{ one_mark.mark }}</p>
                </td>
                <td bgcolor="#ffffff" style="border: 1px solid #00000a; padding-top: 0.07in; padding-bottom: 0.07in; padding-left: 0.07in; padding-right: 0.07in; width: 50%;">
                    <p> {{ one_mark.rationale }} </p>
                </td>
                </tr>
                {% set i = i + 1 %}
            {% endif %}

        {% endfor %}
        {% set i = 1 %}
        {% set j = j + 1 %}
    {% endfor %}

    </tbody>
</table>
<p style="margin-bottom: 0in; line-height: 100%"><br>
</p>
</body>
</html>