{% extends '::standard_layout.html.twig' %}

{% block content %}
    <div class="box box-primary">
        <div class="box-header">
            <div class="col-sm-offset-1 col-sm-10">
                <h3>Приложения</h3>
            </div>
        </div>
        <div class="box-body">
            <div class="container">
                {% for table, attachment in attachments %}
                    <div class="'row">
                        <div class="col-md-12">
                            <h4>{{ table }}</h4>
                        </div>
                            {% for value in attachment %}
                                {% for key, item in value %}
                                <div class="'row">
                                    <div class="col-md-10"></div>
                                    {% if key == 'title' %}
                                        <div class="col-md-3">
                                            <h5>{{ item }}</h5>
                                        </div>
                                    {% else %}
                                        {% for file in item %}
                                            {% if file.object | itm_file_exists(file.field) %}
                                            <div class="col-md-3">
                                                <div>
                                                    <div class="itm_file_preview_ico_c">
                                                        <a href="{{ path('download_analytic_report_attachment_path', {'id' : file.id, 'entity': file.entity, 'field':file.field }) }}"
                                                        target="_blank">
                                                        <img src="{{ asset('bundles/nkodefault/images/download_file.png') }}"/>
                                                        <div class="itm_file_preview_info_c">
                                                            <h5>{{ file.object|origin_file_name(file.field) }}</h5>
                                                        </div>
                                                        </a>
                                                    </div>
                                                    <div class="itm_file_separator"></div>
                                                </div>
                                            </div>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                    {% endfor %}
                            {% endfor %}
                                </div>
                    {% endfor %}
                    </div>
                </div>
            </div>
    </div>

{% endblock %}