{% extends '@NKOOrder/CRUD/report/analytic_report/KNS/Stage1/base_edit_report.html.twig' %}
{% block tab_menu_navbar_header %}
{% endblock %}
{% block sonata_form_attributes %}
    novalidate="novalidate"
{% endblock %}
{% block tab_menu %}
    {% include '@NKOOrder/CRUD/report/tab_menu.html.twig' %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/nkoorder/js/table_actions_btns.js') }}"></script>
    <script src="{{ asset('bundles/nkoorder/js/create_table_view.js') }}"></script>
    <script src="{{ asset('bundles/nkoorder/js/tab_bar_handler.js') }}"></script>
    <script src="{{ asset('bundles/nkoorder/js/analytic_report/analytic_report.js') }}"></script>
{% endblock %}