{% extends base_template %}

{% block list_table %}
    {% set length = items|length %}
    <div class="col-xs-12 col-md-12">
        <div class="box box-primary">

            <div class="box-body {% if length > 0 %}table-responsive no-padding{% endif %}">
                {{ sonata_block_render_event('sonata.admin.list.table.top', { 'admin': admin }) }}

                {% block list_header %}{% endblock %}

                {% if length > 0 %}
                    <table class="table table-bordered table-striped sonata-ba-list">
                        {% block table_header %}
                            <thead>
                            <tr class="sonata-ba-list-field-header">
                                {% for field_description in admin.list.elements %}
                                    {% if field_description.name == '_action' and app.request.isXmlHttpRequest %}
                                         {# Action buttons disabled in ajax view! #}
                                    {% elseif field_description.getOption('ajax_hidden') == true and app.request.isXmlHttpRequest %}
                                         {# Disable fields with 'ajax_hidden' option set to true #}
                                    {% else %}
                                        {% set sortable = false %}

                                        {% spaceless %}
                                            <th class="sonata-ba-list-field-header-{{ field_description.type}} {% if sortable %} sonata-ba-list-field-header-order-{{ sort_by|lower }} {{ sort_active_class }}{% endif %}{% if field_description.options.header_class is defined %} {{ field_description.options.header_class }}{% endif %}"{% if field_description.options.header_style is defined %} style="{{ field_description.options.header_style }}"{% endif %}>
                                                {% if field_description.getOption('label_icon') %}
                                                    <i class="sonata-ba-list-field-header-label-icon {{ field_description.getOption('label_icon') }}" aria-hidden="true"></i>
                                                {% endif %}
                                                {{ field_description.label|trans({}, field_description.translationDomain) }}
                                            </th>
                                        {% endspaceless %}
                                    {% endif %}
                                {% endfor %}
                            </tr>
                            </thead>
                        {% endblock %}

                        {% block table_body %}
                            <tbody>
                            {% include admin.getTemplate('outer_list_rows_' ~ admin.getListMode()) %}
                            </tbody>
                        {% endblock %}

                        {% block table_footer %}
                        {% endblock %}
                    </table>
                {% else %}
                    {% block no_result_content %}
                        <div class="info-box">
                            <span class="info-box-icon bg-aqua"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></span>
                            <div class="info-box-content">
                                <span class="info-box-text">{{ 'no_result'|trans({}, 'SonataAdminBundle') }}</span>
                                <div class="progress">
                                    <div class="progress-bar" style="width: 0%"></div>
                                </div>
                                <span class="progress-description">
                                    {% if not app.request.xmlHttpRequest %}
                                        <ul class="list-unstyled">
                                        {% include 'SonataAdminBundle:Button:create_button.html.twig' %}
                                    </ul>
                                    {% endif %}
                                </span>
                            </div><!-- /.info-box-content -->
                        </div>
                    {% endblock %}
                {% endif %}

                {{ sonata_block_render_event('sonata.admin.list.table.bottom', { 'admin': admin }) }}
            </div>
            {% block list_footer %}
                {% if length > 0 %}
                    <div class="box-footer">
                        <div class="form-inline clearfix">
                            {% if not app.request.isXmlHttpRequest %}

                                {# NEXT_MAJOR : remove this assignment #}
                                {% set export_formats = export_formats|default(admin.exportFormats) %}

                                <div class="pull-right">
                                    {% block pager_results %}
                                        {% block num_results %}
                                            {% transchoice length with {'%count%': length} from 'SonataAdminBundle' %}list_results_count{% endtranschoice %}
                                        {% endblock %}
                                    {% endblock %}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            {% endblock %}
        </div>
    </div>
{% endblock %}