<div class="row news_links list-group">
    <div class="list-group-item list-group-item-info">
       Категории новостей:
    </div>
    {% for category in categories %}
        <a class="list-group-item" href="{{ path('fondnews_category', { 'slug':  category.slug }) }}">{{category.name }}</a>
    {% endfor %}
        <a class="list-group-item" href="{{ path('fondnews_index') }}">Все новости</a>
</div>
