{% extends "NKODefaultBundle::layout.html.twig" %}

{% block title %}{{ 'title' | meta_data('fond_news') | raw }}{% endblock %}
{% block meta %}
    <meta name="description" content="{{ 'description' | meta_data('fond_news') | raw }}">
    <meta name="keywords" content="{{ 'keywords' | meta_data('fond_news') | raw }}">
{% endblock meta %}

{% block content %}
    <div class="col-md-9">
        {% block menu %}
            {{ render(controller('NKOMenuBundle:Menu:createMenu')) }}
        {% endblock %}
        <div class="left-padding">
            <div class="row">
                <div class="col-md-12">
                    <h3>Новости</h3>
                </div>
            </div>

            {% for fondNews in pagination %}
                {% if fondNews.isPublished %}
                    {% embed "NKOInformationMaterialsBundle:fondnews:show_image_list.html.twig" with {'object': fondNews} %}
                    {% endembed %}
                {% endif %}
            {% endfor %}

            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <div class="navigation">
                        {{ knp_pagination_render(pagination) }}
                    </div>
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>
    </div>
{% endblock %}
