{% extends "NKODefaultBundle::layout.html.twig" %}

{% block title %}{{ fondNews.title }}{% endblock %}
{% block meta %}
        <meta name="description" content="{{ fondNews.metaDescription }}">
        <meta name="keywords" content="{{ fondNews.metaKeywords }}">
{% endblock meta %}

{% block content %}
    <div class="col-md-9 news_inside">
        {% block menu %}
            {{ render(controller('NKOMenuBundle:Menu:createMenu')) }}
        {% endblock %}
        <div class="left-padding">

            <div class="row">
                {% embed "NKOInformationMaterialsBundle:fondnews:show_image.html.twig" with {'object': fondNews} %}
                {% endembed %}
            </div>

            <div class="row">
                <div class="col-md-12">
                    <h3>{{ fondNews.name }}</h3>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <p class="news_date">
                        {{ fondNews.createdAt | date("d.m.Y") }}
                    </p>

                    <p class="news_description">
                       <i>{{ fondNews.annotation }}</i>
                    </p>

                    <p class="news_content">
                        {{ fondNews.text | raw }}
                    </p>
                </div>
            </div>

            <div class="row social">
                <div class="col-md-12">
                    <div class="ya-share2" data-services="vkontakte,facebook,gplus,twitter" data-counter=""></div>
                </div>
            </div>
            <script src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js"></script>
            <script src="//yastatic.net/share2/share.js"></script>
        </div>
    </div>

{% endblock %}








