{% if object | itm_file_exists('image') %}
    <a href="{{ object | itm_ipw_url('image') }}"
       class="fancybox" rel="gallery">
        <img class="news_big_img" src="{{ object | itm_ipw_url('image') | imagine_filter('preview_show')}}"/>
    </a>

    <script>
        $(".news_big_img").closest("td").css("width", "30%");
    </script>
{% endif %}