<div class="row news_block">
    {% if fondNews | itm_file_exists('image') %}
    <div class="col-md-3">
        <a href="{{ path('fondnews_show', { 'id': fondNews.id }) }}">
            <img src="{{ fondNews | itm_ipw_url('image') | imagine_filter('preview') }}" alt="">
        </a>
    </div>
    <div class="col-md-9">
    {% else %}
    <div class="col-md-12">
    {% endif %}
        <p class="news_title">
            <a href="{{ path('fondnews_show', { 'id': fondNews.id }) }}">{{ fondNews.name }}</a>
        </p>

        <p class="news_date">
            {{ fondNews.createdAt | date("d.m.Y") }}
        </p>

        <p class="news_description">
            {{ fondNews.annotation }}
        </p>
    </div>
</div>