{% extends '@SonataAdmin/Form/form_admin_fields.html.twig' %}

{% block form_label %}
    {% spaceless %}
        {% if label is not same as(false) and sonata_admin.options['form_type'] == 'horizontal' %}
            {% set label_class = 'col-sm-3' %}
        {% endif %}

        {% set label_class = label_class|default('') ~ ' control-label' %}

        {% if label is not same as(false) %}
            {% set label_attr = label_attr|merge({'class': label_attr.class|default('') ~ label_class }) %}

            {% if not compound %}
                {% set label_attr = label_attr|merge({'for': id}) %}
            {% endif %}
            {% if required %}
                {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
            {% endif %}

            {% if label is empty %}
                {%- if label_format is defined and label_format is not empty -%}
                    {% set label = label_format|replace({
                    '%name%': name,
                    '%id%': id,
                    }) %}
                {%- else -%}
                    {% set label = name|humanize %}
                {%- endif -%}
            {% endif %}

            <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
            {% if not sonata_admin.admin %}
                {{- label|trans({}, translation_domain)|raw -}}
            {% else %}
                {{ sonata_admin.admin.trans(label, {}, sonata_admin.field_description.translationDomain)|raw }}
            {% endif %}
            </label>


        {% endif %}
    {% endspaceless %}
{% endblock form_label %}

{% block form_row %}
    {% set show_label = show_label|default(true) %}
    <div class="form-group{% if errors|length > 0 %} has-error{% endif %}" id="sonata-ba-field-container-{{ id }}">
        {% if sonata_admin.field_description.options is defined %}
            {% set label = sonata_admin.field_description.options.name|default(label)  %}
        {% endif %}

        {% set div_class = 'sonata-ba-field' %}

        {% if label is same as(false) %}
            {% set div_class = div_class ~ ' sonata-collection-row-without-label' %}
        {% endif %}

        {% if sonata_admin is defined and sonata_admin.options['form_type'] == 'horizontal' %}
            {# Add an offset if no label or is a checkbox/radio #}
            {% if label is same as(false) or form.vars.checked is defined %}
                {% if 'collection' in form.parent.vars.block_prefixes %}
                    {% set div_class = div_class ~ ' col-sm-12' %}
                {% else %}
                    {% set div_class = div_class ~ ' col-sm-9 col-sm-offset-3' %}
                {% endif %}
            {% else %}
                {% set div_class = div_class ~ ' col-sm-9' %}
            {% endif %}
        {% endif %}

        {% if show_label %}
            {{ form_label(form, label|default(null)) }}
        {% endif %}

        {% if sonata_admin is defined and sonata_admin_enabled %}
            {% set div_class = div_class ~ ' sonata-ba-field-' ~ sonata_admin.edit ~ '-' ~ sonata_admin.inline %}
        {% endif %}

        {% if errors|length > 0 %}
            {% set div_class = div_class ~ ' sonata-ba-field-error' %}
        {% endif %}

        <div class="{{ div_class }}">
            {% for attrname,attrvalue in attr %}
                {% if attrname == 'help' %}
                    <label class="help">{{ attrvalue|trans({}, translation_domain)|raw }}</label>
                {% endif %}
            {% endfor %}

            {{ form_widget(form, {'horizontal': false, 'horizontal_input_wrapper_class': ''}) }} {# {'horizontal': false, 'horizontal_input_wrapper_class': ''} needed to avoid MopaBootstrapBundle messing with the DOM #}

            {% if errors|length > 0 %}
                <div class="help-block sonata-ba-field-error-messages">
                    {{ form_errors(form) }}
                </div>
            {% endif %}

            {% if sonata_admin is defined and sonata_admin_enabled and sonata_admin.field_description.help|default(false) %}
                <span class="help-block sonata-ba-field-help">{{ sonata_admin.admin.trans(sonata_admin.field_description.help, {}, sonata_admin.field_description.translationDomain)|raw }}</span>
            {% endif %}
        </div>
    </div>
{% endblock form_row %}

{% block textarea_widget %}
    {% set attr = attr|merge({'class': attr.class|default('') ~ ' form-control'}) %}
    {{ parent() }}
    {% for attrname,attrvalue in attr %}
        {% if attrname == 'help' %}
            <label class="help">{{ attrvalue|trans({}, translation_domain)|raw }}</label>
        {% endif %}
    {% endfor %}
{% endblock textarea_widget %}

{% block form_widget -%}
    {% for attrname,attrvalue in attr %}
        {% if attrname == 'data' %}
            <label class="myCode">{{ attrvalue|trans({}, translation_domain)|raw }}</label>
        {% endif %}
    {% endfor %}
    {{ parent() }}
    {{ block('sonata_help') }}
    {% for attrname,attrvalue in attr %}
        {% if attrname == 'help-bottom' %}
            <label class="help">{{ attrvalue|trans({}, translation_domain)|raw }}</label>
        {% endif %}
    {% endfor %}
{%- endblock form_widget %}
