{% extends base_template %}

{% block list_table %}
    {% set unserializedObject = (object | unserialize) %}
    {% set documentInRow = 6 %}
    <div class="container-fluid documents">
            {% for fieldName, fileLabel in files.single %}
                {% if loop.index % documentInRow == 0 %}
                    <div class="row">
                {% endif %}
                {% embed "@NKOOrder/CRUD/download_document.html.twig" with {
                    'document': attribute(unserializedObject, fieldName),
                    'object': unserializedObject,
                    'history': object,
                    'fileName': fileLabel} %}
                {% endembed %}
                {% if loop.index % documentInRow == 0 %}
                    </div>
                {% endif %}
            {% endfor %}
    </div>

    {% for collectionName, collectionOption in files.collections %}
        <table class="table table-bordered">
            {% set fileCollections = attribute(unserializedObject, collectionName)  %}
            {% if fileCollections|length > 0 %}
                <h1> {{ collectionOption.titleLabel }}</h1>
                <thead>
                    <tr>
                        {% for option in collectionOption.files %}
                            <th>{{ option.fileLabel }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                {% for element in fileCollections %}
                    <tr>
                        {% for option in collectionOption.files %}
                            <td>
                                {% if element|itm_file_exists(option.fileField) %}
                                    <div class="col-md-2" style="align-content: center">
                                        <div>
                                            <div class="itm_file_preview_ico_c">
                                                <a href="{{ element|itm_file_url(option.fileField) }}"
                                                   target="_blank">
                                                    <img src="{{ asset('bundles/nkodefault/images/download_file.png') }}"/>
                                                    <div class="itm_file_preview_info_c">
                                                        <h5>{{ element|origin_file_name(option.fileField) }}</h5>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="itm_file_separator"></div>
                                        </div>
                                    </div>
                                {% endif %}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            {% endif %}
        </table>
    {% endfor %}

{% endblock %}