{% block custom_tab_menu %}
    <div class="btn-group tab-bar tab-bar-farvater">
        {% for tab in object | tabs_application %}
            <button type="button" class="btn btn-default">{{ tab }}</button>
        {% endfor %}
    </div>

    {{ object | instruction_application | raw }}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/nkoorder/js/ckeditor_links_handler.js') }}"></script>
{% endblock %}

