<div class="search_panel">
    <label for="">Поиск материала</label>
</div>
<form id="search_form" class="col-md-12" method="post" action="{{ path('methodicalmaterials_search') }}">
    <div class="form_content">
        <div class="row">
            <div class="form-group col-md-6">
                <label for="categoryInput">Категория</label>
                <select class="form-control" name="material[category]" id="material-category">
                    <option value="" selected></option>
                    {% for category in categories %}
                        <option value="{{ category.id }}">{{ category.name }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group col-md-6">
                <label for="criteriaInput">Критерий</label>
                <select class="form-control" name="material[criteria]" id="material-criteria">
                </select>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-12">
                <label for="exampleInputEmail1">Название материала</label>
                <input type="text" class="form-control" id="nameInput" name="material[name]">
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-6">
                <label for="date-from">Дата с</label>
                <input type="text" class="form-control datepicker" id="date-from" name="material[date_from]">
            </div>

            <div class="form-group col-md-6">
                <label for="date-to">Дата по</label>
                <input type="text" class="form-control datepicker" id="date-to" name="material[date_to]">
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group pull-right">
                    <button class="btn btn-default" id="clear-form">Очистить форму</button>
                    <button type="submit" class="btn btn-primary">Найти</button>
                </div>
            </div>
        </div>
    </div>
</form>
