{% extends 'SonataAdminBundle:CRUD:base_show.html.twig' %}


{% block javascripts %}
    <script>
        var logRoute = "{{ admin.generateObjectUrl('log-watching-video', object)|raw }}";
        var isVideoAlreadyWatched = false;
    </script>

    {{ parent() }}
    <script src="{{ asset('bundles/nkoinformationmaterials/js/logVideo.js') }}"></script>
{% endblock %}

{% block show %}
    <div class="sonata-ba-view">

        {{ sonata_block_render_event('sonata.admin.show.top', { 'admin': admin, 'object': object }) }}

        {% set methodicalMaterial = admin.subject %}


        <div class="left-padding">
            <div class="row">
                <div class="col-md-12">
                    <h3>{{ methodicalMaterial.name }}</h3>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <p class="news_date">
                        {{ methodicalMaterial.createdAt | date("d.m.Y") }}
                    </p>

                    <p class="news_description">
                        <i>{{ methodicalMaterial.annotation }}</i>
                    </p>

                    <p class="news_content">
                        {{ methodicalMaterial.text | raw }}
                    </p>

                    <p>
                        {% if methodicalMaterial.methodicalMaterialsFiles != null %}
                            {% for file in  methodicalMaterial.methodicalMaterialsFiles %}
                                <a href="{{ path("methodicalmaterials_download", { 'id': file.id }) }}" target="_blank">
                                    {{ file.name }}
                                </a>
                                <br>
                            {% endfor %}
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>

    </div>

    {{ sonata_block_render_event('sonata.admin.show.bottom', { 'admin': admin, 'object': object }) }}
{% endblock %}