div[id$="documents"] table tbody td:nth-child(2){
    min-width: 160px;
}
div[id$="documents"] table tbody td:nth-child(2) input{
    min-width: 90px;
}

span[id$="expenses"] thead th:not(:first-child):not(:last-child) {
    width: 25%;
}
span[id$="expenses"] thead th:first-child {
    width: 7%;
}