{% extends '@NKODefault/layout.html.twig' %}

{% block content %}
    <div class="col-md-9">
        {% block menu %}
            {{ render(controller('NKOMenuBundle:Menu:createMenu')) }}
        {% endblock %}
        {% include "@NKODefault/layout/main_text.html.twig" %}
        <div class="left-padding">
            <div class="row">
                <div class="col-md-12">
                    <h3>Новости</h3>
                </div>
            </div>

            {% for fondNews in news %}
                {% if fondNews.isPublished %}
                    {% embed "NKOInformationMaterialsBundle:fondnews:show_image_list.html.twig" with {'object': fondNews} %}
                    {% endembed %}
                {% endif %}
            {% endfor %}

        </div>
    </div>
{% endblock content %}