{% extends '::standard_layout.html.twig' %}
{% block sonata_left_side %}
{% endblock sonata_left_side %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/nkodefault/js/agreement.js') }}"></script>
{% endblock %}

{% block sonata_admin_content %}

    <div class="row justify-content-md-center">
        <div class="col-md-11">
            {{ 'agreement' | BLOCK | raw }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form id="agreement-form" method="post" accept-charset="utf-8">
                <fieldset class="form-group">
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="radio" class="agreement-check-input" name="optionsRadios" id="optionsRadios1" value="reject" checked>
                            Отклонить
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="radio" class="agreement-check-input" name="optionsRadios" id="optionsRadios2" value="accept">
                            Принять
                        </label>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>

{% endblock %}