{% extends 'SonataAdminBundle::standard_layout.html.twig' %}

{% block stylesheets %}
    <link rel="shortcut icon" href="{{ asset('bundles/nkodefault/images/favicon/favicon.ico') }}" type="image/x-icon" />
    <link rel="apple-touch-icon" href="{{ asset('bundles/nkodefault/images/favicon/apple-touch-icon.png') }}" />
    <link rel="apple-touch-icon" sizes="57x57" href="{{ asset('bundles/nkodefault/images/favicon/apple-touch-icon-57x57.png') }}" />
    <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('bundles/nkodefault/images/favicon/apple-touch-icon-72x72.png') }}" />
    <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('bundles/nkodefault/images/favicon/apple-touch-icon-76x76.png') }}" />
    <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('bundles/nkodefault/images/favicon/apple-touch-icon-114x114.png') }}" />
    <link rel="apple-touch-icon" sizes="120x120" href="{{ asset('bundles/nkodefault/images/favicon/apple-touch-icon-120x120.png') }}" />
    <link rel="apple-touch-icon" sizes="144x144" href="{{ asset('bundles/nkodefault/images/favicon/apple-touch-icon-144x144.png') }}" />
    <link rel="apple-touch-icon" sizes="152x152" href="{{ asset('bundles/nkodefault/images/favicon/apple-touch-icon-152x152.png') }}" />
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('bundles/nkodefault/images/favicon/apple-touch-icon-180x180.png') }}" />
    {% for stylesheet in sonata_admin.adminPool.getOption('stylesheets', []) %}
        <link href="{{ asset('bundles/nkodefault/js/fancybox/jquery.fancybox.css') }}" type="text/css" media="screen" rel="stylesheet" />
        <link rel="stylesheet" href="{{ asset(stylesheet) }}">
    {% endfor %}
    <link rel="stylesheet" href="{{ asset('bundles/nkoorder/css/order_bundle.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/nkoorder/css/spinner.css') }}">

{% endblock %}

{% block javascripts %}
    <script>
        window.SONATA_CONFIG = {
            CONFIRM_EXIT: {% if sonata_admin.adminPool.getOption('confirm_exit') %}true{% else %}false{% endif %},
            USE_SELECT2: {% if sonata_admin.adminPool.getOption('use_select2') %}true{% else %}false{% endif %},
            USE_ICHECK: {% if sonata_admin.adminPool.getOption('use_icheck') %}true{% else %}false{% endif %},
            USE_STICKYFORMS: {% if sonata_admin.adminPool.getOption('use_stickyforms') %}true{% else %}false{% endif %}
        };
        window.SONATA_TRANSLATIONS = {
            CONFIRM_EXIT:  '{{ 'confirm_exit'|trans({}, 'SonataAdminBundle')|escape('js') }}'
        };

        // http://getbootstrap.com/getting-started/#support-ie10-width
        if (navigator.userAgent.match(/IEMobile\/10\.0/)) {
            var msViewportStyle = document.createElement('style');
            msViewportStyle.appendChild(document.createTextNode('@-ms-viewport{width:auto!important}'));
            document.querySelector('head').appendChild(msViewportStyle);
        }
    </script>

    {% for javascript in sonata_admin.adminPool.getOption('javascripts', []) %}
        <script src="{{ asset(javascript) }}"></script>
    {% endfor %}
    <script src="{{ asset('bundles/nkodefault/js/main.js') }}"></script>
    <script src="{{ asset('bundles/nkodefault/js/fancybox/jquery.fancybox.pack.js') }}"></script>
    <script src="{{ asset('bundles/nkoorder/js/spinner.js') }}"></script>
    <script src="{{ asset('bundles/nkoorder/js/custom-admin.js') }}"></script>


    {% set locale = app.request.locale %}
    {# localize moment #}
    {% if locale[:2] != 'en' %}
        <script src="{{ asset('bundles/sonatacore/vendor/moment/locale/' ~ locale|replace({'_':'-'}) ~ '.js') }}"></script>
    {% endif %}

    {# localize select2 #}
    {% if sonata_admin.adminPool.getOption('use_select2') %}
        {% if locale == 'pt' %}{% set locale = 'pt_PT' %}{% endif %}

        {# omit default EN locale #}
        {% if locale[:2] != 'en' %}
            <script src="{{ asset('bundles/sonatacore/vendor/select2/select2_locale_' ~ locale|replace({'_':'-'}) ~ '.js') }}"></script>
        {% endif %}
    {% endif %}

    {% include "NKODefaultBundle:layout:google_analytics.html.twig" %}
    {% include "NKODefaultBundle:layout:yandex_metrica.html.twig" %}

{% endblock %}

{% block sonata_header %}
    <div class="overlay"></div>
    <div class="spinner"></div>
    {{ parent() }}
{% endblock %}

{% block sonata_left_side %}
    <aside class="main-sidebar">

        <section class="sidebar">
            {% block sonata_side_nav %}
                {% block side_bar_before_nav %} {% endblock %}

                {% block side_bar_nav %}
                    <div class="to-main">
                        <a href=" {{ path('sonata_admin_dashboard') }}"><i class="fa fa-reply" aria-hidden="true"></i>  Главное меню</a>
                    </div>
                        {{ knp_menu_render('sonata_admin_sidebar', {template: sonata_admin.adminPool.getTemplate('knp_menu_template')}) }}
                {% endblock side_bar_nav %}
            {% endblock sonata_side_nav %}
            <div class="support">
                <span class="tech-support">Техническая поддержка:</span>
                <span class="tech-support">+7 (812) 777-03-57 </span>
                <span class="tech-support"><a href="mailto:konkurs.family@timchenkofoundation.org">konkurs.family@timchenkofoundation.org</a></span>
            </div>

        </section>
    </aside>
{% endblock sonata_left_side %}

{% block side_bar_after_nav_content %}
{% endblock %}

{% block sonata_sidebar_search %}
{% endblock sonata_sidebar_search %}

{% block logo %}
    {% spaceless %}
        <a class="logo" href="{{ path('homepage') }}">
            {% if 'single_image' == sonata_admin.adminPool.getOption('title_mode') or 'both' == sonata_admin.adminPool.getOption('title_mode') %}
                <img src="{{ asset(sonata_admin.adminPool.titlelogo) }}" alt="{{ sonata_admin.adminPool.title }}">
            {% endif %}
        </a>
    {% endspaceless %}
{% endblock %}

{% block sonata_top_nav_menu %}
    <div class="navbar-custom-menu">
        <form action="/logout" style="margin: 0px 15px;">
            {% block sonata_top_nav_menu_auto_saver_switcher %}
            {% endblock %}
            <div style="display: inline-block">
                <input class="btn btn-block btn-danger" style="margin-top: 11%; " type="submit" id="_submit" name="_submit"
                       value="Выйти"/>
            </div>
        </form>
    </div>

    <script src="{{ asset('bundles/nkodefault/js/jquery.cookie.js') }}"></script>
    <script src="{{ asset('bundles/nkodefault/js/moment-with-locales.min.js') }}"></script>
    <script src="{{ asset('bundles/nkodefault/js/show_date.js') }}"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>

    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

{% endblock %}

{% block sonata_breadcrumb %}
    <div class="hidden-xs">
        {% if _breadcrumb is not empty or action is defined %}
            <ol class="nav navbar-top-links breadcrumb">
                {% if is_granted("ROLE_NKO") %}
                    <li>
                        <span>Личный кабинет: {{  app.user.NkoName }}</span>
                    </li>
                 {% else %}
                     {% if _breadcrumb is empty %}
                         {% if action is defined %}
                             {% for menu in breadcrumbs_builder.breadcrumbs(admin, action) %}
                                 {% if not loop.last  %}
                                     <li>
                                         {% if menu.uri is not empty %}
                                             <a href="{{ menu.uri }}">{{ menu.label|trans|raw }}</a>
                                         {% else %}
                                             {{ menu.label|trans }}
                                         {% endif %}
                                     </li>
                                 {% else %}
                                     <li class="active"><span>{{ menu.label|trans }}</span></li>
                                 {% endif %}
                             {% endfor %}
                         {% endif %}
                     {% else %}
                         {{ _breadcrumb|raw }}
                     {% endif %}
                {% endif %}
            </ol>
        {% endif %}
    </div>
    <script>
        var spanText = $('ol.breadcrumb li span').text();
        if(spanText.length > 60 ){
            $('ol.breadcrumb li span').text(spanText.substring(0, 59) + '...');
        }
    </script>
{% endblock sonata_breadcrumb %}

{% block sonata_admin_content_actions_wrappers %}
    {% if _actions|replace({ '<li>': '', '</li>': '' })|trim is not empty %}
        <ul class="nav navbar-nav navbar-right">
            {% if _actions|split('</a>')|length > 2 %}
                <li class="dropdown sonata-actions">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ 'link_actions'|trans({}, 'SonataAdminBundle') }} <b class="caret"></b></a>
                    <ul class="dropdown-menu" role="menu">
                        {{ _actions|raw }}
                    </ul>
                </li>
            {% else %}
                {{ _actions|raw }}
            {% endif %}
        </ul>
    {% endif %}

{% endblock sonata_admin_content_actions_wrappers %}




