{% extends '::standard_layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/nkoorder/css/analytics/summary_monitoring_analytics.css') }}"/>
{% endblock %}

{% block content %}
    <div class="box box-primary">
        <div class="box-header">
            <div>
                <h3>Диаграмма</h3>
            </div>
        </div>
        <div class="box-body">
            <form id="diagram_form" method="post">
                <div>
                    <label class="label-wrapper">Показатель:</label>
                    <select name="indicator" id="indicator" style="width: 400px">
                        {% for key, value in indicator %}
                            <option value="{{ value }}">{{ key }}</option>
                        {% endfor %}
                    </select>
                </div>

                    <div>
                        <label class="label-wrapper">Конкурс:</label>
                        <select name="competitions" id="competitions" style="width: 400px">
                            {% for key, value in competitions %}
                                <option value="{{ key }}">{{ key }}</option>
                            {% endfor %}
                        </select>
                    </div>

                {%  if is_granted('ROLE_FOUNDER') == true or is_granted('ROLE_SUPER_ADMIN') == true%}
                    <div>
                        <label class="label-wrapper">Победители:</label>
                        <select name="winners" id="winners" style="width: 400px">
                            {% for key, value in winners %}
                                <option value="{{ value }}">{{ key }}</option>
                            {% endfor %}
                        </select>
                    </div>
                {% endif %}
                <button id="generate-diagram" class="btn btn-success btn-custom">Сформировать диаграммы</button>
            </form>
        </div>
    </div>

    {%  if is_granted('ROLE_FOUNDER') == true or is_granted('ROLE_SUPER_ADMIN') == true%}
        <script>
            $(document).ready(function() {
                $('#competitions').on('change', function(event) {
                    event.preventDefault();
                    var competition = $('#competitions').val();
                    $.ajax({
                        type:"GET",
                        url:'{{ admin.generateUrl('get_winners') }}',
                        dataType:"json",
                        data:{
                            competition: competition
                        },
                        success : function (response) {
                            let select = $('select[id="winners"]');
                            select.find("option").remove();

                            for(var key in response) {
                                select.append($('<option>', {
                                    value: response[key],
                                    text: key
                                }));
                            }

                            select.val(-1);
                            select.trigger('change');
                        },
                        error : function() {
                            console.log("errror")
                        }
                    });
                });
            });
        </script>
    {% endif %}
{% endblock %}