{% extends "NKODefaultBundle::layout.html.twig" %}

{% block title %}{{ 'title' | meta_data('default') | raw }}{% endblock %}
{% block meta %}
    <meta name="description" content="{{ 'description' | meta_data('default') | raw }}">
    <meta name="keywords" content="{{ 'keywords' | meta_data('default') | raw }}">
{% endblock meta %}

{% block content %}
    <div class="col-md-9">
        {% block menu %}
            {{ render(controller('NKOMenuBundle:Menu:createMenu')) }}
        {% endblock %}
        <div class="left-padding">
            <div class="row">
                <div class="col-md-12">
                    <h2>{{ page.title }}</h2>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">

                    <p class="news_content">
                        {{ page.text | raw }}
                    </p>

                </div>
            </div>

            <div class="row social">
                <div class="col-md-12">
                    <div class="ya-share2" data-services="vkontakte,facebook,gplus,twitter" data-counter=""></div>
                </div>
            </div>
            <script src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js"></script>
            <script src="//yastatic.net/share2/share.js"></script>
        </div>
    </div>

{% endblock %}





