{% macro render_groups(admin, form, groups, has_tab) %}
    <div class="row">

        {% for code in groups if admin.formgroups[code] is defined %}
            {% set form_group = admin.formgroups[code] %}

            <div class="{{ form_group.class|default('col-md-12') }}">
                <div class="{{ form_group.box_class }}">
                    <div class="box-header">
                        <h4 class="box-title">
                            {{ form_group.name|trans({}, form_group.translation_domain ?: admin.translationDomain) }}
                        </h4>
                    </div>
                    <div class="box-body">
                        <div class="sonata-ba-collapsed-fields">
                            {% if form_group.description %}
                                <p>{{ form_group.description|raw }}</p>
                            {% endif %}
                            {% for field_name in form_group.fields if admin.formfielddescriptions[field_name] is defined %}
                                {{ form_row(form[field_name])}}

                            {% else %}
                                <em>{{ 'message_form_group_empty'|trans({}, 'SonataAdminBundle') }}</em>
                            {% endfor %}

                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <script src="{{ asset('bundles/nkoorder/js/autoNumeric.js') }}"></script>
    <script src="{{ asset('bundles/nkoorder/js/autosize.js') }}"></script>
    <script src="{{ asset('bundles/nkoorder/js/datepicker_handler.js') }}"></script>
    <script src="{{ asset('bundles/nkoorder/js/document_type_handler.js') }}"></script>
    <script src="{{ asset('bundles/nkoorder/js/documents.js') }}"></script>

    <script src="{{ asset('bundles/nkoorder/js/tables_control/control_table.js') }}"></script>
    <script src="{{ asset('bundles/nkoorder/js/tables_control/table.js') }}"></script>
    <script src="{{ asset('bundles/nkoorder/js/tables_control/row.js') }}"></script>
    <script src="{{ asset('bundles/nkoorder/js/tables_control/element.js') }}"></script>
    <script src="{{ asset('bundles/nkoorder/js/tables_control/additional.js') }}"></script>
    <script src="{{ asset('bundles/nkoorder/js/tables_control/subscriber.js') }}"></script>

    <script src="{{ asset('bundles/nkoorder/js/remove_number_td.js') }}"></script>
    <script src="{{ asset('bundles/nkoorder/js/check_integer.js') }}"></script>
    <script src="{{ asset('bundles/nkoorder/js/full_size_select.js') }}"></script>
{% endmacro %}
