{% extends 'standard_layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/nkoorder/js/create_report_handler.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="radio col-md-12">
        <h4>Выберите Мастер отчета:</h4>

        {% set link_exists = false %}
        {% for financeReportLink in financeReportLinks %}
            {% if is_granted('ROLE_NKO_ORDER_ADMIN_REPORT_FINANCE_REPORT_REPORT_CREATE', financeReportLink) %}
                {% set link_exists = true %}
                <div id="period" class="create-report-link">
                    <a href="{{ path('admin_nko_order_report_financereport_report_create', {'period_id' : financeReportLink['periodId'], 'report_form_id' : financeReportLink['reportFormId'] } ) }}">{{ financeReportLink['linkName'] ~ ' ' ~ financeReportLink['periodName'] }}</a>
                </div>
                {% if loop.last %}
                    <br>
                {% endif %}
            {% endif %}
        {% endfor %}

        {% for monitoringReportLink in monitoringReportLinks %}
            {% if is_granted('ROLE_NKO_ORDER_ADMIN_REPORT_MONITORING_REPORT_REPORT_CREATE', monitoringReportLink) %}
                {% set link_exists = true %}
                <div id="period" class="create-report-link">
                    <a href="{{ path('admin_nko_order_report_monitoringreport_report_create', {'report_form_id' : monitoringReportLink['reportFormId'] }) }}">{{ monitoringReportLink['linkName'] }}</a>
                </div>
                {% if loop.last %}
                    <br>
                {% endif %}
            {% endif %}
        {% endfor %}

        {% for monitoringReportLink in harbor2020MonitoringReportLinks %}
            {% if is_granted('ROLE_NKO_ORDER_ADMIN_REPORT_MONITORING_REPORT_REPORT_CREATE', monitoringReportLink) %}
                {% set link_exists = true %}
                <div id="period" class="create-report-link">
                    <a href="{{ path('admin_nko_order_report_monitoringreport_harbor2020report_report_create', {'report_form_id' : monitoringReportLink['reportFormId'] }) }}">{{ monitoringReportLink['linkName'] }}</a>
                </div>
                {% if loop.last %}
                    <br>
                {% endif %}
            {% endif %}
        {% endfor %}


        {% for analyticReportLink in analyticReportLinks %}
            {% if is_granted('ROLE_NKO_ORDER_ADMIN_REPORT_ANALYTIC_REPORT_REPORT_CREATE', analyticReportLink) %}
                {% set link_exists = true %}
                <div id="period" class="create-report-link">
                    <a href="{{ path('admin_nko_order_report_analyticreport_report_create', {'report_form_id' : analyticReportLink['reportFormId'] }) }}">{{ analyticReportLink['linkName'] }}</a>
                </div>
                {% if loop.last %}
                    <br>
                {% endif %}
            {% endif %}
        {% endfor %}

        {% for analyticKnsReportLink in analyticKnsReportLinks %}
            {% if is_granted('ROLE_NKO_ORDER_ADMIN_ANALYTIC_REPORT_KNS_1_CREATE', analyticKnsReportLink) %}
                {% set link_exists = true %}
                <div id="period" class="create-report-link">
                    <a href="{{ path('admin_nko_order_report_analyticreport_kns_stage1_report_create', {'report_form_id' : analyticKnsReportLink['reportFormId'] }) }}">{{ analyticKnsReportLink['linkName'] }}</a>
                </div>
                {% if loop.last %}
                    <br>
                {% endif %}
            {% endif %}
        {% endfor %}

        {% for financeReportLink in financeReport2018Links %}
            {% if is_granted('ROLE_NKO_ORDER_ADMIN_REPORT_FINANCE_REPORT_REPORT_2018_REPORT_CREATE', financeReportLink) %}
                {% set link_exists = true %}
                <div id="period" class="create-report-link">
                    <a href="{{ path('admin_nko_order_report_financereport_report2018_report_create', {'period_id' : financeReportLink['periodId'], 'report_form_id' : financeReportLink['reportFormId'] } ) }}">{{ financeReportLink['linkName'] ~ ' ' ~ financeReportLink['periodName'] }}</a>
                </div>
                {% if loop.last %}
                    <br>
                {% endif %}
            {% endif %}
        {% endfor %}

        {% for financeReportLink in financeReport2019Links %}
            {% if is_granted('ROLE_NKO_ORDER_ADMIN_REPORT_FINANCE_REPORT_REPORT_2019_REPORT_CREATE', financeReportLink) %}
                {% set link_exists = true %}
                <div id="period" class="create-report-link">
                    <a href="{{ path('admin_nko_order_report_financereport_report2019_report_create', {'period_id' : financeReportLink['periodId'], 'report_form_id' : financeReportLink['reportFormId'] } ) }}">{{ financeReportLink['linkName'] ~ ' ' ~ financeReportLink['periodName'] }}</a>
                </div>
                {% if loop.last %}
                    <br>
                {% endif %}
            {% endif %}
        {% endfor %}

        {% for analyticReportLink in analyticReport2018Links %}
            {% if is_granted('ROLE_NKO_ORDER_ADMIN_REPORT_ANALYTIC_REPORT_REPORT2018_REPORT_CREATE', analyticReportLink) %}
                {% set link_exists = true %}
                <div id="period" class="create-report-link">
                    <a href="{{ path('admin_nko_order_report_analyticreport_report2018_report_create', {'report_form_id' : analyticReportLink['reportFormId'] }) }}">{{ analyticReportLink['linkName'] }}</a>
                </div>
                {% if loop.last %}
                    <br>
                {% endif %}
            {% endif %}
        {% endfor %}

        {% for analyticReportLink in analyticReport2019Links %}
            {% if is_granted('ROLE_NKO_ORDER_ADMIN_REPORT_ANALYTIC_REPORT_REPORT2019_REPORT_CREATE', analyticReportLink) %}
                {% set link_exists = true %}
                <div id="period" class="create-report-link">
                    <a href="{{ path('admin_nko_order_report_analyticreport_report2019_report_create', {'report_form_id' : analyticReportLink['reportFormId'] }) }}">{{ analyticReportLink['linkName'] }}</a>
                </div>
                {% if loop.last %}
                    <br>
                {% endif %}
            {% endif %}
        {% endfor %}

        {% for analyticReportLink in analyticKNSReport2018Links %}
            {% if is_granted('ROLE_NKO_ORDER_ADMIN_REPORT_ANALYTIC_REPORT_REPORT2018_KNS_REPORT_CREATE', analyticReportLink) %}
                {% set link_exists = true %}
                <div id="period" class="create-report-link">
                    <a href="{{ path('admin_nko_order_report_analyticreport_report2018_kns_report_create', {'report_form_id' : analyticReportLink['reportFormId'] }) }}">{{ analyticReportLink['linkName'] }}</a>
                </div>
                {% if loop.last %}
                    <br>
                {% endif %}
            {% endif %}
        {% endfor %}

        {% for analyticReportLink in analyticHarbor2019Links %}
            {% if is_granted('ROLE_NKO_ORDER_ADMIN_REPORT_ANALYTIC_REPORT_REPORT2018_KNS_REPORT_CREATE', analyticReportLink) %}
                {% set link_exists = true %}
                <div id="period" class="create-report-link">
                    <a href="{{ path('admin_nko_order_report_analyticreport_harbor_report2019_report_create', {'report_form_id' : analyticReportLink['reportFormId'] }) }}">{{ analyticReportLink['linkName'] }}</a>
                </div>
                {% if loop.last %}
                    <br>
                {% endif %}
            {% endif %}
        {% endfor %}

        {% for mixedReportKNSLink in mixedReportKNSLinks %}
            {% if is_granted('ROLE_NKO_ORDER_ADMIN_REPORT_MIXED_REPORT_KNS_REPORT_CREATE', mixedReportKNSLink) %}
                {% set link_exists = true %}
                <div id="period" class="create-report-link">
                    <a href="{{ path('admin_nko_order_report_mixedreport_kns_report_create', {'period_id' : mixedReportKNSLink['periodId'], 'report_form_id' : mixedReportKNSLink['reportFormId'] }) }}">{{ mixedReportKNSLink['linkName'] }}</a>
                </div>
                {% if loop.last %}
                    <br>
                {% endif %}
            {% endif %}
        {% endfor %}

        {% set periodLength = mixedReport2019KNSLinks|length %}
        {% for mixedReportKNSLink in mixedReport2019KNSLinks %}
            {% if is_granted('ROLE_NKO_ORDER_ADMIN_REPORT_MIXED_REPORT_REPORT2019_KNS_REPORT_CREATE', mixedReportKNSLink) %}
                {% set link_exists = true %}
                {% if periodLength > 1  %}
                    {% set periodText =  ' ' ~ mixedReportKNSLink['periodName'] %}
                {% else %}
                    {% set periodText = '' %}
                {% endif %}
                <div id="period" class="create-report-link">
                    <a href="{{ path('admin_nko_order_report_mixedreport_kns_report2019_report_create', {'period_id' : mixedReportKNSLink['periodId'], 'report_form_id' : mixedReportKNSLink['reportFormId'] }) }}">{{ mixedReportKNSLink['linkName']  ~  periodText }}</a>
                </div>
                {% if loop.last %}
                    <br>
                {% endif %}
            {% endif %}
        {% endfor %}

        {% set periodLength = mixedReport2020KNSLinks|length %}
        {% for mixedReportKNSLink in mixedReport2020KNSLinks %}
            {% if is_granted('ROLE_NKO_ORDER_ADMIN_REPORT_MIXED_REPORT_REPORT2020_KNS_REPORT_CREATE', mixedReportKNSLink) %}
                {% set link_exists = true %}
                {% if periodLength > 1  %}
                    {% set periodText =  ' ' ~ mixedReportKNSLink['periodName'] %}
                {% else %}
                    {% set periodText = '' %}
                {% endif %}
                <div id="period" class="create-report-link">
                    <a href="{{ path('admin_nko_order_report_mixedreport_kns_report2020_report_create', {'period_id' : mixedReportKNSLink['periodId'], 'report_form_id' : mixedReportKNSLink['reportFormId'] }) }}">{{ mixedReportKNSLink['linkName']  ~  periodText }}</a>
                </div>
                {% if loop.last %}
                    <br>
                {% endif %}
            {% endif %}
        {% endfor %}

        {% if link_exists == false %}
            <h4>У Вас нет доступных мастеров отчета.</h4>
        {% endif %}
    </div>
{% endblock %}
