{% extends 'standard_layout.html.twig' %}

{% block content %}
    <div class="radio col-md-12">
        <h4>Выберите Мастер отчета:</h4>
        {% set link_exists = false %}

        {% for financeReportLink in financeReportLinks %}
            {% if is_granted('ROLE_NKO_ORDER_ADMIN_REPORT_FINANCE_REPORT_REPORT_2018_REPORT_TEMPLATE_CREATE', financeReportLink) %}
                {% set link_exists = true %}
                <a href="{{ path('admin_nko_order_report_financereport_report2018_reporttemplate_create',{'report_form_id':financeReportLink['report_form_id'], 'app_history_id':financeReportLink['app_history_id']}) }}">{{ financeReportLink['title'] }}</a>
                {% if loop.last %}
                    <br>
                {% endif %}
            {% endif %}
        {% endfor %}

        {% for financeReportLink in financeReport2019Links %}
            {% if is_granted('ROLE_NKO_ORDER_ADMIN_REPORT_FINANCE_REPORT_REPORT_2018_REPORT_TEMPLATE_CREATE', financeReportLink) %}
                {% set link_exists = true %}
                <a href="{{ path('admin_nko_order_report_financereport_report2018_reporttemplate_create',{'report_form_id':financeReportLink['report_form_id'], 'app_history_id':financeReportLink['app_history_id']}) }}">{{ financeReportLink['title'] }}</a>
                {% if loop.last %}
                    <br>
                {% endif %}
            {% endif %}
        {% endfor %}

        {% for mixedReportKNSLink in mixedReportKNSLinks %}
            {% if is_granted('ROLE_NKO_ORDER_ADMIN_REPORT_FINANCE_REPORT_REPORT_2018_REPORT_TEMPLATE_CREATE', mixedReportKNSLink) %}
                {% set link_exists = true %}
                <a href="{{ path('admin_nko_order_report_financereport_report2018_reporttemplate_create',{'report_form_id':mixedReportKNSLink['report_form_id'], 'app_history_id':mixedReportKNSLink['app_history_id']}) }}">{{ mixedReportKNSLink['title'] }}</a>
                {% if loop.last %}
                    <br>
                {% endif %}
            {% endif %}
        {% endfor %}

        {% for mixedReportKNSLink in mixedReport2019KNSLinks %}
            {% if is_granted('ROLE_NKO_ORDER_ADMIN_REPORT_FINANCE_REPORT_REPORT_2018_REPORT_TEMPLATE_CREATE', mixedReportKNSLink) %}
                {% set link_exists = true %}
                <a href="{{ path('admin_nko_order_report_financereport_report2018_reporttemplate_create',{'report_form_id':mixedReportKNSLink['report_form_id'], 'app_history_id':mixedReportKNSLink['app_history_id']}) }}">{{ mixedReportKNSLink['title'] }}</a>
                {% if loop.last %}
                    <br>
                {% endif %}
            {% endif %}
        {% endfor %}

        {% for mixedReportKNSLink in mixedReport2020KNSLinks %}
            {% if is_granted('ROLE_NKO_ORDER_ADMIN_REPORT_FINANCE_REPORT_REPORT_2018_REPORT_TEMPLATE_CREATE', mixedReportKNSLink) %}
                {% set link_exists = true %}
                <a href="{{ path('admin_nko_order_report_financereport_report2018_reporttemplate_create',{'report_form_id':mixedReportKNSLink['report_form_id'], 'app_history_id':mixedReportKNSLink['app_history_id']}) }}">{{ mixedReportKNSLink['title'] }}</a>
                {% if loop.last %}
                    <br>
                {% endif %}
            {% endif %}
        {% endfor %}

        {% if link_exists == false %}
            <h4>Отчетов для заполнения плановых показателей нет.</h4>
        {% endif %}
    </div>
{% endblock %}