{% extends 'standard_layout.html.twig' %}

{% block content %}
    <div class="field-container">
        <form method="post" action="{{ app.request.requestUri }}">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Мастер отчета</th>
                    <th>Документ</th>
                </tr>
                </thead>
                <tbody class="sonata-ba-tbody">
                {% for report in reports %}
                    <tr>
                        <td class="sonata-ba-td control-group">
                            <select name="reportForm" >
                                {% for reportForm in reportForms %}
                                    <option value={{ reportForm.id }}>{{ reportForm.title }}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td class="sonata-ba-td control-group">
                            <input type="file" name="document">
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <button type="submit" class="btn  btn btn-success edit_link" value="submit" name="submit"><i class="fa fa-save"></i> Сохранить</button>
        </form>
    </div>
    {#<div class="radio col-md-12">#}
        {#<h3>Выберите Мастер отчета:</h3>#}
        {#{% if reportLinks is not empty %}#}
            {#{% for reportLink in reportLinks %}#}
                {#<div class="col-md-6">#}
                    {#{% if reportLink != false %}#}
                        {#<br>#}
                        {#{% if reportLink['periodDependence'] == true and reportLink['periods'] is defined %}#}
                            {#{% for period in reportLink['periods'] %}#}
                                {#<div id="period">#}
                                    {#<a href="{{ path(reportLink['link'], {'period_id' : period.id, 'report_form_id' : reportLink['reportFormId'] } ) }}">{{ reportLink['linkName'] ~ ' ' ~ period.name }}</a>#}
                                {#</div>#}
                            {#{% endfor %}#}
                        {#{% elseif reportLink['periodDependence'] == false %}#}
                            {#<div id="period">#}
                                {#<a href="{{ path(reportLink['link'], {'report_form_id' : reportLink['reportFormId'] } ) }}">{{ reportLink['linkName'] }}</a>#}
                            {#</div>#}
                        {#{% else %}#}
                            {#<p>У Вас нет доступных отчетов.</p>#}
                        {#{% endif %}#}
                    {#{% endif %}#}
                {#</div>#}
            {#{% endfor %}#}
        {#{% endif %}#}
    {#</div>#}
{% endblock %}
