{% block custom_tab_menu %}
    {% set n = 1 %}

    <div class="btn-group tab-bar tab-bar-farvater tab-bar-analytic">
        {% for tab in object | tabs %}
            <button type="button" class="btn btn-default" ><h5>{{ n }}.</h5><h6>{{ tab }}</h6></button>
            {% set n = n+1 %}
        {% endfor %}
    </div>

    {{object | instruction | raw}}
{% endblock %}


{% block javascripts %}
    <script src="{{ asset('bundles/nkoorder/js/ckeditor_links_handler.js') }}"></script>
{% endblock %}

