{% extends base_template %}

{% block list_table %}
    {% set unserializedObject = (object | unserialize) %}
    <div class="container-fluid documents">
        <div class="row">
            {% embed "@NKOOrder/CRUD/download_document.html.twig" with {
                'document': unserializedObject.regulation,
                'object': unserializedObject,
                'history': object,
                'fileName': 'Устав организации'} %}
            {% endembed %}

            {% embed "@NKOOrder/CRUD/download_document.html.twig" with {
                'document': unserializedObject.organizationCreationResolution,
                'object': unserializedObject,
                'history': object,
                'fileName': 'Документ, подтверждающий статус юридического лица
                государственных и муниципальных учреждений
                (решение о создании учреждения и т.п.)'} %}
            {% endembed %}

            {% embed "@NKOOrder/CRUD/download_document.html.twig" with {
                'document': unserializedObject.subjectRegulation,
                'object': unserializedObject,
                'history': object,
                'fileName': 'Устав субъекта РФ или муниципалитета, положение о профильной службе
                 (департаменте, министерстве и т.п.)'} %}
            {% endembed %}

            {% embed "@NKOOrder/CRUD/download_document.html.twig" with {
                'document': unserializedObject.authorityHead,
                'object': unserializedObject,
                'history': object,
                'fileName': 'Документ, подтверждающий полномочия руководителя'} %}
            {% endembed %}

            {% embed "@NKOOrder/CRUD/download_document.html.twig" with {
                'document': unserializedObject.budget,
                'object': unserializedObject,
                'history': object,
                'fileName': 'Бюджет заявки'} %}
            {% endembed %}

            {% embed "@NKOOrder/CRUD/download_document.html.twig" with {
                'document': unserializedObject.signedAgreement,
                'object': unserializedObject,
                'history': object,
                'fileName': 'Подписанные согласия на обработку персональных данных всех лиц,
                фигурирующих в заявке'} %}
            {% endembed %}

            {% embed "@NKOOrder/CRUD/download_document.html.twig" with {
                'document': unserializedObject.anotherHead,
                'object': unserializedObject,
                'history': object,
                'fileName': 'Документ, подтверждающий полномочия лица,
                которое будет подписывать договор'} %}
            {% endembed %}
        </div>
    </div>

{% endblock %}