{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field%}
    {% if object.createdAt != false %}
         <div timestamp="{{ object.createdAt| date('U') }}">
         </div>
    {% endif %}
{% endblock %}