{% extends "NKODefaultBundle::layout.html.twig" %}

{% block title %}{{ 'title' | meta_data('methodical_materials') | raw }}{% endblock %}
{% block meta %}
    <meta name="description" content="{{ 'description' | meta_data('methodical_materials') | raw }}">
    <meta name="keywords" content="{{ 'keywords' | meta_data('methodical_materials') | raw }}">
{% endblock meta %}


{% block content %}
    <div class="col-md-9">
        {% block menu %}
            {{ render(controller('NKOMenuBundle:Menu:createMenu')) }}
        {% endblock %}
        <div class="left-padding">
            <div class="row">
                <div class="col-md-12">
                    <h3>Методические материалы</h3>
                </div>
            </div>

            {% include  '@NKOInformationMaterials/layout/_search_form.html.twig'%}

            <label class="found" for="">Найдено материалов: {{ pagination.getTotalItemCount }}</label>

            {% for methodicalMaterial in pagination %}
                {% if methodicalMaterial.isPublished %}
                    <div class="row news_block">
                        <div class="col-md-12">
                            <p class="news_title">
                                <a href="{{ path('methodicalmaterials_show', { 'id': methodicalMaterial.id }) }}">{{ methodicalMaterial.name }}</a>
                            </p>

                            <p class="news_date">
                                {{ methodicalMaterial.createdAt | date("d.m.Y") }}
                            </p>

                            <p class="news_description">
                                {{ methodicalMaterial.annotation }}
                            </p>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}

            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <div class="navigation">
                        {{ knp_pagination_render(pagination) }}
                    </div>
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>
    </div>

    <script>
        var currentUrl = window.location.href,
                categoryID = parseInt(currentUrl.split("?category=")[1]),
                $categorySelect = $('#categorySelect');
        $categorySelect.val(categoryID);
        $categorySelect.on("change", function(){
            var urlWithoutParams = currentUrl.substring(0, currentUrl.indexOf("?"));
            window.location.href = urlWithoutParams + "?category=" + $(this).val();
        });
    </script>
{% endblock %}







