{% extends "NKODefaultBundle::layout.html.twig" %}

{% block title %}{{ 'title' | meta_data('information_materials') | raw }}{% endblock %}
{% block meta %}
    <meta name="description" content="{{ 'description' | meta_data('information_materials') | raw }}">
    <meta name="keywords" content="{{ 'keywords' | meta_data('information_materials') | raw }}">
{% endblock meta %}

{% block content %}
<div class="col-md-9">
    {% block menu %}
    {{ render(controller('NKOMenuBundle:Menu:createMenu')) }}
    {% endblock %}
    <div class="left-padding">
        <div class="row">
            <div style="margin-top: 35px">
                <h3>{{ competitionNames }}</h3>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            {% for head in journalHead %}
                                <th>{{ head }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody class="sonata-ba-tbody">
                    {% for rowData in journalData %}
                        <tr>
                            {% for data in rowData %}
                                <td>{{ data }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}