{% extends 'NKOOrderBundle:CRUD:base_application_edit.html.twig' %}

{% block sonata_page_content %}
    {{ parent() }}
    <script src="{{ asset('bundles/nkoorder/js/address_icheck_handler.js') }}"></script>
    <script src="{{ asset('bundles/nkoorder/js/supervisor_icheck_handler.js') }}"></script>

{% endblock %}


