<input id="is_admin_role" style="display: none" value={{ is_granted('ROLE_SUPER_ADMIN') }}>
{% if(not is_granted('ROLE_SUPER_ADMIN')) %}
    <div id="switch_div" style="display: inline-block; padding-right: 5px" title=
"Внимание! Автосохранение включается и отключается на все интерфейсы пользователя сразу.

В режиме, когда автосохранение включено, пользователям нельзя одновременно открывать форму на двух вкладках браузера, или в разных браузерах, или на двух компьютерах.

В режиме, когда автосохранение отключено, пользователю необходимо сохранять форму каждые 15 минут во избежание потери данных из-за разрыва сессии пользователя.

Автосохранение не исключает необходимости стандартного сохранения перед тем, когда пользователь планирует прервать работу над формой либо отправить ее.
        ">
        <label class="switch">
            Включить автосохранение
            <input type="checkbox" id="auto_saver_checkbox">
        </label>
    </div>
{% endif %}