{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% for object in admin.datagrid.results %}
    <tr>
        {% for field_description in admin.list.elements %}
            {% if field_description.name == '_action' and app.request.isXmlHttpRequest %}
                Action buttons disabled in ajax view!
            {% elseif field_description.getOption('ajax_hidden') == true and app.request.isXmlHttpRequest %}
                Disable fields with 'ajax_hidden' option set to true
            {% else %}
                {{ object|render_list_element(field_description) }}
            {% endif %}
        {% endfor %}
    </tr>
    <script>
        {% for el in object.getMarkLists() %}
            {# {% if(app.user == el.getExpert() and el.getIsValid()) and el.getIsSend() %} #}
            {% if(app.user == el.getExpert()) and el.getIsSend() %}
                $("tr td[objectId="+ {{ object.getId() }} +"]").css('color', 'rgb(0, 167, 0)');
            {% endif %}
        {% endfor %}
    </script>
{% endfor %}




