{% extends base_template %}

{% block list_table %}
    {% set unserializedObject = (object | unserialize) %}
    <div class="container-fluid documents">
        <div class="row">
            {% embed "@NKOOrder/CRUD/download_document.html.twig" with {'document': unserializedObject.regulation, 'object': unserializedObject, 'history': object, 'fileName': 'Устав организации'} %}
            {% endembed %}

            {% embed "@NKOOrder/CRUD/download_document.html.twig" with {'document': unserializedObject.organizationCreationResolution, 'object': unserializedObject, 'history': object, 'fileName': 'Решение о создании учреждения'} %}
            {% endembed %}

            {% embed "@NKOOrder/CRUD/download_document.html.twig" with {'document': unserializedObject.budget, 'object': unserializedObject, 'history': object, 'fileName': 'Бюджет заявки'} %}
            {% endembed %}
        </div>
    </div>
{% endblock %}
