{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends base_template %}
{% block title %}
    {% if admin.id(object) is not null %}
        {{ "title_edit"|trans({'%name%': admin.toString(object)|truncate(15) }, 'SonataAdminBundle') }}
    {% else %}
        {{ "title_create"|trans({}, 'SonataAdminBundle') }}
    {% endif %}
{% endblock %}

{% block navbar_title %}
    {{ block('title') }}
{% endblock %}

{% block actions %}
    {% include 'SonataAdminBundle:CRUD:action_buttons.html.twig' %}
{% endblock %}

{% block tab_menu %}{{ knp_menu_render(admin.sidemenu(action), {'currentClass' : 'active', 'template': sonata_admin.adminPool.getTemplate('tab_menu_template')}, 'twig') }}{% endblock %}

{% use 'NKOOrderBundle:CRUD:base_edit_form.html.twig' with form as parentForm %}
{% import "NKOOrderBundle:CRUD:base_edit_form_macro.html.twig" as form_helper %}

{% block form %}
    {{ block('parentForm') }}
{% endblock %}

{% block sonata_admin_content_actions_wrappers %}
{% endblock sonata_admin_content_actions_wrappers %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/nkoorder/js/autoNumeric.js') }}"></script>
    <script src="{{ asset('bundles/nkoorder/js/datepicker_handler.js') }}"></script>

    <script src="{{ asset('bundles/nkoorder/js/drop_down_list_handler.js') }}"></script>
    <script src="{{ asset('bundles/nkoorder/js/autosize.js') }}"></script>
    <script src="{{ asset('bundles/nkoorder/js/tab_bar_handler.js') }}"></script>
    <script src="{{ asset('bundles/nkoorder/js/address_icheck_handler.js') }}"></script>
    <script src="{{ asset('bundles/nkoorder/js/trainsheep_list.js') }}"></script>
    <script src="{{ asset('bundles/nkoorder/js/supervisor_icheck_handler.js') }}"></script>
    <script src="{{ asset('bundles/nkoorder/js/documents.js') }}"></script>

    <script src="{{ asset('bundles/nkoorder/js/full_size_select.js') }}"></script>
    <script src="{{ asset('bundles/nkoorder/js/set_placeholder_to_select.js') }}"></script>
    <script src="{{ asset('bundles/nkoorder/js/footer_handler.js') }}"></script>

    <script src="{{ asset('bundles/nkoorder/js/tables_control/control_table.js') }}"></script>
    <script src="{{ asset('bundles/nkoorder/js/tables_control/table.js') }}"></script>
    <script src="{{ asset('bundles/nkoorder/js/tables_control/row.js') }}"></script>
    <script src="{{ asset('bundles/nkoorder/js/tables_control/element.js') }}"></script>
    <script src="{{ asset('bundles/nkoorder/js/tables_control/additional.js') }}"></script>
    <script src="{{ asset('bundles/nkoorder/js/tables_control/subscriber.js') }}"></script>
{% endblock %}

