{% extends base_template %}

{% block list_table %}
<div class="container-fluid documents">
    <div class="row">
        {% if marks == null %}
            <h3>Нет готовых оценок</h3>
            {% else  %}
                {% for mark in marks %}
                    <div class="col-md-2">
                        <div>
                            <div class="itm_file_preview_ico_c">
                                <a href="{{ admin.generateObjectUrl('download_mark', mark.application, {'mark_list_id': mark.id}) }}"
                                   target="_blank">
                                    <img src="{{ asset('bundles/nkodefault/images/download_file.png') }}"/>
                                    <div class="itm_file_preview_info_c">
                                        <h5>{{ mark.expert }}</h5>
                                    </div>
                                </a>
                            </div>
                            <div class="itm_file_separator"></div>
                        </div>
                    </div>
                {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock %}