{% extends base_template %}

{% block list_table %}
    {% set unserializedObject = (object | unserialize) %}
    <div class="container-fluid documents">
        <div class="row">
                {% embed "@NKOOrder/CRUD/download_document.html.twig" with {'document': unserializedObject.regulation, 'object': unserializedObject, 'history': object, 'fileName': 'Устав организации'} %}
                {% endembed %}

                {% embed "@NKOOrder/CRUD/download_document.html.twig" with {'document': unserializedObject.authorityDirectorDocument, 'object': unserializedObject, 'history': object, 'fileName': 'Документ, подтверждающий полномочия руководителя'} %}
                {% endembed %}

                {% embed "@NKOOrder/CRUD/download_document.html.twig" with {'document': unserializedObject.organizationHeadConsent, 'object': unserializedObject, 'history': object, 'fileName': 'Согласие, подписанное руководителем организации'} %}
                {% endembed %}

                {% embed "@NKOOrder/CRUD/download_document.html.twig" with {'document': unserializedObject.projectHeadConsent, 'object': unserializedObject, 'history': object, 'fileName': 'Согласие, подписанное руководителем проекта'} %}
                {% endembed %}

                {% embed "@NKOOrder/CRUD/download_document.html.twig" with {'document': unserializedObject.accountantHeadConsent, 'object': unserializedObject, 'history': object, 'fileName': 'Согласие, подписанное главным бухгалтером'} %}
                {% endembed %}

                {% embed "@NKOOrder/CRUD/download_document.html.twig" with {'document': unserializedObject.sendingApplicationPersonConsent, 'object': unserializedObject, 'history': object, 'fileName': 'Согласование, подписанное лицом, подающим заявку'} %}
                {% endembed %}
        </div>
    </div>

{% endblock %}