{% extends base_template %}

{% block title %}
    {% if admin.id(object) is not null %}
        {{ "title_edit"|trans({'%name%': admin.toString(object)|truncate(15) }, 'SonataAdminBundle') }}
    {% else %}
        {{ "title_create"|trans({}, 'SonataAdminBundle') }}
    {% endif %}
{% endblock %}

{% block sonata_top_nav_menu_auto_saver_switcher %}
    {% include 'NKOOrderBundle:CRUD:autosave_checkbox.html.twig' %}
{% endblock %}

{% block navbar_title %}
    {{ block('title') }}
{% endblock %}

{% block tab_menu %}{{ knp_menu_render(admin.sidemenu(action), {'currentClass' : 'active', 'template': sonata_admin.adminPool.getTemplate('tab_menu_template')}, 'twig') }}{% endblock %}

{% use 'NKOOrderBundle:CRUD:base_edit_form_mark.html.twig' with form as parentForm %}
{% import "SonataAdminBundle:CRUD:base_edit_form_macro.html.twig" as form_helper %}

{% block form %}
    {{ block('parentForm') }}
    <script src="{{ asset('bundles/nkoorder/js/autosize.js') }}"></script>
    <script src="{{ asset('bundles/nkoorder/js/result_mark.js') }}"></script>
    <script src="{{ asset('bundles/nkoorder/js/periodical_saver.js') }}"></script>
    <script src="{{ asset('bundles/nkoorder/js/tables_control/additional.js') }}"></script>

{% endblock %}

{% block sonata_page_content_header %}
    <div style="font-size: 1.2em">
        Необходимо обязательно самостоятельно сохранять оценку перед тем, когда Вы планируете на какое-то время прервать работу над ней.
        В pdf и сводную таблицу оценок попадают только те версии оценки, в которых Вы кликнули "Отправить" или "Сохранить и отправить".
        Если необходимо одновременно открыть Мастер оценки на двух вкладках браузера, или в разных браузерах, или на двух компьютерах, отключите Автосохранение, иначе будут проблемы с сохранением данных.
    </div>
    {{ parent() }}
{% endblock sonata_page_content_header %}


