{% block field%}
    {% if document is null %}
    {% else %}
        {% if object|itm_file_exists(document) %}
            <div class="col-md-2">
                <div>
                    <div class="itm_file_preview_ico_c">
                        <a href="{{ admin.generateObjectUrl('download_document', history, {'document': document }) }}"
                           target="_blank">
                            <img src="{{ asset('bundles/nkodefault/images/download_file.png') }}"/>
                            <div class="itm_file_preview_info_c">
                                <h5>{{ fileName }}</h5>
                            </div>
                        </a>
                    </div>
                    <div class="itm_file_separator"></div>
                </div>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}