<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<title></title>
	<meta name="generator" content="LibreOffice 4.2.8.2 (Linux)">
	<meta name="created" content="0;0">
	<meta name="changed" content="20161110;115824703035023">
	<style type="text/css">
	<!--
		@page { size: 8.27in 11.69in; margin-left: 0.77in; margin-right: 1in; margin-top: 1in; margin-bottom: 1in }
		p { margin-bottom: 0.1in; color: #000000; line-height: 120% }
		td p { margin-bottom: 0.1in; color: #000000; line-height: 120% }
		a:link { so-language: zxx }
	-->
	</style>
</head>
<body lang="en-US" text="#000000" bgcolor="#ffffff" dir="ltr" style="background: #ffffff">
<p align="center" style="text-indent: 0.63in; margin-bottom: 0in; line-height: 115%">
<font size="3" style="font-size: 12pt"><b><span style="background: #ffffff">ОТЧЕТ</span></b></font></p>
<p style="margin-left: 0.31in; text-indent: -0.19in; margin-bottom: 0in; line-height: 115%; page-break-before: auto; page-break-after: auto">
<font size="3" style="font-size: 12pt"><b><span style="background: #ffffff">ВКЛАДКА
I. ОПИСАНИЕ ПРОЕКТА</span></b></font></p>
<p style="margin-bottom: 0in; line-height: 115%; page-break-before: auto; page-break-after: auto">
<font size="3" style="font-size: 12pt"><b><span style="background: #ffffff">1.
Получатель</span></b></font><span style="background: #ffffff">
</span><font size="3" style="font-size: 12pt"><span style="background: #ffffff">пожертвования
(полное наименование организации): {{
report.recipient }}</span></font></p>
<p style="margin-bottom: 0in; line-height: 115%; page-break-before: auto; page-break-after: auto">
<font size="3" style="font-size: 12pt"><b><span style="background: #ffffff">2.
Договор</span></b></font><span style="background: #ffffff">
</span><font size="3" style="font-size: 12pt"><span style="background: #ffffff">пожертвования
№: {{ report.contract }}</span></font></p>
<p style="margin-bottom: 0in; line-height: 115%; page-break-before: auto; page-break-after: auto">
<font size="3" style="font-size: 12pt"><b><span style="background: #ffffff">3.
Название проекта: {{ report.projectName }}</span></b></font></p>
<p style="margin-bottom: 0in; line-height: 115%; page-break-before: auto; page-break-after: auto">
<font size="3" style="font-size: 12pt"><b><span style="background: #ffffff">4.
Тематика</span></b></font><span style="background: #ffffff">
</span><font size="3" style="font-size: 12pt"><span style="background: #ffffff">стажировки:
{% if report.traineeshipTopic is not null %}{{
report.traineeshipTopic.topicName }}{% endif %}</span></font></p>
<p style="margin-bottom: 0in; line-height: 115%; page-break-before: auto; page-break-after: auto">
<font size="3" style="font-size: 12pt"><b><span style="background: #ffffff">5</span></b></font><font size="3" style="font-size: 12pt"><span style="background: #ffffff">.
</span></font><font size="3" style="font-size: 12pt"><b><span style="background: #ffffff">Организация</span></b></font><span style="background: #ffffff">
– </span><font size="3" style="font-size: 12pt"><span style="background: #ffffff">стажировочная
площадка: {% if report.organization is not null %}{{
report.organization.organizationName }}{% endif %}</span></font></p>
<p style="margin-bottom: 0in; line-height: 115%; page-break-before: auto; page-break-after: auto">
<font size="3" style="font-size: 12pt"><b><span style="background: #ffffff">6.</span></b></font><span style="background: #ffffff">
</span><font size="3" style="font-size: 12pt"><b><span style="background: #ffffff">Сроки
реализации</span></b></font><span style="background: #ffffff">
</span><font size="3" style="font-size: 12pt"><span style="background: #ffffff">проекта:
{{ report.deadLineStart | date("d.m.Y") }} - {{
report.deadLineFinish | date("d.m.Y") }}</span></font></p>
<p style="margin-bottom: 0in; line-height: 115%; page-break-before: auto; page-break-after: auto">
<font size="3" style="font-size: 12pt"><b><span style="background: #ffffff">7.</span></b></font><span style="background: #ffffff">
</span><font size="3" style="font-size: 12pt"><b><span style="background: #ffffff">Сумма</span></b></font><span style="background: #ffffff">
</span><font size="3" style="font-size: 12pt"><span style="background: #ffffff">пожертвования,
в руб.: {{ report.sumGrant }} </span></font>
</p>
<p style="margin-bottom: 0in; line-height: 115%; page-break-before: auto; page-break-after: auto">
<font size="3" style="font-size: 12pt"><b><span style="background: #ffffff">8.</span></b></font><span style="background: #ffffff">
</span><font size="3" style="font-size: 12pt"><b><span style="background: #ffffff">Уполномоченное
лицо</span></b></font></p>
<p style="text-indent: 0.13in; margin-bottom: 0in; line-height: 115%; page-break-before: auto; page-break-after: auto">
<font size="3" style="font-size: 12pt"><span style="background: #ffffff">ФИО:
{{ report.authorizedName }}</span></font></p>
<p style="text-indent: 0.13in; margin-bottom: 0in; line-height: 115%; page-break-before: auto; page-break-after: auto">
<font size="3" style="font-size: 12pt"><span style="background: #ffffff">Должность:
{{ report.authorizedPosition }}</span></font></p>
<p style="text-indent: 0.13in; margin-bottom: 0in; line-height: 115%; page-break-before: auto; page-break-after: auto">
<span style="background: #ffffff">   <font size="3" style="font-size: 12pt">Городской
телефон: +7 {{ report.authorizedPhoneCode }} {{
report.authorizedPhone }}</span></font></p>
<p style="text-indent: 0.13in; margin-bottom: 0in; line-height: 115%; page-break-before: auto; page-break-after: auto">
<span style="background: #ffffff">   <font size="3" style="font-size: 12pt">Мобильный
телефон: +7 {{ report.authorizedMobilePhoneCode }} {{
report.authorizedMobilePhone }}</span></font></p>
<p style="text-indent: 0.13in; margin-bottom: 0in; line-height: 115%; page-break-before: auto; page-break-after: auto">
<span style="background: #ffffff">   <font size="3" style="font-size: 12pt">Адрес
электронной почты: {{ report.authorizedEmail }}</span></font></p>
<p style="margin-bottom: 0in; line-height: 115%">
</p>
<p style="margin-bottom: 0in; line-height: 115%; page-break-before: auto; page-break-after: auto">
<font size="3" style="font-size: 12pt"><span style="background: #ffffff"><b>9.
Цель проекта:</b> <br>{{ report.purpose }}</span></font></p>
<p style="margin-bottom: 0in; line-height: 115%; page-break-before: auto; page-break-after: auto">
<font size="3" style="font-size: 12pt"><b><span style="background: #ffffff">10.
Обучающие мероприятия, в которых приняли
участие сотрудники организации в рамках
проекта</span></b></font></p><br>
<table width="900" cellpadding="7" cellspacing="0" style="page-break-before: auto; page-break-after: auto">
	<col width="45">
	<col width="171">
	<col width="171">
	<col width="171">
	<col width="190">
	<col width="152">
	<tr valign="top">
		<td width="45" style="border-top: 1.00pt solid #000000; border-bottom: 1.00pt solid #000000; border-left: 1.00pt solid #000000; border-right: 1.00pt solid #000000; padding: 0.07in">
			<p align="center" style="page-break-inside: auto; widows: 0; orphans: 0; page-break-after: auto">
			<span style="background: #ffffff">№ <font size="2" style="font-size: 11pt">п/п</font></span></p>
		</td>
		<td width="94" style="border-top: 1.00pt solid #000000; border-bottom: 1.00pt solid #000000; border-left: none; border-right: 1.00pt solid #000000; padding: 0.07in">
			<p align="center" style="margin-bottom: 0in; widows: 0; orphans: 0">
			<font size="2" style="font-size: 11pt"><span style="background: #ffffff">Название</span></font></p>
			<p align="center" style="widows: 0; orphans: 0"><font size="2" style="font-size: 11pt"><span style="background: #ffffff">мероприятия</span></font></p>
		</td>
		<td width="124" style="border-top: 1.00pt solid #000000; border-bottom: 1.00pt solid #000000; border-left: none; border-right: 1.00pt solid #000000; padding: 0.07in">
			<p align="center" style="margin-bottom: 0in; widows: 0; orphans: 0">
			<font size="2" style="font-size: 11pt"><span style="background: #ffffff">Формат</span></font></p>
			<p align="center" style="margin-bottom: 0in; widows: 0; orphans: 0">
			<font size="2" style="font-size: 11pt"><span style="background: #ffffff">мероприятия</span></font></p>
			<p align="center" style="page-break-inside: auto; widows: 0; orphans: 0; page-break-after: auto">
			<br>
			</p>
		</td>
		<td width="46" style="border-top: 1.00pt solid #000000; border-bottom: 1.00pt solid #000000; border-left: none; border-right: 1.00pt solid #000000; padding: 0.07in">
			<p align="center" style="page-break-inside: auto; widows: 0; orphans: 0; page-break-after: auto">
			<font size="2" style="font-size: 11pt"><span style="background: #ffffff">Сроки</span></font></p>
		</td>
		<td width="190" style="border-top: 1.00pt solid #000000; border-bottom: 1.00pt solid #000000; border-left: none; border-right: 1.00pt solid #000000; padding: 0.07in">
			<p align="center" style="margin-bottom: 0in; widows: 0; orphans: 0">
			<font size="2" style="font-size: 11pt"><span style="background: #ffffff">Место
			проведения</span></font></p>
			<p align="center" style="margin-bottom: 0in; widows: 0; orphans: 0">
			<font size="2" style="font-size: 11pt"><span style="background: #ffffff">(</span><i><span style="background: #ffffff">с
			указанием города и</span></i></font></p>
			<p align="center" style="widows: 0; orphans: 0"><font size="2" style="font-size: 11pt"><i><span style="background: #ffffff">организации</span></i><span style="background: #ffffff">)</span></font></p>
		</td>
		<td width="105" style="border-top: 1.00pt solid #000000; border-bottom: 1.00pt solid #000000; border-left: none; border-right: 1.00pt solid #000000; padding: 0.07in">
			<p align="center" style="margin-bottom: 0in; widows: 0; orphans: 0">
			<font size="2" style="font-size: 11pt"><span style="background: #ffffff">Число</span></font></p>
			<p align="center" style="widows: 0; orphans: 0"><font size="2" style="font-size: 11pt"><span style="background: #ffffff">участников
			{% set num = 0 %} {% for event in report.events %} {% set num =
			num + 1 %} </span></font>
			</p>
		</td>
	</tr>
	<tr valign="top">
		<td width="50" style="border-top: none; border-bottom: 1.00pt solid #000000; border-left: 1.00pt solid #000000; border-right: 1.00pt solid #000000; padding-top: 0in; padding-bottom: 0.02in; padding-left: 0.08in; padding-right: 0.08in">
			<p>{{ num }} 
			</p>
		</td>
		<td width="160" style="border-top: none; border-bottom: 1.00pt solid #000000; border-left: none; border-right: 1.00pt solid #000000; padding-top: 0in; padding-bottom: 0.02in; padding-left: 0in; padding-right: 0.08in">
			<p>{{ event.eventName }} 
			</p>
		</td>
		<td width="151" style="border-top: none; border-bottom: 1.00pt solid #000000; border-left: none; border-right: 1.00pt solid #000000; padding-top: 0in; padding-bottom: 0.02in; padding-left: 0in; padding-right: 0.08in">
			<p>{{ event.format }} 
			</p>
		</td>
		<td width="140" style="border-top: none; border-bottom: 1.00pt solid #000000; border-left: none; border-right: 1.00pt solid #000000; padding-top: 0in; padding-bottom: 0.02in; padding-left: 0in; padding-right: 0.08in">
			<p>{{ event.time }} 
			</p>
		</td>
		<td width="132" style="border-top: none; border-bottom: 1.00pt solid #000000; border-left: none; border-right: 1.00pt solid #000000; padding-top: 0in; padding-bottom: 0.02in; padding-left: 0in; padding-right: 0.08in">
			<p>{{ event.place }} 
			</p>
		</td>
		<td width="132" style="border-top: none; border-bottom: 1.00pt solid #000000; border-left: none; border-right: 1.00pt solid #000000; padding-top: 0in; padding-bottom: 0.02in; padding-left: 0in; padding-right: 0.08in">
			<p>{{ event.countMember }} {% endfor %} 
			</p>
		</td>
	</tr>
</table>
<p style="margin-bottom: 0in; line-height: 115%">
</p>
<p style="margin-left: 0.06in; margin-bottom: 0in; line-height: 115%; page-break-before: auto; page-break-after: auto">
<font size="3" style="font-size: 12pt"><b><span style="background: #ffffff">ВКЛАДКА
II. РЕЗУЛЬТАТЫ ПРОЕКТА</span></b></font></p>
<p style="margin-bottom: 0in; line-height: 115%; page-break-before: auto; page-break-after: auto">
<font size="3" style="font-size: 12pt"><b><span style="background: #ffffff">11.
ВНЕДРЕНИЕ ПОЛУЧЕННЫХ ЗНАНИЙ И ОПЫТА В
ДЕЯТЕЛЬНОСТЬ ОРГАНИЗАЦИИ</span></b></font></p>
<p style="margin-bottom: 0in; line-height: 115%; page-break-before: auto; page-break-after: auto">
<font size="3" style="font-size: 12pt"><span style="background: #ffffff">11.1.
Как именно в организации используются
</span></font><font size="3" style="font-size: 12pt"><b><span style="background: #ffffff">знания
и опыт</span></b></font><font size="3" style="font-size: 12pt"><span style="background: #ffffff">,
полученные в ходе проекта? Перечислите
конкретные действия, которые предприняты
в период реализации проекта (до 15 декабря
2016 г.). <br>{{ report.knowledgeUsage }} </span></font>
</p>
<p style="margin-bottom: 0in; line-height: 115%">
</p>
<p style="margin-bottom: 0in; line-height: 115%; page-break-before: auto; page-break-after: auto">
<font size="3" style="font-size: 12pt"><span style="background: #ffffff">11.2.
Как в дальнейшем </span></font><font size="3" style="font-size: 12pt"><b><span style="background: #ffffff">планируется
использовать знания и опыт</span></b></font><font size="3" style="font-size: 12pt"><span style="background: #ffffff">,
полученные в рамках проекта? Перечислите
конкретные действия, которые планируется
предпринять в период до 01.06.2017. <br>{{
report.planOfKnowledgeUsage }}</span></font></p>
<p style="margin-bottom: 0in; line-height: 115%">
</p>
<p style="margin-bottom: 0in; line-height: 115%; page-break-before: auto; page-break-after: auto">
<font size="3" style="font-size: 12pt"><b><span style="background: #ffffff">12.
РЕЗУЛЬТАТЫ ПРОЕКТА ДЛЯ СОТРУДНИКОВ
ОРГАНИЗАЦИИ</span></b></font></p>
<p style="margin-bottom: 0in; line-height: 115%; page-break-before: auto; page-break-after: auto">
<font size="3" style="font-size: 12pt"><b><span style="background: #ffffff">12.1.
Непосредственные результаты<br><br></span></b></font></p>
<table width="900" cellpadding="7" cellspacing="0" style="page-break-before: auto; page-break-after: auto">
	<col width="160">
	<col width="150">
	<col width="150">
	<col width="150">
	<col width="140">
	<col width="150">
	<tr valign="top">
		<td rowspan="2" width="159" style="border-top: 1.00pt solid #000000; border-bottom: 1.00pt solid #000000; border-left: 1.00pt solid #000000; border-right: 1.00pt solid #000000; padding: 0.07in">
			<p align="center" style="page-break-inside: auto; widows: 0; orphans: 0; page-break-after: auto">
			<font size="3" style="font-size: 12pt"><span style="background: #ffffff">Результат</span></font></p>
		</td>
		<td colspan="3" width="286" style="border-top: 1.00pt solid #000000; border-bottom: none; border-left: none; border-right: 1.00pt solid #000000; padding: 0.07in">
			<p align="center" style="page-break-inside: auto; widows: 0; orphans: 0; page-break-after: auto">
			<font size="3" style="font-size: 12pt"><span style="background: #ffffff">Целевые
			значения</span></font></p>
		</td>
		<td rowspan="2" width="88" style="border-top: 1.00pt solid #000000; border-bottom: 1.00pt solid #000000; border-left: none; border-right: 1.00pt solid #000000; padding: 0.07in">
			<p align="center" style="margin-bottom: 0in; widows: 0; orphans: 0">
			<font size="3" style="font-size: 12pt"><span style="background: #ffffff">Способ</span></font></p>
			<p align="center" style="margin-bottom: 0in; widows: 0; orphans: 0">
			<font size="3" style="font-size: 12pt"><span style="background: #ffffff">измерения</span></font></p>
			<p align="center" style="page-break-inside: auto; widows: 0; orphans: 0; page-break-after: auto">
			<br>
			</p>
		</td>
		<td rowspan="2" width="99" style="border-top: 1.00pt solid #000000; border-bottom: 1.00pt solid #000000; border-left: none; border-right: 1.00pt solid #000000; padding: 0.07in">
			<p align="center" style="page-break-inside: auto; widows: 0; orphans: 0; page-break-after: auto">
			<font size="3" style="font-size: 12pt"><span style="background: #ffffff">Комментарий</span></font></p>
		</td>
	</tr>
	<tr valign="top">
		<td width="82" style="border-top: 1.00pt solid #000000; border-bottom: 1.00pt solid #000000; border-left: none; border-right: 1.00pt solid #000000; padding: 0.07in">
			<p align="center" style="margin-bottom: 0in; widows: 0; orphans: 0">
			<font size="3" style="font-size: 12pt"><span style="background: #ffffff">План</span></font></p>
			<p align="center" style="margin-bottom: 0in; widows: 0; orphans: 0">
			<font size="3" style="font-size: 12pt"><span style="background: #ffffff">(на
			дату</span></font></p>
			<p align="center" style="margin-bottom: 0in; widows: 0; orphans: 0">
			<font size="3" style="font-size: 12pt"><span style="background: #ffffff">окончания</span></font></p>
			<p align="center" style="margin-bottom: 0in; widows: 0; orphans: 0">
			<font size="3" style="font-size: 12pt"><span style="background: #ffffff">проекта,</span></font></p>
			<p align="center" style="margin-bottom: 0in; widows: 0; orphans: 0">
			<font size="3" style="font-size: 12pt"><span style="background: #ffffff">согласно</span></font></p>
			<p align="center" style="margin-bottom: 0in; widows: 0; orphans: 0">
			<font size="3" style="font-size: 12pt"><span style="background: #ffffff">заявке)</span></font></p>
			<p align="center" style="page-break-inside: auto; widows: 0; orphans: 0; page-break-after: auto">
			<br>
			</p>
		</td>
		<td width="82" style="border-top: 1.00pt solid #000000; border-bottom: 1.00pt solid #000000; border-left: none; border-right: 1.00pt solid #000000; padding: 0.07in">
			<p align="center" style="margin-bottom: 0in; widows: 0; orphans: 0">
			<font size="3" style="font-size: 12pt"><span style="background: #ffffff">Факт</span></font></p>
			<p align="center" style="margin-bottom: 0in; widows: 0; orphans: 0">
			<font size="3" style="font-size: 12pt"><span style="background: #ffffff">(на
			дату</span></font></p>
			<p align="center" style="margin-bottom: 0in; widows: 0; orphans: 0">
			<font size="3" style="font-size: 12pt"><span style="background: #ffffff">окончания</span></font></p>
			<p align="center" style="widows: 0; orphans: 0"><font size="3" style="font-size: 12pt"><span style="background: #ffffff">проекта)</span></font></p>
		</td>
		<td width="94" style="border-top: 1.00pt solid #000000; border-bottom: 1.00pt solid #000000; border-left: none; border-right: 1.00pt solid #000000; padding: 0.07in">
			<p align="center" style="margin-bottom: 0in; widows: 0; orphans: 0">
			<font size="3" style="font-size: 12pt"><span style="background: #ffffff">Ожидается</span></font></p>
			<p align="center" style="margin-bottom: 0in; widows: 0; orphans: 0">
			<font size="3" style="font-size: 12pt"><span style="background: #ffffff">(на</span></font></p>
			<p align="center" style="widows: 0; orphans: 0"><font size="3" style="font-size: 12pt"><span style="background: #ffffff">01.06.2017)
			{% for result in report.immediateResults %} </span></font>
			</p>
		</td>
	</tr>
	<tr valign="top">
		<td width="50" style="border-top: none; border-bottom: 1.00pt solid #000000; border-left: 1.00pt solid #000000; border-right: 1.00pt solid #000000; padding-top: 0in; padding-bottom: 0.02in; padding-left: 0.08in; padding-right: 0.08in">
			<p>{{ result.resultCriteria }} 
			</p>
		</td>
		<td width="160" style="border-top: none; border-bottom: 1.00pt solid #000000; border-left: none; border-right: 1.00pt solid #000000; padding-top: 0in; padding-bottom: 0.02in; padding-left: 0in; padding-right: 0.08in">
			<p>{{ result.planValue }} 
			</p>
		</td>
		<td width="151" style="border-top: none; border-bottom: 1.00pt solid #000000; border-left: none; border-right: 1.00pt solid #000000; padding-top: 0in; padding-bottom: 0.02in; padding-left: 0in; padding-right: 0.08in">
			<p>{{ result.factValue }} 
			</p>
		</td>
		<td width="140" style="border-top: none; border-bottom: 1.00pt solid #000000; border-left: none; border-right: 1.00pt solid #000000; padding-top: 0in; padding-bottom: 0.02in; padding-left: 0in; padding-right: 0.08in">
			<p>{{ result.expectedValue }} 
			</p>
		</td>
		<td width="132" style="border-top: none; border-bottom: 1.00pt solid #000000; border-left: none; border-right: 1.00pt solid #000000; padding-top: 0in; padding-bottom: 0.02in; padding-left: 0in; padding-right: 0.08in">
			<p>{{ result.methodMeasurement }} 
			</p>
		</td>
		<td width="132" style="border-top: none; border-bottom: 1.00pt solid #000000; border-left: none; border-right: 1.00pt solid #000000; padding-top: 0in; padding-bottom: 0.02in; padding-left: 0in; padding-right: 0.08in">
			<p>{{ result.comment }} {% endfor %} 
			</p>
		</td>
	</tr>
</table>
<p style="margin-bottom: 0in; line-height: 115%">
</p>
<p style="margin-bottom: 0in; line-height: 115%">
</p>
<p style="margin-bottom: 0in; line-height: 115%; page-break-before: auto; page-break-after: auto">
<font size="3" style="font-size: 12pt"><b><span style="background: #ffffff">12.2.
Результаты, изменения у сотрудников
организации (членов общественного
объединения)<br><br></span></b></font></p>
<table width="950" cellpadding="7" cellspacing="0" style="page-break-before: auto; page-break-after: auto">
	<col width="45">
	<col width="129">
	<col width="129">
	<col width="129">
	<col width="129">
	<col width="129">
	<col width="129">
	<col width="129">
	<tr valign="top">
		<td rowspan="2" width="39" style="border-top: 1.00pt solid #000000; border-bottom: 1.00pt solid #000000; border-left: 1.00pt solid #000000; border-right: 1.00pt solid #000000; padding: 0.07in">
			<p style="widows: 0; orphans: 0"><span style="background: #ffffff">№
			</span><font size="2" style="font-size: 11pt"><span style="background: #ffffff">п/п
			№</span></font></p>
		</td>
		<td rowspan="2" width="70" style="border-top: 1.00pt solid #000000; border-bottom: 1.00pt solid #000000; border-left: none; border-right: 1.00pt solid #000000; padding: 0.07in">
			<p align="center" style="page-break-inside: auto; widows: 0; orphans: 0; page-break-after: auto">
			<font size="2" style="font-size: 11pt"><span style="background: #ffffff">Результат</span></font></p>
		</td>
		<td rowspan="2" width="76" style="border-top: 1.00pt solid #000000; border-bottom: 1.00pt solid #000000; border-left: none; border-right: 1.00pt solid #000000; padding: 0.07in">
			<p align="center" style="page-break-inside: auto; widows: 0; orphans: 0; page-break-after: auto">
			<font size="2" style="font-size: 11pt"><span style="background: #ffffff">Показатель</span></font></p>
		</td>
		<td colspan="3" width="262" style="border-top: 1.00pt solid #000000; border-bottom: none;  border-left: none; border-right: 1.00pt solid #000000; padding: 0.07in">
			<p align="center" style="page-break-inside: auto; widows: 0; orphans: 0; page-break-after: auto">
			<font size="2" style="font-size: 11pt"><span style="background: #ffffff">Целевые
			значения</span></font></p>
		</td>
		<td rowspan="2" width="76" style="border-top: 1.00pt solid #000000; border-bottom: 1.00pt solid #000000; border-left: none; border-right: 1.00pt solid #000000; padding: 0.07in">
			<p align="center" style="margin-bottom: 0in; widows: 0; orphans: 0">
			<font size="2" style="font-size: 11pt"><span style="background: #ffffff">Способ</span></font></p>
			<p align="center" style="margin-bottom: 0in; widows: 0; orphans: 0">
			<font size="2" style="font-size: 11pt"><span style="background: #ffffff">измерения</span></font></p>
			<p align="center" style="page-break-inside: auto; widows: 0; orphans: 0; page-break-after: auto">
			<br>
			</p>
		</td>
		<td rowspan="2" width="93" style="border-top: 1.00pt solid #000000; border-bottom: 1.00pt solid #000000; border-left: none; border-right: 1.00pt solid #000000; padding: 0.07in"">
			<p align="center" style="page-break-inside: auto; widows: 0; orphans: 0; page-break-after: auto">
			<font size="2" style="font-size: 11pt"><span style="background: #ffffff">Комментарий</span></font></p>
		</td>
	</tr>
	<tr valign="top">
		<td width="82" style="border-top: 1.00pt solid #000000; border-bottom: 1.00pt solid #000000; border-left: none; border-right: 1.00pt solid #000000; padding: 0.07in">
			<p align="center" style="margin-bottom: 0in; widows: 0; orphans: 0">
			<font size="2" style="font-size: 11pt"><span style="background: #ffffff">План</span></font></p>
			<p align="center" style="margin-bottom: 0in; widows: 0; orphans: 0">
			<font size="2" style="font-size: 11pt"><span style="background: #ffffff">(на
			дату</span></font></p>
			<p align="center" style="margin-bottom: 0in; widows: 0; orphans: 0">
			<font size="2" style="font-size: 11pt"><span style="background: #ffffff">окончания</span></font></p>
			<p align="center" style="margin-bottom: 0in; widows: 0; orphans: 0">
			<font size="2" style="font-size: 11pt"><span style="background: #ffffff">проекта,</span></font></p>
			<p align="center" style="margin-bottom: 0in; widows: 0; orphans: 0">
			<font size="2" style="font-size: 11pt"><span style="background: #ffffff">согласно</span></font></p>
			<p align="center" style="margin-bottom: 0in; widows: 0; orphans: 0">
			<font size="2" style="font-size: 11pt"><span style="background: #ffffff">заявке)</span></font></p>
			<p align="center" style="page-break-inside: auto; widows: 0; orphans: 0; page-break-after: auto">
			<br>
			</p>
		</td>
		<td width="70" style="border-top: 1.00pt solid #000000; border-bottom: 1.00pt solid #000000; border-left: none; border-right: 1.00pt solid #000000; padding: 0.07in">
			<p align="center" style="margin-bottom: 0in; widows: 0; orphans: 0">
			<font size="2" style="font-size: 11pt"><span style="background: #ffffff">Факт</span></font></p>
			<p align="center" style="margin-bottom: 0in; widows: 0; orphans: 0">
			<font size="2" style="font-size: 11pt"><span style="background: #ffffff">(на
			дату</span></font></p>
			<p align="center" style="margin-bottom: 0in; widows: 0; orphans: 0">
			<font size="2" style="font-size: 11pt"><span style="background: #ffffff">окончания</span></font></p>
			<p align="center" style="margin-bottom: 0in; widows: 0; orphans: 0">
			<font size="2" style="font-size: 11pt"><span style="background: #ffffff">проекта)</span></font></p>
			<p align="center" style="page-break-inside: auto; widows: 0; orphans: 0; page-break-after: auto">
			<br>
			</p>
		</td>
		<td width="82" style="border-top: 1.00pt solid #000000; border-bottom: 1.00pt solid #000000; border-left: none; border-right: 1.00pt solid #000000; padding: 0.07in">
			<p align="center" style="margin-bottom: 0in; widows: 0; orphans: 0">
			<font size="2" style="font-size: 11pt"><span style="background: #ffffff">Ожидается</span></font></p>
			<p align="center" style="margin-bottom: 0in; widows: 0; orphans: 0">
			<font size="2" style="font-size: 11pt"><span style="background: #ffffff">(на</span></font></p>
			<p align="center" style="widows: 0; orphans: 0"><font size="2" style="font-size: 11pt"><span style="background: #ffffff">01.06.2017)
			{% set num = 0 %} {% for result in report.employeeReportResults %}
			{% set num = num + 1 %} </span></font>
			</p>
		</td>
	</tr>
	<tr valign="top">
		<td width="50" style="border-top: none; border-bottom: 1.00pt solid #000000; border-left: 1.00pt solid #000000; border-right: 1.00pt solid #000000; padding-top: 0in; padding-bottom: 0.02in; padding-left: 0.08in; padding-right: 0.08in">
			<p>{{ num }} 
			</p>
		</td>
		<td width="160" style="border-top: none; border-bottom: 1.00pt solid #000000; border-left: none; border-right: 1.00pt solid #000000; padding-top: 0in; padding-bottom: 0.02in; padding-left: 0in; padding-right: 0.08in">
			<p>{{ result.result}} 
			</p>
		</td>
		<td width="151" style="border-top: none; border-bottom: 1.00pt solid #000000; border-left: none; border-right: 1.00pt solid #000000; padding-top: 0in; padding-bottom: 0.02in; padding-left: 0in; padding-right: 0.08in">
			<p>{{ result.indicator }} 
			</p>
		</td>
		<td width="140" style="border-top: none; border-bottom: 1.00pt solid #000000; border-left: none; border-right: 1.00pt solid #000000; padding-top: 0in; padding-bottom: 0.02in; padding-left: 0in; padding-right: 0.08in">
			<p>{{ result.planValue}} 
			</p>
		</td>
		<td width="132" style="border-top: none; border-bottom: 1.00pt solid #000000; border-left: none; border-right: 1.00pt solid #000000; padding-top: 0in; padding-bottom: 0.02in; padding-left: 0in; padding-right: 0.08in">
			<p>{{ result.factValue }} 
			</p>
		</td>
		<td width="132" style="border-top: none; border-bottom: 1.00pt solid #000000; border-left: none; border-right: 1.00pt solid #000000; padding-top: 0in; padding-bottom: 0.02in; padding-left: 0in; padding-right: 0.08in">
			<p>{{ result.expectedValue }} 
			</p>
		</td>
		<td width="132" style="border-top: none; border-bottom: 1.00pt solid #000000; border-left: none; border-right: 1.00pt solid #000000; padding-top: 0in; padding-bottom: 0.02in; padding-left: 0in; padding-right: 0.08in">
			<p>{{ result.methodMeasurement }} 
			</p>
		</td>
		<td width="132" style="border-top: none; border-bottom: 1.00pt solid #000000; border-left: none; border-right: 1.00pt solid #000000; padding-top: 0in; padding-bottom: 0.02in; padding-left: 0in; padding-right: 0.08in">
			<p>{{ result.comments }} {% endfor %} 
			</p>
		</td>
	</tr>
</table>
<p style="margin-bottom: 0in; line-height: 115%">
</p>
<p style="margin-bottom: 0in; line-height: 115%; page-break-before: auto; page-break-after: auto">
<font size="3" style="font-size: 12pt"><b><span style="background: #ffffff">13.
РЕЗУЛЬТАТЫ ДЛЯ БЛАГОПОЛУЧАТЕЛЕЙ</span></b></font></p>
<p style="margin-bottom: 0in; line-height: 115%; page-break-before: auto; page-break-after: auto">
<font size="3" style="font-size: 12pt"><span style="background: #ffffff"><b>13.1.
Основные целевые группы благополучателей:</b>
{% for beneficiaryGroup in report.beneficiaryGroups %} {{
beneficiaryGroup.groupName }} ; {% endfor %}</span></font></p>
<p style="margin-bottom: 0in; line-height: 115%">
</p>
<p style="margin-bottom: 0in; line-height: 115%; page-break-before: auto; page-break-after: auto">
<font size="3" style="font-size: 12pt"><b><span style="background: #ffffff">13.2.
Результаты, изменения у благополучателей</span></b></font></p>
<p style="margin-bottom: 0in; line-height: 115%">
</p>
<table width="950" cellpadding="7" cellspacing="0">
	<col width="45">
	<col width="129">
	<col width="129">
	<col width="129">
	<col width="129">
	<col width="129">
	<col width="129">
	<col width="129">
	<tr valign="top">
		<td rowspan="2" width="39" style="border-top: 1.00pt solid #000000; border-bottom: 1.00pt solid #000000; border-left: 1.00pt solid #000000; border-right: 1.00pt solid #000000; padding: 0.07in">
			<p align="center" style="widows: 0; orphans: 0"><span style="background: #ffffff">№
			<font size="2" style="font-size: 11pt">п/п</font></span></p>
		</td>
		<td rowspan="2" width="58" style="border-top: 1.00pt solid #000000; border-bottom: 1.00pt solid #000000; border-left: none; border-right: 1.00pt solid #000000; padding: 0.07in">
			<p align="center" style="widows: 0; orphans: 0"><font size="2" style="font-size: 11pt"><span style="background: #ffffff">Результат</span></font></p>
		</td>
		<td rowspan="2" width="76" style="border-top: 1.00pt solid #000000; border-bottom: 1.00pt solid #000000; border-left: none; border-right: 1.00pt solid #000000; padding: 0.07in">
			<p align="center" style="widows: 0; orphans: 0"><font size="2" style="font-size: 11pt"><span style="background: #ffffff">Показатель</span></font></p>
		</td>
		<td colspan="3" width="268" style="border-top: 1.00pt solid #000000; border-bottom: 1.none; border-left: none; border-right: 1.00pt solid #000000; padding: 0.07in">
			<p align="center" style="widows: 0; orphans: 0"><font size="2" style="font-size: 11pt"><span style="background: #ffffff">Целевые
			значения</span></font></p>
		</td>
		<td rowspan="2" width="70" style="border-top: 1.00pt solid #000000; border-bottom: 1.00pt solid #000000; border-left: none; border-right: 1.00pt solid #000000; padding: 0.07in">
			<p align="center" style="margin-bottom: 0in; widows: 0; orphans: 0">
			<font size="2" style="font-size: 11pt"><span style="background: #ffffff">Способ</span></font></p>
			<p align="center" style="margin-bottom: 0in; widows: 0; orphans: 0">
			<font size="2" style="font-size: 11pt"><span style="background: #ffffff">измерения</span></font></p>
			<p align="center" style="widows: 0; orphans: 0"><br>
			</p>
		</td>
		<td rowspan="2" width="81" style="border-top: 1.00pt solid #000000; border-bottom: 1.00pt solid #000000; border-left: none; border-right: 1.00pt solid #000000; padding: 0.07in">
			<p align="center" style="widows: 0; orphans: 0"><font size="2" style="font-size: 11pt"><span style="background: #ffffff">Комментарий</span></font></p>
		</td>
	</tr>
	<tr valign="top">
		<td width="82" style="border-top: 1.00pt solid #000000; border-bottom: 1.00pt solid #000000; border-left: none; border-right: 1.00pt solid #000000; padding: 0.07in">
			<p align="center" style="margin-bottom: 0in; widows: 0; orphans: 0">
			<font size="2" style="font-size: 11pt"><span style="background: #ffffff">План</span></font></p>
			<p align="center" style="margin-bottom: 0in; widows: 0; orphans: 0">
			<font size="2" style="font-size: 11pt"><span style="background: #ffffff">(на
			дату</span></font></p>
			<p align="center" style="margin-bottom: 0in; widows: 0; orphans: 0">
			<font size="2" style="font-size: 11pt"><span style="background: #ffffff">окончания</span></font></p>
			<p align="center" style="margin-bottom: 0in; widows: 0; orphans: 0">
			<font size="2" style="font-size: 11pt"><span style="background: #ffffff">проекта,</span></font></p>
			<p align="center" style="margin-bottom: 0in; widows: 0; orphans: 0">
			<font size="2" style="font-size: 11pt"><span style="background: #ffffff">согласно</span></font></p>
			<p align="center" style="margin-bottom: 0in; widows: 0; orphans: 0">
			<font size="2" style="font-size: 11pt"><span style="background: #ffffff">заявке)</span></font></p>
			<p align="center" style="widows: 0; orphans: 0"><br>
			</p>
		</td>
		<td width="76" style="border-top: 1.00pt solid #000000; border-bottom: 1.00pt solid #000000; border-left: none; border-right: 1.00pt solid #000000; padding: 0.07in">
			<p align="center" style="margin-bottom: 0in; widows: 0; orphans: 0">
			<font size="2" style="font-size: 11pt"><span style="background: #ffffff">Факт</span></font></p>
			<p align="center" style="margin-bottom: 0in; widows: 0; orphans: 0">
			<font size="2" style="font-size: 11pt"><span style="background: #ffffff">(на
			дату</span></font></p>
			<p align="center" style="margin-bottom: 0in; widows: 0; orphans: 0">
			<font size="2" style="font-size: 11pt"><span style="background: #ffffff">окончания</span></font></p>
			<p align="center" style="margin-bottom: 0in; widows: 0; orphans: 0">
			<font size="2" style="font-size: 11pt"><span style="background: #ffffff">проекта)</span></font></p>
			<p align="center" style="widows: 0; orphans: 0"><br>
			</p>
		</td>
		<td width="82" style="border-top: 1.00pt solid #000000; border-bottom: 1.00pt solid #000000; border-left: none; border-right: 1.00pt solid #000000; padding: 0.07in">
			<p align="center" style="margin-bottom: 0in; widows: 0; orphans: 0">
			<font size="2" style="font-size: 11pt"><span style="background: #ffffff">Ожидается</span></font></p>
			<p align="center" style="margin-bottom: 0in; widows: 0; orphans: 0">
			<font size="2" style="font-size: 11pt"><span style="background: #ffffff">(на</span></font></p>
			<p align="center" style="widows: 0; orphans: 0"><font size="2" style="font-size: 11pt"><span style="background: #ffffff">01.06.2017)
			{% set num = 0 %} {% for result in report.beneficiaryReportResults
			%} {% set num = num + 1 %} </span></font>
			</p>
		</td>
	</tr>
	<tr valign="top">
		<td width="50" style="border-top: none; border-bottom: 1.00pt solid #000000; border-left: 1.00pt solid #000000; border-right: 1.00pt solid #000000; padding-top: 0in; padding-bottom: 0.02in; padding-left: 0.08in; padding-right: 0.08in">
			<p>{{ num }} 
			</p>
		</td>
		<td width="160" style="border-top: none; border-bottom: 1.00pt solid #000000; border-left: none; border-right: 1.00pt solid #000000; padding-top: 0in; padding-bottom: 0.02in; padding-left: 0in; padding-right: 0.08in">
			<p>{{ result.result}} 
			</p>
		</td>
		<td width="151" style="border-top: none; border-bottom: 1.00pt solid #000000; border-left: none; border-right: 1.00pt solid #000000; padding-top: 0in; padding-bottom: 0.02in; padding-left: 0in; padding-right: 0.08in">
			<p>{{ result.indicator }} 
			</p>
		</td>
		<td width="140" style="border-top: none; border-bottom: 1.00pt solid #000000; border-left: none; border-right: 1.00pt solid #000000; padding-top: 0in; padding-bottom: 0.02in; padding-left: 0in; padding-right: 0.08in">
			<p>{{ result.planValue}} 
			</p>
		</td>
		<td width="132" style="border-top: none; border-bottom: 1.00pt solid #000000; border-left: none; border-right: 1.00pt solid #000000; padding-top: 0in; padding-bottom: 0.02in; padding-left: 0in; padding-right: 0.08in">
			<p>{{ result.factValue }} 
			</p>
		</td>
		<td width="132" style="border-top: none; border-bottom: 1.00pt solid #000000; border-left: none; border-right: 1.00pt solid #000000; padding-top: 0in; padding-bottom: 0.02in; padding-left: 0in; padding-right: 0.08in">
			<p>{{ result.expectedValue }} 
			</p>
		</td>
		<td width="132" style="border-top: none; border-bottom: 1.00pt solid #000000; border-left: none; border-right: 1.00pt solid #000000; padding-top: 0in; padding-bottom: 0.02in; padding-left: 0in; padding-right: 0.08in">
			<p>{{ result.methodMeasurement }} 
			</p>
		</td>
		<td width="132" style="border-top: none; border-bottom: 1.00pt solid #000000; border-left: none; border-right: 1.00pt solid #000000; padding-top: 0in; padding-bottom: 0.02in; padding-left: 0in; padding-right: 0.08in">
			<p>{{ result.comments }} {% endfor %} 
			</p>
		</td>
	</tr>
</table>
<p style="margin-bottom: 0in; line-height: 115%">
</p>
<p style="margin-bottom: 0in; line-height: 115%; page-break-before: auto; page-break-after: auto">
<font size="3" style="font-size: 12pt"><span style="background: #ffffff"><b>14.
Были ли проведены все мероприятия,
которые планировалось провести в
отчетный период в полном объеме и в
запланированные </b><br>{{ report.pastEvents }} </span></font>
</p>
<p style="margin-bottom: 0in; line-height: 115%">
</p>
<p style="margin-bottom: 0in; line-height: 115%; page-break-before: auto; page-break-after: auto">
<font size="3" style="font-size: 12pt"><b><span style="background: #ffffff">15.
</span></b></font><font size="3" style="font-size: 12pt"><b><span style="background: #ffffff">ИЗВЛЕЧЕННЫЕ
УРОКИ</span></b></font></p>
<p style="margin-bottom: 0in; line-height: 115%; page-break-before: auto; page-break-after: auto">
<font size="3" style="font-size: 12pt"><b><span style="background: #ffffff">15.1.
Трудности </span></b></font><font size="3" style="font-size: 12pt"><span style="background: #ffffff">или
непредвиденные обстоятельства,
потребовавшие привлечения дополнительных
ресурсов и/или повлиявших на процесс
реализации Проекта; «мелочи», которые
упустили, но которые оказались важны
(в отношении практики).<br>{{
report.difficulties }}</span></font></p>
<p style="margin-bottom: 0in; line-height: 115%">
</p>
<p style="margin-bottom: 0in; line-height: 115%; page-break-before: auto; page-break-after: auto">
<font size="3" style="font-size: 12pt"><span style="background: #ffffff">15.2.
</span></font><font size="3" style="font-size: 12pt"><b><span style="background: #ffffff">Пути
решения проблем</span></b></font><font size="3" style="font-size: 12pt"><span style="background: #ffffff">/способы
выхода из затруднительных ситуаций.
Краткий анализ, что мешало, что
помогало.<br>{{ report.solvingProblemsWays }}</span></font></p>
<p style="margin-bottom: 0in; line-height: 115%">
</p>
<p style="margin-bottom: 0in; line-height: 115%; page-break-before: auto; page-break-after: auto">
<font size="3" style="font-size: 12pt"><span style="background: #ffffff">15.3.
</span></font><font size="3" style="font-size: 12pt"><b><span style="background: #ffffff">Рекомендации
«самим себе»</span></b></font><span style="background: #ffffff">
</span><font size="3" style="font-size: 12pt"><span style="background: #ffffff">по
подготовке, реализации, мониторингу и
оценке проекта. <br>{{ report.recommendations }}</span></font></p>
<p style="margin-bottom: 0in; line-height: 115%; page-break-before: auto; page-break-after: auto">
<font size="3" style="font-size: 12pt"><span style="background: #ffffff">16.
</span></font><font size="3" style="font-size: 12pt"><b><span style="background: #ffffff">Истории
успеха</span></b></font><font size="3" style="font-size: 12pt"><span style="background: #ffffff">,
чем гордитесь<br>{{ report.successStory }}</span></font></p>
<p style="margin-bottom: 0in; line-height: 115%; page-break-before: auto; page-break-after: auto">
<font size="3" style="font-size: 12pt"><span style="background: #ffffff"><b>17.
Прямая обратная связь от сотрудников
(членов) организации и благополучателей
</b><br>{{ report.feedback }}</span></font></p>
<p style="margin-bottom: 0in; line-height: 115%">
</p>
<p style="margin-bottom: 0in; line-height: 115%; page-break-before: auto; page-break-after: auto">
<font size="3" style="font-size: 12pt"><b><span style="background: #ffffff">ВКЛАДКА
III. ФИНАНСОВЫЙ ОТЧЁТ</span></b></font></p>
<p style="margin-bottom: 0in; line-height: 115%; page-break-before: auto; page-break-after: auto">
<font size="3" style="font-size: 12pt"><b><span style="background: #ffffff">РЕЕСТР
РАСХОДОВ</span></b></font></p>
<p style="margin-bottom: 0in; line-height: 115%; page-break-before: auto; page-break-after: auto">
<font size="3" style="font-size: 12pt"><b><span style="background: #ffffff">1.
Транспортные и прочие расходы на поездку
к месту стажировки/обучающего мероприятия</span></b></font></p>
<p style="margin-bottom: 0in; line-height: 115%">
</p>
<table width="900" cellpadding="7" cellspacing="0" style="page-break-before: auto; page-break-after: auto">
	<col width="213">
	<col width="213">
	<col width="213">
	<col width="213">
	<col width="213">
	<tr valign="top">
		<td width="45" style="border-top: 1.00pt solid #000000; border-bottom: 1.00pt solid #000000; border-left: 1.00pt solid #000000; border-right: 1.00pt solid #000000; padding: 0.07in">
			<p style="page-break-inside: auto; widows: 0; orphans: 0; page-break-after: auto">
			<span style="background: #ffffff">№ <font size="3" style="font-size: 12pt">п/п</font></span></p>
		</td>
		<td width="184" style="border-top: 1.00pt solid #000000; border-bottom: 1.00pt solid #000000; border-left: none; border-right: 1.00pt solid #000000; padding: 0.07in">
			<p style="margin-bottom: 0in; widows: 0; orphans: 0"><font size="3" style="font-size: 12pt"><span style="background: #ffffff">Документ,</span></font></p>
			<p style="margin-bottom: 0in; widows: 0; orphans: 0"><font size="3" style="font-size: 12pt"><span style="background: #ffffff">подтверждающий</span></font></p>
			<p style="margin-bottom: 0in; widows: 0; orphans: 0"><font size="3" style="font-size: 12pt"><span style="background: #ffffff">произведенные</span></font></p>
			<p style="margin-bottom: 0in; widows: 0; orphans: 0"><font size="3" style="font-size: 12pt"><span style="background: #ffffff">расходы
			(No, дата и</span></font></p>
			<p style="margin-bottom: 0in; widows: 0; orphans: 0"><font size="3" style="font-size: 12pt"><span style="background: #ffffff">наименование</span></font></p>
			<p style="widows: 0; orphans: 0"><font size="3" style="font-size: 12pt"><span style="background: #ffffff">документа)</span></font></p>
		</td>
		<td width="196" style="border-top: 1.00pt solid #000000; border-bottom: 1.00pt solid #000000; border-left: none; border-right: 1.00pt solid #000000; padding: 0.07in">
			<p style="margin-bottom: 0in; widows: 0; orphans: 0"><font size="3" style="font-size: 12pt"><span style="background: #ffffff">Документ(-ы),
			подтверждающий</span></font></p>
			<p style="margin-bottom: 0in; widows: 0; orphans: 0"><font size="3" style="font-size: 12pt"><span style="background: #ffffff">получение
			оплаченных</span></font></p>
			<p style="margin-bottom: 0in; widows: 0; orphans: 0"><font size="3" style="font-size: 12pt"><span style="background: #ffffff">товаров/услуг
			(№, дата и</span></font></p>
			<p style="margin-bottom: 0in; widows: 0; orphans: 0"><font size="3" style="font-size: 12pt"><span style="background: #ffffff">наименование
			документа)</span></font></p>
			<p style="page-break-inside: auto; widows: 0; orphans: 0; page-break-after: auto">
			<br>
			</p>
		</td>
		<td width="112" style="border-top: 1.00pt solid #000000; border-bottom: 1.00pt solid #000000; border-left: none; border-right: 1.00pt solid #000000; padding: 0.07in">
			<p style="margin-bottom: 0in; widows: 0; orphans: 0"><font size="3" style="font-size: 12pt"><span style="background: #ffffff">Наименование</span></font></p>
			<p style="margin-bottom: 0in; widows: 0; orphans: 0"><font size="3" style="font-size: 12pt"><span style="background: #ffffff">расхода</span></font></p>
			<p style="page-break-inside: auto; widows: 0; orphans: 0; page-break-after: auto">
			<br>
			</p>
		</td>
		<td width="69" style="border-top: 1.00pt solid #000000; border-bottom: 1.00pt solid #000000; border-left: none; border-right: 1.00pt solid #000000; padding: 0.07in">
			<p style="page-break-inside: auto; widows: 0; orphans: 0; page-break-after: auto">
			<font size="3" style="font-size: 12pt"><span style="background: #ffffff">Сумма,
			руб. {% set num = 0 %} {% for cost in report.transportCosts %}
			{% set num = num + 1 %} </span></font>
			</p>
		</td>
	</tr>
	<tr valign="top">
		<td width="50" style="border-top: none; border-bottom: 1.00pt solid #000000; border-left: 1.00pt solid #000000; border-right: 1.00pt solid #000000; padding-top: 0in; padding-bottom: 0.02in; padding-left: 0.08in; padding-right: 0.08in">
			<p>{{ num }} 
			</p>
		</td>
		<td width="160" style="border-top: none; border-bottom: 1.00pt solid #000000; border-left: none; border-right: 1.00pt solid #000000; padding-top: 0in; padding-bottom: 0.02in; padding-left: 0in; padding-right: 0.08in">
			<p>{{ cost.proofProductCostDocument}} 
			</p>
		</td>
		<td width="151" style="border-top: none; border-bottom: 1.00pt solid #000000; border-left: none; border-right: 1.00pt solid #000000; padding-top: 0in; padding-bottom: 0.02in; padding-left: 0in; padding-right: 0.08in">
			<p>{{ cost.proofPaidGoodsDocument }} 
			</p>
		</td>
		<td width="140" style="border-top: none; border-bottom: 1.00pt solid #000000; border-left: none; border-right: 1.00pt solid #000000; padding-top: 0in; padding-bottom: 0.02in; padding-left: 0in; padding-right: 0.08in">
			<p>{{ cost.name}} 
			</p>
		</td>
		<td width="132" style="border-top: none; border-bottom: 1.00pt solid #000000; border-left: none; border-right: 1.00pt solid #000000; padding-top: 0in; padding-bottom: 0.02in; padding-left: 0in; padding-right: 0.08in">
			<p>{{ cost.sum }} {% endfor %} 
			</p>
		</td>
	</tr>
</table>
<p style="margin-bottom: 0in; line-height: 115%">
</p>
<p style="margin-bottom: 0in; line-height: 115%; page-break-before: auto; page-break-after: auto">
<font size="3" style="font-size: 12pt"><b><span style="background: #ffffff">Итого:
</span></b>{{report.totalTransportCost }}</font></p>
<p style="margin-bottom: 0in; line-height: 115%">
</p>
<p style="margin-bottom: 0in; line-height: 115%; page-break-before: auto; page-break-after: auto">
<font size="3" style="font-size: 12pt"><b><span style="background: #ffffff">2.
Оплата привлеченных организаций/
специалистов (включая налоги и страховые
взносы) и сопутствующие расходы</span></b></font></p><br>
<table width="900" cellpadding="7" cellspacing="0">
	<col width="45">
	<col width="213">
	<col width="213">
	<col width="213">
	<col width="213">
	<tr valign="top">
		<td width="57" style="border-top: 1.00pt solid #000000; border-bottom: 1.00pt solid #000000; border-left: 1.00pt solid #000000; border-right: 1.00pt solid #000000; padding: 0.07in">
			<p style="widows: 0; orphans: 0"><span style="background: #ffffff">№
			<font size="3" style="font-size: 12pt">п/п</font></span></p>
		</td>
		<td width="172" style="border-top: 1.00pt solid #000000; border-bottom: 1.00pt solid #000000; border-left: none; border-right: 1.00pt solid #000000; padding: 0.07in">
			<p style="margin-bottom: 0in; widows: 0; orphans: 0"><font size="3" style="font-size: 12pt"><span style="background: #ffffff">Документ,</span></font></p>
			<p style="margin-bottom: 0in; widows: 0; orphans: 0"><font size="3" style="font-size: 12pt"><span style="background: #ffffff">подтверждающий</span></font></p>
			<p style="margin-bottom: 0in; widows: 0; orphans: 0"><font size="3" style="font-size: 12pt"><span style="background: #ffffff">произведенные</span></font></p>
			<p style="margin-bottom: 0in; widows: 0; orphans: 0"><font size="3" style="font-size: 12pt"><span style="background: #ffffff">расходы
			(No, дата и</span></font></p>
			<p style="margin-bottom: 0in; widows: 0; orphans: 0"><font size="3" style="font-size: 12pt"><span style="background: #ffffff">наименование</span></font></p>
			<p style="widows: 0; orphans: 0"><font size="3" style="font-size: 12pt"><span style="background: #ffffff">документа)</span></font></p>
		</td>
		<td width="190" style="border-top: 1.00pt solid #000000; border-bottom: 1.00pt solid #000000; border-left: none; border-right: 1.00pt solid #000000; padding: 0.07in">
			<p style="margin-bottom: 0in; widows: 0; orphans: 0"><font size="3" style="font-size: 12pt"><span style="background: #ffffff">Документ(-ы),
			подтверждающий</span></font></p>
			<p style="margin-bottom: 0in; widows: 0; orphans: 0"><font size="3" style="font-size: 12pt"><span style="background: #ffffff">получение
			оплаченных</span></font></p>
			<p style="margin-bottom: 0in; widows: 0; orphans: 0"><font size="3" style="font-size: 12pt"><span style="background: #ffffff">товаров/услуг
			(№, дата и</span></font></p>
			<p style="margin-bottom: 0in; widows: 0; orphans: 0"><font size="3" style="font-size: 12pt"><span style="background: #ffffff">наименование
			документа)</span></font></p>
			<p style="widows: 0; orphans: 0"><br>
			</p>
		</td>
		<td width="118" style="border-top: 1.00pt solid #000000; border-bottom: 1.00pt solid #000000; border-left: none; border-right: 1.00pt solid #000000; padding: 0.07in">
			<p style="margin-bottom: 0in; widows: 0; orphans: 0"><font size="3" style="font-size: 12pt"><span style="background: #ffffff">Наименование</span></font></p>
			<p style="margin-bottom: 0in; widows: 0; orphans: 0"><font size="3" style="font-size: 12pt"><span style="background: #ffffff">расхода</span></font></p>
			<p style="widows: 0; orphans: 0"><br>
			</p>
		</td>
		<td width="75" style="border-top: 1.00pt solid #000000; border-bottom: 1.00pt solid #000000; border-left: none; border-right: 1.00pt solid #000000; padding: 0.07in">
			<p style="widows: 0; orphans: 0"><font size="3" style="font-size: 12pt"><span style="background: #ffffff">Сумма,
			руб. {% set num = 0 %} {% for cost in report.involvedCosts %}
			{% set num = num + 1 %} </span></font>
			</p>
		</td>
	</tr>
	<tr valign="top">
		<td width="50" style="border-top: none; border-bottom: 1.00pt solid #000000; border-left: 1.00pt solid #000000; border-right: 1.00pt solid #000000; padding-top: 0in; padding-bottom: 0.02in; padding-left: 0.08in; padding-right: 0.08in">
			<p>{{ num }} 
			</p>
		</td>
		<td width="160" style="border-top: none; border-bottom: 1.00pt solid #000000; border-left: none; border-right: 1.00pt solid #000000; padding-top: 0in; padding-bottom: 0.02in; padding-left: 0in; padding-right: 0.08in">
			<p>{{ cost.proofProductCostDocument}} 
			</p>
		</td>
		<td width="151" style="border-top: none; border-bottom: 1.00pt solid #000000; border-left: none; border-right: 1.00pt solid #000000; padding-top: 0in; padding-bottom: 0.02in; padding-left: 0in; padding-right: 0.08in">
			<p>{{ cost.proofPaidGoodsDocument }} 
			</p>
		</td>
		<td width="140" style="border-top: none; border-bottom: 1.00pt solid #000000; border-left: none; border-right: 1.00pt solid #000000; padding-top: 0in; padding-bottom: 0.02in; padding-left: 0in; padding-right: 0.08in">
			<p>{{ cost.name}} 
			</p>
		</td>
		<td width="132" style="border-top: none; border-bottom: 1.00pt solid #000000; border-left: none; border-right: 1.00pt solid #000000; padding-top: 0in; padding-bottom: 0.02in; padding-left: 0in; padding-right: 0.08in">
			<p>{{ cost.sum }} {% endfor %} 
			</p>
		</td>
	</tr>
</table>
<p style="margin-bottom: 0in; line-height: 115%">
</p>
<p style="margin-bottom: 0in; line-height: 115%; page-break-before: auto; page-break-after: auto">
<font size="3" style="font-size: 12pt"><b><span style="background: #ffffff">Итого:
</span></b>{{ report.totalInvolvedCost }}</font></p>
<p style="margin-bottom: 0in; line-height: 115%">
</p>
<p align="left" style="margin-bottom: 0in; line-height: 115%; page-break-before: auto; page-break-after: auto">
<font size="3" style="font-size: 12pt"><b><span style="background: #ffffff">3.
Расходы на последующие мероприятия по
внедрению полученных знаний и опыта</span></b></font></p><br>
<table width="900" cellpadding="7" cellspacing="0">
	<col width="45">
	<col width="213">
	<col width="213">
	<col width="213">
	<col width="213">
	<tr valign="top">
		<td width="51" style="border-top: 1.00pt solid #000000; border-bottom: 1.00pt solid #000000; border-left: 1.00pt solid #000000; border-right: 1.00pt solid #000000; padding: 0.07in">
			<p style="widows: 0; orphans: 0"><span style="background: #ffffff">№
			<font size="3" style="font-size: 12pt">п/п</font></span></p>
		</td>
		<td width="172" style="border-top: 1.00pt solid #000000; border-bottom: 1.00pt solid #000000; border-left: none; border-right: 1.00pt solid #000000; padding: 0.07in">
			<p style="margin-bottom: 0in; widows: 0; orphans: 0"><font size="3" style="font-size: 12pt"><span style="background: #ffffff">Документ,</span></font></p>
			<p style="margin-bottom: 0in; widows: 0; orphans: 0"><font size="3" style="font-size: 12pt"><span style="background: #ffffff">подтверждающий</span></font></p>
			<p style="margin-bottom: 0in; widows: 0; orphans: 0"><font size="3" style="font-size: 12pt"><span style="background: #ffffff">произведенные</span></font></p>
			<p style="margin-bottom: 0in; widows: 0; orphans: 0"><font size="3" style="font-size: 12pt"><span style="background: #ffffff">расходы
			(No, дата и</span></font></p>
			<p style="margin-bottom: 0in; widows: 0; orphans: 0"><font size="3" style="font-size: 12pt"><span style="background: #ffffff">наименование</span></font></p>
			<p style="widows: 0; orphans: 0"><font size="3" style="font-size: 12pt"><span style="background: #ffffff">документа)</span></font></p>
		</td>
		<td width="190" style="border-top: 1.00pt solid #000000; border-bottom: 1.00pt solid #000000; border-left: none; border-right: 1.00pt solid #000000; padding: 0.07in">
			<p style="margin-bottom: 0in; widows: 0; orphans: 0"><font size="3" style="font-size: 12pt"><span style="background: #ffffff">Документ(-ы),
			подтверждающий</span></font></p>
			<p style="margin-bottom: 0in; widows: 0; orphans: 0"><font size="3" style="font-size: 12pt"><span style="background: #ffffff">получение
			оплаченных</span></font></p>
			<p style="margin-bottom: 0in; widows: 0; orphans: 0"><font size="3" style="font-size: 12pt"><span style="background: #ffffff">товаров/услуг
			(№, дата и</span></font></p>
			<p style="margin-bottom: 0in; widows: 0; orphans: 0"><font size="3" style="font-size: 12pt"><span style="background: #ffffff">наименование
			документа)</span></font></p>
			<p style="widows: 0; orphans: 0"><br>
			</p>
		</td>
		<td width="118" style="border-top: 1.00pt solid #000000; border-bottom: 1.00pt solid #000000; border-left: none; border-right: 1.00pt solid #000000; padding: 0.07in">
			<p style="margin-bottom: 0in; widows: 0; orphans: 0"><font size="3" style="font-size: 12pt"><span style="background: #ffffff">Наименование</span></font></p>
			<p style="margin-bottom: 0in; widows: 0; orphans: 0"><font size="3" style="font-size: 12pt"><span style="background: #ffffff">расхода</span></font></p>
			<p style="widows: 0; orphans: 0"><br>
			</p>
		</td>
		<td width="75" style="border-top: 1.00pt solid #000000; border-bottom: 1.00pt solid #000000; border-left: none; border-right: 1.00pt solid #000000; padding: 0.07in">
			<p style="widows: 0; orphans: 0"><font size="3" style="font-size: 12pt"><span style="background: #ffffff">Сумма,
			руб. {% set num = 0 %} {% for cost in report.eventCosts %} {%
			set num = num + 1 %} </span></font>
			</p>
		</td>
	</tr>
	<tr valign="top">
		<td width="50" style="border-top: none; border-bottom: 1.00pt solid #000000; border-left: 1.00pt solid #000000; border-right: 1.00pt solid #000000; padding-top: 0in; padding-bottom: 0.02in; padding-left: 0.08in; padding-right: 0.08in">
			<p>{{ num }} 
			</p>
		</td>
		<td width="160" style="border-top: none; border-bottom: 1.00pt solid #000000; border-left: none; border-right: 1.00pt solid #000000; padding-top: 0in; padding-bottom: 0.02in; padding-left: 0in; padding-right: 0.08in">
			<p>{{ cost.proofProductCostDocument}} 
			</p>
		</td>
		<td width="151" style="border-top: none; border-bottom: 1.00pt solid #000000; border-left: none; border-right: 1.00pt solid #000000; padding-top: 0in; padding-bottom: 0.02in; padding-left: 0in; padding-right: 0.08in">
			<p>{{ cost.proofPaidGoodsDocument }} 
			</p>
		</td>
		<td width="140" style="border-top: none; border-bottom: 1.00pt solid #000000; border-left: none; border-right: 1.00pt solid #000000; padding-top: 0in; padding-bottom: 0.02in; padding-left: 0in; padding-right: 0.08in">
			<p>{{ cost.name}} 
			</p>
		</td>
		<td width="132" style="border-top: none; border-bottom: 1.00pt solid #000000; border-left: none; border-right: 1.00pt solid #000000; padding-top: 0in; padding-bottom: 0.02in; padding-left: 0in; padding-right: 0.08in">
			<p>{{ cost.sum }} {% endfor %} 
			</p>
		</td>
	</tr>
</table>
<p style="margin-bottom: 0in; line-height: 115%">
</p>
<p style="margin-bottom: 0in; line-height: 115%; page-break-before: auto; page-break-after: auto">
<font size="3" style="font-size: 12pt"><b><span style="background: #ffffff">Итого:
</span></b>{{ report.totalEventCost }}</font></p>
<p style="margin-bottom: 0in; line-height: 115%">
</p>
<p style="margin-bottom: 0in; line-height: 115%; page-break-before: auto; page-break-after: auto">
<font size="3" style="font-size: 12pt"><b><span style="background: #ffffff">4.
Иные расходы</span></b></font></p><br>
<table width="900" cellpadding="7" cellspacing="0">
	<col width="45">
	<col width="213">
	<col width="213">
	<col width="213">
	<col width="213">
	<tr valign="top">
		<td width="45" style="border-top: 1.00pt solid #000000; border-bottom: 1.00pt solid #000000; border-left: 1.00pt solid #000000; border-right: 1.00pt solid #000000; padding: 0.07in">
			<p style="widows: 0; orphans: 0"><span style="background: #ffffff">№
			<font size="3" style="font-size: 12pt">п/п</font></span></p>
		</td>
		<td width="172" style="border-top: 1.00pt solid #000000; border-bottom: 1.00pt solid #000000; border-left: none; border-right: 1.00pt solid #000000; padding: 0.07in">
			<p style="margin-bottom: 0in; widows: 0; orphans: 0"><font size="3" style="font-size: 12pt"><span style="background: #ffffff">Документ,</span></font></p>
			<p style="margin-bottom: 0in; widows: 0; orphans: 0"><font size="3" style="font-size: 12pt"><span style="background: #ffffff">подтверждающий</span></font></p>
			<p style="margin-bottom: 0in; widows: 0; orphans: 0"><font size="3" style="font-size: 12pt"><span style="background: #ffffff">произведенные</span></font></p>
			<p style="margin-bottom: 0in; widows: 0; orphans: 0"><font size="3" style="font-size: 12pt"><span style="background: #ffffff">расходы
			(No, дата и</span></font></p>
			<p style="margin-bottom: 0in; widows: 0; orphans: 0"><font size="3" style="font-size: 12pt"><span style="background: #ffffff">наименование</span></font></p>
			<p style="widows: 0; orphans: 0"><font size="3" style="font-size: 12pt"><span style="background: #ffffff">документа)</span></font></p>
		</td>
		<td width="190" style="border-top: 1.00pt solid #000000; border-bottom: 1.00pt solid #000000; border-left: none; border-right: 1.00pt solid #000000; padding: 0.07in">
			<p style="margin-bottom: 0in; widows: 0; orphans: 0"><font size="3" style="font-size: 12pt"><span style="background: #ffffff">Документ(-ы),
			подтверждающий</span></font></p>
			<p style="margin-bottom: 0in; widows: 0; orphans: 0"><font size="3" style="font-size: 12pt"><span style="background: #ffffff">получение
			оплаченных</span></font></p>
			<p style="margin-bottom: 0in; widows: 0; orphans: 0"><font size="3" style="font-size: 12pt"><span style="background: #ffffff">товаров/услуг
			(№, дата и</span></font></p>
			<p style="margin-bottom: 0in; widows: 0; orphans: 0"><font size="3" style="font-size: 12pt"><span style="background: #ffffff">наименование
			документа)</span></font></p>
			<p style="widows: 0; orphans: 0"><br>
			</p>
		</td>
		<td width="118" style="border-top: 1.00pt solid #000000; border-bottom: 1.00pt solid #000000; border-left: none; border-right: 1.00pt solid #000000; padding: 0.07in">
			<p style="margin-bottom: 0in; widows: 0; orphans: 0"><font size="3" style="font-size: 12pt"><span style="background: #ffffff">Наименование</span></font></p>
			<p style="margin-bottom: 0in; widows: 0; orphans: 0"><font size="3" style="font-size: 12pt"><span style="background: #ffffff">расхода</span></font></p>
			<p style="widows: 0; orphans: 0"><br>
			</p>
		</td>
		<td width="75" style="border-top: 1.00pt solid #000000; border-bottom: 1.00pt solid #000000; border-left: none; border-right: 1.00pt solid #000000; padding: 0.07in">
			<p style="widows: 0; orphans: 0"><font size="3" style="font-size: 12pt"><span style="background: #ffffff">Сумма,
			руб. {% set num = 0 %} {% for cost in report.otherCosts %} {%
			set num = num + 1 %} </span></font>
			</p>
		</td>
	</tr>
	<tr valign="top">
		<td width="50" style="border-top: none; border-bottom: 1.00pt solid #000000; border-left: 1.00pt solid #000000; border-right: 1.00pt solid #000000; padding-top: 0in; padding-bottom: 0.02in; padding-left: 0.08in; padding-right: 0.08in">
			<p>{{ num }} 
			</p>
		</td>
		<td width="160" style="border-top: none; border-bottom: 1.00pt solid #000000; border-left: none; border-right: 1.00pt solid #000000; padding-top: 0in; padding-bottom: 0.02in; padding-left: 0in; padding-right: 0.08in">
			<p>{{ cost.proofProductCostDocument}} 
			</p>
		</td>
		<td width="151" style="border-top: none; border-bottom: 1.00pt solid #000000; border-left: none; border-right: 1.00pt solid #000000; padding-top: 0in; padding-bottom: 0.02in; padding-left: 0in; padding-right: 0.08in">
			<p>{{ cost.proofPaidGoodsDocument }} 
			</p>
		</td>
		<td width="140" style="border-top: none; border-bottom: 1.00pt solid #000000; border-left: none; border-right: 1.00pt solid #000000; padding-top: 0in; padding-bottom: 0.02in; padding-left: 0in; padding-right: 0.08in">
			<p>{{ cost.name}} 
			</p>
		</td>
		<td width="132" style="border-top: none; border-bottom: 1.00pt solid #000000; border-left: none; border-right: 1.00pt solid #000000; padding-top: 0in; padding-bottom: 0.02in; padding-left: 0in; padding-right: 0.08in">
			<p>{{ cost.sum }} {% endfor %} 
			</p>
		</td>
	</tr>
</table>
<p style="margin-bottom: 0in; line-height: 115%">
</p>
<p style="margin-bottom: 0in; line-height: 115%; page-break-before: auto; page-break-after: auto">
<font size="3" style="font-size: 12pt"><b><span style="background: #ffffff">Итого:
</span></b>{{ report.totalOtherCost }}</font></p>
<p align="left" style="margin-bottom: 0in; line-height: 115%">
</p>
<p align="left" style="margin-bottom: 0in; line-height: 115%; page-break-before: auto; page-break-after: auto">
<font size="3" style="font-size: 12pt"><b><span style="background: #ffffff">II.
ИЗРАСХОДОВАНО СРЕДСТВ</span></b></font></p><br>
<table width="900" cellpadding="7" cellspacing="0" style="page-break-before: auto; page-break-after: auto">
	<col width="225">
	<col width="225">
	<col width="225">
	<col width="225">
	<tr valign="top">
		<td width="159" style="border-top: 1.00pt solid #000000; border-bottom: 1.00pt solid #000000; border-left: 1.00pt solid #000000; border-right: 1.00pt solid #000000; padding: 0.07in">
			<p style="margin-bottom: 0in; widows: 0; orphans: 0"><font size="3" style="font-size: 12pt"><span style="background: #ffffff">Статьи
			расходов и их</span></font></p>
			<p style="margin-bottom: 0in; widows: 0; orphans: 0"><font size="3" style="font-size: 12pt"><span style="background: #ffffff">наименование</span></font></p>
			<p style="page-break-inside: auto; widows: 0; orphans: 0; page-break-after: auto">
			<br>
			</p>
		</td>
		<td width="136" style="border-top: 1.00pt solid #000000; border-bottom: 1.00pt solid #000000; border-left: none; border-right: 1.00pt solid #000000; padding: 0.07in">
			<p style="margin-bottom: 0in; widows: 0; orphans: 0"><font size="3" style="font-size: 12pt"><span style="background: #ffffff">Утвержденная
			сумма</span></font></p>
			<p style="margin-bottom: 0in; widows: 0; orphans: 0"><font size="3" style="font-size: 12pt"><span style="background: #ffffff">по
			статье,</span></font></p>
			<p style="margin-bottom: 0in; widows: 0; orphans: 0"><font size="3" style="font-size: 12pt"><span style="background: #ffffff">руб</span></font></p>
			<p style="page-break-inside: auto; widows: 0; orphans: 0; page-break-after: auto">
			<br>
			</p>
		</td>
		<td width="148" style="border-top: 1.00pt solid #000000; border-bottom: 1.00pt solid #000000; border-left: none; border-right: 1.00pt solid #000000; padding: 0.07in">
			<p style="margin-bottom: 0in; widows: 0; orphans: 0"><font size="3" style="font-size: 12pt"><span style="background: #ffffff">Расходы
			отчетного</span></font></p>
			<p style="margin-bottom: 0in; widows: 0; orphans: 0"><font size="3" style="font-size: 12pt"><span style="background: #ffffff">периода,</span></font></p>
			<p style="margin-bottom: 0in; widows: 0; orphans: 0"><font size="3" style="font-size: 12pt"><span style="background: #ffffff">руб.</span></font></p>
			<p style="page-break-inside: auto; widows: 0; orphans: 0; page-break-after: auto">
			<br>
			</p>
		</td>
		<td width="165" style="border-top: 1.00pt solid #000000; border-bottom: 1.00pt solid #000000; border-left: none; border-right: 1.00pt solid #000000; padding: 0.07in">
			<p style="margin-bottom: 0in; widows: 0; orphans: 0"><font size="3" style="font-size: 12pt"><span style="background: #ffffff">Баланс
			(остаток /</span></font></p>
			<p style="margin-bottom: 0in; widows: 0; orphans: 0"><font size="3" style="font-size: 12pt"><span style="background: #ffffff">перерасход),</span></font></p>
			<p style="margin-bottom: 0in; widows: 0; orphans: 0"><font size="3" style="font-size: 12pt"><span style="background: #ffffff">руб</span></font></p>
			<p style="page-break-inside: auto; widows: 0; orphans: 0; page-break-after: auto">
			{% for finance in report.financeSpent %} 
			</p>
		</td>
	</tr>
	<tr valign="top">
		<td width="50" style="border-top: none; border-bottom: 1.00pt solid #000000; border-left: 1.00pt solid #000000; border-right: 1.00pt solid #000000; padding-top: 0in; padding-bottom: 0.02in; padding-left: 0.08in; padding-right: 0.08in">
			<p>{{ finance.costItem }} 
			</p>
		</td>
		<td width="160" style="border-top: none; border-bottom: 1.00pt solid #000000; border-left: none; border-right: 1.00pt solid #000000; padding-top: 0in; padding-bottom: 0.02in; padding-left: 0in; padding-right: 0.08in">
			<p>{{ finance.approvedSum}} 
			</p>
		</td>
		<td width="151" style="border-top: none; border-bottom: 1.00pt solid #000000; border-left: none; border-right: 1.00pt solid #000000; padding-top: 0in; padding-bottom: 0.02in; padding-left: 0in; padding-right: 0.08in">
			<p>{{ finance.periodCosts }} 
			</p>
		</td>
		<td width="140" style="border-top: none; border-bottom: 1.00pt solid #000000; border-left: none; border-right: 1.00pt solid #000000; padding-top: 0in; padding-bottom: 0.02in; padding-left: 0in; padding-right: 0.08in">
			<p>{{ finance.balance}} {% endfor %} 
			</p>
		</td>
	</tr>
</table>
<p align="left" style="margin-bottom: 0in; line-height: 115%">
</p>
<p style="margin-bottom: 0in; line-height: 115%">ИТОГО: 
</p>
<p align="left" style="margin-bottom: 0in; line-height: 115%; page-break-before: auto; page-break-after: auto">
<font size="3" style="font-size: 12pt"><b><span style="background: #ffffff">III.
ДВИЖЕНИЕ ДЕНЕЖНЫХ СРЕДСТВ</span></b></font></p><br>
<table width="900" cellpadding="7" cellspacing="0" style="page-break-before: auto; page-break-after: auto">
	<col width="450">
	<col width="450">
	<tr valign="top">
		<td width="357" style="border-top: 1.00pt solid #000000; border-bottom: 1.00pt solid #000000; border-left: 1.00pt solid #000000; border-right: 1.00pt solid #000000; padding: 0.07in">
			<p align="left" style="page-break-inside: auto; widows: 0; orphans: 0; page-break-after: auto">
			<br>
			</p>
		</td>
		<td width="273" style="border-top: 1.00pt solid #000000; border-bottom: 1.00pt solid #000000; border-left: none; border-right: 1.00pt solid #000000; padding-top: 1.00pt solid #000000; padding-bottom: 0.02in; padding-left: 0.08in; padding-right: 0.08in">
			<p align="left" style="page-break-inside: auto; widows: 0; orphans: 0; page-break-after: auto">
			<font size="3" style="font-size: 12pt"><span style="background: #ffffff">Сумма
			в рублях</span></font></p>
		</td>
	</tr>
	<tr valign="top">
		<td width="50" style="border-top: none; border-bottom: 1.00pt solid #000000; border-left: 1.00pt solid #000000; border-right: 1.00pt solid #000000; padding-top: 0in; padding-bottom: 0.02in; padding-left: 0.08in; padding-right: 0.08in">
			<p>Поступление пожертвования 
			</p>
		</td>
		<td width="160" style="border-top: none; border-bottom: 1.00pt solid #000000; border-left: none; border-right: 1.00pt solid #000000; padding-top: 0in; padding-bottom: 0.02in; padding-left: 0in; padding-right: 0.08in">
			<p>{{ report.receiptOfDonations}} 
			</p>
		</td>
	</tr>
	<tr valign="top">
		<td width="50" style="border-top: none; border-bottom: 1.00pt solid #000000; border-left: 1.00pt solid #000000; border-right: 1.00pt solid #000000; padding-top: 0in; padding-bottom: 0.02in; padding-left: 0.08in; padding-right: 0.08in">
			<p>Расходы отчетного периода 
			</p>
		</td>
		<td width="160" style="border-top: none; border-bottom: 1.00pt solid #000000; border-left: none; border-right: 1.00pt solid #000000; padding-top: 0in; padding-bottom: 0.02in; padding-left: 0in; padding-right: 0.08in">
			<p>{{ report.periodCosts}} 
			</p>
		</td>
	</tr>
	<tr valign="top">
		<td width="50" style="border-top: none; border-bottom: 1.00pt solid #000000; border-left: 1.00pt solid #000000; border-right: 1.00pt solid #000000; padding-top: 0in; padding-bottom: 0.02in; padding-left: 0.08in; padding-right: 0.08in">
			<p>Остаток суммы пожертвования (при
			наличии) 
			</p>
		</td>
		<td width="160" style="border-top: none; border-bottom: 1.00pt solid #000000; border-left: none; border-right: 1.00pt solid #000000; padding-top: 0in; padding-bottom: 0.02in; padding-left: 0in; padding-right: 0.08in">
			<p>{{ report.donationBalance }} 
			</p>
		</td>
	</tr>
</table>
<p><br><br>
</p>
</body>
</html>