{% extends 'NKOOrderBundle:CRUD:base_edit.html.twig' %}
{% block tab_menu_navbar_header %}
{% endblock %}
{% block tab_menu %}
    {% include '@NKOOrder/CRUD/Application/tab_menu.html.twig' %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/nkoorder/js/table_actions_btns.js') }}"></script>
    <script src="{{ asset('bundles/nkoorder/js/create_table_view.js') }}"></script>
{% endblock %}