{% extends 'NKOOrderBundle:CRUD:base_edit_report.html.twig' %}
{% block tab_menu_navbar_header %}
{% endblock %}
{% block tab_menu %}
    {% include '@NKOOrder/layout/report_tab_menu.html.twig' %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/nkoorder/js/report.js') }}"></script>
{%  endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/nkoorder/css/fixOldReportFinanceTab.css') }}"/>
{% endblock %}