{% extends 'NKOOrderBundle:CRUD:base_edit.html.twig' %}
{% block sonata_page_content %}
    <h4>Перед началом заполнения заявки обязательно внимательно прочтите <a href="{{ app.request.getSchemeAndHttpHost() }}/informationmaterials/39" target='_blank'> инструкцию</a>, <a href="{{ app.request.getSchemeAndHttpHost() }}/informationmaterials/45" target='_blank'>бюджет</a>, <a href="{{ asset('bundles/nkoorder/resources/rukovodstvo_kns-2017.pdf') }}">руководство</a>.</h4>
    <section class="content-header">

        {% block sonata_page_content_header %}
            {% block sonata_page_content_nav %}
                {% if _tab_menu is not empty or _actions is not empty or _list_filters_actions is not empty %}
                    <nav class="navbar navbar-default" role="navigation">
                        <div class="container-fluid">
                            {% block tab_menu_navbar_header %}
                            {% endblock %}

                            <div class="navbar-collapse">
                                <div class="navbar-left">
                                    {% if _tab_menu is not empty %}
                                        {{ _tab_menu|raw }}
                                    {% endif %}
                                </div>

                                {% if admin is defined and action is defined and action == 'list' and admin.listModes|length > 1 %}
                                    <div class="nav navbar-right btn-group">
                                        {% for mode, settings in admin.listModes %}
                                            <a href="{{ admin.generateUrl('list', app.request.query.all|merge({_list_mode: mode})) }}" class="btn btn-default navbar-btn btn-sm{% if admin.getListMode() == mode %} active{% endif %}"><i class="{{ settings.class }}"></i></a>
                                        {% endfor %}
                                    </div>
                                {% endif %}

                                {#sonata_admin_content_actions_wrappers block removed#}

                                {% if _list_filters_actions is not empty %}
                                    {{ _list_filters_actions|raw }}
                                {% endif %}
                            </div>
                        </div>
                    </nav>
                {% endif %}
            {% endblock sonata_page_content_nav %}
        {% endblock sonata_page_content_header %}
    </section>

    <section class="content">
        {% block sonata_admin_content %}

            {% block notice %}
                {% include 'SonataCoreBundle:FlashMessage:render.html.twig' %}
            {% endblock notice %}

            {% if _preview is not empty %}
                <div class="sonata-ba-preview">{{ _preview|raw }}</div>
            {% endif %}

            {% if _content is not empty %}
                <div class="sonata-ba-content">{{ _content|raw }}</div>
            {% endif %}

            {% if _show is not empty %}
                <div class="sonata-ba-show">{{ _show|raw }}</div>
            {% endif %}

            {% if _form is not empty %}
                <div class="sonata-ba-form">{{ _form|raw }}</div>
            {% endif %}

            {% if _list_table is not empty or _list_filters is not empty %}
                {% if _list_filters|trim %}
                    <div class="row">
                        {{ _list_filters|raw }}
                    </div>
                {% endif %}

                <div class="row">
                    {{ _list_table|raw }}
                </div>

            {% endif %}
        {% endblock sonata_admin_content %}
    </section>
{% endblock sonata_page_content %}

{% block tab_menu %}
    {% include '@NKOOrder/CRUD/Application/tab_menu.html.twig' %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/nkoorder/js/application/brief_application_2017.js') }}"></script>
{% endblock %}