{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends 'NKOOrderBundle:CRUD:base_edit.html.twig' %}
{% block sonata_page_content %}
<h4>Перед заполнением заявки прочтите <a href="http://ok.sid.kns.timchenkofoundation.org/document/rukovodstvo-mietodichieskiie-riekomiendatsii-dlia-zaiavitielia/show" target='_blank'> руководство</a>, <a href="http://ok.sid.kns.timchenkofoundation.org/document/instruktsiia-po-zapolnieniiu-zaiavki/show" target='_blank'> инструкцию</a> и скачайте <a href="http://ok.sid.kns.timchenkofoundation.org/document/forma-biudzhieta/show" target='_blank'> бюджет</a>.</h4>
    <section class="content-header">

        {% block sonata_page_content_header %}
            {% block sonata_page_content_nav %}
                {% if _tab_menu is not empty or _actions is not empty or _list_filters_actions is not empty %}
                    <nav class="navbar navbar-default" role="navigation">
                        <div class="container-fluid">
                            {% block tab_menu_navbar_header %}
                            {% endblock %}

                            <div class="navbar-collapse">
                                <div class="navbar-left">
                                    {% if _tab_menu is not empty %}
                                        {{ _tab_menu|raw }}
                                    {% endif %}
                                </div>

                                {% if admin is defined and action is defined and action == 'list' and admin.listModes|length > 1 %}
                                    <div class="nav navbar-right btn-group">
                                        {% for mode, settings in admin.listModes %}
                                            <a href="{{ admin.generateUrl('list', app.request.query.all|merge({_list_mode: mode})) }}" class="btn btn-default navbar-btn btn-sm{% if admin.getListMode() == mode %} active{% endif %}"><i class="{{ settings.class }}"></i></a>
                                        {% endfor %}
                                    </div>
                                {% endif %}

                                {% block sonata_admin_content_actions_wrappers %}
                                    {% if _actions|replace({ '<li>': '', '</li>': '' })|trim is not empty %}
                                        <ul class="nav navbar-nav navbar-right">
                                            {% if _actions|split('</a>')|length > 2 %}
                                                <li class="dropdown sonata-actions">
                                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ 'link_actions'|trans({}, 'SonataAdminBundle') }} <b class="caret"></b></a>
                                                    <ul class="dropdown-menu" role="menu">
                                                        {{ _actions|raw }}
                                                    </ul>
                                                </li>
                                            {% else %}
                                                {{ _actions|raw }}
                                            {% endif %}
                                        </ul>
                                    {% endif %}
                                {% endblock sonata_admin_content_actions_wrappers %}

                                {% if _list_filters_actions is not empty %}
                                    {{ _list_filters_actions|raw }}
                                {% endif %}
                            </div>
                        </div>
                    </nav>
                {% endif %}
            {% endblock sonata_page_content_nav %}
        {% endblock sonata_page_content_header %}
    </section>

    <section class="content">
        {% block sonata_admin_content %}

            {% block notice %}
                {% include 'SonataCoreBundle:FlashMessage:render.html.twig' %}
            {% endblock notice %}

            {% if _preview is not empty %}
                <div class="sonata-ba-preview">{{ _preview|raw }}</div>
            {% endif %}

            {% if _content is not empty %}
                <div class="sonata-ba-content">{{ _content|raw }}</div>
            {% endif %}

            {% if _show is not empty %}
                <div class="sonata-ba-show">{{ _show|raw }}</div>
            {% endif %}

            {% if _form is not empty %}
                <div class="sonata-ba-form">{{ _form|raw }}</div>
            {% endif %}

            {% if _list_table is not empty or _list_filters is not empty %}
                {% if _list_filters|trim %}
                    <div class="row">
                        {{ _list_filters|raw }}
                    </div>
                {% endif %}

                <div class="row">
                    {{ _list_table|raw }}
                </div>

            {% endif %}
        {% endblock sonata_admin_content %}
    </section>
{% endblock sonata_page_content %}
{% block tab_menu %}
    {% include '@NKOOrder/CRUD/Application/tab_menu.html.twig' %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/nkoorder/js/table_actions_btns.js') }}"></script>
    <script src="{{ asset('bundles/nkoorder/js/create_table_view.js') }}"></script>
{% endblock %}

