{% for marks in object.getMarkLists() %}
    {%  if marks != null and marks.getIsValid == 1 and app.user == marks.getExpert() %}
        <a class="btn btn-sm btn-default edit_link" href="{{ admin.generateObjectUrl('send_mark', object) }}">
            <i class="fa fa-send"></i> Отправить оценку</a>
    {% endif %}
{% endfor %}