
{% extends 'NKOOrderBundle:CRUD:expert_mark_admin.html.twig' %}
{% block button %}
    {% if admin.isGranted('DOWNLOAD_ALL_MARKS', object)%}
        <a class="btn btn-sm btn-default view_link" href="{{ admin.generateObjectUrl('download_all_marks', object) }}"><i class="fa fa-download"></i> Скачать оценки</a>
    {% endif %}
{% endblock %}