{% if  not object | instanceOf("NKO\\OrderBundle\\Entity\\BriefApplication2016\\Application") %}
    <a class="btn btn-sm btn-default view_link" href="{{ path('admin_sonata_nko_order_send_application_show_documents_list', {'id' : object.id }) }}"><i class="fa fa-download" aria-hidden="true"></i> Скачать документы</a>
{% endif %}