{% if object.reportForm.isSelectable %}
    <a class="btn btn-sm btn-default view_link" href="{{ admin.generateObjectUrl('checkout_values', object) }}"><i class="glyphicon glyphicon-edit"></i> Проверить показатели</a>
{% endif %}