{% if object.userBlockedFinanceReport == app.user.Id %}
    <a class="btn btn-sm btn-warning edit_link" href="{{ admin.generateObjectUrl('complete_edition', object) }}">
        <i class="fa fa-pencil"></i>Завершить редакцию
    </a>
{% endif %}