{% if admin.isGranted('EDIT', object) and admin.hasRoute('edit') and (object.isAccepted == false or is_granted('ROLE_NKO') != true )%}
    <a href="{{ admin.generateObjectUrl('edit', object) }}" class="btn btn-sm btn-default edit_link" title="{{ 'action_edit'|trans({}, 'SonataAdminBundle') }}">
        <i class="fa fa-pencil"></i>
        Редактировать
    </a>
{% endif %}

