{% if object | instanceOf("NKO\\OrderBundle\\Entity\\Report\\AnalyticReport\\Report") %}
    {% set link = path('analytic_report_attachments_path', {'id' : object.id }) %}
{% else %}
    {% set link = admin.generateObjectUrl('redirect_to_documents_list', object) %}
{% endif %}
<a class="btn btn-sm btn-default edit_link" href="{{ link }}">
    <i class="fa fa-download"></i> Скачать приложения</a>