{% if is_granted('ROLE_NKO') and (object.isAccepted == true or object.underConsideration == true) %}
{% else %}
    {% if object.isBlocked == false and (object.userBlockedFinanceReport == 0 or object.userBlockedFinanceReport == app.user.id) %}
        <a class="btn btn-sm btn-default edit_link" href="{{ admin.generateObjectUrl('edit', object) }}">
            <i class="fa fa-pencil"></i>Редактировать</a>
    {% endif %}
{% endif %}