{% if not object|hiddenbutton %}
    {% if object.reportForm.isSelectable %}
        <a class="btn btn-sm btn-default view_link" href="{{ admin.generateObjectUrl('undo_accepting', object) }}"><i class="glyphicon glyphicon-edit"></i>Отменить принятие показателей</a>
    {% endif %}
{% endif %}
