{% if  not (object | instanceOf("NKO\\OrderBundle\\Entity\\BriefApplication2016\\Application")) %}
    <a class="btn btn-sm btn-default view_link" href="{{ path('admin_nko_order_baseapplication_download', {'id' : object.id}) }}" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Скачать заявку</a>
{% endif %}