{%  if object.isAccepted == null and is_granted('ROLE_NKO') == true %}
    <a class="btn btn-sm btn-default edit_link" href="{{ admin.generateObjectUrl('send_report', object) }}">
        <i class="fa fa-send"></i> Отправить отчет</a>
{% endif %}
