{% extends 'NKOOrderBundle:CRUD:expert_mark_admin.html.twig' %}
{% block button %}
    {%  if admin.isGranted('EDIT_MARK_LIST') and is_granted('ROLE_EXPERT') == true %}
        <a class="btn btn-sm btn-default view_link" href="{{ admin.generateObjectUrl('mark_list', object) }}"> Оценить заявку</a>
    {% endif %}
{% endblock %}