{% set application = object | unserialize %}

{% if  application | instanceOf("NKO\\OrderBundle\\Entity\\Application\\Harbor\\Application2019\\Application") %}
{#    {% if application|itm_file_exists(application.budget) %}
        <a class="btn btn-sm btn-default view_link" href="{{ admin.generateObjectUrl('download_document', object, {'document': application.budget }) }}"><i class="fa fa-download" aria-hidden="true"></i>Скачать бюджет</a>
    {% endif %}#}
{% endif %}