{% extends 'SonataAdminBundle:CRUD:list_boolean.html.twig' %}

{% set isEditable = field_description.options.editable is defined and field_description.options.editable and admin.hasAccess('edit', object) %}
{% set xEditableType = field_description.type|sonata_xeditable_type %}

{% if isEditable and xEditableType %}
    {% set new_url = path(
        'sonata_admin_custom_set_object_field_value',
        admin.getPersistentParameters|default([])|merge({
        'context': 'list',
        'field': field_description.name,
        'objectId': admin.id(object),
        'code': admin.code(object)
    })
    ) %}

    {% block field_span_attributes %}
        class="x-editable editable editable-click"
        data-type="{{ xEditableType }}"
        data-value="{{ data_value }}"
        data-title="{{ field_description.label|trans({}, field_description.translationDomain) }}"
        data-pk="{{ admin.id(object) }}"
        data-url="{{ new_url }}"
        {% spaceless %}
            data-source="[{value: 0, text: '{%- trans from 'SonataAdminBundle' %}label_type_no{% endtrans -%}'},{value: 1, text: '{%- trans from 'SonataAdminBundle' %}label_type_yes{% endtrans -%}'}]"
        {% endspaceless %}
    {% endblock %}
{% endif %}