{% if object is FinanceReport %}
    <a class="btn btn-sm btn-default view_link" href="{{ admin.generateObjectUrl('download_summary_report', object) }}" target="_blank"><i class="fa fa-download" aria-hidden="true"></i> Скачать итоговый отчет</a>
{% endif %}
