{% extends 'NKOOrderBundle:CRUD:expert_mark_admin.html.twig' %}
{% block button %}
    {% if admin.isGranted('EDIT', object) and admin.hasRoute('edit') and object.number != null and app.user.hasRole('ROLE_SUPER_ADMIN') %}
        <a href="{{ admin.generateObjectUrl('edit', object) }}" class="btn btn-sm btn-default edit_link" title="{{ 'action_edit'|trans({}, 'SonataAdminBundle') }}">
            <i class="fa fa-pencil"></i>
            Сменить экспертов
        </a>
    {% endif %}
{% endblock %}

