<a href="{{ admin.generateObjectUrl('add_reports', object) }}" class="btn btn-sm btn-default edit_link" title="{{ 'action_add_reports'|trans({}, 'SonataAdminBundle') }}">
    <i class="fa fa-pencil" aria-hidden="true"></i>
    {{ 'action_add_reports'|trans({}, 'SonataAdminBundle') }}
</a>
