{% if not object|hiddenbutton %}
    {% if not object.reportForm.isSelectable %}
        <a class="btn btn-sm btn-default view_link" href="{{ admin.generateObjectUrl('prefill_report', object) }}"><i class="glyphicon glyphicon-edit"></i>  Ввести данные для отчетов</a>
    {% endif %}
{% endif %}