{% extends 'NKOOrderBundle:CRUD:expert_mark_admin.html.twig' %}
{% block button %}
    {% for mark in object.getMarkLists() %}
        {% if app.user == mark.expert and mark.getIsSend == 1 %}
            <a class="btn btn-sm btn-default view_link" href="{{ admin.generateObjectUrl('download_mark', object,  {'mark_list_id': mark.id }) }}" target="_blank"><i class="fa fa-download"></i> Скачать оценку</a>
        {% endif %}
    {% endfor %}
{% endblock %}