{% set unserializedObject = object | unserialize %}
{% if not unserializedObject | instanceOf("NKO\\OrderBundle\\Entity\\BriefApplication2016\\Application") %}
    <a class="btn btn-sm btn-default view_link" href="{{ path('admin_sonata_nko_order_expert_mark_download', {'id' : object.id, 'object' : object}) }}" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Скачать заявку</a>
{% endif %}