{% set application = object | unserialize %}

{% if  application | instanceOf("NKO\\OrderBundle\\Entity\\Application\\Harbor\\Application2019\\Application") %}
    {% if application|itm_file_exists(application.subjectRegulation) %}
        <a class="btn btn-sm btn-default view_link" href="{{ admin.generateObjectUrl('download_document', object, {'document': application.subjectRegulation }) }}"><i class="fa fa-download" aria-hidden="true"></i>Скачать форму</a>
    {% endif %}
{% endif %}