{% for object in admin.datagrid.results %}
    <tr>
        {% for field_description in admin.list.elements %}
            {% if field_description.name == '_action' and app.request.isXmlHttpRequest %}
                Action buttons disabled in ajax view!
            {% elseif field_description.getOption('ajax_hidden') == true and app.request.isXmlHttpRequest %}
                Disable fields with 'ajax_hidden' option set to true
            {% else %}
                {{ object|render_list_element(field_description) }}
            {% endif %}
        {% endfor %}
    </tr>
    <script>
        {% for object in admin.datagrid.results %}
            {% if(object.status == 'allValidMarkLists') %}

                $("tr td[objectId="+ {{ object.getId() }} +"]").css('background', 'rgb(152,	251, 152)');

            {% elseif(object.status == 'oneValidMarkList')  %}
                $("tr td[objectId="+ {{ object.getId() }} +"]").css('background', 'rgb(255,	246, 143)');

            {% elseif(object.status == 'lastLogin')  %}
                $("tr td[objectId="+ {{ object.getId() }} +"]").css('background', 'rgb(255,	106, 106)');
            {% endif %}
        {% endfor %}
    </script>
{% endfor %}