
{% extends 'NKOOrderBundle:CRUD:expert_mark_admin.html.twig' %}
{% block button %}
    {% if admin.isGranted('EDIT_GRANTS') and object.isSpread == true %}
        <a class="btn btn-sm btn-default view_link" href="{{ path('admin_sonata_nko_order_expert_mark_set_grants', { 'id': object.id }) }}"><i class="fa fa-rub"></i> Проставить суммы гранта</a>
    {% endif %}
{% endblock %}