{% if admin.isGranted('EDIT', object) %}
    <a class="btn btn-sm btn-default edit_link" href="{{ admin.generateObjectUrl('edit', object) }}">
        <i class="fa fa-pencil"></i>Редактировать</a>
{% endif %}