{%  if  is_granted('ROLE_ADMIN')
        or is_granted('ROLE_SUPER_ADMIN')
        or admin.isGranted('EDIT', object) %}
            <a class="btn btn-sm btn-default edit_link" href="{{ admin.generateObjectUrl('send', object) }}">
                <i class="fa fa-send"></i> Отправить заявку</a>
{% endif %}