<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title></title>
    <meta name="generator" content="LibreOffice 4.2.8.2 (Linux)">
    <meta name="created" content="20160913;121803338402567">
    <meta name="changed" content="20160913;122409056183929">
    <style type="text/css">
        <!--
        @page { margin: 0.79in }
        p { margin-bottom: 0.1in; line-height: 120% }
        -->
    </style>
</head>
<body lang="en-US" dir="ltr">
<ul>
    <p style="margin-bottom: 0in; line-height: 100%"><font face="Arial Narrow, serif"><b>РЕЗУЛЬТАТ
                ОЦЕНКИ</b></font></p>
    <li><p style="margin-bottom: 0in; line-height: 100%">№ <font face="Arial Narrow, serif">заявки</font><font face="Arial Narrow, serif"><span lang="en-US">: {{ number }}</span></font></p>
    <li><p style="margin-bottom: 0in; line-height: 100%"><font face="Arial Narrow, serif">Название
                проекта (п.3.1. заявки): {{ application.projectName }}</font></p>
    <li><p style="margin-bottom: 0in; line-height: 100%"><font face="Arial Narrow, serif">Полное
                наименование организации (п.1.1. заявки): {{ application.name }}</font></p>
    <li><p style="margin-bottom: 0in; line-height: 100%"><font face="Arial Narrow, serif">Регион
                (п.1.4. заявки): {{ mark.application.legalRegion }}</font></p>
    <li><p style="margin-bottom: 0in; line-height: 100%"><font face="Arial Narrow, serif">ФИО
                эксперта</font><font face="Arial Narrow, serif"><span lang="en-US">:
                    {% if expert %}
                        {{ expert.name }} {{ expert.surname }} {{ expert.patronymic }}
                    {% endif %}
                </span></font></p>
    <li><p style="margin-bottom: 0in; line-height: 100%"><font face="Arial Narrow, serif">Итоговое
                решение</font><font face="Arial Narrow, serif"><span lang="en-US">: {{ final_decision }}</span></font></p>
    <li><p style="margin-bottom: 0in; line-height: 100%"><font face="Arial Narrow, serif">Обоснование
                итогового решения</font><font face="Arial Narrow, serif"><span lang="en-US">: {{ mark.rationaleFinalDecision }}</span></font></p>
    <li><p style="margin-bottom: 0in; line-height: 100%"><font face="Arial Narrow, serif">Итоговый
                балл: {{ mark.finalMark }}</font></p>
    <li><p style="margin-bottom: 0in; line-height: 100%"><font face="Arial Narrow, serif">Таблица
                оценок по каждому вопросу и их
                обоснования:</font></p>
</ul>
<p style="margin-left: 0.49in; margin-bottom: 0in; line-height: 100%">
    <br>
</p>
<table width="700" cellpadding="7" cellspacing="0">
    <col width="51">
    <col width="290">
    <col width="99">
    <col width="283">
    <thead>
    <tr valign="top">
        <td width="51" bgcolor="#ffffff" style="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.07in; padding-right: 0.08in">
            <p align="center" style="margin-bottom: 0in">№ <font face="Arial Narrow, serif"><b>п</b></font><font face="Arial Narrow, serif"><span lang="en-US"><b>/</b></span></font><font face="Arial Narrow, serif"><b>п</b></font></p>
            <p align="center"><br>
            </p>
        </td>
        <td width="222" bgcolor="#ffffff" style="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.07in; padding-right: 0.08in">
            <p align="center"><font face="Arial Narrow, serif"><b>Вопрос</b></font></p>
        </td>
        <td width="80" bgcolor="#ffffff" style="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.07in; padding-right: 0.08in">
            <p align="center"><font face="Arial Narrow, serif"><b>Оценка</b></font></p>
        </td>
        <td width="222" bgcolor="#ffffff" style="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.07in; padding-right: 0.08in">
            <p align="center"><font face="Arial Narrow, serif"><b>Обоснование
                        оценки</b></font></p>
        </td>
    </tr>
    </thead>
    <tbody>
    {% set i = 0 %}
    {% set j = 1 %}
    {% set criteria = '' %}
    {% for one_mark in mark.marks %}
        <tr>
            {%  if criteria != one_mark.questionMark.criteria %}
                {% set  criteria = one_mark.questionMark.criteria %}
                {% set i = i + 1 %}
                {% set j = 1 %}
            {% endif %}
            <td bgcolor="#ffffff" style="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.07in; padding-right: 0.07in">
                <p align="center">{{ i }}.{{ j }}</p>
            </td>
            <td bgcolor="#ffffff" style="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0in; padding-right: 0in">
                <p> {{ one_mark.questionMark }}</p>
            </td>
            <td bgcolor="#ffffff" style="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0in; padding-right: 0in">
                <p align="center">{{ one_mark.mark }}</p>
            </td>
            <td bgcolor="#ffffff" style="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0in; padding-right: 0in">
                <p> {{ one_mark.rationale }} </p>
            </td>
        </tr>
        {% set j = j + 1 %}
    {% endfor %}
    </tbody>
</table>
<p style="margin-bottom: 0in; line-height: 100%"><br>
</p>
</body>
</html>