{% extends 'NKOOrderBundle:CRUD:Application/KNS/SecondStage2017/edit.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/nkoorder/js/application/KNS/SecondStage2018/edit.js') }}"></script>
{% endblock %}