{% extends 'NKOOrderBundle:CRUD:report/finance_report/report_2018/base_edit_report.html.twig' %}
{% block tab_menu_navbar_header %}
{% endblock %}
{% block tab_menu %}
    {% include '@NKOOrder/CRUD/report/tab_menu.html.twig' %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/nkoorder/js/finance_report/tab_bar_handler.js') }}"></script>
    <script src="{{ asset('bundles/nkoorder/js/finance_report/base_finance_report.js') }}"></script>
    <script src="{{ asset('bundles/nkoorder/js/finance_report/report_2018/finance_spent_sum_salary.js') }}"></script>
    <script src="{{ asset('bundles/nkoorder/js/finance_report/report_2019/report.js') }}"></script>
    <script src="{{ asset('bundles/nkoorder/js/periodical_saver.js') }}"></script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/nkoorder/css/report/finance/report_2019/report.css') }}"/>
{% endblock %}

{% block sonata_top_nav_menu_auto_saver_switcher %}
    {% include 'NKOOrderBundle:CRUD:autosave_checkbox.html.twig' %}
{% endblock %}

{% block submitButtons %}
    {% if  object.isFirstTimeSent == true and object.getReportTemplate.getIsPlanAccepted %}
        <button type="submit" class="btn  btn btn-success edit_link" value="sendButton" name="send"><i class="fa fa-send"></i> Сохранить и Отправить отчет</button>
    {% else %}
        <button type="submit" class="btn btn-success" name="btn_update_and_edit"><i class="fa fa-save" aria-hidden="true"></i> {{ 'btn_update_and_edit_again'|trans({}, 'SonataAdminBundle') }}</button>
        {% if  sentReport is not null  and object.isValid == true and object.getReportTemplate.getIsPlanAccepted %}
            <button type="submit" class="btn  btn btn-success edit_link" value="sendButton" name="send"><i class="fa fa-send"></i> Отправить отчет</button>
        {% endif %}
    {% endif %}
    <button type="submit" class="btn btn-warning" value="completeEditionButton" name="completeEdit"> <i class="fa fa-save" aria-hidden="true"></i> Завершить редакцию </button>
{% endblock %}