<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title></title>
    <meta name="generator" content="LibreOffice 5.1.4.2 (Linux)"/>
    <meta name="created" content="00:00:00"/>
    <meta name="changed" content="00:00:00"/>
    <style type="text/css">
        @page { size: 8.27in 11.69in; margin: 1in }
        p { margin-bottom: 0.1in; padding: 0in; line-height: 120%; text-align: left; page-break-inside: auto; orphans: 2; widows: 2; page-break-after: auto }
        td { border: 1px solid #000001; }
        tr { border: 1px solid #000001; }
        table { border: 1px solid #000001;}
    </style>
</head>
<body lang="en-US" dir="ltr">
<p align="justify" style="margin-bottom: 0in; line-height: 100%; orphans: 0; widows: 0">
    <font face="Arial Narrow, serif"><font size="3" style="font-size: 12pt"><b>{{ report.reportForm.title }}</b></font></font></p>
<p style="margin-bottom: 0in; line-height: 100%; orphans: 0; widows: 0">
<p align="justify" style="margin-bottom: 0in; line-height: 100%; orphans: 0; widows: 0">
    <font face="Arial Narrow, serif"><font size="3" style="font-size: 12pt"><b>Организация: </b> {{ nkoUser.NkoName }}</font></font></p>
<p style="margin-bottom: 0in; line-height: 100%; orphans: 0; widows: 0">
<p align="justify" style="margin-bottom: 0in; line-height: 100%; orphans: 0; widows: 0">
    <font face="Arial Narrow, serif"><font size="3" style="font-size: 12pt"><b>Период: </b> {{ report.period.name }}</font></font></p>
<p style="margin-bottom: 0in; line-height: 100%; orphans: 0; widows: 0">

<p align="justify" style="margin-bottom: 0in; line-height: 100%; orphans: 0; widows: 0">
    <font face="Arial Narrow, serif"><font size="3" style="font-size: 12pt"><b>ВКЛАДКА
        I. РЕЕСТР РАСХОДОВ</b></font></font></p>
<p style="margin-bottom: 0in; line-height: 100%; orphans: 0; widows: 0">
    <br/>
</p>

{% macro show_table(type, report) %}
{% for register in report.registers %}
{% if register.expenseType and  register.expenseType.code == type.code %}
<p style="margin-bottom: 0in; line-height: 100%; orphans: 0; widows: 0"><font face="Arial Narrow, serif"><font size="3" style="font-size: 12pt"><b>{{ type.titleWithNumber}}</b></font></font></p><br>
<center>
    <table width="920" cellpadding="7" cellspacing="0">
        <col width="50">
        <col width="256">
        <col width="256">
        <col width="100">
        <tr>
            <td width="50" height="16">
                <p align="center" style="orphans: 0; widows: 0"><b>№п/п</b></p>
            </td>
            <td width="256">
                <p align="center" style="margin-bottom: 0in; orphans: 0; widows: 0">
                    <font face="Arial Narrow, serif"><font size="3" style="font-size: 12pt"><b>Документы, подтверждающие произведенные расходы</b></font></font>
                </p>
            </td>
            <td width="256">
                <p align="center" style="margin-bottom: 0in; orphans: 0; widows: 0">
                    <font face="Arial Narrow, serif"><font size="3" style="font-size: 12pt"><b>Документ(-ы), подтверждающий (-ие) получение оплаченных товаров/услуг</b></font></font>
                </p>
            </td>
            <td width="256" style="padding-top: 0in; ">
                <p align="center" style="margin-bottom: 0in; orphans: 0; widows: 0">
                    <font face="Arial Narrow, serif"><font size="3" style="font-size: 12pt"><b>Наименование расхода</b></font></font>
                </p>
            </td>
            <td width="100">
                <p align="center" style="margin-bottom: 0in; orphans: 0; widows: 0">
                    <font face="Arial Narrow, serif"><font size="3" style="font-size: 12pt"><b>Сумма, руб.</b></font></font></p>
                <p align="center" style="orphans: 0; widows: 0">
                </p>
            </td>
        </tr>
        {% for expense in register.expenses %}
        <tr valign="top">
            <td width="50">
                <p align="center" style="orphans: 0; widows: 0">
                    <font face="Arial Narrow, serif">
                        <font size="3" style="font-size: 12pt">
                            {{ loop.index }}
                        </font>
                    </font>
                </p>
            </td>
            <td width="256">
                <p style="orphans: 0; widows: 0">
                    <font face="Arial Narrow, serif">
                        <font size="3" style="font-size: 12pt">
                            {{ expense.proofProductExpenseDocument }}
                        </font>
                    </font>
                </p>
            </td>
            <td width="256">
                <p style="orphans: 0; widows: 0">
                    <font face="Arial Narrow, serif">
                        <font size="3" style="font-size: 12pt">
                            {{ expense.proofPaidGoodsDocument }}
                        </font>
                    </font>
                </p>
            </td>
            <td width="256">
                <p style="orphans: 0; widows: 0">
                    <font face="Arial Narrow, serif">
                        <font size="3" style="font-size: 12pt">
                            {{ expense.name}}
                        </font>
                    </font>
                </p>
            </td>
            <td width="100">
                <p style="orphans: 0; widows: 0">
                    <font face="Arial Narrow, serif">
                        <font size="3" style="font-size: 12pt">
                            {{ expense.sum }}
                        </font>
                    </font>
                </p>
            </td>
        </tr>
        {% endfor %}
        <tr valign="top">
            <td colspan="4" width="517">
                <p style="orphans: 0; widows: 0"><font face="Arial Narrow, serif"><font size="3" style="font-size: 12pt"><b>ИТОГО:</b></font></font></p>
            </td>
            <td width="100">
                <p style="orphans: 0; widows: 0">
                    <font face="Arial Narrow, serif">
                        <font size="3" style="font-size: 12pt">
                            {{ register.totalExpenseValue|number_format(2, '.', '') }}
                        </font>
                    </font></p>
            </td>
        </tr>
        {% endif %}
        {% endfor %}
    </table>
    <br/>
    <br/>
</center>
{% endmacro %}

<font face="Arial Narrow, serif"><font size="3" style="font-size: 12pt"><b>1. Оплата труда</b></font></font></p>
{% for type in expenseTypes %}
{% for register in report.registers %}
{% if register.expenseType and  register.expenseType.code == type.code %}
{{ _self.show_table(type, report) }}
{% endif %}
{% endfor %}
{% endfor %}

<p style="margin-bottom: 0in; line-height: 100%; orphans: 0; widows: 0">
    <br/>

</p>
<p align="justify" style="margin-bottom: 0in; line-height: 100%; orphans: 0; widows: 0; page-break-before:always;">
    <font face="Arial Narrow, serif"><font size="3" style="font-size: 12pt"><b>ВКЛАДКА
        II. ИЗРАСХОДОВАНО СРЕДСТВ</b></font></font></p>
<p style="margin-bottom: 0in; line-height: 100%; orphans: 0; widows: 0">
    <br/>

</p>
<table width="920" cellpadding="7" cellspacing="0">
    <col width="184">
    <col width="184">
    <col width="184">
    <col width="184">
    <col width="184">
    <tr>
        <td width="184" height="29">
            <p align="center" style="orphans: 0; widows: 0">
                <font face="Arial Narrow, serif">
                    <font size="3" style="font-size: 12pt">
                        <b>Статьи расходов</b>
                    </font>
                </font>
            </p>
        </td>
        <td width="184">
            <p align="center" style="margin-bottom: 0in; orphans: 0; widows: 0">
                <font face="Arial Narrow, serif">
                    <font size="3" style="font-size: 12pt">
                        <b>Утвержденная сумма по статье на весь период реализации проекта, руб.</b>
                    </font>
                </font>
            </p>
        </td>
        <td width="184">
            <p align="center" style="margin-bottom: 0in; orphans: 0; widows: 0">
                <font face="Arial Narrow, serif">
                    <font size="3" style="font-size: 12pt">
                        <b>Текущие расходы, руб.</b>
                    </font>
                </font>
            </p>
        </td>
        <td width="184" >
            <p align="center" style="margin-bottom: 0in; orphans: 0; widows: 0">
                <font face="Arial Narrow, serif">
                    <font size="3" style="font-size: 12pt">
                        <b>Расходы по всему отчетному периоду, руб.</b>
                    </font>
                </font>
            </p>
        </td>
        <td width="184" valign="top" >
            <p align="center" style="margin-bottom: 0in; orphans: 0; widows: 0">
                <font face="Arial Narrow, serif">
                    <font size="3" style="font-size: 12pt">
                        <b>Баланс (остаток / перерасход), руб.</b>
                    </font>
                </font>
            </p>
        </td>
    </tr>
    <tr>
        <td  width="184" height="2">
            <p align="center" style="text-align: center; orphans: 0; widows: 0">
                <font face="Arial Narrow, serif">
                    <font size="3" style="font-size: 12pt">
                        <b>1</b>
                    </font>
                </font>
            </p>
        </td>
        <td width="184">
            <p align="center" style="text-align: center; orphans: 0; widows: 0">
                <font face="Arial Narrow, serif">
                    <font size="3" style="font-size: 12pt">
                        <b>2</b>
                    </font>
                </font>
            </p>
        </td>
        <td width="184">
            <p align="center" style="text-align: center; orphans: 0; widows: 0">
                <font face="Arial Narrow, serif">
                    <font size="3" style="font-size: 12pt">
                        <b>3</b>
                    </font>
                </font>
            </p>
        </td>
        <td width="184">
            <p align="center" style="text-align: center; orphans: 0; widows: 0">
                <font face="Arial Narrow, serif">
                    <font size="3" style="font-size: 12pt">
                        <b>4</b>
                    </font>
                </font>
            </p>
        </td>
        <td width="184">
            <p align="center" style="text-align: center; orphans: 0; widows: 0">
                <font face="Arial Narrow, serif">
                    <font size="3" style="font-size: 12pt">
                        <b>5</b>
                    </font>
                </font>
            </p>
        </td>
    </tr>
    {% for financeSpent in report.financeSpent %}
    <tr>
        <td width="108" height="5">
            <p style="orphans: 0; widows: 0">
                <font face="Arial Narrow, serif">
                    <font size="3" style="font-size: 12pt">{{ financeSpent.expenseType.titleWithNumber }}</font>
                </font>
            </p>
        </td>
        <td width="128">
            <p style="orphans: 0; widows: 0">
                <font face="Arial Narrow, serif">
                    <font size="3" style="font-size: 12pt">{{ financeSpent.approvedSum|number_format(2, '.', '') }}</font>
                </font>
            </p>
        </td>
        <td width="137">
            <p align="right" style="orphans: 0; widows: 0">
                <font face="Arial Narrow, serif">
                    <font size="3" style="font-size: 12pt">{{ financeSpent.periodCosts|number_format(2, '.', '') }}</font>
                </font>
            </p>
        </td>
        <td width="137">
            <p align="right" style="orphans: 0; widows: 0">
                <font face="Arial Narrow, serif">
                    <font size="3" style="font-size: 12pt">{{ (financeSpent.incrementalCosts + financeSpent.periodCosts)|number_format(2, '.', '') }}</font>
                </font>
            </p>
        </td>
        <td width="127">
            <p align="right" style="orphans: 0; widows: 0">
                <font face="Arial Narrow, serif">
                    <font size="3" style="font-size: 12pt">{{ financeSpent.balance|number_format(2, '.', '') }}</font>
                </font>
            </p>
        </td>
    </tr>
    {%  endfor %}
    <tr>
        <td width="108" height="5">
            <p style="orphans: 0; widows: 0">
                <font face="Arial Narrow, serif">
                    <font size="3" style="font-size: 12pt">ВСЕГО</font>
                </font>
            </p>
        </td>
        <td width="128">
            <p style="orphans: 0; widows: 0"><font face="Arial Narrow, serif">
                <font size="3" style="font-size: 12pt">{{ report.receiptOfDonations|number_format(2, '.', '') }}</font>
            </font>
            </p>
        </td>
        <td width="137">
            <p align="right" style="orphans: 0; widows: 0">
                <font face="Arial Narrow, serif">
                    <font size="3" style="font-size: 12pt">{{ report.periodCosts|number_format(2, '.', '') }}</font>
                </font>
            </p>
        </td>
        <td width="137">
            <p align="right" style="orphans: 0; widows: 0">
                <font face="Arial Narrow, serif">
                    <font size="3" style="font-size: 12pt">{{ report.incrementalCosts|number_format(2, '.', '') }}</font>
                </font>
            </p>
        </td>
        <td width="127" valign="top">
            <p align="right" style="orphans: 0; widows: 0">
                <font face="Arial Narrow, serif">
                    <font size="3" style="font-size: 12pt">{{ report.donationBalance|number_format(2, '.', '') }}</font>
                </font>
            </p>
        </td>
    </tr>
</table>
<p style="margin-bottom: 0.11in; line-height: 108%; orphans: 0; widows: 0">
    <br/>
    <br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%; orphans: 0; widows: 0; page-break-before:always;">
    <font face="Arial Narrow, serif"><font size="3" style="font-size: 12pt"><b>ВКЛАДКА
        III. “ДВИЖЕНИЕ ДЕНЕЖНЫХ СРЕДСТВ”</b></font></font></p>
<p style="margin-bottom: 0in; line-height: 100%; orphans: 0; widows: 0">
    <br/>

</p>
<table width="920" cellpadding="7" cellspacing="0">
    <col width="460">
    <col width="460">
    <tr valign="top">
        <td width="460" height="18">
            <p align="center" style="orphans: 0; widows: 0"><br/></p>
            <p style="orphans: 0; widows: 0"><br/>

            </p>
        </td>
        <td width="460">
            <p align="right" style="orphans: 0; widows: 0">
                <font face="Arial Narrow, serif">
                    <font size="3" style="font-size: 12pt"><b>Сумма в рублях</b>
                    </font>
                </font>
            </p>
        </td>
    </tr>
    <tr valign="top">
        <td width="460" height="2">
            <p style="margin-bottom: 0in; orphans: 0; widows: 0">
                <font face="Arial Narrow, serif">
                    <font size="3" style="font-size: 12pt">
                        <b>Поступление пожертвования </b>
                    </font>
                </font>
            </p>
            <p style="orphans: 0; widows: 0"><br/>

            </p>
        </td>
        <td width="460">
            <p align="right" style="orphans: 0; widows: 0">
                <font face="Arial Narrow, serif"><font size="3" style="font-size: 12pt">{{ report.receiptOfDonations|number_format(2, '.', '') }}</font>
                </font>
            </p>
        </td>
    </tr>
    <tr valign="top">
        <td width="460" height="2">
            <p style="margin-bottom: 0in; orphans: 0; widows: 0"><font face="Arial Narrow, serif"><font size="3" style="font-size: 12pt">
                <b>Текущие расходы</b></font></font>
            </p>
            <p style="orphans: 0; widows: 0"><br/>

            </p>
        </td>
        <td width="460">
            <p align="right" style="orphans: 0; widows: 0">
                <font face="Arial Narrow, serif">
                    <font size="3" style="font-size: 12pt">	{{ report.periodCosts|number_format(2, '.', '') }}</font>
                </font>
            </p>
        </td>
    </tr>
    <tr valign="top">
        <td width="460" height="2">
            <p style="margin-bottom: 0in; orphans: 0; widows: 0">
                <font face="Arial Narrow, serif"><font size="3" style="font-size: 12pt">
                    <b>Расходы по всему отчетному периоду</b>
                </font>
                </font>
            </p>
            <p style="orphans: 0; widows: 0"><br/>

            </p>
        </td>
        <td width="460">
            <p align="right" style="orphans: 0; widows: 0">
                <font face="Arial Narrow, serif">
                    <font size="3" style="font-size: 12pt">{{ report.incrementalCosts|number_format(2, '.', '') }}</font>
                </font>
            </p>
        </td>
    </tr>
    <tr valign="top">
        <td width="460" height="1">
            <p style="margin-bottom: 0in; orphans: 0; widows: 0">
                <font face="Arial Narrow, serif"><font size="3" style="font-size: 12pt">
                    <b>Остаток суммы пожертвования (при наличии)</b>
                </font>
                </font>
            </p>
            <p style="orphans: 0; widows: 0"><br/>

            </p>
        </td>
        <td width="460">
            <p align="right" style="orphans: 0; widows: 0"><font face="Arial Narrow, serif"><font size="3" style="font-size: 12pt">{{ report.donationBalance|number_format(2, '.', '') }}</font></font></p>
        </td>
    </tr>
</table>
<p style="margin-bottom: 0in; line-height: 100%; orphans: 0; widows: 0;">
    <br/>
</p>

<p class="western" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p class="western" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p class="western" style="margin-bottom: 0in; line-height: 100%"><font face="Arial Narrow, serif">
    &nbsp;&nbsp;&nbsp;&nbsp;<b>ДАТА,
    ПОДПИСЬ РУКОВОДИТЕЛЯ ОРГАНИЗАЦИИ,
    ПЕЧАТЬ ОРГАНИЗАЦИИ</b></font></p>
<p class="western" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p class="western" style="margin-bottom: 0in; line-height: 100%"><font face="Arial Narrow, serif">
    &nbsp;&nbsp;&nbsp;&nbsp; ____________ &nbsp;&nbsp;&nbsp;&nbsp;
    __________________________ &nbsp;&nbsp;  / <span style="padding-left: 12em"> / </span> </font></p>
<p class="western" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="padding-left: 29em"><font face="Arial Narrow, serif">М.П.</font></p>
<p class="western" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p class="western" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
</body>
</html>