{% extends '::standard_layout.html.twig' %}

{% block content %}
    {% embed '@NKOOrder/Form/base_statistic_widget.html.twig'%}

        {# item's block #}

        {% block year %}
            {% if years is defined %}
                {{ parent() }}
            {% endif %}
        {% endblock %}

        {% block yearPeriod %}
            {% if yearPeriod is defined  %}
                {{ parent() }}
            {% endif %}
        {% endblock %}

        {% block reportForm  %}
            {% if reportForms is defined %}
                {{ parent() }}
            {% endif %}
        {% endblock %}
        {% block period %}
            {% if periods is defined %}
                {{ parent() }}
            {% endif %}
        {% endblock %}
        {% block lastPeriod %}
            {% if lastPeriods is defined %}
                {{ parent() }}
            {% endif %}
        {% endblock %}

        {# ajax block #}

        {% block ajaxLoadReportFormByYear %}
            {% if ajax is defined and ('ajaxLoadReportFormByYear' in ajax) %}
                {{ parent() }}
            {% endif %}
        {% endblock %}

        {% block ajaxLoadPeriodsByReportForm %}
            {% if ajax is defined and ('ajaxLoadPeriodsByReportForm' in ajax) %}
                {{ parent() }}
            {% endif %}
        {% endblock %}

        {% block ajaxLoadPeriodByReportForm %}
            {% if ajax is defined and ('ajaxLoadPeriodByReportForm' in ajax) %}
                {{ parent() }}
            {% endif %}
        {% endblock %}

    {% endembed %}
{% endblock %}