{% extends 'base.html.twig' %}

{% block body %}
    <h1>SiteLink list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Link</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for siteLink in siteLinks %}
            <tr>
                <td><a href="{{ path('sitelink_show', { 'id': siteLink.id }) }}">{{ siteLink.id }}</a></td>
                <td>{{ siteLink.link }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('sitelink_show', { 'id': siteLink.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('sitelink_edit', { 'id': siteLink.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('sitelink_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
