{% extends 'base.html.twig' %}

{% block body %}
    <h1>SiteLink</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ siteLink.id }}</td>
            </tr>
            <tr>
                <th>Link</th>
                <td>{{ siteLink.link }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('sitelink_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('sitelink_edit', { 'id': siteLink.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
