{% extends '::standard_layout.html.twig' %}

{% block content %}
    <div class="box box-primary">
        <div class="box-header">
            <div class="col-sm-offset-1 col-sm-10">
                <h3>Приложения</h3>
            </div>
        </div>
        <div class="box-body">
            <div class="container">

                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Дата</th>
                        <th>Статья расходов</th>
                        <th>Тип документа</th>
                        <th>файл в формате .pdf</th>
                    </tr>
                    </thead>
                    <tbody class="sonata-ba-tbody">
                    {% for attachments in form.children['documents'] %}
                        <tr>
                            <td>
                                {{ attachments.children['date'].vars.data.date|date("Y/m/d") }}
                            </td>
                            <td>
                                {{ attachments.children['expenseType'].vars.data.title }}
                            </td>
                            <td>
                                {{ attachments.children['documentType'].vars.data.title }}
                            </td>
                            <td>
                            {% if attachments.children['file'].vars.data != '1'  %}
                                <div>
                                    <div class="itm_file_preview_ico_c">
                                        <a href="{{ path('download_analytic_report_attachment_path', {'id' : attachments.vars.data.id, 'entity':"NKO\\OrderBundle\\Entity\\Report\\FinanceReport\\Report2018\\Document" , 'field':'file' }) }}"
                                           target="_blank">
                                            <img src="{{ asset('bundles/nkodefault/images/download_file.png') }}"/>
                                            <div class="itm_file_preview_info_c">
                                            </div>
                                        </a>
                                    </div>
                                    <div class="itm_file_separator"></div>
                                </div>
                            {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>Название приложения</th>
                            <th>Файл в формате pdf, doc, xls</th>
                        </tr>
                        </thead>
                        <tbody class="sonata-ba-tbody">
                        {% for attachments in form.children['analyticAttachments'] %}
                        <tr>
                            <td>
                                {{ attachments.children['content'].vars['data'] }}
                            </td>
                            <td>
                                {% if attachments.children['file'].vars.data != '1'  %}
                                    <div>
                                        <div class="itm_file_preview_ico_c">
                                            <a href="{{ path('download_analytic_report_attachment_path', {'id' : attachments.vars.data.id, 'entity':"NKO\\OrderBundle\\Entity\\Report\\MixedReport\\Attachment" , 'field':'file' }) }}"
                                               target="_blank">
                                                <img src="{{ asset('bundles/nkodefault/images/download_file.png') }}"/>
                                                <div class="itm_file_preview_info_c">
                                                </div>
                                            </a>
                                        </div>
                                        <div class="itm_file_separator"></div>
                                    </div>
                                {% else %}
                                    <center>--------------------------------</center>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
            </div>
        </div>
    </div>

{% endblock %}