{% extends 'NKOOrderBundle:CRUD:report/base_edit.html.twig' %}

{% block title %}
    {% if admin.id(object) is not null %}
        {{ "title_edit"|trans({'%name%': admin.toString(object)|truncate(15) }, 'SonataAdminBundle') }}
    {% else %}
        {{ "title_create"|trans({}, 'SonataAdminBundle') }}
    {% endif %}
{% endblock %}

{% block navbar_title %}
    {{ block('title') }}
{% endblock %}

{%- block actions -%}
    {% include 'SonataAdminBundle:CRUD:action_buttons.html.twig' %}
{%- endblock -%}

{% block tab_menu %}{{ knp_menu_render(admin.sidemenu(action), {'currentClass' : 'active', 'template': sonata_admin.adminPool.getTemplate('tab_menu_template')}, 'twig') }}{% endblock %}

{% use 'NKOOrderBundle:CRUD:report/finance_report/base_edit_form_report.html.twig' with form as parentForm %}
{% import "NKOOrderBundle:CRUD:report/base_edit_form_macro_report.html.twig" as form_helper %}

{% block form %}
    {{ block('parentForm') }}
{% endblock %}

{% block sonata_admin_content_actions_wrappers %}
{% endblock sonata_admin_content_actions_wrappers %}