{% extends "NKODefaultBundle::layout.html.twig" %}

{% block title %}{{ 'title' | meta_data('digest') | raw }}{% endblock %}
{% block meta %}
    <meta name="description" content="{{ 'description' | meta_data('digest') | raw }}">
    <meta name="keywords" content="{{ 'keywords' | meta_data('digest') | raw }}">
{% endblock meta %}

{% block content %}
    <div class="col-md-9">
        {% block menu %}
            {{ render(controller('NKOMenuBundle:Menu:createMenu')) }}
        {% endblock %}
        <div class="left-padding">
            <div class="row">
                <div class="col-md-12">
                    <h3>Дайджест фонда</h3>
                </div>
            </div>

            {% for digest in pagination %}
                {% if digest.isPublished %}
                    <div class="row news_block">
                        <div class="col-md-9">
                            <p class="news_title">
                                <a href="{{ path('digest_show', { 'id': digest.id }) }}">{{ digest.name }}</a>
                            </p>

                            <p class="news_date">
                                {{ digest.createdAt | date("d.m.Y") }}
                            </p>

                            <p class="news_description">
                                {{ digest.annotation }}
                            </p>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}

            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <div class="navigation">
                        {{ knp_pagination_render(pagination) }}
                    </div>
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>
    </div>
{% endblock %}







