{% extends "NKODefaultBundle::layout.html.twig" %}

{% block title %}{{ digest.title }}{% endblock %}
{% block meta %}
        <meta name="description" content="{{ digest.metaDescription }}">
        <meta name="keywords" content="{{ digest.metaKeywords }}">
{% endblock meta %}

{% block content %}
    <div class="col-md-9">
        {% block menu %}
            {{ render(controller('NKOMenuBundle:Menu:createMenu')) }}
        {% endblock %}
        <div class="left-padding">
            <div class="row">
                <div class="col-md-12">
                    <h3>{{ digest.name }}</h3>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <p class="news_date">
                        {{ digest.createdAt | date("d.m.Y") }}
                    </p>

                    <p class="news_description">
                        <i>{{ digest.annotation }}</i>
                    </p>

                    <p class="news_content">
                        {{ digest.text | raw }}
                    </p>

                    <p>
                        {%  if digest.digestFiles !=  null %}
                            {% for file in  digest.digestFiles %}
                                <a href="{{ path("digest_download", { 'id': file.id }) }}" target="_blank">
                                    {{ file.name }}
                                </a>
                                <br>
                            {% endfor %}
                        {% endif %}
                    </p>
                </div>
            </div>

            <div class="row social">
                <div class="col-md-12">
                    <div class="ya-share2" data-services="vkontakte,facebook,gplus,twitter" data-counter=""></div>
                </div>
            </div>
            <script src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js"></script>
            <script src="//yastatic.net/share2/share.js"></script>
        </div>
    </div>

{% endblock %}





