<div class="container-fluid">
    <form id="search_form"  method="post" >
        <div class="form_content">
            <div class="input-group">
                <select class="form-control" name="competition" id="competitionSelect" style="width: 400px">
                    {% for competition in competitions %}
                        <option value="{{ competition.id }}">{{ competition.name }}</option>
                    {% endfor %}
                </select>
                <button id="competitionSubmit" class="btn btn-default">Фильтровать</button>
            </div>
        </div>
    </form>
</div>

<script>
    $(document).ready(function() {
        $('#competitionSubmit').on('click', function(event) {
            event.preventDefault();
            var competitionId = $('#competitionSelect').val();
            $.ajax({
                type:"POST",
                url:'{{ path('expert_statistic') }}',
                dataType:"json",
                data:{id: competitionId},
                success : function (response) {
                    document.querySelector("#info").outerHTML=response.view;
                }
            });
        });
    });
</script>