<div class="row" id="info">
    <div class="col-md-6" >
        <br>
            <div class="alert alert-danger">
                <p>Отправлено {{ app.user.getCountSentMark(current_competition) }} из {{ app.user.getApplicationsCount(current_competition) }}</p>
                <p>Завершение оценки {{ current_competition.finishEstimate | date("d.m.Y H:i") }} по Москве</p>
            </div>
        </div>
    <div class="col-md-6">
        <br>
        <div>
            <div class="col-md-3">
                <p> {{ 'tutorial_for_experts' | BLOCK |raw }} </p>
                <p>{{ 'doc_for_experts' | BLOCK |raw }}</p>
            </div>
            <div class="col-md-3">
                <p>{{ 'application_for_experts' | BLOCK |raw }}</p>
            </div>
        </div>

    </div>
</div>