<div class="ct_footer tline">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                {{  'left_banner' | BLOCK | raw }}
            </div>
            <div class="col-md-4 ct_support">
                {{ 'questions' | BLOCK | raw }}
            </div>
            <div class="col-md-4 ct_contacts">
                <h4>{{ 'contacts' | BLOCK | raw}}</h4>
                    <div class="col-md-6">
                        {{ 'first_contact' | BLOCK |raw }}
                    </div>
                    <div class="col-md-6">
                        {{ 'second_contact' | BLOCK |raw }}
                    </div>
            </div>
            <div class="col-md-2 ct_copy">
                {{ 'right_banner' | BLOCK | raw }}

                <div class="author">
                </div>
            </div>
        </div>
    </div>
</div>

