<div class="row ct_logo">
    <a href="{{ path('homepage') }}">
        <img class="logo" src="{{ asset('bundles/nkodefault/images/fond_logo.jpg') }}" alt="ГРАНТОВЫЕ КОНКУРСЫ ПО РЕШЕНИЮ ПРОБЛЕМ ДЕТСТВА">
    </a>
</div>