<div class="left-padding">
    <h3><b>{{ 'main_page_title' | BLOCK | raw }}</b>
        {%  if isChangedCode %}
            <i class="fa fa-smile-o"></i>
        {% endif %}
    </h3>

    <div class="menu">
    <div class="main_menu">
        {% for item in menuItems %}
            {% if item.childNodes is empty %}
                <li>
                    <a href="{{ item.url }}">{{item.title }}</a>
                </li>
            {% else %}
                <li class="{{ item.id }}">
                    <a href="{{ path('show_menu_items', { 'id': item.id }) }}">{{item.title }}</a>
                </li>
            {% endif  %}
        {% endfor %}
    </div>
    <div class="submenu">
        {% for item in menuItems %}
            {%  if item.childNodes is not empty %}
                <ul class="{{ item.id }}">
                    {% for child in item.childNodes %}
                        <li>
                            <a href="{{ child.url }}">{{ child.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endfor %}
    </div>
</div>
</div>

<script>
    var $submenu = $(".submenu"),
            $mainMenu = $(".main_menu");
    $submenu.children().hide();

    $(document).ready(function () {
        $mainMenu.find("li").on("mouseover", function(){
            $submenu.children().hide();

            var $submenuToShow = $("ul."+$(this).attr("class")),
                    position = $(this).position(),
                    left = position.left + "px";

            $submenuToShow.css( {
                'position': 'absolute',
                'left': left,
                'z-index': 1
            });

            $submenuToShow.show();
        });

        $submenu.on("mouseleave", function() {
            $(this).children().hide();
        });
    })
</script>
