<div class="left-padding main-text">
    <div class="row">
        <div class="col-md-12">
            <p>
                {{ 'main_page_content' | BLOCK | raw }}
            </p>
        </div>
    </div>
</div>
