<html>

<head>
    <meta http-equiv=Content-Type content="text/html; charset=UTF-8">
    <meta name=Generator content="Microsoft Word 15 (filtered)">
    <style>
        <!--
        /* Font Definitions */
        @font-face
        {font-family:Wingdings;
            panose-1:5 0 0 0 0 0 0 0 0 0;}
        @font-face
        {font-family:"Cambria Math";
            panose-1:2 4 5 3 5 4 6 3 2 4;}
        @font-face
        {font-family:Tahoma;
            panose-1:2 11 6 4 3 5 4 4 2 4;}
        @font-face
        {font-family:"Arial Narrow";
            panose-1:2 11 6 6 2 2 2 3 2 4;}
        /* Style Definitions */
        p.MsoNormal, li.MsoNormal, div.MsoNormal
        {margin:0cm;
            margin-bottom:.0001pt;
            font-size:12.0pt;
            font-family:"Times New Roman","serif";}
        p.MsoCommentText, li.MsoCommentText, div.MsoCommentText
        {mso-style-link:"Текст примечания Знак";
            margin:0cm;
            margin-bottom:.0001pt;
            font-size:10.0pt;
            font-family:"Times New Roman","serif";}
        p.MsoBodyText, li.MsoBodyText, div.MsoBodyText
        {mso-style-link:"Основной текст Знак";
            margin-top:0cm;
            margin-right:0cm;
            margin-bottom:6.0pt;
            margin-left:0cm;
            font-size:12.0pt;
            font-family:"Times New Roman","serif";}
        p.MsoCommentSubject, li.MsoCommentSubject, div.MsoCommentSubject
        {mso-style-link:"Тема примечания Знак";
            margin:0cm;
            margin-bottom:.0001pt;
            font-size:10.0pt;
            font-family:"Times New Roman","serif";
            font-weight:bold;}
        p.MsoAcetate, li.MsoAcetate, div.MsoAcetate
        {mso-style-link:"Текст выноски Знак";
            margin:0cm;
            margin-bottom:.0001pt;
            font-size:8.0pt;
            font-family:"Tahoma","sans-serif";}
        p.MsoRMPane, li.MsoRMPane, div.MsoRMPane
        {margin:0cm;
            margin-bottom:.0001pt;
            font-size:12.0pt;
            font-family:"Times New Roman","serif";}
        p.MsoListParagraph, li.MsoListParagraph, div.MsoListParagraph
        {margin-top:0cm;
            margin-right:0cm;
            margin-bottom:0cm;
            margin-left:35.4pt;
            margin-bottom:.0001pt;
            font-size:12.0pt;
            font-family:"Times New Roman","serif";}
        span.a
        {mso-style-name:"Основной текст Знак";
            mso-style-link:"Основной текст";
            font-family:"Times New Roman","serif";}
        span.a0
        {mso-style-name:"Текст примечания Знак";
            mso-style-link:"Текст примечания";
            font-family:"Times New Roman","serif";}
        span.a1
        {mso-style-name:"Тема примечания Знак";
            mso-style-link:"Тема примечания";
            font-family:"Times New Roman","serif";
            font-weight:bold;}
        span.a2
        {mso-style-name:"Текст выноски Знак";
            mso-style-link:"Текст выноски";
            font-family:"Tahoma","sans-serif";}
        .MsoChpDefault
        {font-family:"Calibri","sans-serif";}
        .MsoPapDefault
        {margin-bottom:8.0pt;
            line-height:107%;}
        @page WordSection1
        {size:595.3pt 841.9pt;
            margin:36.0pt 36.0pt 36.0pt 36.0pt;}
        div.WordSection1
        {page:WordSection1;}
        /* List Definitions */
        ol
        {margin-bottom:0cm;}
        ul
        {margin-bottom:0cm;}
        -->
    </style>

</head>

<body lang=RU>

<div class=WordSection1>

    <p class=MsoNormal align=center style='margin-top:6.0pt;text-align:center'><b><span
                    style='font-family:"Arial Narrow","sans-serif"'>ЗАЯВКА </span></b></p>

    <p class=MsoNormal align=center style='margin-top:6.0pt;text-align:center'><b><span
                    style='font-family:"Arial Narrow","sans-serif"'>для участия во Всероссийском
конкурсе «Курс на семью»</span></b></p>

    <p class=MsoNormal><b><span style='font-family:"Arial Narrow","sans-serif"'>&nbsp;</span></b></p>

    <p class=MsoListParagraph style='margin-left:0cm;text-align:justify;text-indent:
0cm'><b><span style='font-family:"Arial Narrow","sans-serif"'>1.<span
                        style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></b><b><span style='font-family:"Arial Narrow","sans-serif"'>Вкладка
</span></b><b><span lang=EN-US style='font-family:"Arial Narrow","sans-serif"'>I</span></b><b><span
                    style='font-family:"Arial Narrow","sans-serif"'>. ИНФОРМАЦИЯ ОБ ОРГАНИЗАЦИИ</span></b></p>

    <p class=MsoListParagraph style='margin-left:0cm;text-align:justify'><b><span
                    style='font-family:"Arial Narrow","sans-serif"'>&nbsp;</span></b></p>

    <p class=MsoNormal style='margin-left:18.0pt;text-align:justify;text-indent:
-18.0pt'><span style='font-family:"Arial Narrow","sans-serif";color:black'>1.1.<span
                    style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span></span><span
                style='font-family:"Arial Narrow","sans-serif"'><b>Полное название</b> организации: {{ application.name }} </span></p>

    <p class=MsoNormal style='margin-left:18.0pt;text-align:justify'><span
                style='font-family:"Arial Narrow","sans-serif"'>&nbsp;</span></p>

    <p class=MsoNormal style='margin-left:18.0pt;text-align:justify;text-indent:
-18.0pt'><span style='font-family:"Arial Narrow","sans-serif";color:black'>1.2.<span
                    style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span></span><span
                style='font-family:"Arial Narrow","sans-serif"'><b>Сокращенное название</b> организации: {{ application.abbreviation }} </span></p>

    <p class=MsoListParagraph><span style='font-family:"Arial Narrow","sans-serif"'>&nbsp;</span></p>

    <p class=MsoNormal style='margin-left:18.0pt;text-align:justify;text-indent:
-18.0pt'><span style='font-family:"Arial Narrow","sans-serif";color:black'>1.3.<span
                    style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span></span><span
                style='font-family:"Arial Narrow","sans-serif"'><b>ОГРН</b> организации: {{ application.pSRN }}</span></p>

    <p class=MsoListParagraph><span style='font-family:"Arial Narrow","sans-serif"'>&nbsp;</span></p>

    <p class=MsoNormal style='margin-left:18.0pt;text-align:justify;text-indent:
-18.0pt'><span style='font-family:"Arial Narrow","sans-serif";color:black'>1.4.<span
                    style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span></span><span
                style='font-family:"Arial Narrow","sans-serif"'>Юридический <b>адрес</b>:

    <p class=MsoListParagraph style='margin-left:36.0pt;text-align:justify;
  text-indent:-18.0pt'><span style='font-family:Symbol'>·<span
                    style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span><span style='font-family:"Arial Narrow","sans-serif"'>Индекс: {{ application.legalPostCode }}</span></p>
    <p class=MsoListParagraph style='margin-left:36.0pt;text-align:justify;
  text-indent:-18.0pt'><span style='font-family:Symbol'>·<span
                    style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span><span style='font-family:"Arial Narrow","sans-serif"'>Регион: {{ application.legalRegion }}</span></p>
    <p class=MsoListParagraph style='margin-left:36.0pt;text-align:justify;
  text-indent:-18.0pt'><span style='font-family:Symbol'>·<span
                    style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span><span style='font-family:"Arial Narrow","sans-serif"'>Населенный пункт: {{ application.legalCity }}</span></p>
    <p class=MsoListParagraph style='margin-left:36.0pt;text-align:justify;
  text-indent:-18.0pt'><span style='font-family:Symbol'>·<span
                    style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span><span style='font-family:"Arial Narrow","sans-serif"'>Улица, дом, корпус, номер офиса: {{ application.legalStreet }}</span></p>
    <p class=MsoListParagraph><span style='font-family:"Arial Narrow","sans-serif"'>&nbsp;</span></p>


    <p class=MsoNormal style='margin-left:18.0pt;text-align:justify;text-indent:
-18.0pt'><span style='font-family:"Arial Narrow","sans-serif";color:black'>1.5.<span
                    style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span></span>

        <span style='font-family:"Arial Narrow","sans-serif"'>Фактический <b>адрес</b>:
            {% if application.isAddressesEqual == true %}
    <p class=MsoListParagraph style='margin-left:36.0pt;text-align:justify;
  text-indent:-18.0pt'><span style='font-family:Symbol'>·<span
                    style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span><span style='font-family:"Arial Narrow","sans-serif"'>Индекс: {{ application.legalPostCode }}</span></p>
    <p class=MsoListParagraph style='margin-left:36.0pt;text-align:justify;
  text-indent:-18.0pt'><span style='font-family:Symbol'>·<span
                    style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span><span style='font-family:"Arial Narrow","sans-serif"'>Регион: {{ application.legalRegion }}</span></p>
    <p class=MsoListParagraph style='margin-left:36.0pt;text-align:justify;
  text-indent:-18.0pt'><span style='font-family:Symbol'>·<span
                    style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span><span style='font-family:"Arial Narrow","sans-serif"'>Населенный пункт: {{ application.legalCity }}</span></p>
    <p class=MsoListParagraph style='margin-left:36.0pt;text-align:justify;
  text-indent:-18.0pt'><span style='font-family:Symbol'>·<span
                    style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span><span style='font-family:"Arial Narrow","sans-serif"'>Улица, дом, корпус, номер офиса: {{ application.legalStreet }}</span></p>
    {% else %}

        <p class=MsoListParagraph style='margin-left:36.0pt;text-align:justify;
  text-indent:-18.0pt'><span style='font-family:Symbol'>·<span
                        style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span><span style='font-family:"Arial Narrow","sans-serif"'>Индекс: {{ application.actualPostCode }}</span></p>
        <p class=MsoListParagraph style='margin-left:36.0pt;text-align:justify;
  text-indent:-18.0pt'><span style='font-family:Symbol'>·<span
                        style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span><span style='font-family:"Arial Narrow","sans-serif"'>Регион: {{ application.actualRegion }}</span></p>
        <p class=MsoListParagraph style='margin-left:36.0pt;text-align:justify;
  text-indent:-18.0pt'><span style='font-family:Symbol'>·<span
                        style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span><span style='font-family:"Arial Narrow","sans-serif"'>Населенный пункт: {{ application.actualCity }}</span></p>
        <p class=MsoListParagraph style='margin-left:36.0pt;text-align:justify;
  text-indent:-18.0pt'><span style='font-family:Symbol'>·<span
                        style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span><span style='font-family:"Arial Narrow","sans-serif"'>Улица, дом, корпус, номер офиса: {{ application.actualStreet }}</span></p>
    {% endif %}

    <p class=MsoListParagraph><b><span style='font-family:"Arial Narrow","sans-serif"'>&nbsp;</span></b></p>

    <p class=MsoNormal style='margin-left:18.0pt;text-align:justify;text-indent:
-18.0pt'>
        <span style='font-family:"Arial Narrow","sans-serif";color:black'>1.6.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span></span>
        <span style='font-family:"Arial Narrow","sans-serif"'>
        <b>Сайт</b> организации в сети Интернет:
            {% for siteLink in application.siteLinks %}
    <p>{{ siteLink.link }}</p>
    </span></p>
    {% endfor %}

    <p class=MsoListParagraph><span style='font-family:"Arial Narrow","sans-serif"'>&nbsp;</span></p>

    <p class=MsoNormal style='margin-left:18.0pt;text-align:justify;text-indent:
-18.0pt'><span style='font-family:"Arial Narrow","sans-serif";color:black'>1.7.<span
                    style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span></span><span
                style='font-family:"Arial Narrow","sans-serif"'>Страницы организации в <b>социальных
                сетях</b>:
            {% for socialNetwork in application.socialNetworkLinks %}
    <p>{{ socialNetwork.link }}</p>  </span></p>
    {% endfor %}
    <p class=MsoListParagraph><span style='font-family:"Arial Narrow","sans-serif"'>&nbsp;</span></p>

    <p class=MsoNormal style='margin-left:18.0pt;text-align:justify;text-indent:
-18.0pt'><span style='font-family:"Arial Narrow","sans-serif";color:black'>1.8.<span
                    style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span
                style='font-family:"Arial Narrow","sans-serif"'>Адрес <b>электронной</b> почты
для оперативного контакта с организацией: {{ application.email }}</span></p>

    <p class=MsoListParagraph><b><span style='font-family:"Arial Narrow","sans-serif"'>&nbsp;</span></b></p>

    <p class=MsoNormal style='margin-left:18.0pt;text-align:justify;text-indent:
-18.0pt'><span style='font-family:"Arial Narrow","sans-serif";color:black'>1.9.<span
                    style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span></span><span
                style='font-family:"Arial Narrow","sans-serif"'><b>Телефон</b> для оперативного контакта с
организацией (код) (номер): {{ '+7('~application.phoneCode~')'~application.phone }}</span></p>

    <p class=MsoListParagraph><b><span style='font-family:"Arial Narrow","sans-serif"'>&nbsp;</span></b></p>

    <p class=MsoNormal style='margin-left:18.0pt;text-align:justify;text-indent:
-18.0pt'><span style='font-family:"Arial Narrow","sans-serif";color:black'>1.10.<span
                    style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span></span><span style='font-family:"Arial Narrow","sans-serif"'>
            <b>Руководитель организации:</b>
            {% if application.headOfOrganizationFullName is null %}
            {% else %}
    <p class=MsoListParagraph style='margin-left:36.0pt;text-align:justify;
  text-indent:-18.0pt'><span style='font-family:Symbol'>·<span
                    style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span><span style='font-family:"Arial Narrow","sans-serif"'>ФИО: {{ application.headOfOrganizationFullName }}</span></p>
    <p class=MsoListParagraph style='margin-left:36.0pt;text-align:justify;
  text-indent:-18.0pt'><span style='font-family:Symbol'>·<span
                    style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span><span style='font-family:"Arial Narrow","sans-serif"'>Должность: {{ application.headOfOrganizationPosition }}</span></p>
    <p class=MsoListParagraph style='margin-left:36.0pt;text-align:justify;
  text-indent:-18.0pt'><span style='font-family:Symbol'>·<span
                    style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span><span style='font-family:"Arial Narrow","sans-serif"'>Телефон (код)(номер): {{ '+7('~application.headOfOrganizationPhoneCode~')'~application.headOfOrganizationPhone }}</span></p>
    <p class=MsoListParagraph style='margin-left:36.0pt;text-align:justify;
  text-indent:-18.0pt'><span style='font-family:Symbol'>·<span
                    style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span><span style='font-family:"Arial Narrow","sans-serif"'>Мобильный телефон (код)(номер): {{ '+7('~application.headOfOrganizationMobilePhoneCode~')'~application.headOfOrganizationMobilePhone }}</span></p>
    <p class=MsoListParagraph style='margin-left:36.0pt;text-align:justify;
  text-indent:-18.0pt'><span style='font-family:Symbol'>·<span
                    style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span><span style='font-family:"Arial Narrow","sans-serif"'>Адрес электронной почты: {{ application.headOfOrganizationEmeil }}</span></p>
    {% endif %}

    <p class=MsoNormal style='margin-left:35.45pt;text-align:justify'><span
                style='font-family:"Arial Narrow","sans-serif"'>&nbsp;</span></p>

    <p class=MsoNormal style='margin-left:0cm;text-align:justify;text-indent:0cm'><span
                style='font-family:"Arial Narrow","sans-serif";color:black'>1.11.<span
                    style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span></span><span style='font-family:"Arial Narrow","sans-serif"'>
            <b>Руководитель проекта:</b>
            {% if application.headOfProjectFullName is null %}
            {% else %}
    <p class=MsoListParagraph style='margin-left:36.0pt;text-align:justify;
  text-indent:-18.0pt'><span style='font-family:Symbol'>·<span
                    style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span><span style='font-family:"Arial Narrow","sans-serif"'>ФИО: {{ application.headOfProjectFullName }}</span></p>
    <p class=MsoListParagraph style='margin-left:36.0pt;text-align:justify;
  text-indent:-18.0pt'><span style='font-family:Symbol'>·<span
                    style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span><span style='font-family:"Arial Narrow","sans-serif"'>Должность: {{ application.headOfProjectPosition }}</span></p>
    <p class=MsoListParagraph style='margin-left:36.0pt;text-align:justify;
  text-indent:-18.0pt'><span style='font-family:Symbol'>·<span
                    style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span><span style='font-family:"Arial Narrow","sans-serif"'>Телефон (код)(номер): {{ '+7('~application.headOfProjectPhoneCode~')'~application.headOfProjectPhone }}</span></p>
    <p class=MsoListParagraph style='margin-left:36.0pt;text-align:justify;
  text-indent:-18.0pt'><span style='font-family:Symbol'>·<span
                    style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span><span style='font-family:"Arial Narrow","sans-serif"'>Мобильный телефон (код)(номер): {{ '+7('~application.headOfProjectMobilePhoneCode~')'~application.headOfProjectMobilePhone }}</span></p>
    <p class=MsoListParagraph style='margin-left:36.0pt;text-align:justify;
  text-indent:-18.0pt'><span style='font-family:Symbol'>·<span
                    style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span><span style='font-family:"Arial Narrow","sans-serif"'>Адрес электронной почты: {{ application.headOfProjectEmeil }}</span></p>
    {% endif %}

    <p class=MsoListParagraph><b><span style='font-family:"Arial Narrow","sans-serif"'>&nbsp;</span></b></p>

    <p class=MsoNormal style='margin-left:0cm;text-align:justify;text-indent:0cm'><span
                style='font-family:"Arial Narrow","sans-serif";color:black'>1.12.<span
                    style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span></span><span style='font-family:"Arial Narrow","sans-serif"'>
                <b>Главный бухгалтер</b>:
            {% if application.headOfProjectFullName is null %}
            {% else %}
    <p class=MsoListParagraph style='margin-left:36.0pt;text-align:justify;
  text-indent:-18.0pt'><span style='font-family:Symbol'>·<span
                    style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span><span style='font-family:"Arial Narrow","sans-serif"'>ФИО: {{ application.headOfAccountingFullName }}</span></p>
    <p class=MsoListParagraph style='margin-left:36.0pt;text-align:justify;
  text-indent:-18.0pt'><span style='font-family:Symbol'>·<span
                    style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span><span style='font-family:"Arial Narrow","sans-serif"'>Телефон (код)(номер): {{ '+7('~application.headOfAccountingPhoneCode~')'~application.headOfAccountingPhone }}</span></p>
    <p class=MsoListParagraph style='margin-left:36.0pt;text-align:justify;
  text-indent:-18.0pt'><span style='font-family:Symbol'>·<span
                    style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span><span style='font-family:"Arial Narrow","sans-serif"'>Мобильный телефон (код)(номер): {{ '+7('~application.headOfAccountingMobilePhoneCode~')'~application.headOfAccountingMobilePhone }}</span></p>
    <p class=MsoListParagraph style='margin-left:36.0pt;text-align:justify;
  text-indent:-18.0pt'><span style='font-family:Symbol'>·<span
                    style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span><span style='font-family:"Arial Narrow","sans-serif"'>Адрес электронной почты: {{ application.headOfAccountingEmeil }}</span></p>
    {% endif %}

    <p class=MsoNormal style='text-align:justify'><span style='font-family:"Arial Narrow","sans-serif"'>&nbsp;</span></p>

    <p class=MsoNormal style='margin-left:0cm;text-align:justify;text-indent:0cm'><span
                style='font-family:"Arial Narrow","sans-serif";color:black'>1.13.<span
                    style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span></span><span style='font-family:"Arial Narrow","sans-serif"'>
                <b>Дата регистрации организации:</b>
            {{ application.dateRegistrationOfOrganization | date ("d/m/Y") }} </span></p>

    <p class=MsoNormal style='text-align:justify'><b><span style='font-family:"Arial Narrow","sans-serif"'>&nbsp;</span></b></p>

    <p class=MsoNormal style='margin-left:0cm;text-align:justify;text-indent:0cm'><span
                style='font-family:"Arial Narrow","sans-serif";color:black'>1.14.<span
                    style='font:7.0pt "Times New Roman"'>&nbsp;</span></span><span style='font-family:"Arial Narrow","sans-serif"'>
            <b>Основные виды деятельности организации</b> согласно Уставу,
                соответствующие направлениям Конкурса и предлагаемому проекту:
            {{ application.primaryActivity }} </span></p>

    <p class=MsoListParagraph><b><span style='font-family:"Arial Narrow","sans-serif"'>&nbsp;</span></b></p>

    <p class=MsoNormal style='margin-left:0cm;text-align:justify;text-indent:0cm'><span
                style='font-family:"Arial Narrow","sans-serif";color:black'>1.15.<span
                    style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span></span><span style='font-family:"Arial Narrow","sans-serif"'>
            <b>Миссия</b> организации:
            {{ application.mission }}</span></p>

    <p class=MsoListParagraph><b><span style='font-family:"Arial Narrow","sans-serif"'>&nbsp;</span></b></p>

    <p class=MsoNormal style='margin-left:0cm;text-align:justify;text-indent:0cm'><span
                style='font-family:"Arial Narrow","sans-serif";color:black'>1.16.<span
                    style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span></span><span style='font-family:"Arial Narrow","sans-serif"'>
            Количество <b>сотрудников и добровольцев</b> организации на дату подачи заявки:</span></p>

    <p class=MsoNormal style='text-align:justify'><span style='font-family:"Arial Narrow","sans-serif"'>&nbsp;</span></p>

    <table class=MsoNormalTable border=1 cellspacing=0 cellpadding=0 width=614
           style='width:460.7pt;margin-left:19.6pt;border-collapse:collapse;border:none'>
        <tr>
            <td width=444 valign=top style='width:333.1pt;border:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
                <p class=MsoNormal style='text-align:justify'><span style='font-family:"Arial Narrow","sans-serif"'>штатных
  сотрудников, чел.</span></p>
            </td>
            <td width=170 valign=top style='width:127.6pt;border:solid windowtext 1.0pt;
  border-left:none;padding:0cm 5.4pt 0cm 5.4pt'> {{ application.countStaffEmployees }}
            </td>
        </tr>
        <tr>
            <td width=444 valign=top style='width:333.1pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0cm 5.4pt 0cm 5.4pt'>
                <p class=MsoNormal style='text-align:justify'><span style='font-family:"Arial Narrow","sans-serif"'>привлеченных
  сотрудников, чел.</span></p>
            </td>
            <td width=170 valign=top style='width:127.6pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'> {{ application.countInvolvingEmployees }}
            </td>
        </tr>
        <tr>
            <td width=444 valign=top style='width:333.1pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0cm 5.4pt 0cm 5.4pt'>
                <p class=MsoNormal style='text-align:justify'><span style='font-family:"Arial Narrow","sans-serif"'>добровольцев, чел.</span></p>
            </td>
            <td width=170 valign=top style='width:127.6pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'> {{ application.countVolunteerEmployees }}
            </td>
        </tr>
    </table>

    <p class=MsoListParagraph style='margin-left:0cm;text-align:justify'><span
                style='font-family:"Arial Narrow","sans-serif";color:red'>&nbsp;</span></p>

    <p class=MsoListParagraph style='margin-left:0cm;text-align:justify;text-indent:
0cm'><span style='font-family:"Arial Narrow","sans-serif";color:black'>1.17.<span
                    style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;</span></span>
        <span style='font-family:"Arial Narrow","sans-serif"'><b>Основные реализованные проекты</b> по теме семейного устройства
            и профилактики социального сиротства за последние 2 года:</span></p>

    <p class=MsoListParagraph style='margin-left:0cm;text-align:justify'><span
                style='font-family:"Arial Narrow","sans-serif";color:red'>&nbsp;</span></p>

    {% set num = 0 %}
    <table class=MsoNormalTable border=1 cellspacing=0 cellpadding=0
           style='margin-left:18.0pt;border-collapse:collapse;border:none'>
        <tr>
            <td width=50 valign=top style='width:37.8pt;border:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
                <p class=MsoNormal style='text-autospace:none'><span style='font-family:"Arial Narrow","sans-serif"'>№
  п/п</span></p>
            </td>
            <td width=160 valign=top style='width:119.7pt;border:solid windowtext 1.0pt;
  border-left:none;padding:0cm 5.4pt 0cm 5.4pt'>
                <p class=MsoNormal style='text-autospace:none'><span style='font-family:"Arial Narrow","sans-serif"'>Название
  проекта</span></p>
            </td>
            <td width=151 valign=top style='width:4.0cm;border:solid windowtext 1.0pt;
  border-left:none;padding:0cm 5.4pt 0cm 5.4pt'>
                <p class=MsoNormal style='text-autospace:none'><span style='font-family:"Arial Narrow","sans-serif"'>Сроки
  реализации</span></p>
            </td>
            <td width=140 valign=top style='width:105.15pt;border:solid windowtext 1.0pt;
  border-left:none;padding:0cm 5.4pt 0cm 5.4pt'>
                <p class=MsoNormal style='text-autospace:none'><span style='font-family:"Arial Narrow","sans-serif"'>Результаты</span></p>
            </td>
            <td width=132 valign=top style='width:98.7pt;border:solid windowtext 1.0pt;
  border-left:none;padding:0cm 5.4pt 0cm 5.4pt'>
                <p class=MsoNormal style='text-autospace:none'><span style='font-family:"Arial Narrow","sans-serif"'>Доноры
  ,партнеры и их роль</span></p>
            </td>
        </tr>
        {% for project in application.projects %}
            <tr>
                {% set num = num + 1 %}
                <td width=50 valign=top style='width:37.8pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0cm 5.4pt 0cm 5.4pt'>
                    {{ num }}
                </td>
                <td width=160 valign=top style='width:119.7pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
                    {{ project.projectName }}
                </td>
                <td width=151 valign=top style='width:4.0cm;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
                    {{ project.deadline }}
                </td>
                <td width=140 valign=top style='width:105.15pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
                    {{ project.result }}
                </td>
                <td width=132 valign=top style='width:98.7pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
                    {{ project.donorsPartnersAndTheirRole }}
                </td>
            </tr>
        {% endfor %}
    </table>

    <p class=MsoListParagraph style='margin-left:0cm;text-align:justify'><span
                style='font-family:"Arial Narrow","sans-serif"'>&nbsp;</span></p>

    <p class=MsoListParagraph style='margin-left:0cm;text-align:justify;text-indent:
0cm'><span style='font-family:"Arial Narrow","sans-serif";color:black'>1.18.<span
                    style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='font-family:"Arial Narrow","sans-serif"'>
            Ссылка на последний <b>годовой отчет</b> Организации: {{ application.linkToAnnualReport }}</span></p>

    <p class=MsoListParagraph><b><span style='font-family:"Arial Narrow","sans-serif"'>&nbsp;</span></b></p>

    <p class=MsoListParagraph style='margin-left:21.75pt;text-align:justify;
text-indent:-21.75pt'><span style='font-family:"Arial Narrow","sans-serif"'>1.19.<span
                    style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='font-family:"Arial Narrow","sans-serif"'>
            <b>Публикации</b> об организации за последние 2 года:</span></p>

    <p class=MsoListParagraph style='margin-left:0cm;text-align:justify'><span style='font-family:"Arial Narrow","sans-serif";color:red'>&nbsp;</span></p>

    {% set num = 0 %}
    <table class=MsoNormalTable border=1 cellspacing=0 cellpadding=0
           style='margin-left:18.0pt;border-collapse:collapse;border:none'>
        <tr>
            <td width=49 valign=top style='width:36.75pt;border:solid windowtext 1.0pt;
   padding:0cm 5.4pt 0cm 5.4pt'>
                <p class=MsoNormalCxSpFirst align=center style='text-align:center;
   text-autospace:none'><span style='font-family:"Arial Narrow","sans-serif"'>№</span></p>
                <p class=MsoNormalCxSpMiddle align=center style='text-align:center;
   text-autospace:none'><span style='font-family:"Arial Narrow","sans-serif"'>п/п</span></p>
            </td>
            <td width=214 valign=top style='width:160.45pt;border:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
                <p class=MsoListParagraph style='margin-left:0cm;text-align:justify'><span
                            style='font-family:"Arial Narrow","sans-serif"'>Название публикации</span></p>
            </td>
            <td width=214 valign=top style='width:160.5pt;border:solid windowtext 1.0pt;
  border-left:none;padding:0cm 5.4pt 0cm 5.4pt'>
                <p class=MsoListParagraph style='margin-left:0cm;text-align:justify'><span
                            style='font-family:"Arial Narrow","sans-serif"'>Год публикации</span></p>
            </td>
            <td width=214 valign=top style='width:160.5pt;border:solid windowtext 1.0pt;
  border-left:none;padding:0cm 5.4pt 0cm 5.4pt'>
                <p class=MsoListParagraph style='margin-left:0cm'><span style='font-family:
  "Arial Narrow","sans-serif"'>Ссылка на публикацию (если есть)</span></p>
            </td>
        </tr>
        {% for publication in application.publications %}
            <tr>
                {% set num = num + 1 %}
                <td width=214 valign=top style='width:160.45pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0cm 5.4pt 0cm 5.4pt'>
                    {{ num }}
                </td>
                <td width=214 valign=top style='width:160.45pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0cm 5.4pt 0cm 5.4pt'>
                    {{ publication.publicationName }}
                </td>
                <td width=214 valign=top style='width:160.5pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
                    {{ publication.yearPublication }}
                </td>
                <td width=214 valign=top style='width:160.5pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
                    {{ publication.link | word_divider }}
                </td>
            </tr>
        {% endfor %}
    </table>

    <p class=MsoListParagraph style='margin-left:0cm;text-align:justify'><span
                style='font-family:"Arial Narrow","sans-serif"'>&nbsp;</span></p>

    <p class=MsoListParagraph style='margin-left:0cm;text-align:justify'><span
                style='font-family:"Arial Narrow","sans-serif"'>&nbsp;</span></p>

    <p class=MsoListParagraph style='margin-left:21.75pt;text-align:justify;
text-indent:-21.75pt'><b><span style='font-family:"Arial Narrow","sans-serif"'>2.<span
                        style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></b><b><span style='font-family:"Arial Narrow","sans-serif"'>Вкладка
</span></b><b><span lang=EN-US style='font-family:"Arial Narrow","sans-serif"'>II</span></b><b><span
                    style='font-family:"Arial Narrow","sans-serif"'>. ИНФОРМАЦИЯ ДЛЯ ЗАКЛЮЧЕНИЯ
ДОГОВОРА С ПОБЕДИТЕЛЕМ </span></b></p>

    <p class=MsoListParagraph style='margin-left:21.75pt;text-align:justify'><span
                style='font-family:"Arial Narrow","sans-serif"'>&nbsp;</span></p>

    <table class=MsoNormalTable border=1 cellspacing=0 cellpadding=0 width=662
           style='width:496.15pt;margin-left:5.4pt;border-collapse:collapse;border:none'>
        <tr style='page-break-inside:avoid'>
            <td width=662 valign=top style='width:496.15pt;border:none;padding:0cm 5.4pt 0cm 5.4pt'>
                <p class=MsoNormal style='text-align:justify'><span style='font-family:
  "Arial Narrow","sans-serif"'>2.1.&nbsp;
                        <b>Банковские реквизиты организации </b></span></p>
                <p class=MsoNormal style='text-align:justify'><b><span style='font-family:
  "Arial Narrow","sans-serif"'>&nbsp;</span></b></p>
                <p class=MsoListParagraph style='margin-left:36.0pt;text-align:justify;
  text-indent:-18.0pt'><span style='font-family:Symbol'>·<span
                                style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span><span style='font-family:"Arial Narrow","sans-serif"'>ИНН: {{ application.iNN }}</span></p>
                <p class=MsoNormal style='text-align:justify'><span style='font-family:"Arial Narrow","sans-serif"'>&nbsp;</span></p>
                <p class=MsoListParagraph style='margin-left:36.0pt;text-align:justify;
  text-indent:-18.0pt'><span style='font-family:Symbol'>·<span
                                style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span><span style='font-family:"Arial Narrow","sans-serif"'>КПП: {{ application.kPP }}</span>
                <p class=MsoNormal style='text-align:justify'><span style='font-family:"Arial Narrow","sans-serif";
  color:#A8D08D'>&nbsp;</span></p>
                <p class=MsoListParagraph style='margin-left:36.0pt;text-align:justify;
  text-indent:-18.0pt'><span style='font-family:Symbol'>·<span
                                style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span><span style='font-family:"Arial Narrow","sans-serif"'>ОКПО: {{ application.oKPO }}</span>
                <p class=MsoNormal style='text-align:justify'><span style='font-family:"Arial Narrow","sans-serif";
  color:#A8D08D'>&nbsp;</span></p>
                <p class=MsoListParagraph style='margin-left:36.0pt;text-align:justify;
  text-indent:-18.0pt'><span style='font-family:Symbol'>·<span
                                style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span><span style='font-family:"Arial Narrow","sans-serif"'>ОКТМО: {{ application.oKTMO }}</span>
                <p class=MsoNormal style='text-align:justify'><span style='font-family:"Arial Narrow","sans-serif"'>&nbsp;</span></p>
                <p class=MsoListParagraph style='margin-left:36.0pt;text-align:justify;
  text-indent:-18.0pt'><span style='font-family:Symbol'>·<span
                                style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span><span style='font-family:"Arial Narrow","sans-serif"'>ОКВЭД: {{ application.oKVED }}</span>
                <p class=MsoNormal style='text-align:justify'><span style='font-family:"Arial Narrow","sans-serif"'>&nbsp;</span></p>
                <p class=MsoListParagraph style='margin-left:36.0pt;text-align:justify;
  text-indent:-18.0pt'><span style='font-family:Symbol'>·<span
                                style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span><span style='font-family:"Arial Narrow","sans-serif"'>КБК: {{ application.kBK }}</span>
                <p class=MsoNormal style='text-align:justify'><span style='font-family:"Arial Narrow","sans-serif";
  color:red'>&nbsp;</span></p>
                <p class=MsoListParagraph style='margin-left:36.0pt;text-align:justify;
  text-indent:-18.0pt'><span style='font-family:Symbol'>·<span
                                style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span><span style='font-family:"Arial Narrow","sans-serif"'>Наименование
  учреждения банка: {{ application.bankName }}</span></p>
                <p class=MsoNormal style='text-align:justify'><span style='font-family:"Arial Narrow","sans-serif"'>&nbsp;</span></p>
                <p class=MsoListParagraph style='margin-left:36.0pt;text-align:justify;
  text-indent:-18.0pt'><span style='font-family:Symbol'>·<span
                                style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span><span style='font-family:"Arial Narrow","sans-serif"'>Местонахождение
  банка: {{ application.bankLocation }}</span></p>
                <p class=MsoNormal style='text-align:justify'><span style='font-family:"Arial Narrow","sans-serif"'>&nbsp;</span></p>
                <p class=MsoListParagraph style='margin-left:36.0pt;text-align:justify;
  text-indent:-18.0pt'><span style='font-family:Symbol'>·<span
                                style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span><span style='font-family:"Arial Narrow","sans-serif"'>ИНН банка: {{ application.bankINN }}</span>
                <p class=MsoNormal style='text-align:justify'><span style='font-family:"Arial Narrow","sans-serif"'>&nbsp;</span></p>
                <p class=MsoListParagraph style='margin-left:36.0pt;text-align:justify;
  text-indent:-18.0pt'><span style='font-family:Symbol'>·<span
                                style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span><span style='font-family:"Arial Narrow","sans-serif"'>КПП банка: {{ application.bankKPP }}</span>
                <p class=MsoNormal style='text-align:justify'><span style='font-family:"Arial Narrow","sans-serif"'>&nbsp;</span></p>
                <p class=MsoListParagraph style='margin-left:36.0pt;text-align:justify;
  text-indent:-18.0pt'><span style='font-family:Symbol'>·<span
                                style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span><span style='font-family:"Arial Narrow","sans-serif"'>Корреспондентский
  счёт: {{ application.correspondentAccount }}</span></p>
                <p class=MsoNormal style='text-align:justify'><span style='font-family:"Arial Narrow","sans-serif"'>&nbsp;</span></p>
                <p class=MsoListParagraph style='margin-left:36.0pt;text-align:justify;
  text-indent:-18.0pt'><span style='font-family:Symbol'>·<span
                                style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span><span style='font-family:"Arial Narrow","sans-serif"'>БИК: {{ application.bIK }}</span>
                <p class=MsoNormal style='text-align:justify'><span style='font-family:"Arial Narrow","sans-serif"'>&nbsp;</span></p>
                <p class=MsoListParagraph style='margin-left:36.0pt;text-align:justify;
  text-indent:-18.0pt'><span style='font-family:Symbol'>·<span
                                style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span><span style='font-family:"Arial Narrow","sans-serif"'>Расчётный
  счёт: {{ application.paymentAccount }}</span></p>
            </td>
        </tr>
    </table>

    <p class=MsoNormal style='text-align:justify'><span style='font-family:"Arial Narrow","sans-serif"'>&nbsp;</span></p>
    <p class=MsoNormal style='text-align:justify'><span style='font-family:"Arial Narrow","sans-serif"'>&nbsp;</span></p>

    <p class=MsoListParagraph style='margin-left:0cm;text-indent:0cm'><span
                style='font-size:11.0pt;font-family:"Arial Narrow","sans-serif"'><b>3.</b><span
                    style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><b><span style='font-family:"Arial Narrow","sans-serif"'>Вкладка </span></b><b><span
                    lang=EN-US style='font-family:"Arial Narrow","sans-serif"'>III</span></b><b><span
                    style='font-family:"Arial Narrow","sans-serif"'>. ОПИСАНИЕ ПРОЕКТА </span></b></p>

    <p class=MsoListParagraph style='margin-left:0cm'><span style='font-family:
"Arial Narrow","sans-serif"'>&nbsp;</span></p>

    <p class=MsoListParagraph style='margin-left:0cm;text-align:justify;text-indent:
0cm'><span style='font-family:"Arial Narrow","sans-serif"'>3.1.<span
                    style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span></span><span style='font-family:"Arial Narrow","sans-serif"'>
            Название проекта: {{ application.projectName }}</span></p>

    <p class=MsoListParagraph style='margin-left:0cm;text-align:justify'><span
                style='font-family:"Arial Narrow","sans-serif"'>&nbsp;</span></p>

    <p class=MsoListParagraph style='margin-left:0cm;text-align:justify;text-indent:
0cm'><span style='font-family:"Arial Narrow","sans-serif"'>3.2.<span
                    style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;</span></span><span style='font-family:"Arial Narrow","sans-serif"'>
            Сроки реализации проекта (не ранее 01 августа и не
позднее 15 ноября 2017): c {{ application.deadLineStart | date ("d.m.Y") }} по {{ application.deadLineFinish | date ("d.m.Y") }}</span></p>

    <p class=MsoNormal style='text-autospace:none'><span style='font-family:"Arial Narrow","sans-serif";
color:black'>&nbsp;</span></p>

    <p class=MsoListParagraph style='margin-left:0cm;text-align:justify;text-indent:
0cm'><span style='font-family:"Arial Narrow","sans-serif"'>3.3.<span
                    style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span></span><span style='font-family:"Arial Narrow","sans-serif"'>
                <b>Цель</b> проекта: {{ application.projectPurpose }}</span></p>

    <p class=MsoListParagraph><span style='font-family:"Arial Narrow","sans-serif"'>&nbsp;</span></p>

    <p class=MsoListParagraph style='margin-left:0cm;text-align:justify;text-indent:
0cm'><span style='font-family:"Arial Narrow","sans-serif"'>3.4.<span
                    style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span></span><span style='font-family:"Arial Narrow","sans-serif"'>
                <b>Обоснование актуальности и важности</b> проекта: {{ application.projectRelevance }}</span></p>

    <p class=MsoListParagraph><span style='font-family:"Arial Narrow","sans-serif"'>&nbsp;</span></p>

    <p class=MsoListParagraph style='margin-left:0cm;text-align:justify;text-indent:
0cm'><span style='font-family:"Arial Narrow","sans-serif"'>3.5.<span
                    style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;
            </span></span><span style='font-family:"Arial Narrow","sans-serif"'>
                <b>Основные целевые группы благополучателей</b>, на которых повлияет реализация проекта:</span>
    <p class=MsoNormal style='text-align:justify'><span style='font-family:"Arial Narrow","sans-serif"'>&nbsp;</span></p>
    {% for group in application.beneficiaryGroups %}
        <p class=MsoListParagraph style='margin-left:36.0pt;text-align:justify;
      text-indent:-18.0pt'><span style='font-family:Symbol'>·<span
                        style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </span></span><span style='font-family:"Arial Narrow","sans-serif"'>
            {{ group.groupName }} </span></p>
    {% endfor %}
    {% if application.beneficiaryGroupEtc is empty %}
    {% else %}
        <p class=MsoListParagraph style='margin-left:36.0pt;text-align:justify;
          text-indent:-18.0pt'><span style='font-family:Symbol'>·<span
                        style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </span></span><span style='font-family:"Arial Narrow","sans-serif"'>
                {{ application.beneficiaryGroupEtc }} </span></p>
    {% endif %}

    <p class=MsoNormal style='text-align:justify'><span style='font-family:"Arial Narrow","sans-serif"'>&nbsp;</span></p>

    <p class=MsoListParagraph style='margin-left:0cm;text-align:justify;text-indent:
0cm'><span style='font-family:"Arial Narrow","sans-serif"'>&nbsp;&nbsp;&nbsp;&nbsp;3.5.1.<span
                    style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span></span><span
                style='font-family:"Arial Narrow","sans-serif"'>
            Ориентация <b>преимущественно</b> на детей «сложных» для семейного устройства категорий:</span>
    <p class=MsoNormal style='text-align:justify'><span style='font-family:"Arial Narrow","sans-serif"'>&nbsp;</span></p>
    {% for category in application.childrenCategories %}
    <p class=MsoListParagraph style='margin-left:36.0pt;text-align:justify;
                  text-indent:-18.0pt'><span style='font-family:Symbol'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;·<span
                    style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  </span></span><span style='font-family:"Arial Narrow","sans-serif"'>
                    {{ category.categoryName }} </span>
        {% endfor %}
        {% if application.childrenCategoryName is empty %}
        {% else %}
    <p class=MsoListParagraph style='margin-left:36.0pt;text-align:justify;
                      text-indent:-18.0pt'><span style='font-family:Symbol'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;·<span
                    style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      </span></span><span style='font-family:"Arial Narrow","sans-serif"'>
                        {{ application.childrenCategoryName }} </span>
        {% endif %}
    </p>

    <p class=MsoListParagraph style='margin-left:0cm;text-align:justify'><span
                style='font-family:"Arial Narrow","sans-serif";color:red'>&nbsp;</span></p>

    <p class=MsoListParagraph style='margin-left:0cm;text-align:justify;text-indent:
0cm'><span style='font-family:"Arial Narrow","sans-serif"'>3.6.<span
                    style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;
                </span></span><span style='font-family:"Arial Narrow","sans-serif"'>
            <b>Механизм реализации проекта:</b> {{ application.projectImplementation }}</span>
    <p class=MsoListParagraph style='margin-left:0cm;text-align:justify'><b><span
                    style='font-family:"Arial Narrow","sans-serif"'>&nbsp;</span></b></p>

    <p class=MsoListParagraph style='margin-left:0cm;text-align:justify;text-indent:
0cm'><span style='font-family:"Arial Narrow","sans-serif"'>3.7.<span
                    style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;
                </span></span><span style='font-family:"Arial Narrow","sans-serif"'>
            <b>Информация об основном обучающем мероприятии</b></span></p>

    <p class=MsoListParagraph><span style='font-family:"Arial Narrow","sans-serif"'>&nbsp;</span></p>

    <p class=MsoListParagraph style='margin-left:36.0pt;text-align:justify;
text-indent:-36.0pt'><span style='font-family:"Arial Narrow","sans-serif"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3.7.1.<span
                    style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span></span><span
                style='font-family:"Arial Narrow","sans-serif"'>
            <b>Тематика стажировки</b> (обучающего мероприятия):
            {% if application.trainingGrounds is not null %}
                {% for ground in application.trainingGrounds %}
                    {% if ground.parent is null %}
                        {{ ground.name }}
                    {% endif %}
                {% endfor %}
            {% endif %}
        </span></p>

    <p class=MsoListParagraph style='margin-left:0cm;text-align:justify'><span
                style='font-family:"Arial Narrow","sans-serif"'>&nbsp;</span></p>

    <p class=MsoListParagraph style='margin-left:36.0pt;text-align:justify;
text-indent:-36.0pt'><span style='font-family:"Arial Narrow","sans-serif"'>&nbsp;&nbsp;&nbsp;3.7.2.<span
                    style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span></span><span
                style='font-family:"Arial Narrow","sans-serif"'>
                <b>Организация</b> - стажировочная площадка:
            {% if application.trainingGrounds is not null %}
                {% for ground in application.trainingGrounds %}
                    {% if ground.parent is not null %}
                        {{ ground.name }}
                    {% endif %}
                {% endfor %}
            {% endif %}
        </span></p>

    <p class=MsoListParagraph><span style='font-family:"Arial Narrow","sans-serif"'>&nbsp;</span></p>

    <p class=MsoListParagraph style='margin-left:36.0pt;text-align:justify;
text-indent:-36.0pt'><span style='font-family:"Arial Narrow","sans-serif"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3.7.3.<span
                    style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span></span><span
                style='font-family:"Arial Narrow","sans-serif"'>Поясните, <b>почему</b> Вы выбрали именно эту площадку?: {{ application.choosingGroundExplanation }}</span></p>


    <p class=MsoListParagraph style='margin-left:36.0pt;text-align:justify'><span
                style='font-family:"Arial Narrow","sans-serif";color:red'>&nbsp;</span></p>

    <p class=MsoListParagraph style='margin-left:36.0pt;text-align:justify;
text-indent:-36.0pt'><span style='font-family:"Arial Narrow","sans-serif"'>&nbsp;&nbsp;&nbsp;3.7.4.<span
                    style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span></span><span
                style='font-family:"Arial Narrow","sans-serif"'>
            <b>Дата начала проведения стажировки</b> (обучающего мероприятия) (не ранее 01.08.2017, не
позднее 15.11.2017): {{ application.dateStartOfInternship | date ("d.m.Y") }}</span></p>

    <p class=MsoNormal style='text-align:justify'><span style='font-family:"Arial Narrow","sans-serif"'> </span></p>

    <p class=MsoListParagraph style='margin-left:36.0pt;text-align:justify;
text-indent:-36.0pt'><span style='font-family:"Arial Narrow","sans-serif"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3.7.5.<span
                    style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span></span><span
                style='font-family:"Arial Narrow","sans-serif"'><b>Формат стажировки</b> (обучающего мероприятия):</span></p>
    <p class=MsoNormal style='text-align:justify'><span style='font-family:"Arial Narrow","sans-serif"'>&nbsp;</span></p>
    {% for format in application.traineeshipFormats %}
    <p class=MsoListParagraph style='margin-left:36.0pt;text-align:justify;
                          text-indent:-18.0pt'><span style='font-family:Symbol'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;·<span
                    style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          </span></span><span style='font-family:"Arial Narrow","sans-serif"'>
                            {{ format.formatName }} </span>
        {% endfor %}
        {% if application.traineeshipFormatName is empty %}
        {% else %}
    <p class=MsoListParagraph style='margin-left:36.0pt;text-align:justify;
                              text-indent:-18.0pt'><span style='font-family:Symbol'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;·<span
                    style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                              </span></span><span style='font-family:"Arial Narrow","sans-serif"'>
                                {{ application.traineeshipFormatName }} </span>
        {% endif %}

    <p class=MsoListParagraph style='margin-left:0cm;text-align:justify'><span
                style='font-family:"Arial Narrow","sans-serif"'>             </span></p>

    <p class=MsoListParagraph style='margin-left:36.0pt;text-indent:-36.0pt'><span
                style='font-family:"Arial Narrow","sans-serif"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3.7.6.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='font-family:"Arial Narrow","sans-serif"'>
                <b>Сотрудники организации</b> (члены общественного объединения), которые непосредственно примут участие в
обучающих мероприятиях (стажировке):&nbsp;</span></p>

    <p class=MsoListParagraph style='margin-left:0cm;text-align:justify'><b><span
                    style='font-family:"Arial Narrow","sans-serif";color:#70AD47'>&nbsp;</span></b></p>

    {#<table class=MsoNormalTable border=1 cellspacing=0 cellpadding=0 width=675#}
    {#style='width:506.4pt;margin-left:17.85pt;border-collapse:collapse;border:none'>#}

    {% set num = 0 %}
    <table class=MsoNormalTable border=1 cellspacing=0 cellpadding=0 width=728
           style='width:545.75pt;margin-left:17.85pt;border-collapse:collapse;border:
 none'>
        <tr>
            <td width=57 valign=top style='width:42.55pt;border:solid windowtext 1.0pt;
       padding:0cm 5.4pt 0cm 5.4pt'>
                <p class=MsoNormalCxSpMiddle align=center style='text-align:center;
       text-autospace:none'><span style='font-family:"Arial Narrow","sans-serif"'>№</span></p>
                <p class=MsoNormalCxSpMiddle align=center style='text-align:center;
       text-autospace:none'><span style='font-family:"Arial Narrow","sans-serif"'>п/п</span></p>
            </td>
            <td width=104 valign=top style='width:77.95pt;border:solid windowtext 1.0pt;
       border-left:none;padding:0cm 5.4pt 0cm 5.4pt'>
                <p class=MsoNormalCxSpMiddle style='text-autospace:none'><span
                            style='font-family:"Arial Narrow","sans-serif"'>ФИО сотрудника  </span></p>
            </td>
            <td width=189 valign=top style='width:5.0cm;border:solid windowtext 1.0pt;
       border-left:none;padding:0cm 5.4pt 0cm 5.4pt'>
                <p class=MsoNormalCxSpMiddle style='text-autospace:none'><span
                            style='font-family:"Arial Narrow","sans-serif"'>Должность и выполняемые
       функции в организации</span></p>
            </td>
            <td width=180 valign=top style='width:134.7pt;border:solid windowtext 1.0pt;
       border-left:none;padding:0cm 5.4pt 0cm 5.4pt'>
                <p class=MsoNormalCxSpMiddle style='text-autospace:none'><span
                            style='font-family:"Arial Narrow","sans-serif"'>Опыт и образование</span></p>
            </td>
            <td width=198 valign=top style='width:148.8pt;border:solid windowtext 1.0pt;
       border-left:none;padding:0cm 5.4pt 0cm 5.4pt'>
                <p class=MsoNormalCxSpMiddle style='text-autospace:none'><span
                            style='font-family:"Arial Narrow","sans-serif"'>Обучающие мероприятия</span></p>
            </td>
        </tr>
        {% for employee in application.employees %}
            <tr>
                {% set num = num + 1 %}
                <td width=66 valign=top style='width:49.4pt;border:solid windowtext 1.0pt;
      border-top:none;padding:0cm 5.4pt 0cm 5.4pt'>
                    {{ num }}
                </td>
                <td width=123 valign=top style='width:92.1pt;border-top:none;border-left:
      none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
      padding:0cm 5.4pt 0cm 5.4pt'>
                    {{ employee.fullName }}
                </td>
                <td width=95 valign=top style='width:70.9pt;border-top:none;border-left:none;
      border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
      padding:0cm 5.4pt 0cm 5.4pt'>
                    {{ employee.position }}
                </td>
                <td width=142 valign=top style='width:106.3pt;border-top:none;border-left:
      none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
      padding:0cm 5.4pt 0cm 5.4pt'>
                    {{ employee.experienceAndEducation }}
                </td>
                <td width=132 valign=top style='width:99.25pt;border-top:none;border-left:
      none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
      padding:0cm 5.4pt 0cm 5.4pt'>
                    {{ employee.educationalActivity }}
                </td>
            </tr>
        {% endfor %}
    </table>

    <p class=MsoListParagraph style='margin-left:24.75pt;text-align:justify'><b><span
                    style='font-family:"Arial Narrow","sans-serif"'>&nbsp;</span></b></p>

    <p class=MsoListParagraph style='margin-left:24.75pt;text-align:justify;
text-indent:-24.75pt'><span style='font-family:"Arial Narrow","sans-serif"'>3.8.<span
                    style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span></span><b><span
                    style='font-family:"Arial Narrow","sans-serif"'>Внедрение</span></b><b><span
                    style='font-family:"Arial Narrow","sans-serif"'> полученных знаний и опыта</span></b></p>

    <p class=MsoListParagraph style='margin-left:0cm;text-align:justify'><span
                style='font-family:"Arial Narrow","sans-serif"'>&nbsp;</span></p>

    <p class=MsoListParagraph style='margin-left:0cm;text-align:justify'><span
                style='font-family:"Arial Narrow","sans-serif"'>В срок до 01.06.2018 Фонд
проведет мониторинг проектов, поддержанных в рамках Конкурса. По итогам
мониторинга, организации, успешно реализовавшие свои проекты и
продемонстрировавшие конкретные результаты внедрения полученных знаний и
навыков, смогут принять участие во втором (закрытом) этапе Конкурса и получить
дополнительную финансовую поддержку на дальнейшее развитие своего проекта в
2018 - 2019 гг.</span></p>

    <p class=MsoListParagraph style='margin-left:0cm;text-align:justify'><span
                style='font-family:"Arial Narrow","sans-serif"'>&nbsp;</span></p>

    <p class=MsoListParagraph style='margin-left:0cm;text-align:justify'><span
                style='font-family:"Arial Narrow","sans-serif"'>&nbsp;&nbsp;&nbsp;&nbsp;3.8.1.&nbsp;&nbsp;&nbsp;В период реализации
проекта (до 15.11.2017): {{ application.knowledgeIntroductionDuringProjectImplementation }}</span></p>

    <p class=MsoListParagraph style='margin-left:0cm;text-align:justify'><span
                style='font-family:"Arial Narrow","sans-serif";color:red'>&nbsp;</span></p>

    <p class=MsoListParagraph style='margin-left:36.0pt;text-align:justify;
text-indent:-36.0pt'><span style='font-family:"Arial Narrow","sans-serif"'>&nbsp;&nbsp;&nbsp;&nbsp;3.8.2.<span
                    style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='font-family:"Arial Narrow","sans-serif"'>После
окончания реализации проекта (до 01.06.2018): {{ application.knowledgeIntroductionAfterProjectImplementation }}</span></p>

    <p class=MsoNormal style='text-align:justify'><span style='font-family:"Arial Narrow","sans-serif";
color:red'> </span></p>

    <p class=MsoListParagraph style='margin-left:0cm;text-align:justify;text-indent:
0cm'><span style='font-family:"Arial Narrow","sans-serif"'>3.9.<span
                    style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><b><span style='font-family:"Arial Narrow","sans-serif"'>План-график
мероприятий проекта </span></b></p>

    <p class=MsoListParagraph style='margin-left:0cm;text-align:justify'><b><span
                    style='font-family:"Arial Narrow","sans-serif";color:#70AD47'>&nbsp;</span></b></p>

    <p class=MsoListParagraph style='margin-left:0cm;text-align:justify'><b><span
                    style='font-family:"Arial Narrow","sans-serif"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;СТАЖИРОВКА (обучающее
мероприятие)</span></b></p>

    <p class=MsoListParagraph style='margin-left:0cm;text-align:justify'><b><span
                    style='font-family:"Arial Narrow","sans-serif";color:#70AD47'>&nbsp;</span></b></p>

    {% set num = 0 %}
    <table class=MsoNormalTable border=1 cellspacing=0 cellpadding=0 width=675
           style='width:506.4pt;margin-left:17.85pt;border-collapse:collapse;border:none'>
        <thead>
        <tr>
            <td width=49 valign=top style='width:36.75pt;border:solid windowtext 1.0pt;
   padding:0cm 5.4pt 0cm 5.4pt'>
                <p class=MsoNormalCxSpFirst align=center style='text-align:center;
   text-autospace:none'><span style='font-family:"Arial Narrow","sans-serif"'>№</span></p>
                <p class=MsoNormalCxSpMiddle align=center style='text-align:center;
   text-autospace:none'><span style='font-family:"Arial Narrow","sans-serif"'>п/п</span></p>
            </td>
            <td width=201 valign=top style='width:150.7pt;border:solid windowtext 1.0pt;
   border-left:none;padding:0cm 5.4pt 0cm 5.4pt'>
                <p class=MsoNormalCxSpMiddle align=center style='text-align:center;
   text-autospace:none'><span style='font-family:"Arial Narrow","sans-serif"'>Мероприятие
   / действие</span></p>
            </td>
            <td width=170 valign=top style='width:127.6pt;border:solid windowtext 1.0pt;
   border-left:none;padding:0cm 5.4pt 0cm 5.4pt'>
                <p class=MsoNormalCxSpMiddle style='text-autospace:none'><span
                            style='font-family:"Arial Narrow","sans-serif"'>Сроки</span></p>
            </td>
            <td width=255 valign=top style='width:191.35pt;border:solid windowtext 1.0pt;
   border-left:none;padding:0cm 5.4pt 0cm 5.4pt'>
                <p class=MsoNormalCxSpMiddle align=center style='text-align:center;
   text-autospace:none'><span style='font-family:"Arial Narrow","sans-serif"'>Место
   проведения</span></p>
                <p class=MsoNormalCxSpMiddle align=center style='text-align:center;
   text-autospace:none'><span style='font-family:"Arial Narrow","sans-serif"'>&nbsp;</span></p>
            </td>
        </tr>
        </thead>
        {% for traineeship in application.traineeships %}
            <tr>
                {% set num = num + 1 %}
                <td width=49 valign=top style='width:36.75pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0cm 5.4pt 0cm 5.4pt'>
                    {{ num }}
                </td>
                <td width=201 valign=top style='width:150.7pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
                    {{ traineeship.action }}
                </td>
                <td width=170 valign=top style='width:127.6pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
                    {{ traineeship.deadline }}
                </td>
                <td width=255 valign=top style='width:191.35pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
                    {{ traineeship.actionLocation }}
                </td>
            </tr>
        {% endfor %}

    </table>

    <p class=MsoListParagraph style='margin-left:0cm;text-align:justify'><b><span
                    style='font-family:"Arial Narrow","sans-serif"'>&nbsp;</span></b></p>

    <p class=MsoListParagraph style='margin-left:0cm;text-align:justify'><b><span
                    style='font-family:"Arial Narrow","sans-serif"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;МЕРОПРИЯТИЯ ПО ВНЕДРЕНИЮ
ПОЛУЧЕННЫХ ЗНАНИЙ И ОПЫТА</span></b></p>

    <p class=MsoListParagraph style='margin-left:0cm;text-align:justify'><b><span
                    style='font-family:"Arial Narrow","sans-serif";color:#70AD47'>&nbsp;</span></b></p>

    {% set num = 0 %}
    <table class=MsoNormalTable border=1 cellspacing=0 cellpadding=0 width=675
           style='width:506.4pt;margin-left:17.85pt;border-collapse:collapse;border:none'>
        <thead>
        <tr>
            <td width=49 valign=top style='width:36.75pt;border:solid windowtext 1.0pt;
   padding:0cm 5.4pt 0cm 5.4pt'>
                <p class=MsoNormalCxSpFirst align=center style='text-align:center;
   text-autospace:none'><span style='font-family:"Arial Narrow","sans-serif"'>№</span></p>
                <p class=MsoNormalCxSpMiddle align=center style='text-align:center;
   text-autospace:none'><span style='font-family:"Arial Narrow","sans-serif"'>п/п</span></p>
            </td>
            <td width=201 valign=top style='width:150.7pt;border:solid windowtext 1.0pt;
   border-left:none;padding:0cm 5.4pt 0cm 5.4pt'>
                <p class=MsoNormalCxSpMiddle align=center style='text-align:center;
   text-autospace:none'><span style='font-family:"Arial Narrow","sans-serif"'>Мероприятие
   / действие</span></p>
            </td>
            <td width=170 valign=top style='width:127.6pt;border:solid windowtext 1.0pt;
   border-left:none;padding:0cm 5.4pt 0cm 5.4pt'>
                <p class=MsoNormalCxSpMiddle style='text-autospace:none'><span
                            style='font-family:"Arial Narrow","sans-serif"'>Сроки</span></p>
            </td>
            <td width=255 valign=top style='width:191.35pt;border:solid windowtext 1.0pt;
   border-left:none;padding:0cm 5.4pt 0cm 5.4pt'>
                <p class=MsoNormalCxSpMiddle align=center style='text-align:center;
   text-autospace:none'><span style='font-family:"Arial Narrow","sans-serif"'>Место
   проведения</span></p>
                <p class=MsoNormalCxSpMiddle align=center style='text-align:center;
   text-autospace:none'><span style='font-family:"Arial Narrow","sans-serif"'>&nbsp;</span></p>
            </td>
        </tr>
        </thead>
        {% for measure in application.measures %}
            <tr>
                {% set num = num + 1 %}
                <td width=49 valign=top style='width:36.75pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0cm 5.4pt 0cm 5.4pt'>
                    {{ num }}
                </td>
                <td width=201 valign=top style='width:150.7pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
                    {{ measure.action }}
                </td>
                <td width=170 valign=top style='width:127.6pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
                    {{ measure.deadline }}
                </td>
                <td width=255 valign=top style='width:191.35pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
                    {{ measure.actionLocation }}
                </td>
            </tr>
        {% endfor %}
    </table>

    <p class=MsoListParagraph style='margin-left:0cm;text-align:justify'><b><span
                    style='font-family:"Arial Narrow","sans-serif"'>&nbsp;</span></b></p>

    <p class=MsoListParagraph style='margin-left:24.75pt;text-align:justify;
text-indent:-24.75pt'><span style='font-family:"Arial Narrow","sans-serif"'>3.10.<span
                    style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span></span><span
                style='font-family:"Arial Narrow","sans-serif"'><b>Ожидаемые результаты проекта:</b></span></p>

    <p class=MsoListParagraph style='margin-left:0cm;text-align:justify'><span
                style='font-family:"Arial Narrow","sans-serif"'>&nbsp;</span></p>

    <p class=MsoListParagraph style='margin-left:0cm;text-align:justify'><span
                style='font-family:"Arial Narrow","sans-serif"'>&nbsp;&nbsp;&nbsp;&nbsp;3.10.1.&nbsp;&nbsp;&nbsp;
            <b>Количественные результаты, которые будут получены благодаря реализации проекта, и как вы об этом узнаете:</b></span></p>

    <p class=MsoListParagraph style='margin-left:0cm;text-align:justify'><span
                style='font-family:"Arial Narrow","sans-serif"'>&nbsp;</span></p>

    <table class=MsoNormalTable border=1 cellspacing=0 cellpadding=0
           style='margin-left:17.85pt;border-collapse:collapse;border:none'>
        <tr>
            <td width=163 valign=top style='width:122.25pt;border:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
                <p class=MsoListParagraph style='margin-left:0cm'><span style='font-family:
  "Arial Narrow","sans-serif"'>Результат</span></p>
            </td>
            <td width=161 valign=top style='width:120.45pt;border:solid windowtext 1.0pt;
  border-left:none;padding:0cm 5.4pt 0cm 5.4pt'>
                <p class=MsoListParagraph style='margin-left:0cm'><span style='font-family:
  "Arial Narrow","sans-serif"'>Целевое значение, <br>
  на дату окончания проекта (к 15.11.2017)</span></p>
            </td>
            <td width=142 valign=top style='width:106.35pt;border:solid windowtext 1.0pt;
  border-left:none;padding:0cm 5.4pt 0cm 5.4pt'>
                <p class=MsoListParagraph style='margin-left:0cm'><span style='font-family:
  "Arial Narrow","sans-serif"'>Ориентировочное целевое значение <br>
  (на 01.06.2018)</span></p>
            </td>
            <td width=200 valign=top style='width:150.25pt;border:solid windowtext 1.0pt;
  border-left:none;padding:0cm 5.4pt 0cm 5.4pt'>
                <p class=MsoListParagraph style='margin-left:0cm'><span style='font-family:
  "Arial Narrow","sans-serif"'>Метод измерения</span></p>
            </td>
        </tr>
        {% for result in application.projectResults %}
            <tr>
                <td width=163 valign=top style='width:122.25pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0cm 5.4pt 0cm 5.4pt'>
                    <p class=MsoListParagraph style='margin-left:0cm'><span style='font-family:
  "Arial Narrow","sans-serif"'>
                {{ result.resultCriteria }}</span></p>
                </td>
                <td width=161 valign=top style='width:120.45pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
                    {{ result.targetValue }}
                </td>
                <td width=142 valign=top style='width:106.35pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
                    {{ result.approximateTargetValue }}
                </td>
                <td width=200 valign=top style='width:150.25pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
                    {{ result.methodMeasurement }}
                </td>
            </tr>
        {% endfor %}
    </table>

    <p class=MsoListParagraph style='margin-left:0cm;text-align:justify'><b><span
                    style='font-family:"Arial Narrow","sans-serif"'>&nbsp;</span></b></p>

    <p class=MsoListParagraph style='margin-left:0cm;text-align:justify'><b><span
                    style='font-family:"Arial Narrow","sans-serif"'>&nbsp;</span></b></p>

    <p class=MsoListParagraph style='margin-left:0cm;text-indent:0cm'><span
                style='font-family:"Arial Narrow","sans-serif"'>&nbsp;&nbsp;&nbsp;&nbsp;3.10.2.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;
</span></span><b><span style='font-family:"Arial Narrow","sans-serif"'>Качественные
результаты для сотрудников организации / членов общественного объединения</span></b></p>

    <p class=MsoBodyText style='margin-bottom:0cm;margin-bottom:.0001pt'><span
                style='font-family:"Arial Narrow","sans-serif"'>&nbsp;</span></p>

    {% set num = 0 %}
    <table class=MsoNormalTable border=1 cellspacing=0 cellpadding=0 width=708
           style='width:531.35pt;margin-left: 17.85pt;border-collapse:collapse;border:none'>
        <thead>
        <tr>
            <td width=66 style='width:49.4pt;border:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt'>
                <p class=MsoNormal align=center style='text-align:center'><span
                            style='font-family:"Arial Narrow","sans-serif"'>№ п/п</span></p>
            </td>
            <td width=123 style='width:92.1pt;border:solid windowtext 1.0pt;border-left:
   none;padding:0cm 5.4pt 0cm 5.4pt'>
                <p class=MsoNormal align=center style='text-align:center'><span
                            style='font-family:"Arial Narrow","sans-serif"'>Результат</span></p>
            </td>
            <td width=95 style='width:70.9pt;border:solid windowtext 1.0pt;border-left:
   none;padding:0cm 5.4pt 0cm 5.4pt'>
                <p class=MsoNormal align=center style='text-align:center'><span
                            style='font-family:"Arial Narrow","sans-serif"'>Показатель</span></p>
            </td>
            <td width=142 valign=top style='width:106.3pt;border:solid windowtext 1.0pt;
   border-left:none;padding:0cm 5.4pt 0cm 5.4pt'>
                <p class=MsoNormal align=center style='text-align:center'><span
                            style='font-family:"Arial Narrow","sans-serif"'>Целевое значение на
   25.11.2017</span></p>
            </td>
            <td width=132 valign=top style='width:99.25pt;border:solid windowtext 1.0pt;
   border-left:none;padding:0cm 5.4pt 0cm 5.4pt'>
                <p class=MsoNormal align=center style='text-align:center'><span
                            style='font-family:"Arial Narrow","sans-serif"'>Ориентировочное целевое
   значение на 01.06.2018</span></p>
            </td>
            <td width=151 valign=top style='width:4.0cm;border:solid windowtext 1.0pt;
   border-left:none;padding:0cm 5.4pt 0cm 5.4pt'>
                <p class=MsoNormal align=center style='text-align:center'><span
                            style='font-family:"Arial Narrow","sans-serif"'>Способ измерения</span></p>
            </td>
        </tr>
        </thead>
        {% for result in application.employeeResults %}
            <tr>
                {% set num = num + 1 %}
                <td width=66 valign=top style='width:49.4pt;border:solid windowtext 1.0pt;
      border-top:none;padding:0cm 5.4pt 0cm 5.4pt'>
                    {{ num }}
                </td>
                <td width=123 valign=top style='width:92.1pt;border-top:none;border-left:
      none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
      padding:0cm 5.4pt 0cm 5.4pt'>
                    {{ result.result }}
                </td>
                <td width=95 valign=top style='width:70.9pt;border-top:none;border-left:none;
      border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
      padding:0cm 5.4pt 0cm 5.4pt'>
                    {{ result.indicator }}
                </td>
                <td width=142 valign=top style='width:106.3pt;border-top:none;border-left:
      none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
      padding:0cm 5.4pt 0cm 5.4pt'>
                    {{ result.targetValue }}
                </td>
                <td width=132 valign=top style='width:99.25pt;border-top:none;border-left:
      none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
      padding:0cm 5.4pt 0cm 5.4pt'>
                    {{ result.approximateTargetValue }}
                </td>
                <td width=151 valign=top style='width:4.0cm;border-top:none;border-left:none;
      border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
      padding:0cm 5.4pt 0cm 5.4pt'>
                    {{ result.methodMeasurement }}
                </td>
            </tr>
        {% endfor %}
    </table>

    <p class=MsoNormal style='text-align:justify'><span style='font-family:"Arial Narrow","sans-serif"'>&nbsp;</span></p>

    <p class=MsoListParagraph style='margin-left:0cm;text-align:justify;text-indent:
0cm'><span style='font-family:"Arial Narrow","sans-serif"'>&nbsp;&nbsp;&nbsp;&nbsp;3.10.3.<span
                    style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span></span><span
                style='font-family:"Arial Narrow","sans-serif"'>
            <b>Программа «Семья и дети» Фонда Тимченко направлена на достижение социальных результатов
                , перечисленных ниже. Выберите из списка, на достижение каких результатов направлена
                реализация вашего проекта. </b>
    <p class=MsoNormal style='text-align:justify'><span style='font-family:"Arial Narrow","sans-serif"'>&nbsp;</span></p>
    {% for result in application.socialResults %}
    <p class=MsoListParagraph style='margin-left:36.0pt;text-align:justify;
                  text-indent:-18.0pt'><span style='font-family:Symbol'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;·<span
                    style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  </span></span><span style='font-family:"Arial Narrow","sans-serif"'>
                    {{ result.name }} </span>
        {% endfor %}
    </p>

    <p class=MsoNormal><span style='font-family:"Arial Narrow","sans-serif";
color:red'>&nbsp;</span></p>

    <p class=MsoListParagraph style='margin-left:24.75pt;text-align:justify;
text-indent:-24.75pt'><span style='font-family:"Arial Narrow","sans-serif"'><span
                    style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span></span><span
                style='font-family:"Arial Narrow","sans-serif"'>3.10.4. <b>Качественные изменения у благополучателей </b></span></p>

    <p class=MsoNormal><b><span style='font-family:"Arial Narrow","sans-serif"'>&nbsp;&nbsp;&nbsp;&nbsp;РЕЗУЛЬТАТЫ
ДЛЯ БЛАГОПОЛУЧАТЕЛЕЙ</span></b></p>

    <p class=MsoNormal><b><span style='font-family:"Arial Narrow","sans-serif"'>&nbsp;</span></b></p>

    {% set num = 0 %}
    <table class=MsoNormalTable border=1 cellspacing=0 cellpadding=0 width=708
           style='width:531.35pt;margin-left: 17.85pt;border-collapse:collapse;border:none'>
        <thead>
        <tr>
            <td width=66 style='width:49.4pt;border:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt'>
                <p class=MsoNormal align=center style='text-align:center'><span
                            style='font-family:"Arial Narrow","sans-serif"'>№ п/п</span></p>
            </td>
            <td width=123 style='width:92.1pt;border:solid windowtext 1.0pt;border-left:
   none;padding:0cm 5.4pt 0cm 5.4pt'>
                <p class=MsoNormal align=center style='text-align:center'><span
                            style='font-family:"Arial Narrow","sans-serif"'>Результат</span></p>
            </td>
            <td width=95 style='width:70.9pt;border:solid windowtext 1.0pt;border-left:
   none;padding:0cm 5.4pt 0cm 5.4pt'>
                <p class=MsoNormal align=center style='text-align:center'><span
                            style='font-family:"Arial Narrow","sans-serif"'>Показатель</span></p>
            </td>
            <td width=142 valign=top style='width:106.3pt;border:solid windowtext 1.0pt;
   border-left:none;padding:0cm 5.4pt 0cm 5.4pt'>
                <p class=MsoNormal align=center style='text-align:center'><span
                            style='font-family:"Arial Narrow","sans-serif"'>Целевое значение на
   15.11.2017</span></p>
            </td>
            <td width=132 valign=top style='width:99.25pt;border:solid windowtext 1.0pt;
   border-left:none;padding:0cm 5.4pt 0cm 5.4pt'>
                <p class=MsoNormal align=center style='text-align:center'><span
                            style='font-family:"Arial Narrow","sans-serif"'>Ориентировочное целевое
   значение на 01.06.2018</span></p>
            </td>
            <td width=151 valign=top style='width:4.0cm;border:solid windowtext 1.0pt;
   border-left:none;padding:0cm 5.4pt 0cm 5.4pt'>
                <p class=MsoNormal align=center style='text-align:center'><span
                            style='font-family:"Arial Narrow","sans-serif"'>Способ измерения</span></p>
            </td>
        </tr>
        </thead>
        {% for result in application.beneficiaryResults %}
            <tr>
                {% set num = num + 1 %}
                <td width=66 valign=top style='width:49.4pt;border:solid windowtext 1.0pt;
      border-top:none;padding:0cm 5.4pt 0cm 5.4pt'>
                    {{ num }}
                </td>
                <td width=123 valign=top style='width:92.1pt;border-top:none;border-left:
      none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
      padding:0cm 5.4pt 0cm 5.4pt'>
                    {{ result.result }}
                </td>
                <td width=95 valign=top style='width:70.9pt;border-top:none;border-left:none;
      border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
      padding:0cm 5.4pt 0cm 5.4pt'>
                    {{ result.indicator }}
                </td>
                <td width=142 valign=top style='width:106.3pt;border-top:none;border-left:
      none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
      padding:0cm 5.4pt 0cm 5.4pt'>
                    {{ result.targetValue }}
                </td>
                <td width=132 valign=top style='width:99.25pt;border-top:none;border-left:
      none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
      padding:0cm 5.4pt 0cm 5.4pt'>
                    {{ result.approximateTargetValue }}
                </td>
                <td width=151 valign=top style='width:4.0cm;border-top:none;border-left:none;
      border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
      padding:0cm 5.4pt 0cm 5.4pt'>
                    {{ result.methodMeasurement }}
                </td>
            </tr>
        {% endfor %}
    </table>

    <p class=MsoNormal><span style='font-family:"Arial Narrow","sans-serif";
color:red'> </span></p>

    <p class=MsoListParagraph style='margin-top:12.0pt;margin-right:0cm;margin-bottom:
12.0pt;margin-left:24.75pt;text-align:justify;text-indent:-24.75pt'><span
                style='font-size:11.0pt;font-family:"Arial Narrow","sans-serif"'>3.10.5.&nbsp;&nbsp;&nbsp;<span
                    style='font:7.0pt "Times New Roman"'> </span></span><b><span style='font-size:
11.0pt;font-family:"Arial Narrow","sans-serif"'>Риски. </span></b><span
                style='font-size:11.0pt;font-family:"Arial Narrow","sans-serif"'>Что может
препятствовать внедрению результатов проекта? </span></p>

    {% set num = 0 %}
    <table class=MsoNormalTable border=1 cellspacing=0 cellpadding=0 width=709
           style='width:531.6pt;margin-left:17.85pt;border-collapse:collapse;border:none'>
        <tr>
            <td width=49 valign=top style='width:36.75pt;border:solid windowtext 1.0pt;
   padding:0cm 5.4pt 0cm 5.4pt'>
                <p class=MsoNormalCxSpFirst align=center style='text-align:center;
   text-autospace:none'><span style='font-family:"Arial Narrow","sans-serif"'>№</span></p>
                <p class=MsoNormalCxSpMiddle align=center style='text-align:center;
   text-autospace:none'><span style='font-family:"Arial Narrow","sans-serif"'>п/п</span></p>
            </td>
            <td width=321 valign=top style='width:241.0pt;border:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
                <p class=MsoNormalCxSpFirst style='margin-top:5.0pt;text-align:justify;
  text-autospace:none'><span style='font-family:"Arial Narrow","sans-serif"'>Ключевые
  риски</span></p>
                <p class=MsoNormalCxSpMiddle style='margin-top:5.0pt;text-align:justify;
  text-autospace:none'><span style='font-family:"Arial Narrow","sans-serif";
  color:red'>&nbsp;</span></p>
            </td>
            <td width=387 valign=top style='width:290.6pt;border:solid windowtext 1.0pt;
  border-left:none;padding:0cm 5.4pt 0cm 5.4pt'>
                <p class=MsoNormalCxSpMiddle style='margin-top:5.0pt;text-align:justify;
  text-autospace:none'><span style='font-family:"Arial Narrow","sans-serif"'>Действия,
  нацеленные на снижение рисков</span></p>
            </td>
        </tr>
        {% for risk in application.risks %}
            <tr>
                {% set num = num + 1 %}
                <td width=321 valign=top style='width:241.0pt;border:solid windowtext 1.0pt;
      border-top:none;padding:0cm 5.4pt 0cm 5.4pt'>
                    {{ num }}
                </td>
                <td width=321 valign=top style='width:241.0pt;border:solid windowtext 1.0pt;
      border-top:none;padding:0cm 5.4pt 0cm 5.4pt'>
                    {{ risk.keyRisk }}
                </td>
                <td width=387 valign=top style='width:290.6pt;border-top:none;border-left:
      none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
      padding:0cm 5.4pt 0cm 5.4pt'>
                    {{ risk.actionToReduceRisk }}
                </td>
            </tr>
        {% endfor %}
    </table>

    <p class=MsoNormal style='margin-left:18.0pt;text-align:justify'><span
                style='font-family:"Arial Narrow","sans-serif"'>&nbsp;</span></p>

    <p class=MsoNormal style='margin-left:18.0pt;text-align:justify;text-indent:
-18.0pt'><span style='font-family:"Arial Narrow","sans-serif";color:black'>3.11.<span
                    style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></span><span
                style='font-family:"Arial Narrow","sans-serif"'><b>Сумма запрашиваемого финансирования:</b>&nbsp;{{ application.requestedFinancingMoney }}&nbsp;руб. </span></p>

    <p class=MsoNormal>&nbsp;</p>

    <p class=MsoNormal style='margin-left:18.0pt;text-align:justify'><span
                style='font-family:"Arial Narrow","sans-serif"'>&nbsp;</span></p>

    <p class=MsoNormal style='margin-left:18.0pt;text-align:justify;text-indent:
-18.0pt'><span style='font-family:"Arial Narrow","sans-serif";color:black'>3.12.<span
                    style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></span><span
                style='font-family:"Arial Narrow","sans-serif"'><b>Сумма софинансирования:</b>&nbsp;{{ application.cofinancingMoney }}&nbsp;руб. </span></p>

    <p class=MsoNormal>&nbsp;</p>


</div>

</body>

</html>
