{% extends 'base.html.twig' %}

{% block body %}
    <h1>Organization list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Organizationname</th>
                <th>Traineeshiptopicid</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for organization in organizations %}
            <tr>
                <td><a href="{{ path('organization_show', { 'id': organization.id }) }}">{{ organization.id }}</a></td>
                <td>{{ organization.organizationName }}</td>
                <td>{{ organization.traineeshipTopicId }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('organization_show', { 'id': organization.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('organization_edit', { 'id': organization.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('organization_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
