{% extends 'base.html.twig' %}

{% block body %}
    <h1>Organization</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ organization.id }}</td>
            </tr>
            <tr>
                <th>Organizationname</th>
                <td>{{ organization.organizationName }}</td>
            </tr>
            <tr>
                <th>Traineeshiptopicid</th>
                <td>{{ organization.traineeshipTopicId }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('organization_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('organization_edit', { 'id': organization.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
