{% extends base_template %}

{% block list_table %}
    {% set unserializedObject = (object | unserialize) %}
    <div class="container-fluid documents">
        <div class="row">
            {% embed "@NKOOrder/CRUD/download_document.html.twig" with {'document': unserializedObject.regulation, 'object': unserializedObject, 'history': object, 'fileName': 'Устав организации'} %}
            {% endembed %}

            {% embed "@NKOOrder/CRUD/download_document.html.twig" with {'document': unserializedObject.signedAgreement, 'object': unserializedObject, 'history': object, 'fileName': 'Подписанные согласия на обработку персональных данных всех лиц, фигурирующих в заявке'} %}
            {% endembed %}
        </div>
    </div>

{% endblock %}