{% extends 'NKOOrderBundle:CRUD:base_application_edit.html.twig' %}
{% block tab_menu_navbar_header %}
{% endblock %}
{% block tab_menu %}
    {% include '@NKOOrder/CRUD/Application/tab_menu.html.twig' %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/nkoorder/css/continuation_application_kns.css') }}"/>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/nkoorder/js/let_only_numeric.js') }}"></script>
    <script src="{{ asset('bundles/nkoorder/js/valueRelaying.js') }}"></script>
    <script src="{{ asset('bundles/nkoorder/js/application/choice_action.js') }}"></script>
    <script src="{{ asset('bundles/nkoorder/js/application/continuation_kns_application_2018.js') }}"></script>
    <script src="{{ asset('bundles/nkoorder/js/periodical_saver.js') }}"></script>
{% endblock %}