{% import '@NKOOrder/Form/table_buttons.html.twig' as help %}

<div id="field_container_{{ form.vars['id'] }}" class="field-container">
        <span id="field_container_{{ form.vars['id'] }}" >
            <table class="table table-bordered">
                <thead>
                    {% block thead %}
                    {% endblock %}
                </thead>
                <tbody class="sonata-ba-tbody">
                    {% for nested_group_field in form.children %}
                        <tr>
                            {% for field_name, nested_field in nested_group_field %}
                                {% if field_name =='_delete' %}
                                    <td class="sonata-ba-td-{{ form.vars['id'] }}-_delete control-group">
                                        {{ help.addTableButtons(nested_group_field) }}
                                    </td>
                                {% elseif field_name == secondString %}
                                {% else %}
                                    <td class="sonata-ba-td-{{ form.vars['id'] }}-{{ field_name  }} control-group{% if nested_field.vars.errors|length > 0 %} error{% endif %}"{% if (nested_field.vars['attr']['hidden'] is defined) and (nested_field.vars['attr']['hidden']) %} style="display:none;"{% endif %}>
                                        {{ form_widget(nested_field) }}

                                        {% if field_name == string %}
                                            {{ form_widget(nested_group_field[secondString]) }}
                                        {% endif %}

                                        {% if nested_field.vars.errors|length > 0 %}
                                            <div class="help-inline sonata-ba-field-error-messages">
                                                {{ form_errors(nested_field) }}
                                            </div>
                                        {% endif %}
                                    </td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </span>
</div>