{% extends 'base.html.twig' %}

{% block body %}
    <h1>Head list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Fullname</th>
                <th>Position</th>
                <th>Phone</th>
                <th>Mobilephone</th>
                <th>Emeil</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for head in heads %}
            <tr>
                <td><a href="{{ path('head_show', { 'id': head.id }) }}">{{ head.id }}</a></td>
                <td>{{ head.fullName }}</td>
                <td>{{ head.position }}</td>
                <td>{{ head.phone }}</td>
                <td>{{ head.mobilePhone }}</td>
                <td>{{ head.emeil }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('head_show', { 'id': head.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('head_edit', { 'id': head.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('head_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
