{% extends 'base.html.twig' %}

{% block body %}
    <h1>Head</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ head.id }}</td>
            </tr>
            <tr>
                <th>Fullname</th>
                <td>{{ head.fullName }}</td>
            </tr>
            <tr>
                <th>Position</th>
                <td>{{ head.position }}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{ head.phone }}</td>
            </tr>
            <tr>
                <th>Mobilephone</th>
                <td>{{ head.mobilePhone }}</td>
            </tr>
            <tr>
                <th>Emeil</th>
                <td>{{ head.emeil }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('head_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('head_edit', { 'id': head.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
