{% extends 'base.html.twig' %}

{% block body %}
    <h1>Application</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ application.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ application.name }}</td>
            </tr>
            <tr>
                <th>Abbreviation</th>
                <td>{{ application.abbreviation }}</td>
            </tr>
            <tr>
                <th>Psrn</th>
                <td>{{ application.pSRN }}</td>
            </tr>
            <tr>
                <th>Legalpostcode</th>
                <td>{{ application.legalPostCode }}</td>
            </tr>
            <tr>
                <th>Legalcity</th>
                <td>{{ application.legalCity }}</td>
            </tr>
            <tr>
                <th>Legalstreet</th>
                <td>{{ application.legalStreet }}</td>
            </tr>
            <tr>
                <th>Actualpostcode</th>
                <td>{{ application.actualPostCode }}</td>
            </tr>
            <tr>
                <th>Actualcity</th>
                <td>{{ application.actualCity }}</td>
            </tr>
            <tr>
                <th>Actualstreet</th>
                <td>{{ application.actualStreet }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ application.email }}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{ application.phone }}</td>
            </tr>
            <tr>
                <th>Dateregistrationorganization</th>
                <td>{% if application.dateRegistrationOrganization %}{{ application.dateRegistrationOrganization|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Primaryactivity</th>
                <td>{{ application.primaryActivity }}</td>
            </tr>
            <tr>
                <th>Mission</th>
                <td>{{ application.mission }}</td>
            </tr>
            <tr>
                <th>Countstaffemployees</th>
                <td>{{ application.countStaffEmployees }}</td>
            </tr>
            <tr>
                <th>Countinvolvingemployees</th>
                <td>{{ application.countInvolvingEmployees }}</td>
            </tr>
            <tr>
                <th>Linktoannualreport</th>
                <td>{{ application.linkToAnnualReport }}</td>
            </tr>
            <tr>
                <th>Inn</th>
                <td>{{ application.iNN }}</td>
            </tr>
            <tr>
                <th>Kpp</th>
                <td>{{ application.kPP }}</td>
            </tr>
            <tr>
                <th>Okpo</th>
                <td>{{ application.oKPO }}</td>
            </tr>
            <tr>
                <th>Oktmo</th>
                <td>{{ application.oKTMO }}</td>
            </tr>
            <tr>
                <th>Okved</th>
                <td>{{ application.oKVED }}</td>
            </tr>
            <tr>
                <th>Kbk</th>
                <td>{{ application.kBK }}</td>
            </tr>
            <tr>
                <th>Bankname</th>
                <td>{{ application.bankName }}</td>
            </tr>
            <tr>
                <th>Banklocation</th>
                <td>{{ application.bankLocation }}</td>
            </tr>
            <tr>
                <th>Bankinn</th>
                <td>{{ application.bankINN }}</td>
            </tr>
            <tr>
                <th>Correspondentaccount</th>
                <td>{{ application.correspondentAccount }}</td>
            </tr>
            <tr>
                <th>Bik</th>
                <td>{{ application.bIK }}</td>
            </tr>
            <tr>
                <th>Paymentaccount</th>
                <td>{{ application.paymentAccount }}</td>
            </tr>
            <tr>
                <th>Projectname</th>
                <td>{{ application.projectName }}</td>
            </tr>
            <tr>
                <th>Deadlinestart</th>
                <td>{% if application.deadLineStart %}{{ application.deadLineStart|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Deadlinefinish</th>
                <td>{% if application.deadLineFinish %}{{ application.deadLineFinish|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Projectpurpose</th>
                <td>{{ application.projectPurpose }}</td>
            </tr>
            <tr>
                <th>Projectrelevance</th>
                <td>{{ application.projectRelevance }}</td>
            </tr>
            <tr>
                <th>Projectimplementation</th>
                <td>{{ application.projectImplementation }}</td>
            </tr>
            <tr>
                <th>Datestartofinternship</th>
                <td>{% if application.dateStartOfInternship %}{{ application.dateStartOfInternship|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Knowledgeintroductionduringprojectimplementation</th>
                <td>{{ application.knowledgeIntroductionDuringProjectImplementation }}</td>
            </tr>
            <tr>
                <th>Knowledgeintroductionafterprojectimplementation</th>
                <td>{{ application.knowledgeIntroductionAfterProjectImplementation }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('application_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('application_edit', { 'id': application.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
