<!DOCTYPE html>
<html lang="ru" class="bx-core bx-no-touch bx-no-retina bx-chrome">

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>{% block title %}{{ 'title' | meta_data('default') | raw }}{% endblock %}</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta http-equiv="cache-control" content="max-age=0">
        <meta http-equiv="cache-control" content="no-cache">
        <meta http-equiv="expires" content="0">
        <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT">
        <meta http-equiv="pragma" content="no-cache">
        <meta name="robots" content="index, follow">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% block meta %}
            <meta name="description" content="{{ 'description' | meta_data('default') | raw }}">
            <meta name="keywords" content="{{ 'keywords' | meta_data('default') | raw }}">
        {% endblock meta %}

        <link rel="shortcut icon" href="{{ asset('bundles/nkodefault/images/favicon/favicon.ico') }}" type="image/x-icon" />
        <link rel="apple-touch-icon" href="{{ asset('bundles/nkodefault/images/favicon/apple-touch-icon.png') }}" />
        <link rel="apple-touch-icon" sizes="57x57" href="{{ asset('bundles/nkodefault/images/favicon/apple-touch-icon-57x57.png') }}" />
        <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('bundles/nkodefault/images/favicon/apple-touch-icon-72x72.png') }}" />
        <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('bundles/nkodefault/images/favicon/apple-touch-icon-76x76.png') }}" />
        <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('bundles/nkodefault/images/favicon/apple-touch-icon-114x114.png') }}" />
        <link rel="apple-touch-icon" sizes="120x120" href="{{ asset('bundles/nkodefault/images/favicon/apple-touch-icon-120x120.png') }}" />
        <link rel="apple-touch-icon" sizes="144x144" href="{{ asset('bundles/nkodefault/images/favicon/apple-touch-icon-144x144.png') }}" />
        <link rel="apple-touch-icon" sizes="152x152" href="{{ asset('bundles/nkodefault/images/favicon/apple-touch-icon-152x152.png') }}" />
        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('bundles/nkodefault/images/favicon/apple-touch-icon-180x180.png') }}" />

        <script src="{{ asset('bundles/nkouser/js/jQuery-2.2.0.min.js') }}"></script>
        <script src="{{ asset('bundles/nkodefault/js/main.js') }}"></script>
        <script src="{{ asset('bundles/nkodefault/js/fancybox/jquery.fancybox.pack.js') }}"></script>
        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
        <script src="{{ asset('bundles/nkodefault/js/moment-with-locales.min.js') }}"></script>
        <script src="{{ asset('bundles/sonatacore/vendor/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js') }}"></script>
        {% block stylesheets %}
            <link href="{{ asset('bundles/nkodefault/css/styles.css') }}" type="text/css" data-template-style="true" rel="stylesheet" />
            <link href="{{ asset('bundles/nkodefault/css/css/bootstrap.min.css') }}" type="text/css" data-template-style="true" rel="stylesheet"/>
            <link href="{{ asset('bundles/nkodefault/js/fancybox/jquery.fancybox.css') }}" type="text/css" media="screen" rel="stylesheet" />
            <link href="{{ asset('bundles/nkoinformationmaterials/css/search.css') }}" type="text/css" media="screen" rel="stylesheet" />
            <link href="{{ asset('bundles/sonatacore/vendor/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.css') }}" type="text/css" media="screen" rel="stylesheet" />
            <link rel="stylesheet" href="{{ asset('/fontawesome/css/font-awesome.min.css') }}">
        {% endblock %}

        {% include "NKODefaultBundle:layout:google_analytics.html.twig" %}
        {% include "NKODefaultBundle:layout:yandex_metrica.html.twig" %}

    </head>

    <body>
    {% block body %}
        <div id="panel"></div>
        <div class="ct_main tline">
            <div class="container">
                    {% block fos_user_content %}
                        <div  class="col-md-3">
                            {% if not app.user %}
                                {{ render(controller('NKOUserBundle:Security:login')) }}
                            {% else %}
                                {% include '@NKODefault/layout/logo.html.twig' %}
                                <div class="row links">
                                    <a class="btn btn-default" href={{ path('default_admin_path') }}>Личный кабинет</a>
                                    {#@TODO: вернуть когда появится возможность добавлять отчет для фарватера#}
                                    {#{% if is_granted('ROLE_SONATA_ADMIN_NKO_ORDER_REPORT_CREATE') %}#}
                                        {#<a class="btn btn-default" href={{ path('admin_nko_order_report_create') }}>Личный кабинет НКО</a>#}
                                    {#{% elseif is_granted('ROLE_SONATA_ADMIN_NKO_ORDER_REPORT_VIEW') %}#}
                                        {#<a class="btn btn-default" href={{ path('admin_nko_order_report_list') }}>Личный кабинет НКО</a>#}
                                    {#{% else  %}#}
                                        {#<a class="btn btn-default" href={{ path('admin_nko_order_application_list') }}>Личный кабинет НКО</a>#}
                                    {#{% endif %}#}
                                    <a class="btn btn-default pull-right" href={{ path('fos_user_security_logout') }}>Выход</a>
                                </div>
                            {% endif %}
                            <div class="cookie-error alert alert-warning  row">
                                <p>Для авторизации включите cookie</p>
                            </div>
                            {% if app.request.get('_route') ==  'homepage'
                                or app.request.get('_route') ==  'fondnews_index'
                                or app.request.get('_route') ==  'fondnews_category'
                                or app.request.get('_route') ==  'fondnews_show'
                            %}
                                {%  block category_news %}
                                    {{ render(controller('NKOInformationMaterialsBundle:FondNews:getCategoryNews')) }}
                                {% endblock %}
                            {% endif %}
                        </div>
                    {% endblock fos_user_content %}

                    {% block content %}
                    {% endblock content %}

                </div>
            </div>
            <div class="clear"></div>
        </div>

        {% block footer %}
            {% include '@NKODefault/layout/footer.html.twig' %}
        {% endblock %}

    {% endblock body%}
    </body>
</html>