{% extends 'NKOOrderBundle:CRUD:report/monitoring_report/base_edit_report.html.twig' %}
{% block tab_menu_navbar_header %}
{% endblock %}
{% block tab_menu %}
    {% include '@NKOOrder/CRUD/report/tab_menu.html.twig' %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/nkoorder/js/monitoring_report/improved/indicator_visibility.js') }}"></script>
    <script src="{{ asset('bundles/nkoorder/js/monitoring_report/improved/period_visibility.js') }}"></script>
    <script src="{{ asset('bundles/nkoorder/js/monitoring_report/improved/input_handler.js') }}"></script>
    <script src="{{ asset('bundles/nkoorder/js/monitoring_report/improved/documents.js') }}"></script>
    <script src="{{ asset('bundles/nkoorder/js/monitoring_report/improved/harbor_2020/report.js') }}"></script>
{% endblock %}