{% extends 'base.html.twig' %}

{% block body %}
    <h1>SocialNetworkLink list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Link</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for socialNetworkLink in socialNetworkLinks %}
            <tr>
                <td><a href="{{ path('socialnetworklink_show', { 'id': socialNetworkLink.id }) }}">{{ socialNetworkLink.id }}</a></td>
                <td>{{ socialNetworkLink.link }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('socialnetworklink_show', { 'id': socialNetworkLink.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('socialnetworklink_edit', { 'id': socialNetworkLink.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('socialnetworklink_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
