{% extends 'base.html.twig' %}

{% block body %}
    <h1>SocialNetworkLink</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ socialNetworkLink.id }}</td>
            </tr>
            <tr>
                <th>Link</th>
                <td>{{ socialNetworkLink.link }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('socialnetworklink_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('socialnetworklink_edit', { 'id': socialNetworkLink.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
