{% extends 'NKOOrderBundle:CRUD:base_application_edit.html.twig' %}

{% block tab_menu_navbar_header %}
{% endblock %}
{% block tab_menu %}
    {% include '@NKOOrder/CRUD/Application/tab_menu.html.twig' %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/nkoorder/js/application/Harbor/Application2019/edit.js') }}"></script>
    <script src="{{ asset('bundles/nkoorder/js/periodical_saver.js') }}"></script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/nkoorder/css/visible_scroll.css') }}"/>
{% endblock %}
