.sonata-ba-collapsed-fields #warning {
    color: #952a25;
    line-height: 1.2;
    font-size: 15px;
    font-weight: 600;
}

td[class*='file'] {
    min-width: 200px !important;
    word-wrap: break-word;
}

div[class='itm_file_preview_info_c'] {
    width: 170px;
}

span[id$='introductionSocialResults'] td[class*='result'] {
    max-width: 300px;
}

span[id$='implementationSocialResults'] td[class*='result'] {
    max-width: 300px;
}