td[class*="Results-startDateFact"] div,
td[class*="methods"] div {
    margin-bottom: 5px;
}


td[class*="finishDateFact"],
td[class*="effectiveness"][class*="comment"],
span[id*="effectiveness"] table thead tr:nth-child(2) th:last-child,

td[class*="expectedResults-comment"],
td[class*="practiceResults-comment"],
span[id*="expectedResults"] table thead tr:nth-child(2) th:first-child,
span[id*="expectedResults"] table thead tr:nth-child(2) th:last-child,
span[id*="practiceResults"] table thead tr:nth-child(2) th:first-child,
span[id*="practiceResults"] table thead tr:nth-child(2) th:last-child {
    display: none;
}

td[class*="startDateFact"],
td[class*="expectedResults"] textarea,
td[class*="practiceResults"] textarea,
td[class*="projectTeams-relationship"] {
    min-width: 150px;
}

td[class*='effectiveness'][class*='result'] {
    min-width: 300px;
}

td[class*='direction'],
td[class*='methods'],
td[class*='socialResults'] {
    max-width: 300px;
}

td[class*='FactValue'],
td[class*='PlanValue'] {
    min-width: 70px;
}

td[class*='practiceFormat'] {
    max-width: 200px;
}

.alert {
    padding: 10px;
}

.tab-bar .btn {
    height: 40px;
    font-size: 12px;
}

.alert-dismissable .close, .alert-dismissible .close {
    right: 0px;
}

.form-group {
    overflow: auto;
}

td[class*='_expectedResults-problem'],
td[class*='_practiceResults-problem'] {
    min-width: 300px;
}