td[class*="Results-startDateFact"] div,
td[class*="methods"] div {
    margin-bottom: 5px;
}

td[class*="finishDateFact"],
td[class*="expectedResults-comment"],
td[class*="practiceResults-comment"],
td[class*="effectiveness"][class*="comment"],
span[id*="expectedResults"] table thead tr:nth-child(3) th:first-child,
span[id*="expectedResults"] table thead tr:first-child th:nth-last-child(2),
span[id*="practiceResults"] table thead tr:nth-child(3) th:first-child,
span[id*="practiceResults"] table thead tr:first-child th:nth-last-child(2),
span[id*="effectiveness"] table thead tr th:nth-child(6) {
    display: none;
}

td[class*="startDateFact"],
td[class*="expectedResults"] textarea,
td[class*="practiceResults"] textarea,
td[class*="projectTeams-relationship"] {
    min-width: 150px;
}

td[class*='effectiveness'][class*='result'] {
    min-width: 300px;
}

td[class*='direction'],
td[class*='methods'],
td[class*='socialResults'] {
    max-width: 300px;
}

td[class*='factValue'],
td[class*='planValue'] {
    min-width: 50px;
}

td[class*='practiceFormat'] {
    max-width: 200px;
}

.alert {
    padding: 10px;
}

.tab-bar .btn {
    height: 40px;
    font-size: 12px;
}

.alert-dismissable .close, .alert-dismissible .close {
    right: 0px;
}

.form-group {
    overflow: auto;
}