div[id$='AnalyticResults'] {
    overflow: auto;
}

div[id$='AnalyticResults'] td[class$='service control-group'] {
    min-width: 150px;
}

div[id$='AnalyticResults'] td[class$='targetGroup control-group'] {
    min-width: 150px;
}

div[id$='AnalyticResults'] td[class$='indicator control-group'] {
    min-width: 150px;
}

div[id$='AnalyticResults'] td[class$='Value control-group'] {
    min-width: 80px;
}

div[id$='AnalyticResults'] td[class$='comment control-group'] {
    min-width: 150px;
}

div[id$='AnalyticResults'] div[id$='_measurementMethod'] span{
    max-width: 200px;
}
