td[class*='direction'] {
    max-width: 300px;
}

td[class*='Results-targetGroup'],
td[class*='Results-indicator'],
td[class*='Results-socialResult'] {
    max-width: 300px;
    width: 17%;
}

td[class*='Results-service'] {
    min-width: 200px;
}

td[class*='targetValue'],
td[class*='approximateValue'] {
    width: 11%;
}

.field-container {
    overflow-x: scroll;
}