div[id*='_documents'] table tbody td:nth-child(3) {
    width: 50%;
}
div[id*='_documents'] table tbody td:nth-child(4) {
    width: 25%;
}
div[id*='_documents'] table tbody td:nth-child(3) div {
    width: 100% !important;
}
div[id*='_documents'] table tbody td:nth-child(4) div {
    width: 100% !important;
}
