.fix-share thead th {
    position: relative;
    background: white;
    z-index: 2;
}

.fix-share thead th:before {
    content: '';
    position: absolute;
    border: 1px solid #b2b2b2;
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    z-index: 1;
}

.fix-share tbody tr td {
    position: relative;
}

.fix-share .two-fields-header {
    z-index: 3;
}

.fix-share .first-column-table {
    z-index: 1;
}

.fix-share .first-column-table:before {
    content: '';
    position: absolute;
    border: 1px solid #b2b2b2;
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    z-index: 1;
}

.fix-share .second-column-table {
    z-index: 1;
    background: white;
}

.fix-share .second-column-table:before {
    position: absolute;
    border: 1px solid #b2b2b2;
    z-index: 1;
}