td[class*='linkedMethod'] {
    min-width: 200px;
    max-width: 300px;
}

td[class*='resultCriteria'] {
    min-width: 290px;
}


td[class*='targetValue'],
td[class*='approximateTargetValue']{
    width: 10%;
    max-width: 50px;
}