table#monitoring-report td:nth-child(2), table#monitoring-report td:nth-last-child(-n+3) {
    min-width: 250px;
    max-width: 250px;
}

table#monitoring-report td {
    min-width: 80px;
    max-width: 80px;
}

table#monitoring-report td:first-child {
    min-width: 50px;
    max-width: 50px;
}

.alert {
    padding: 10px;
    margin-bottom: 5px;
}

.alert-dismissable .close, .alert-dismissible .close {
    right: 0px;
}

td[class="docunemts-period"],
td[class="documents-monitoringResult"],
td[class="documents-file"] {
    width: 25% !important;
}

td[class="documents-_delete"] {
    width: 20% !important;
}

@media screen and (max-height: 800px) {
    th, td {
        padding: 5px !important;
        text-align: left;
    }

    table>tbody>tr>td,
    table>tbody>tr>th,
    table>thead>tr>td,
    table>thead>tr>th {
        padding: 5px !important;
    }

    .alert {
        padding: 7px;
        margin-bottom: 5px;
    }

    .tab-bar .btn {
        height: 40px;
        font-size: 10px !important;
        margin: 0px;
    }
}