div[id$='_projectResults'] table thead tr th:nth-child(2) {
    width: 30%;
}

textarea {
    resize: none;
}

div[id$='_traineeshipTopic'] span {
    font-weight: 700;
}

label,
span,
div[id$='_organization'] span {
    font-weight: normal;
}

.help {
    font-style: italic;
    color: grey;
    display: block;
}

.main-header .logo {
    width: 312px;
}

.box.box-primary {
    overflow-x: scroll !important;
}

.main-header > .navbar {
    margin-left: 312px;
}

.main-sidebar,.left-side {
    width: 312px;
}

.sidebar-collapse .content,
.sidebar-collapse .instruction-text  {
    padding-left: 15px;
}

.content,
.instruction-text {
    padding-left: 100px;
}

.sonata-ba-list-field-header-batch {
    text-align: left;
}

@media (max-width: 767px) {
    .main-sidebar, .left-side {
        -webkit-transform: translate(-312px, 0);
        -ms-transform: translate(-312px, 0);
        -o-transform: translate(-312px, 0);
        transform: translate(-312px, 0);
    }
}

@media (min-width: 768px) {
    .sidebar-collapse .main-sidebar,
    .sidebar-collapse .left-side {
        -webkit-transform: translate(-312px, 0);
        -ms-transform: translate(-312px, 0);
        -o-transform: translate(-312px, 0);
        transform: translate(-312px, 0);
    }

    .content-header,
    .instruction-text {
        position: relative;
        padding: 15px 15px 0 100px;
    }

    .sidebar-collapse .content-header,
    .sidebar-collapse .instruction-text  {
        position: relative;
        padding: 15px 15px 0 15px;
    }
}

@media (min-width: 768px) {
    .control-sidebar-open .content-wrapper,
    .control-sidebar-open .right-side,
    .control-sidebar-open .main-footer {
        margin-right: 312px;
    }

    .navbar-right {
        float: right !important;
        margin-right: 15px;
    }
}

div[id$='hone']
{
    width: 79%;
    display: inline-block;
}

div[id$='honeCode'] {
    width: 16%;
    float: left;
    margin-right: 1%;
    display: inline-block;
}

.control-label {
    clear: both;
}

form label {
    display: block;
}

.box-title {
    font-weight: 700;
}

th, td {
    font-weight: normal;
}

tbody > tr > td >.btn {
    width: 47px;
    display: inline-block;
}

.navbar-top-links li span {
    display: inline-block;
}

.help-inline {
    color: #dd4b39;
}

.tab-bar button h6 {
    display: inline;
    margin: 5px 5px;
}

.tab-bar button h5 {
    display: inline;
}

.help-block {
    font-style: italic;
}

.tab-bar button {
    height: 55px;
}

.tab-bar.tab-bar-farvater button{
    margin: 5px 0 5px 0;
}

label.code {
    float: left;
    margin: 6px 1% 1%;
    display: inline-block;
    width: 2%;
}

div.itm_file_preview_ico_c {
    width: 150px;
}

div.itm_file_preview_ico_c img {
    width: 100%;
}

div.itm_file_preview_info_c {
    margin-top: 10px;
}

div.support {
    position: relative;
    bottom: 0;
    margin-bottom: 12px;
}

span.tech-support{
    color: #b8c7ce;
    margin-left: 12px;
    display: block;
    font-size: 12px;
}

div.support a,
div.support a:hover,
div.support a:focus {
    text-decoration: underline !important;
}

input[type="file"] {
    color: transparent;
}

.file-here {
    color: black !important;
}

ul[id$="_finalDecision"] li:first-child {
    display: none;
}

.navbar-nav a.btn-primary {
    color: white !important;
    padding: 10px;
    margin: 4px;
}

.navbar-nav a:hover,
.navbar-nav a:focus,
.navbar-nav a:active {
    background: #33a6cc !important;
}

table > thead > tr > th {
    text-align: center;
    vertical-align: middle !important;
    font-weight: bold;
}

table > thead > tr > th > i {
    font-weight: normal;
}

span[id$='_immediateResults'] td[class*="resultCriteria"]{
    width: 30%;
}

span[id$='_immediateResults'] td[class*="-planValue"],
span[id$='_immediateResults'] td[class*="-factValue"],
span[id$='_immediateResults'] td[class*="-expectedValue"] {
    width: 10%;
}

td[class*="documents"] {
    text-align: center;
    max-width: 200px;
}

td[class*="date"],
td[class*="documents"] input[id*="date"] {
    text-align: center;
    width: 80px;
}

td[class*="documents"] .itm_file_preview_ico_c,
td[class*="documents"] .itm_file_preview_info_c{
    width: 100px;
    text-align: left;
}

.help-block.sonata-ba-field-error-messages {
    color: #dd4b39;
    font-style: normal;
}

.select2-drop{
    max-width: 374px !important;
}

td[class*='file'] {
    max-width: 130px;
}

@media screen and (max-width: 1329px) {
    td[class*="documents"] {
        text-align: center;
        max-width: 140px;
        padding: 4px !important;
    }
}

@media screen and (max-width: 1291px) {
    tbody > tr > td[class*="documents"] >.btn {
        margin: 3px;
    }
}

div[id$='practiceRegion'].form-group {
    width: 50%;
    float: left;
    margin-right: 1%;
    display: inline-block;
}

div[id$='practiceRegionEtc']
{
    width: 49%;
    display: inline-block;
}

.category-value {
    padding: 5px;
    display: inline-block;
    border: 1px solid darkgrey;
    border-radius: 5px;
    margin-right: 5px;
}

.category-value .glyphicon{
    margin-right: 5px;
    color: grey;
    margin-top: 0.1em;
}

.category-value .glyphicon:hover {
    cursor: pointer;
    color: black;
}

td[class*="_marks-markCriteria"] {
    width: 40%;
}

td[class*="_marks-mark "] {
    width: 20%;
}


.navbar-default.stuck .navbar-collapse {
    margin-right: 70px;
}

.cms-block .box-body .table>tbody>tr>td {
    padding-left: 0;
    padding-right: 0;
}

div[id$='_marks'] tbody tr>td:first-child {
    width: 20%;
}

.container-fluid.documents {
    text-align: center;
}

.to-main {
    padding-left: 16px;
    padding-top: 20px;
}
.container-fluid.documents .col-md-2 {
    margin-bottom: 20px;
}

.container-fluid.documents .col-md-2:nth-child(7){
    /*float: inherit;*/
}

.logo img {
    max-width: 115px;
}

.welcome {
    text-align: center;
    margin-bottom: 2vh;
    font-weight: bold;
}

.admin-content.container-fluid {
    padding-left: 35px;
    padding-right: 35px;
}

.expand-textarea {
    position: relative;
    top: -20px;
    right: 14px;
    float: right;
    color: #aaa;
}

.expand-textarea:hover,
.expand-textarea:focus,
.expand-textarea:active {
    cursor: pointer;
    color: black;
}

.fullscreen-textarea .expand-textarea {
    display: none;
}

.fullscreen-textarea {
    position: fixed;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999998;
}

.fullscreen-textarea textarea {
    height: 100% !important;
    padding: 10px 20% 10px 10px;
}

.close-textarea {
    display: none;
}

.fullscreen-textarea .close-textarea {
    display: block;
    position: absolute;
    top: 3px;
    right: 10px;
    float: right;
    z-index: 999999;
    color: #aaa;
    font-size: 26px;
}

.fullscreen-textarea p.close-textarea {
    font-size: 18px;
    display: block;
}

.fullscreen-textarea i.close-textarea:hover,
.fullscreen-textarea i.close-textarea:focus,
.fullscreen-textarea i.close-textarea:active {
    cursor: pointer;
    color: black;
}

ul[id$="_peopleCategories"] > li > div > label > span,
ul[id$="_trainingGrounds"] > li > div > label > span {
    font-weight: bold;
}

/*=======================================================*/
.ct_main h3 {
    font-size: 22px !important;
}

.main-text {
    margin-top: 40px;
}

.ct_main th, td{
    padding: 10px !important;
    text-align: left;
}

.ct_main .left-padding {
    padding-left: 40px;
}

.ct_main {
    width: 100%;
    min-height: 100%;
    padding-bottom: 245px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.ct_main .wrapper {
    width: 1190px;
    margin: 0 auto;
}

.ct_main {
    font-family: 'Calibri', sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: normal;
    color: #333;
}

.radio.readonly {
    pointer-events: none;
}

.filter-max-width {
    width: 66%;
}

div[id*='_registers']:not([id*='xpense']) > label.control-label {
    display: none;
}

div[id^="period"] a {
    font-size: 18px;
}

p[id^="message"] {
    display: none;
    font-size: 20px;
}

/*скрывает колонку со скрытыми инпутами*/
span[id$="financeSpent"] th:nth-child(4),
span[id$="financeSpent"] tr:not(:last-child) td:nth-child(4) {
    display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

/*#fix-button {*/
    /*position: fixed;*/
    /*padding: 10px;*/
    /*bottom: 0;*/
    /*width: 100%;*/
/*}*/

.tab-bar-analytic button {
     height: 40px;
}

.tab-bar-analytic>.btn {
    line-height: 1;
}

@media screen and (max-width: 1368px) and (max-height: 800px) {
    body {
        font-size: 12px;
    }

    .skin-black .treeview-menu>li>a {
        font-size: 12px;
    }

    .main-sidebar {
        width: 280px;
        margin-bottom: 10px;
    }

    .content-wrapper {
        margin-left: 280px;
    }

    .content, .instruction-text {
        padding: 10px;
    }

    .content-header {
        padding: 10px 10px 0px 10px;
    }

    .btn {
        padding: 6px 10px;
        font-size: 10px;
    }

    .well {
        padding: 10px;
    }

    .form-control {
        font-size: 12px;
        padding: 6px;
    }

    .tab-bar .btn {
        height: 40px;
        font-size: 10px !important;
    }

    .alert {
        padding: 7px;
        margin-bottom: 5px;
    }

    .checkbox {
        margin-top: 5px;
        margin-bottom: 0px;
    }
}

.file-here {
    color: black !important;
}
