td[class*='_specialistProblems-targetGroup'] {
    width: 15%;
}

td[class*='_specialistProblems-socialResults'] {
    width: 40%;
}

span[id*="_specialistProblems"] table thead tr:first-child th:nth-child(3),
td[class*='_specialistProblems-specialistCompetition'] {
    width: 10%;
}
