{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field%}
    <div >
        {% if object|itm_file_exists('file') %}
            {% set urlFile = object|itm_file_url(admin.parameters.listmapper.fieldName) %}
            {% if urlFile|split('.', 2)[1] == '' %}
                {% set fileFormat = 'Формат не определён' %}
            {% else %}
                {% set fileFormat = urlFile|split('.', 2)[1] %}
            {% endif %}
            <div class="itm_file_preview_ico_c">
                <a href="{{ urlFile }}" download>
                    <img src="{{ asset('bundles/nkodefault/images/download_file.png') }}" />
                </a>
            </div>
            <div class="itm_file_preview_info_c">
                <span>Тип файла: </span> {{ fileFormat }}<br />
            </div>
            <div class="itm_file_separator"></div>
        {% endif %}
    </div>
{% endblock %}