.label-wrapper {
    margin-top: 15px;
    margin-bottom: 7px;
    font-size: 1.3em;
}

.label-wrapper-period {
    margin-top: 10px;

    font-size: 1.3em;
}

.btn-custom {
    margin-top: 25px;
}

.box-body {
    margin-top: -20px;
}

#wrapper_period {
    margin-top: 35px;
}