{% extends base_template %}

{% block list_table %}
    {% set unserializedObject = (object | unserialize) %}
    <div class="container-fluid documents">
        <div class="row">
            {% embed "@NKOOrder/CRUD/download_document.html.twig" with {
                'document': unserializedObject.regulation,
                'object': unserializedObject, 'history': object,
                'fileName': 'Устав организации (со всеми внесенными изменениями и дополнениями), с отметкой регистрирующего органа в формате '} %}
            {% endembed %}

            {% embed "@NKOOrder/CRUD/download_document.html.twig" with {
                'document': unserializedObject.authorityHead,
                'object': unserializedObject,
                'history': object,
                'fileName': 'Документ, подтверждающий полномочия руководителя (протокол об избрании, приказ и пр.)'} %}
            {% endembed %}

            {% embed "@NKOOrder/CRUD/download_document.html.twig" with {
                'document': unserializedObject.anotherHead,
                'object': unserializedObject,
                'history': object,
                'fileName': 'Документ, подтверждающий полномочия лица, которое будет подписывать договор (если договор будет подписывать не руководитель организации)'} %}
            {% endembed %}

            {% embed "@NKOOrder/CRUD/download_document.html.twig" with {
                'document': unserializedObject.signedAgreement,
                'object': unserializedObject,
                'history': object,
                'fileName': 'Информированные согласия на обработку персональных данных, заполненные на всех лиц, упоминаемых в заявке (с личной подписью)'} %}
            {% endembed %}

            {% embed "@NKOOrder/CRUD/download_document.html.twig" with {
                'document': unserializedObject.budget,
                'object': unserializedObject,
                'history': object,
                'fileName': 'Бюджет проекта (файл в формате Excel по форме установленного образца '} %}
            {% endembed %}

            {% embed "@NKOOrder/CRUD/download_document.html.twig" with {
                'document': unserializedObject.subjectRegulation,
                'object': unserializedObject,
                'history': object,
                'fileName': '6. Устав субъекта РФ или муниципалитета, положение о профильной службе (департаменте, министерстве и т.п.)'} %}
            {% endembed %}

            {% embed "@NKOOrder/CRUD/download_document.html.twig" with {
                'document': unserializedObject.organizationCreationResolution,
                'object': unserializedObject, 'history': object,
                'fileName': 'Документ, подтверждающий статус юридического лица государственных и муниципальных учреждений (решение о создании учреждения и т.п.)'} %}
            {% endembed %}
        </div>
    </div>

{% endblock %}