{% extends 'NKOOrderBundle:CRUD:base_application_edit.html.twig' %}
{% block tab_menu_navbar_header %}
{% endblock %}
{% block tab_menu %}
    {% include '@NKOOrder/CRUD/Application/tab_menu.html.twig' %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/nkoorder/css/kns_application_2018.css') }}"/>
{% endblock %}

{% block formactions %}
    <div class="sonata-ba-form-actions well well-small form-actions">
        {% block sonata_form_actions %}
            {{ parent() }}
        {% endblock %}
    </div>
{% endblock formactions %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/nkoorder/js/application/choice_action.js') }}"></script>
    <script src="{{ asset('bundles/nkoorder/js/application/kns_application_2018.js') }}"></script>
    <script src="{{ asset('bundles/nkoorder/js/periodical_saver.js') }}"></script>
{% endblock %}