{% extends "NKODefaultBundle::layout.html.twig" %}

{% block content %}
    <div class="col-md-9">
        {% block menu %}
            {{ render(controller('NKOMenuBundle:Menu:createMenu')) }}
        {% endblock %}
        <div class="left-padding">
            <div class="row">
                <div class="col-md-12">
                    <h3>Меню</h3>
                </div>
            </div>

            {% for item in childNodes %}
                <li>
                    <a href="{{ item.url }}">{{item.title }}</a>
                </li>
            {%  endfor %}
        </div>
    </div>
{% endblock %}