{% extends '@NKOOrder/CRUD/report/analytic_report/base_edit_report.html.twig' %}
{% block tab_menu_navbar_header %}
{% endblock %}
{% block tab_menu %}
    {% include '@NKOOrder/CRUD/report/tab_menu.html.twig' %}
{% endblock %}

{% block sonata_top_nav_menu_auto_saver_switcher %}
    {% include 'NKOOrderBundle:CRUD:autosave_checkbox.html.twig' %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/nkoorder/js/tab_bar_handler.js') }}"></script>
    <script src="{{ asset('bundles/nkoorder/js/analytic_report/report2019/edit.js') }}"></script>
    <script src="{{ asset('bundles/nkoorder/js/periodical_saver.js') }}"></script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/nkoorder/css/analytic_report.css') }}"/>
{% endblock %}