{% extends base_template %}

{% block list_table %}
    {% set unserializedObject = (object | unserialize) %}
    <div class="container-fluid documents">
        <div class="row">

            {% embed "@NKOOrder/CRUD/download_document.html.twig" with {'document': unserializedObject.regulation, 'object': unserializedObject, 'history': object, 'fileName': 'Устав организации'} %}
            {% endembed %}

            {% embed "@NKOOrder/CRUD/download_document.html.twig" with {'document': unserializedObject.projectBudget, 'object': unserializedObject, 'history': object, 'fileName': 'Бюджет проекта – заполненный файл установленного образца'} %}
            {% endembed %}

            {% embed "@NKOOrder/CRUD/download_document.html.twig" with {'document': unserializedObject.bankLetterExistenceAccount, 'object': unserializedObject, 'history': object, 'fileName': 'Письмо/справка из банка/территориального органа федерального казначейства о наличии счёта'} %}
            {% endembed %}

            {% embed "@NKOOrder/CRUD/download_document.html.twig" with {'document': unserializedObject.processingPersonalDataConsent, 'object': unserializedObject, 'history': object, 'fileName': 'Подписанные согласия на обработку персональных данных всех лиц, фигурирующих в заявке'} %}
            {% endembed %}

            {% embed "@NKOOrder/CRUD/download_document.html.twig" with {'document': unserializedObject.confirmingLegalStatusEntityDocument, 'object': unserializedObject, 'history': object, 'fileName': 'Документ, подтверждающий статус юридического лица'} %}
            {% endembed %}

            {% embed "@NKOOrder/CRUD/download_document.html.twig" with {'document': unserializedObject.confirmingAuthorityPersonDocument, 'object': unserializedObject, 'history': object, 'fileName': 'Документ, подтверждающий полномочия лица, которое будет подписывать договор'} %}
            {% endembed %}

            {% embed "@NKOOrder/CRUD/download_document.html.twig" with {'document': unserializedObject.latestAnnualReport, 'object': unserializedObject, 'history': object, 'fileName': 'Последний годовой отчёт '} %}
            {% endembed %}

            {% embed "@NKOOrder/CRUD/download_document.html.twig" with {'document': unserializedObject.ministryJusticeReport, 'object': unserializedObject, 'history': object, 'fileName': 'Отчёт в Министерство юстиции Российской Федерации /иной регистрирующий орган за предшествующий отчетный период'} %}
            {% endembed %}

            {% embed "@NKOOrder/CRUD/download_document.html.twig" with {'document': unserializedObject.authorityHead, 'object': unserializedObject, 'history': object, 'fileName': 'Документ, подтверждающий полномочия руководителя'} %}
            {% endembed %}

        </div>
    </div>

{% endblock %}