<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title></title>
    <meta name="generator" content="LibreOffice 4.2.8.2 (Linux)">
    <meta name="created" content="20160913;121803338402567">
    <meta name="changed" content="20160913;122409056183929">
    <style type="text/css">
        <!--
        @page { margin: 0.79in }
        p { margin-bottom: 0.1in; line-height: 120% }
        -->
    </style>
</head>
<body lang="en-US" dir="ltr">
<ul>
    <p style="margin-bottom: 0in; line-height: 100%"><font face="Arial Narrow, serif"><b>РЕЗУЛЬТАТ
                ОЦЕНКИ</b></font></p>
    <li><p style="margin-bottom: 0in; line-height: 100%">№ <font face="Arial Narrow, serif">заявки</font><font face="Arial Narrow, serif"><span lang="en-US">: {{ number }}</span></font></p>
    <li><p style="margin-bottom: 0in; line-height: 100%"><font face="Arial Narrow, serif">Название
                практики: {{ briefApplication.projectName }}</font></p>
    <li><p style="margin-bottom: 0in; line-height: 100%"><font face="Arial Narrow, serif">Полное
                наименование организации: {{ application.author.nkoName }}</font></p>
    <li><p style="margin-bottom: 0in; line-height: 100%"><font face="Arial Narrow, serif">Регион: {{ briefApplication.legalRegion }}</font></p>
    <li><p style="margin-bottom: 0in; line-height: 100%"><font face="Arial Narrow, serif">Приоритетное направление:
                {{ briefApplication.priorityDirection }}
            </font></p>
    <li><p style="margin-bottom: 0in; line-height: 100%"><font face="Arial Narrow, serif">Иные эффективные
                практики: {{ briefApplication.priorityDirectionEtc }}</font></p>
    <li><p style="margin-bottom: 0in; line-height: 100%"><font face="Arial Narrow, serif">ФИО
                эксперта</font><font face="Arial Narrow, serif"><span lang="en-US">:  {{ expert.surname }} {{ expert.name }} {{ expert.patronymic }}</span></font></p>
    <li><p style="margin-bottom: 0in; line-height: 100%"><font face="Arial Narrow, serif">Итоговое
                решение</font><font face="Arial Narrow, serif"><span lang="en-US">: {{ final_decision }}</span></font></p>
    <li><p style="margin-bottom: 0in; line-height: 100%"><font face="Arial Narrow, serif">Обоснование
                итогового решения</font><font face="Arial Narrow, serif"><span lang="en-US">: {{ mark.rationaleFinalDecision }}</span></font></p>
    <li><p style="margin-bottom: 0in; line-height: 100%"><font face="Arial Narrow, serif">Суммарный
                балл: {{ mark.markWithCoeff }}</font></p>
    <li><p style="margin-bottom: 0in; line-height: 100%"><font face="Arial Narrow, serif">Оценки по вопросам и их обоснование:</font></p>
</ul>
<p style="margin-left: 0.49in; margin-bottom: 0in; line-height: 100%">
    <br>
</p>
<table width="700" cellpadding="7" cellspacing="0">
    <col width="51">
    <col width="290">
    <col width="99">
    <col width="283">
    <thead>
    <tr valign="top">
        <td width="51" bgcolor="#ffffff" style="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.07in; padding-right: 0.08in">
            <p align="center" style="margin-bottom: 0in">№ <font face="Arial Narrow, serif"><b>п</b></font><font face="Arial Narrow, serif"><span lang="en-US"><b>/</b></span></font><font face="Arial Narrow, serif"><b>п</b></font></p>
            <p align="center"><br>
            </p>
        </td>
        <td width="222" bgcolor="#ffffff" style="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.07in; padding-right: 0.08in">
            <p align="center"><font face="Arial Narrow, serif"><b>Вопрос</b></font></p>
        </td>
        <td width="80" bgcolor="#ffffff" style="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.07in; padding-right: 0.08in">
            <p align="center"><font face="Arial Narrow, serif"><b>Оценка</b></font></p>
        </td>
        <td width="222" bgcolor="#ffffff" style="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.07in; padding-right: 0.08in">
            <p align="center"><font face="Arial Narrow, serif"><b>Обоснование
                        оценки</b></font></p>
        </td>
    </tr>
    </thead>
    <tbody>
    {% set i = 1 %}
    {% set j = 1 %}
    {%  set criteriaArray = [] %}

    {% for  one_mark in mark.marks %}
        {% if one_mark.questionMark.criteria not in criteriaArray %}
            {% set criteriaArray = criteriaArray | merge([one_mark.questionMark.criteria]) %}
        {% endif %}
    {% endfor %}

    {% for criteria_item in  criteriaArray %}
        {% for one_mark in mark.marks %}
            <tr>
                {%  if criteria_item == one_mark.questionMark.criteria %}

                    <td bgcolor="#ffffff" style="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.07in; padding-right: 0.07in">
                        <p align="center">{{ j }}.{{ i }}</p>
                    </td>
                    <td bgcolor="#ffffff" style="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0in; padding-right: 0in">
                        <p> {{ one_mark.questionMark }}</p>
                    </td>
                    <td bgcolor="#ffffff" style="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0in; padding-right: 0in">
                        <p align="center">{{ one_mark.mark }}</p>
                    </td>
                    <td bgcolor="#ffffff" style="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0in; padding-right: 0in">
                        <p> {{ one_mark.rationale }} </p>
                    </td>
                    </tr>
                    {% set i = i + 1 %}
                {% endif %}

        {% endfor %}
        {% set i = 1 %}
        {% set j = j + 1 %}
    {% endfor %}

    </tbody>
</table>
<p style="margin-bottom: 0in; line-height: 100%"><br>
</p>
</body>
</html>