{% extends 'NKOOrderBundle:CRUD:base_application_edit.html.twig' %}
{% block tab_menu_navbar_header %}
{% endblock %}
{% block tab_menu %}
    {% include '@NKOOrder/CRUD/Application/tab_menu.html.twig' %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/nkoorder/css/continuation_application.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/nkoorder/css/beneficiary_problems.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/nkoorder/css/specialist_problems.css') }}"/>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/nkoorder/js/application/problems_target_groups.js') }}"></script>
    <script src="{{ asset('bundles/nkoorder/js/application/continuation_application.js') }}"></script>
    <script src="{{ asset('bundles/nkoorder/js/periodical_saver.js') }}"></script>
{% endblock %}