<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title></title>
    <meta name="generator" content="LibreOffice 5.1.4.2 (Linux)"/>
    <meta name="created" content="00:00:00"/>
    <meta name="changed" content="00:00:00"/>
    <style type="text/css">
        @page { size: 8.27in 11.69in; margin: 1in }
        p { margin-bottom: 0.1in; border: none; padding: 0in; line-height: 120%; text-align: left; page-break-inside: auto; orphans: 2; widows: 2; page-break-after: auto }
    </style>
</head>
<body lang="en-US" dir="ltr">
<p align="justify" style="margin-bottom: 0in; line-height: 100%; orphans: 0; widows: 0">
    <font face="Arial Narrow, serif"><font size="3" style="font-size: 12pt"><b>{{ lastReport.reportForm.title }}</b></font></font></p>
<p style="margin-bottom: 0in; line-height: 100%; orphans: 0; widows: 0">
<p align="justify" style="margin-bottom: 0in; line-height: 100%; orphans: 0; widows: 0">
    <font face="Arial Narrow, serif"><font size="3" style="font-size: 12pt"><b>Организация: </b> {{ lastReport.author.getNkoName }}</font></font></p>
<p style="margin-bottom: 0in; line-height: 100%; orphans: 0; widows: 0">
<p align="justify" style="margin-bottom: 0in; line-height: 100%; orphans: 0; widows: 0">
    <font face="Arial Narrow, serif"><font size="3" style="font-size: 12pt"><b>Итоговый отчет</b></font></font></p>
<p style="margin-bottom: 0in; line-height: 100%; orphans: 0; widows: 0">

<p align="justify" style="margin-bottom: 0in; line-height: 100%; orphans: 0; widows: 0">
    <font face="Arial Narrow, serif"><font size="3" style="font-size: 12pt"><b>ВКЛАДКА
                I. РЕЕСТР РАСХОДОВ</b></font></font></p>
<p style="margin-bottom: 0in; line-height: 100%; orphans: 0; widows: 0">
    <br/>

</p>

{% macro show_table(type, expenses, totalValue) %}
    <ul>
        <li/>
        <p style="margin-bottom: 0in; line-height: 100%; orphans: 0; widows: 0">
            <font face="Arial Narrow, serif"><font size="3" style="font-size: 12pt"><b>{{ type.title }}</b></font></font></p>
    </ul>
    <center>
    <table width="920" cellpadding="7" cellspacing="0">
    <col width="50">
    <col width="256">
    <col width="258">
    <col width="256">
    <col width="100">
    <tr>
        <td width="50" height="16" style="border: 1px solid #000001; border-bottom: 0px solid #000001; ">
            <p align="center" style="orphans: 0; widows: 0"><b>№п/п</b></p>
        </td>
        <td width="256" style="border-top: 1px solid #000001; padding-top: 0in; ">
            <p align="center" style="margin-bottom: 0in; orphans: 0; widows: 0">
                <font face="Arial Narrow, serif"><font size="3" style="font-size: 12pt"><b>Документ,
                            подтверждающий произведенные расходы (№, дата и наименование документа)</b></font></font>
            </p>
        </td>
        <td width="258" style="border: 1px solid #000001;  border-bottom: 0px solid #000001;">
            <p align="center" style="margin-bottom: 0in; orphans: 0; widows: 0">
                <font face="Arial Narrow, serif"><font size="3" style="font-size: 12pt"><b>Документ(-ы), подтверждающий(-ие)
                            получение оплаченных товаров/услуг (№, дата и наименование документа)</b></font></font>
            </p>
        </td>
        <td width="256" style="border-top: 1px solid #000001; ">
            <p align="center" style="orphans: 0; widows: 0"><font face="Arial Narrow, serif"><font size="3" style="font-size: 12pt"><b>Наименование
                            расхода</b></font></font></p>
        </td>
        <td colspan="2" width="100" style=" border: 1px solid #000001; border-bottom: 0px solid #000001;">
            <p align="center" style="margin-bottom: 0in; orphans: 0; widows: 0">
                <font face="Arial Narrow, serif"><font size="3" style="font-size: 12pt"><b>Сумма,
                            руб.</b></font></font></p>
            <p align="center" style="orphans: 0; widows: 0">
            </p>
        </td>
    </tr>
    {% for expense in expenses %}
        <tr valign="top">
            <td width="50" style="border: 1px solid #000001;  border-top: 1px solid #000001; border-right: 0px solid #000001; border-bottom: 0px solid #000001;">
                <p align="center" style="orphans: 0; widows: 0">
                    <font face="Arial Narrow, serif">
                        <font size="3" style="font-size: 12pt">
                            {{ loop.index }}
                        </font>
                    </font>
                </p>
            </td>
            <td width="256" style="border: 1px solid #000001; border-right: 0px solid #000001; border-bottom: 0px solid #000001;">
                <p style="orphans: 0; widows: 0">
                    <font face="Arial Narrow, serif">
                        <font size="3" style="font-size: 12pt">
                            {{ expense.proofProductExpenseDocument }}
                        </font>
                    </font>
                </p>
            </td>
            <td width="258" style="border: 1px solid #000001;  border-right: 0px solid #000001; border-bottom: 0px solid #000001;">
                <p style="orphans: 0; widows: 0">
                    <font face="Arial Narrow, serif">
                        <font size="3" style="font-size: 12pt">
                            {{ expense.proofPaidGoodsDocument }}
                        </font>
                    </font>
                </p>
            </td>
            <td width="256" style="border: 1px solid #000001; border-right: 0px solid #000001; border-bottom: 0px solid #000001;">
                <p style="orphans: 0; widows: 0">
                    <font face="Arial Narrow, serif">
                        <font size="3" style="font-size: 12pt">
                            {{ expense.name}}
                        </font>
                    </font>
                </p>
            </td>
            <td colspan="2" width="100" style="border: 1px solid #000001; border-bottom: 0px solid #000001;">
                <p style="orphans: 0; widows: 0">
                    <font face="Arial Narrow, serif">
                        <font size="3" style="font-size: 12pt">
                            {{ expense.sum }}
                        </font>
                    </font>
                </p>
            </td>
        </tr>
    {% endfor %}
    <tr valign="top">
        <td colspan="4" width="517" style="border: 1px solid #000001; ">
            <p style="orphans: 0; widows: 0"><font face="Arial Narrow, serif"><font size="3" style="font-size: 12pt"><b>ИТОГО:</b></font></font></p>
        </td>
        <td width="100" style="border: 1px solid #000001; border-left: 0px solid #000001; ">
            <p style="orphans: 0; widows: 0">
                <font face="Arial Narrow, serif">
                    <font size="3" style="font-size: 12pt">
                        {{ totalValue }}
                    </font>
                </font></p>
        </td>
    </tr>
    </table>
    <br/>
    <br/>
    </center>
{% endmacro %}

{% for expenseType in expenseTypes %}
    {% for key, expenseArray in expenseArrays %}
        {% if key == expenseType.code %}
            {{ _self.show_table(expenseType, expenseArray, totalValues[key]) }}
        {% endif %}
    {% endfor %}
{% endfor %}

<p style="margin-bottom: 0in; line-height: 100%; orphans: 0; widows: 0">
    <br/>

</p>
<p align="justify" style="margin-bottom: 0in; line-height: 100%; orphans: 0; widows: 0">
    <font face="Arial Narrow, serif"><font size="3" style="font-size: 12pt"><b>ВКЛАДКА
                II. ИЗРАСХОДОВАНО СРЕДСТВ</b></font></font></p>
<p style="margin-bottom: 0in; line-height: 100%; orphans: 0; widows: 0">
    <br/>

</p>
<table width="920" cellpadding="7" cellspacing="0">
    <col width="184">
    <col width="184">
    <col width="184">
    <col width="184">
    <col width="184">
    <tr>
        <td width="184" height="29" style="border: 1.00pt solid #000001; border-bottom: 0px solid #000001; border-right: 0px solid #000001; ">
            <p align="center" style="orphans: 0; widows: 0">
                <font face="Arial Narrow, serif">
                    <font size="3" style="font-size: 12pt">
                        <b>Статьи расходов</b>
                    </font>
                </font>
            </p>
        </td>
        <td width="184" style="border: 1.00pt solid #000001; border-bottom: 0px solid #000001; border-right: 0px solid #000001;">
            <p align="center" style="margin-bottom: 0in; orphans: 0; widows: 0">
                <font face="Arial Narrow, serif">
                    <font size="3" style="font-size: 12pt">
                        <b>Утвержденная сумма по статье, руб.</b>
                    </font>
                </font>
            </p>
        </td>
        <td width="184" style="border: 1.00pt solid #000001; border-bottom: 0px solid #000001; border-right: 0px solid #000001; ">
            <p align="center" style="margin-bottom: 0in; orphans: 0; widows: 0">
                <font face="Arial Narrow, serif">
                    <font size="3" style="font-size: 12pt">
                        <b>Расходы отчетного периода, руб.</b>
                    </font>
                </font>
            </p>
        </td>
        <td width="184" style="border: 1.00pt solid #000001; border-bottom: 0px solid #000001; border-right: 0px solid #000001;">
            <p align="center" style="margin-bottom: 0in; orphans: 0; widows: 0">
                <font face="Arial Narrow, serif">
                    <font size="3" style="font-size: 12pt">
                        <b>Расходы нарастающим итогом, руб.</b>
                    </font>
                </font>
            </p>
        </td>
        <td width="184" valign="top" style="border: 1.00pt solid #000001; border-bottom: 0px solid #000001; ">
            <p align="center" style="margin-bottom: 0in; orphans: 0; widows: 0">
                <font face="Arial Narrow, serif">
                    <font size="3" style="font-size: 12pt">
                        <b>Баланс(остаток / перерасход), руб.</b>
                    </font>
                </font>
            </p>
        </td>
    </tr>
    <tr>
        <td  width="184" height="2" style=" border: 1.00pt solid #000001; border-bottom: 0px solid #000001; border-right: 0px solid #000001;">
            <p align="center" style="text-align: center; orphans: 0; widows: 0">
                <font face="Arial Narrow, serif">
                    <font size="3" style="font-size: 12pt">
                        <b>1</b>
                    </font>
                </font>
            </p>
        </td>
        <td width="184" style="border: 1.00pt solid #000001; border-bottom: 0px solid #000001; border-right: 0px solid #000001;">
            <p align="center" style="text-align: center; orphans: 0; widows: 0">
                <font face="Arial Narrow, serif">
                    <font size="3" style="font-size: 12pt">
                        <b>2</b>
                    </font>
                </font>
            </p>
        </td>
        <td width="184" style="border: 1.00pt solid #000001; border-bottom: 0px solid #000001; border-right: 0px solid #000001;">
            <p align="center" style="text-align: center; orphans: 0; widows: 0">
                <font face="Arial Narrow, serif">
                    <font size="3" style="font-size: 12pt">
                        <b>3</b>
                    </font>
                </font>
            </p>
        </td>
        <td width="184" style="border: 1.00pt solid #000001; border-bottom: 0px solid #000001; border-right: 0px solid #000001;">
            <p align="center" style="text-align: center; orphans: 0; widows: 0">
                <font face="Arial Narrow, serif">
                    <font size="3" style="font-size: 12pt">
                        <b>4</b>
                    </font>
                </font>
            </p>
        </td>
        <td width="184" style="border: 1.00pt solid #000001; border-bottom: 0px solid #000001;">
            <p align="center" style="text-align: center; orphans: 0; widows: 0">
                <font face="Arial Narrow, serif">
                    <font size="3" style="font-size: 12pt">
                        <b>5</b>
                    </font>
                </font>
            </p>
        </td>
    </tr>
    {% for financeSpent in lastReport.financeSpent %}
        <tr>
            <td width="108" height="5" style="border: 1.00pt solid #000001; border-bottom: 0px solid #000001; border-right: 0px solid #000001;">
                <p style="orphans: 0; widows: 0">
                    <font face="Arial Narrow, serif">
                        <font size="3" style="font-size: 12pt">{{ financeSpent.expenseType.title }}</font>
                    </font>
                </p>
            </td>
            <td width="128" style="border: 1.00pt solid #000001; border-bottom: 0px solid #000001; border-right: 0px solid #000001;">
                <p style="orphans: 0; widows: 0">
                    <font face="Arial Narrow, serif">
                        <font size="3" style="font-size: 12pt">{{ financeSpent.approvedSum }}</font>
                    </font>
                </p>
            </td>
            <td width="137" style="border: 1.00pt solid #000001; border-bottom: 0px solid #000001; border-right: 0px solid #000001;">
                <p align="right" style="orphans: 0; widows: 0">
                    <font face="Arial Narrow, serif">
                        <font size="3" style="font-size: 12pt">{{ financeSpent.periodCosts }}</font>
                    </font>
                </p>
            </td>
            <td width="137" style="border: 1.00pt solid #000001; border-bottom: 0px solid #000001; border-right: 0px solid #000001;">
                <p align="right" style="orphans: 0; widows: 0">
                    <font face="Arial Narrow, serif">
                        <font size="3" style="font-size: 12pt">{{ financeSpent.incrementalCosts + financeSpent.periodCosts }}</font>
                    </font>
                </p>
            </td>
            <td width="127" valign="top" style="border: 1.00pt solid #000001; border-bottom: 0px solid #000001; ">
                <p align="right" style="orphans: 0; widows: 0">
                    <font face="Arial Narrow, serif">
                        <font size="3" style="font-size: 12pt">{{ financeSpent.balance }}</font>
                    </font>
                </p>
            </td>
        </tr>
    {%  endfor %}
    <tr>
        <td width="108" height="5" style="border: 1.00pt solid #000001; border-right: 0px solid #000001;">
            <p style="orphans: 0; widows: 0">
                <font face="Arial Narrow, serif">
                    <font size="3" style="font-size: 12pt">ВСЕГО</font>
                </font>
            </p>
        </td>
        <td width="128" style="border: 1.00pt solid #000001; border-right: 0px solid #000001;">
            <p style="orphans: 0; widows: 0"><font face="Arial Narrow, serif">
                    <font size="3" style="font-size: 12pt">{{ lastReport.receiptOfDonations }}</font>
                </font>
            </p>
        </td>
        <td width="137" style="border: 1.00pt solid #000001; border-right: 0px solid #000001;">
            <p align="right" style="orphans: 0; widows: 0">
                <font face="Arial Narrow, serif">
                    <font size="3" style="font-size: 12pt">{{ lastReport.periodCosts }}</font>
                </font>
            </p>
        </td>
        <td width="137" style="border: 1.00pt solid #000001; border-right: 0px solid #000001;">
            <p align="right" style="orphans: 0; widows: 0">
                <font face="Arial Narrow, serif">
                    <font size="3" style="font-size: 12pt">{{ lastReport.incrementalCosts  }}</font>
                </font>
            </p>
        </td>
        <td width="127" valign="top" style="border: 1px solid #000001;">
            <p align="right" style="orphans: 0; widows: 0">
                <font face="Arial Narrow, serif">
                    <font size="3" style="font-size: 12pt">{{ lastReport.donationBalance }}</font>
                </font>
            </p>
        </td>
    </tr>
</table>
<p style="margin-bottom: 0.11in; line-height: 108%; orphans: 0; widows: 0">
    <br/>
    <br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%; orphans: 0; widows: 0">
    <font face="Arial Narrow, serif"><font size="3" style="font-size: 12pt"><b>ВКЛАДКА
                III. “ДВИЖЕНИЕ ДЕНЕЖНЫХ СРЕДСТВ”</b></font></font></p>
<p style="margin-bottom: 0in; line-height: 100%; orphans: 0; widows: 0">
    <br/>

</p>
<table width="920" cellpadding="7" cellspacing="0">
    <col width="460">
    <col width="460">
    <tr valign="top">
        <td width="460" height="18" style="border: 1px solid #000001; border-right: 0px  solid #000001; border-bottom: 0px solid #000001; padding: 0in 0.08in">
            <p align="center" style="orphans: 0; widows: 0"><br/></p>
            <p style="orphans: 0; widows: 0"><br/>

            </p>
        </td>
        <td width="460" style="border: 1px solid #000001; border-bottom: 0px solid #000001; padding: 0in 0.08in">
            <p align="right" style="orphans: 0; widows: 0">
                <font face="Arial Narrow, serif">
                    <font size="3" style="font-size: 12pt"><b>Сумма в рублях</b>
                    </font>
                </font>
            </p>
        </td>
    </tr>
    <tr valign="top">
        <td width="460" height="2" style="border: 1px solid #000001;  border-bottom: 0px solid #000001; border-right: 0px  solid #000001; padding: 0in 0.08in">
            <p style="margin-bottom: 0in; orphans: 0; widows: 0">
                <font face="Arial Narrow, serif">
                    <font size="3" style="font-size: 12pt">
                        <b>Поступление пожертвования </b>
                    </font>
                </font>
            </p>
            <p style="orphans: 0; widows: 0"><br/>

            </p>
        </td>
        <td width="460" style="border: 1px solid #000001; border-bottom: 0px solid #000001; padding: 0in 0.08in">
            <p align="right" style="orphans: 0; widows: 0">
                <font face="Arial Narrow, serif"><font size="3" style="font-size: 12pt">{{ lastReport.receiptOfDonations }}</font>
                </font>
            </p>
        </td>
    </tr>
    <tr valign="top">
        <td width="460" height="2" style="border: 1px solid #000001; border-right: 0px  solid #000001; border-bottom: 0px solid #000001; padding: 0in 0.08in">
            <p style="margin-bottom: 0in; orphans: 0; widows: 0"><font face="Arial Narrow, serif"><font size="3" style="font-size: 12pt">
                        <b>Расходы отчетного периода</b></font></font>
            </p>
            <p style="orphans: 0; widows: 0"><br/>

            </p>
        </td>
        <td width="460" style="border: 1px solid #000001; border-bottom: 0px solid #000001;padding: 0in 0.08in">
            <p align="right" style="orphans: 0; widows: 0">
                <font face="Arial Narrow, serif">
                    <font size="3" style="font-size: 12pt">	{{ lastReport.periodCosts }}</font>
                </font>
            </p>
        </td>
    </tr>
    <tr valign="top">
        <td width="460" height="2" style="border: 1px solid #000001; border-right: 0px  solid #000001; border-bottom: 0px solid #000001;padding: 0in 0.08in">
            <p style="margin-bottom: 0in; orphans: 0; widows: 0">
                <font face="Arial Narrow, serif"><font size="3" style="font-size: 12pt">
                        <b>Расходы по нарастающему итогу</b>
                    </font>
                </font>
            </p>
            <p style="orphans: 0; widows: 0"><br/>

            </p>
        </td>
        <td width="460" style="border: 1px solid #000001; border-bottom: 0px solid #000001;padding: 0in 0.08in">
            <p align="right" style="orphans: 0; widows: 0">
                <font face="Arial Narrow, serif">
                    <font size="3" style="font-size: 12pt">{{ lastReport.incrementalCosts }}</font>
                </font>
            </p>
        </td>
    </tr>
    <tr valign="top">
        <td width="460" height="1" style="border: 1px solid #000001; border-right: 0px solid #000001; padding: 0in 0.08in">
            <p style="margin-bottom: 0in; orphans: 0; widows: 0">
                <font face="Arial Narrow, serif"><font size="3" style="font-size: 12pt">
                        <b>Остаток суммы пожертвования (при наличии)</b>
                    </font>
                </font>
            </p>
            <p style="orphans: 0; widows: 0"><br/>

            </p>
        </td>
        <td width="460" style="border: 1px solid #000001; padding: 0in 0.08in">
            <p align="right" style="orphans: 0; widows: 0"><font face="Arial Narrow, serif"><font size="3" style="font-size: 12pt">{{ lastReport.donationBalance }}</font></font></p>
        </td>
    </tr>
</table>
<p style="margin-bottom: 0in; line-height: 100%; orphans: 0; widows: 0">
    <br/>
</p>

<p class="western" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p class="western" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p class="western" style="margin-bottom: 0in; line-height: 100%"><font face="Arial Narrow, serif">
        &nbsp;&nbsp;&nbsp;&nbsp;<b>ДАТА,
            ПОДПИСЬ РУКОВОДИТЕЛЯ ОРГАНИЗАЦИИ,
            ПЕЧАТЬ ОРГАНИЗАЦИИ</b></font></p>
<p class="western" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p class="western" style="margin-bottom: 0in; line-height: 100%"><font face="Arial Narrow, serif">
        &nbsp;&nbsp;&nbsp;&nbsp; ____________ &nbsp;&nbsp;&nbsp;&nbsp;
        __________________________ &nbsp;&nbsp;  / <span style="padding-left: 12em"> / </span> </font></p>
<p class="western" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="padding-left: 29em"><font face="Arial Narrow, serif">М.П.</font></p>
<p class="western" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p class="western" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
</body>
</html>