{% trans_default_domain 'FOSUserBundle' %}
<div class="col-md-1"></div>
<div class="col-md-4">
    {% include '@NKODefault/layout/logo.html.twig' %}
</div>

<div class="col-md-6">
    <div class="ct_simple_text paddings">
        <h2>{{ 'reset_password'|trans }}</h2>
        <div class="ct_form ct_forgotpass">
            <form name="bform" target="_top" action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
                {% if invalid_username is defined %}
                    <p class="errortext">{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}) }}</p>
                {% endif %}
                <p class="line">
                    <strong><label for="username">{{ 'resetting.request.email'|trans }}</label></strong><br>

                    <input type="text" id="username" name="username" required="required" maxlength="50" value="">
                </p>
                <p>
                    <input type="submit" name="send_account_info" value="{{ 'resetting.request.submit'|trans }}" class="ct_button lightblue">
                </p>
            </form>
        </div>
    </div>
</div>
