{% extends "NKODefaultBundle::layout.html.twig" %}

{% block fos_user_content %}
{% endblock fos_user_content %}

{% block content %}
    {% include "NKOUserBundle:Resetting:request_content.html.twig" %}
{% endblock content %}
