{% trans_default_domain 'FOSUserBundle' %}
<div class="col-md-1"></div>
<div class="col-md-4">
    {% include '@NKODefault/layout/logo.html.twig' %}
</div>

<div class="col-md-6">
    <div class="ct_simple_text paddings">
        <h2>{{ 'reset_password'|trans }}</h2>
        <div class="ct_form ct_register_form">
            {{ form_start(form, { 'action': path('fos_user_resetting_reset', {'token': token}), 'attr': { 'class': 'fos_user_resetting_reset' } }) }}
            {{ form_widget(form) }}
            <div>
                <input type="submit" value="{{ 'resetting.reset.submit'|trans }}" />
            </div>
            {{ form_end(form) }}

        </div>
    </div>
</div>
