{% trans_default_domain 'FOSUserBundle' %}
<div class="row ct_logo">
    <a href="{{ path('homepage') }}">
        <img class="logo" src="{{ asset('bundles/nkodefault/images/fond_logo.jpg') }}" alt="Всероссийский конкурс «Курс на семью»">
    </a>
</div>
<div class="ct_auth ct_form ct_auth_form">
    <div class="title">ВХОД В ЛИЧНЫЙ КАБИНЕТ</div>
    {% if error %}
        <div class="errortext">{{ error.messageKey|trans(error.messageData, 'security') }}</div><br>
    {% endif %}
    <form action="{{ path("fos_user_security_check") }}" method="post">
        <p class="line">
            <strong><label for="username">{{ 'security.login.email'|trans }}</label></strong>
            <input type="text" id="username" name="_username" value="{{ last_username }}" maxlength="50" size="17" tabindex="1" required="required" />
        </p>
        <div class="line pass">
            <strong><label for="password">{{ 'security.login.password'|trans }}</label>
                <a class="forgot" href="{{ path('fos_user_resetting_request') }}" rel="nofollow">{{ 'security.login.forgot_password'|trans }}</a>
            </strong>
            <input type="password" id="password" name="_password" required="required" maxlength="50" size="17" autocomplete="off" tabindex="2"/>
            <span class="bx-auth-secure" id="bx_auth_secure6zOYVN" title="Перед отправкой формы авторизации пароль будет зашифрован в браузере. Это позволит избежать передачи пароля в открытом виде." style="display: inline-block;">
            <span class="bx-auth-secure-icon"></span>
            </span>
        </div>
        <p class="line">
            <span>
                <input type="checkbox" id="remember_me" name="_remember_me">
            </span>
            <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
        </p>
        <p>
            <input class="btn btn-primary login-btn" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" tabindex="5">
            <a href="{{ path('fos_user_registration_register') }}" class="register-link"> {{ 'registration.submit'|trans }}</a>
        </p>
    </form>
</div>

