<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Всероссийский конкурс «Курс на семью»</title>

    <link rel="shortcut icon" href="{{ asset('bundles/nkodefault/images/favicon/favicon.ico') }}" type="image/x-icon" />
    <link rel="apple-touch-icon" href="{{ asset('bundles/nkodefault/images/favicon/apple-touch-icon.png') }}" />
    <link rel="apple-touch-icon" sizes="57x57" href="{{ asset('bundles/nkodefault/images/favicon/apple-touch-icon-57x57.png') }}" />
    <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('bundles/nkodefault/images/favicon/apple-touch-icon-72x72.png') }}" />
    <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('bundles/nkodefault/images/favicon/apple-touch-icon-76x76.png') }}" />
    <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('bundles/nkodefault/images/favicon/apple-touch-icon-114x114.png') }}" />
    <link rel="apple-touch-icon" sizes="120x120" href="{{ asset('bundles/nkodefault/images/favicon/apple-touch-icon-120x120.png') }}" />
    <link rel="apple-touch-icon" sizes="144x144" href="{{ asset('bundles/nkodefault/images/favicon/apple-touch-icon-144x144.png') }}" />
    <link rel="apple-touch-icon" sizes="152x152" href="{{ asset('bundles/nkodefault/images/favicon/apple-touch-icon-152x152.png') }}" />
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('bundles/nkodefault/images/favicon/apple-touch-icon-180x180.png') }}" />

    <link href="{{ asset('bundles/nkouser/admin/css/bootstrap.min.css') }}" type = "text/css" rel = "stylesheet" />
    <link href="{{ asset('bundles/nkouser/admin/AdminLTE.min.css') }}" type = "text/css" rel = "stylesheet" />
    <link href="{{ asset('bundles/nkouser/admin/iCheck/square/blue.css') }}" type = "text/css" rel="stylesheet" />
</head>
<body>
{% trans_default_domain 'FOSUserBundle' %}

{% if app.request.hasPreviousSession %}
    {% for type, messages in app.session.flashbag.all() %}
        {% for message in messages %}
            <div class="flash-{{ type }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
{% endif %}

{% block fos_user_content %}
    <body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <b>Admin</b>Family
        </div>
        <div class="login-box-body">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
            <p class="login-box-msg">Авторизация пользователя</p>
            <form action="{{ path("fos_user_security_check") }}" method="post">
                <div class="form-group has-feedback">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>

                    <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}"
                           required="required" placeholder="{{ 'security.login.username'|trans }}"/>

                    <span class="glyphicon glyphicon-user form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    <input type="password" class="form-control" id="password" name="_password" required="required"
                           placeholder="{{ 'security.login.password'|trans }}"/>
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                <div class="row">
                    <div class="col-xs-8">

                        <div class="checkbox icheck">
                            <label>
                                <input type="checkbox" id="remember_me" name="_remember_me" value="on"/>
                                {{ 'security.login.remember_me'|trans }}
                            </label>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <input class="btn btn-primary btn-block btn-flat" type="submit" id="_submit" name="_submit"
                               value="{{ 'security.login.submit'|trans }}"/>
                    </div>
                </div>
            </form>

            <a href="{{ path('fos_user_resetting_request') }}">Забыли пароль?</a>

        </div>
    </div>
    </body>

    <script src="{{ asset('bundles/nkouser/js/jQuery-2.2.0.min.js') }}"></script>
    <script src="{{ asset('bundles/nkouser/admin/iCheck/icheck.min.js') }}" type = "text/javascript"></script>
    <script>
        jQuery(function ($) {
            $('input').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%' // optional
            });
        });
    </script>
{% endblock fos_user_content %}

</body>
</html>