{% if admin.hasAccess('create') and admin.hasRoute('create') %}
    {% if admin.subClasses is empty %}
        <a class="sonata-action-element" href="{{ path('admin_nko_order_baseapplication_create') }}">
            <i class="fa fa-plus-circle" aria-hidden="true"></i>
            {{ 'link_action_create'|trans({}, 'NKOOrderBundle') }}</a>
    {% else %}
        <li class="divider" role="presentation"></li>
        {% for subclass in admin.subclasses|keys %}
            <li>
                <a href="{{ admin.generateUrl('create', {'subclass': subclass}) }}">
                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                    {{ 'link_action_create'|trans({}, 'NKOOrderBundle') }} {{ subclass|trans({}, admin.translationdomain) }}
                </a>
            </li>
        {% endfor %}
        <li class="divider" role="presentation"></li>
    {% endif %}
{% endif %}