{% if admin.hasAccess('list') and admin.hasRoute('list') %}
    <a class="sonata-action-element" href="{{ path('admin_nko_order_baseapplication_list') }}">
        <i class="fa fa-list" aria-hidden="true"></i>
        {{ 'link_action_list'|trans({}, 'SonataAdminBundle') }}</a>
{% endif %}
