{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field%}
        <div>
            {% embed "NKOInformationMaterialsBundle:fondnews:show_image.html.twig" %}
            {% endembed %}
        </div>
{% endblock %}
