{% extends "NKODefaultBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
{% endblock fos_user_content %}

{% block content %}
    <div class="col-md-1"></div>
    <div class="col-md-4">
        {% include '@NKODefault/layout/logo.html.twig' %}
    </div>

    <div class="col-md-6">
        <div class="ct_simple_text paddings">
            <h1>{{ 'registration_user' | trans }}</h1>
            <p>{{ 'registration.check_email'|trans({'%email%': user.email}) }}</p>
        </div>
    </div>
{% endblock content %}
