{% trans_default_domain 'FOSUserBundle' %}
<div class="col-md-1"></div>
<div class="col-md-4">
    {% include '@NKODefault/layout/logo.html.twig' %}
</div>

<div class="col-md-6">
    <div class="ct_simple_text paddings">
        <h2>{{ 'registration_user' | trans }}</h2>
        <b>
            <p>ВНИМАНИЕ!</p>

            <ul>
                <li>Для заполнения заявки необходимо войти в <a href="{{ path('fos_user_resetting_request') }}">Личный кабинет</a>.</li>
                <li>Если Вы ранее не участвовали в конкурсах Фонда Тимченко, пройдите регистрацию. </li>
                <li>Если Вы уже участвовали в конкурсах Фонда, Вам не нужно регистрироваться, просто заходите по своим логину и паролю.</li>
                <li>Если Вы не помните пароль, воспользуйтесь восстановлением пароля   <a href="{{ path('fos_user_resetting_request') }}">восстановлением пароля</a>.</li>
                <li><p style="margin: 0;">Если не помните логин, напишите на адрес технической поддержки <a href="mailto:konkurs.family@timchenkofoundation.org">konkurs.family@timchenkofoundation.org</a>, указав полное название организации, ОГРН и просьбу восстановить логин и пароль в Личный кабинет.</p></li>
                <li><p>Перед началом работы необходимо обязательно полностью прочесть Техническую инструкцию. В ней содержится информация, без который Вы не сможете заполнить заявку правильно.</p></li>
                <li>Перед началом заполнения заявки в Мастере заявок необходимо обязательно почистить кэш браузера и проверить, что файлы cookie включены,  в Технической инструкции рассказано, как это сделать.</li>
                <li>Перед заполнением заявки обязательно прочтите всю конкурсную документацию.</li>
            </ul>
        </b>



        <div class="ct_form ct_register_form">
            <form action="{{ path('fos_user_registration_register') }}"  method="POST">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <div>
                    <input class="btn btn-primary" type="submit" value="{{ 'registration.submit'|trans }}" />
                </div>
            </form>
        </div>
    </div>
</div>

