{% extends '@NKOOrder/CRUD/report/mixed_report/base_edit_report.html.twig' %}
{% block tab_menu_navbar_header %}
{% endblock %}
{% block tab_menu %}
    {% include '@NKOOrder/CRUD/report/tab_menu.html.twig' %}
{% endblock %}

{% block sonata_top_nav_menu_auto_saver_switcher %}
    {% include 'NKOOrderBundle:CRUD:autosave_checkbox.html.twig' %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/nkoorder/js/finance_report/base_finance_report.js') }}"></script>
    <script src="{{ asset('bundles/nkoorder/js/mixed_report/report2019/report.js') }}"></script>
    <script src="{{ asset('bundles/nkoorder/js/finance_report/tab_bar_handler.js') }}"></script>
    <script src="{{ asset('bundles/nkoorder/js/let_only_numeric.js') }}"></script>
    <script src="{{ asset('bundles/nkoorder/js/disable_data_field.js') }}"></script>
    <script src="{{ asset('bundles/nkoorder/js/periodical_saver.js') }}"></script>
{% endblock %}