{% extends base_template %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/nkoorder/css/monitoring_table.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/nkoorder/css/visible_scroll.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/nkoorder/css/fix_share_of_table.css') }}"/>

{% endblock %}

{% block javascripts %}
    <script>
        window.SONATA_CONFIG = {
            CONFIRM_EXIT: {% if sonata_admin.adminPool.getOption('confirm_exit') %}true{% else %}false{% endif %},
            USE_SELECT2: {% if sonata_admin.adminPool.getOption('use_select2') %}true{% else %}false{% endif %},
            USE_ICHECK: {% if sonata_admin.adminPool.getOption('use_icheck') %}true{% else %}false{% endif %},
            USE_STICKYFORMS: {% if sonata_admin.adminPool.getOption('use_stickyforms') %}true{% else %}false{% endif %}
        };
        window.SONATA_TRANSLATIONS = {
            CONFIRM_EXIT:  '{{ 'confirm_exit'|trans({}, 'SonataAdminBundle')|escape('js') }}'
        };

        if (navigator.userAgent.match(/IEMobile\/10\.0/)) {
            var msViewportStyle = document.createElement('style');
            msViewportStyle.appendChild(document.createTextNode('@-ms-viewport{width:auto!important}'));
            document.querySelector('head').appendChild(msViewportStyle);
        }
    </script>
    <script src="{{ asset('bundles/nkoorder/js/compressed/sonata.js') }}"></script>
    <script src="{{ asset('bundles/nkoorder/js/monitoring_report/fix_share_of_table.js') }}" defer></script>
    <script src="{{ asset('bundles/nkoorder/js/autoNumeric.js') }}" defer></script>

    <script src="{{ asset('bundles/nkoorder/js/tables_control/control_table.js') }}" defer></script>
    <script src="{{ asset('bundles/nkoorder/js/tables_control/table.js') }}" defer></script>
    <script src="{{ asset('bundles/nkoorder/js/tables_control/row.js') }}" defer></script>
    <script src="{{ asset('bundles/nkoorder/js/tables_control/element.js') }}" defer></script>
    <script src="{{ asset('bundles/nkoorder/js/tables_control/additional.js') }}" defer></script>
    <script src="{{ asset('bundles/nkoorder/js/tables_control/subscriber.js') }}" defer></script>

    <script src="{{ asset('bundles/nkoorder/js/tab_bar_handler.js') }}" defer></script>
    <script src="{{ asset('bundles/nkoorder/js/monitoring_report/indicator_select_data_manager.js') }}" defer></script>
    <script src="{{ asset('bundles/nkoorder/js/monitoring_report/monitoring_document.js') }}" defer></script>
    <script src="{{ asset('bundles/nkoorder/js/monitoring_report/monitoring_result_table.js') }}" defer></script>
    <script src="{{ asset('bundles/nkoorder/js/full_size_select.js') }}" defer></script>
    <script src="{{ asset('bundles/nkoorder/js/periodical_saver.js') }}" defer></script>
{% endblock %}

{% block sonata_top_nav_menu %}
    <div class="navbar-custom-menu">
        <form action="/logout" style="margin: 0px 15px;">
            {% include 'NKOOrderBundle:CRUD:autosave_checkbox.html.twig' %}
            <div style="display: inline-block">
                <input class="btn btn-block btn-danger" style="margin-top: 11%; " type="submit" id="_submit" name="_submit"
                       value="Выйти"/>
            </div>
        </form>
    </div>

    <script src="{{ asset('bundles/nkoorder/js/compressed/standart.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

{% endblock %}

{% block title %}
    {% if admin.id(object) is not null %}
        {{ "title_edit"|trans({'%name%': admin.toString(object)|truncate(15) }, 'SonataAdminBundle') }}
    {% else %}
        {{ "title_create"|trans({}, 'SonataAdminBundle') }}
    {% endif %}
{% endblock %}

{% block navbar_title %}
    {{ block('title') }}
{% endblock %}

{%- block actions -%}
    {% include 'SonataAdminBundle:CRUD:action_buttons.html.twig' %}
{%- endblock -%}

{% block tab_menu %}{{ knp_menu_render(admin.sidemenu(action), {'currentClass' : 'active', 'template': sonata_admin.adminPool.getTemplate('tab_menu_template')}, 'twig') }}{% endblock %}

{% use '@NKOOrder/CRUD/report/monitoring_report/base_edit_form_report.html.twig' with form as parentForm %}
{% import "NKOOrderBundle:CRUD:report/monitoring_report/base_edit_form_macro_report.html.twig" as form_helper %}

{% block form %}
    {{ block('parentForm') }}
{% endblock %}

{% block sonata_admin_content_actions_wrappers %}
{% endblock sonata_admin_content_actions_wrappers %}