{% extends 'NKOOrderBundle:CRUD:report/monitoring_report/base_edit_report.html.twig' %}
{% block tab_menu_navbar_header %}
{% endblock %}
{% block tab_menu %}
    {% include '@NKOOrder/CRUD/report/tab_menu.html.twig' %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/nkoorder/js/monitoring_report/report.js') }}"></script>
{% endblock %}