{% block attachment_table_widget %}
    <p> Если таблица не умещается на экране, Вы можете воспользоваться горизонтальной прокруткой под ней</p>
    <div id="field_container_{{ form.vars['id'] }}" class="field-container" style="overflow-x: auto">
        <span id="field_container_{{ form.vars['id'] }}" >
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th rowspan="2" style="width: 120px;" id="action_th">Удалить</th>
                        <th rowspan="2">Услуги, мероприятия и пр., по которым собиралась обратная связь</th>
                        <th rowspan="2">Комментарий (выводы, цитаты)</th>
                        <th rowspan="2">Принимались ли управленческие решения по результатам обратной связи</th>
                        {%  if form.parent.vars['labels']['tools'] is defined %}
                            <th colspan="3">{{ form.parent.vars['labels']['tools'] }}</th>
                        {% else %}
                            <th colspan="3">Инструменты сбора обратной связи</th>
                        {% endif %}
                    </tr>
                    <tr>
                        {%  if form.parent.vars['labels']['extensions'] is defined %}
                            <th style="min-width: 200px;">Инструмент 1 {{ form.parent.vars['labels']['extensions'] }}</th>
                            <th style="min-width: 200px;">Инструмент 2 {{ form.parent.vars['labels']['extensions'] }}</th>
                            <th style="min-width: 200px;">Инструмент 3 {{ form.parent.vars['labels']['extensions'] }}</th>
                        {% else %}
                            <th style="min-width: 200px;">Инструмент 1 (pdf или xls)</th>
                            <th style="min-width: 200px;">Инструмент 2 (pdf или xls)</th>
                            <th style="min-width: 200px;">Инструмент 3 (pdf или xls)</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                {% for item in form.children %}
                    <tr>
                        {% include '@NKOOrder/Form/table_button_with_file_name.twig' with {'visible' : true} %}
                        {% for field, children in item.children %}
                            {% if field == "_delete" %}
                            {% elseif field != 'tools'%}
                                <td class="sonata-ba-td-{{ form.vars['id'] }}-{{ field }} control-group">
                                    {{ form_widget(children) }}
                                    {% if children.vars['errors'] | length > 0 %}
                                        <div class="help-inline sonata-ba-field-error-messages">{{ form_errors(children) }}</div>
                                    {% endif %}
                                </td>
                            {% else %}
                                {% for file in children %}
                                    <td  style="min-width: 200px;" class="sonata-ba-td-{{ form.vars['id'] }}-tools-file control-group">
                                        {{ form_widget(file.children['file']) }}
                                        {% if  file.children['file'].vars['errors'] | length > 0 %}
                                            <div class="help-inline sonata-ba-field-error-messages">{{ form_errors(file.children['file']) }}</div>
                                        {% endif %}
                                    </td>
                                    {% if  children.vars['errors'] | length > 0 %}
                                        <div class="help-inline sonata-ba-field-error-messages">{{ form_errors(children) }}</div>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </span>
    </div>
{% endblock %}