{% block css %}
    <link rel="stylesheet" href="{{ asset('bundles/nkoorder/css/analytics/summary_monitoring_analytics.css') }}"/>
{% endblock %}

{% block formHeader %}
    <div class="box box-primary">
        <div class="box-header">
            <div>
                <h3>Статистика</h3>
            </div>
        </div>
        <div class="box-body">
            <form id="search_form" method="post" >
{% endblock %}

{% block year %}
    <div>
        <label class="label-wrapper">Год отчетности:</label>
        <select name="yearReport" id="yearReport" style="width: 400px">
            {% for key, year in years %}
                <option value="{{ year }}">{{ key }}</option>
            {% endfor %}
        </select>
    </div>
{% endblock %}

{% block yearPeriod %}
    <div>
        {% set yearReportPeriod = dataFromAdmin is defined and dataFromAdmin.YEAR_REPORT_PERIOD is defined ? dataFromAdmin.YEAR_REPORT_PERIOD : 'Год отчетности, c:' %}
        <label class="label-wrapper">{{ yearReportPeriod }}</label>
        <select name="yearReportFrom" id="yearReportFrom" style="width: 400px">
            {% for key, year in yearPeriod %}
                <option value="{{ year }}">{{ key }}</option>
            {% endfor %}
        </select>
    </div>

    <div>
        <label class="label-wrapper">по:</label>
        <select name="yearReportTo" id="yearReportTo" style="width: 400px">
            {% for key, year in yearPeriod %}
                <option value="{{ year }}">{{ key }}</option>
            {% endfor %}
        </select>
    </div>
{% endblock %}

{% block reportForm %}
    <div>
        <label class="label-wrapper">{{ reportName }}</label>
        <select name="reportForm" id="reportFormSelect" style="width: 400px">
            {% for reportForm in reportForms %}
                <option value="{{ reportForm.id }}">{{ reportForm.title }}</option>
            {% endfor %}
        </select>
    </div>
{% endblock %}

{% block period %}
    <div id="wrapper_period">
        <label class="label-wrapper-period">Периоды, c:</label>
        {% for key, item in 1..2 %}
            <select class="form-control" name="period_{{ key }}" id="period_{{ key }}" style="width: 400px">
                {% for period in periods %}
                    <option value="{{ period.id }}">{{ period.name }}</option>
                {% endfor %}
            </select>
            {% if key == 0 %}
                <label class="label-wrapper-period">по:</label>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}

{% block lastPeriod %}
    <div id="wrapper_period">
        <label class="label-wrapper-period">Периоды по:</label>
            <select class="form-control" name="period" id="period" style="width: 400px">
                {% for period in lastPeriods %}
                    <option value="{{ period.id }}">{{ period.name }}</option>
                {% endfor %}
            </select>
    </div>
{% endblock %}

<button id="reportFromSubmit" class="btn btn-success btn-custom">Сформировать отчет №{{ reportNumber }}</button>

{% block formFooter %}
            </form>
        </div>
    </div>
{% endblock %}

{% block ajaxLoadReportFormByYear %}
    <script>
        $(document).ready(function() {
            $('#yearReport').on('change', function(event) {
                event.preventDefault();
                var year = $('#yearReport').val();
                $.ajax({
                    type:"POST",
                    url:'{{ admin.generateUrl('get_ajax_data') }}',
                    dataType:"json",
                    data:{method: 'getReportForm', year: year},
                    success : function (response) {
                        var reportForms = $('#reportFormSelect');
                        reportForms.empty();
                        $.each(response, function(key, value) {
                            reportForms.append($('<option>', {
                                value: value.id,
                                text: value.title
                            }));
                        });
                        reportForms.select2("val", response[0].id);
                        reportForms.trigger('change');
                    }
                });
            });
        });
    </script>
{% endblock %}

{% block ajaxLoadPeriodsByReportForm %}
    <script>
        $(document).ready(function() {
            $('#reportFormSelect').on('change', function(event) {
                event.preventDefault();
                var reportFromId = $('#reportFormSelect').val();
                $.ajax({
                    type:"POST",
                    url:'{{ admin.generateUrl('get_ajax_data') }}',
                    dataType:"json",
                    data:{method: 'getPeriods', reportForm: reportFromId},
                    success : function (response) {
                        var selects = [$('#period_0'), $('#period_1')];
                        for (var i=0; i<selects.length; i++) {
                            selects[i].empty();
                            $.each(response, function(key, value) {
                                selects[i].append($('<option>', {
                                    value: value.id,
                                    text: value.name
                                }));
                            });
                            selects[i].select2("val", response[0].id);
                        }
                    }
                });
            });
        });
    </script>
{% endblock %}

{% block ajaxLoadPeriodByReportForm %}
    <script>
        $(document).ready(function() {
            $('#reportFormSelect').on('change', function(event) {
                event.preventDefault();
                var reportFromId = $('#reportFormSelect').val();
                $.ajax({
                    type:"POST",
                    url:'{{ admin.generateUrl('get_ajax_data') }}',
                    dataType:"json",
                    data:{method: 'getPeriods', reportForm: reportFromId},
                    success : function (response) {
                        var selects = [$('#period')];
                        for (var i=0; i<selects.length; i++) {
                            selects[i].empty();
                            $.each(response, function(key, value) {
                                selects[i].append($('<option>', {
                                    value: value.id,
                                    text: value.name
                                }));
                            });
                            selects[i].select2("val", response[0].id);
                        }
                    }
                });
            });
        });
    </script>
{% endblock %}
