{% macro showCategory(items, value, form, type, innerType) %}
    {% for item in items %}
        <li>
            {% set checked = item.item.value in value %}
            <div class="radio">
                <div style="display: inline-block; width: 30px;">
                <label style="width: 22px">
                    <input type={{ type }} value="{{ item.item.value }}"
                           {% if checked %}checked{% endif %}
                           name="{{ form.vars.full_name }}"
                           id="{{ form.vars.id }}_{{ item.item.value }}" />
                    <span style="display: none;" class="control-label__text">{{ item.item.label }}</span>
                </label>
                </div>
                <div style="display: inline-block;">
                    <b>{{ item.item.label }}</b>
                </div>
            </div>
            {% if item.children %}
                <ul class="list-unstyled" style="margin-left: 3%; display: none">
                    {{ _self.showCategory(item.children, value, form, innerType, innerType) }}
                </ul>
            {% endif %}
        </li>
    {% endfor %}
{% endmacro %}

{% set grouped_categories = form.vars.choices|drop_down_list %}

<ul id="{{ form.vars.id }}" class="list-unstyled">
    {{ _self.showCategory(grouped_categories, value, form, outerInputType, innerInputType) }}
</ul>


{#notChecked:#}
    {#-1 - Not set checked for any child #}
    {#0 - Set checked for all childs#}
    {#1 - Set checked for first child#}
<script>
    (function(){
        var $checkbox = $("input[id*='{{ form.vars.id }}']");

        $checkbox.each(function(){
            if($(this).attr("checked")) {
                $(this).closest("ul").show();
            }
        });

        $checkbox.on("ifChecked", function(){
            var notChecked = '{{ notChecked }}';
            $(this).attr("checked", true);
            var ul = $(this).closest("li").find("ul");
            ul.show();
            ul.find('ul').hide();

            if (notChecked == 0) {
                $(this).closest("li").find("input[type='checkbox']").iCheck("check");
            }

            if (notChecked == 1) {
                $(this).closest("li").find("ul").find("li").first().find("input[type='checkbox']").iCheck("check");
            }
        });

        $checkbox.on("ifUnchecked", function(){
            $(this).closest("li").find("input[type='checkbox']").iCheck("uncheck");
            $(this).attr("checked", false);
            $(this).closest("li").find("ul").hide();
        });
    })();
</script>