{% block competition_widget %}
    <select id="{{ form.vars.id }}" name="{{ form.vars.full_name }}" style="display: none" class="entity_readonly">
    <option value={{ form.vars.value }}>{{ form.vars.data }}</option>
    </select>

    <input type="text" readonly="readonly" class="form-control" id="usr" value="{{ title }}">
{% endblock %}