{% import '@NKOOrder/Form/table_buttons.html.twig' as help %}

{% macro pasteTd(form, nested_field, field_name) %}
    <td class="sonata-ba-td-{{ form.vars['id'] }}-{{ nested_field.vars.name }}-file control-group">
        {{ form_widget(nested_field) }}
        {% if nested_field.vars.errors|length > 0 %}
            <div class="help-inline sonata-ba-field-error-messages">
                {{ form_errors(nested_field) }}
            </div>
        {% endif %}
    </td>
{% endmacro %}

<div id="field_container_{{ form.vars['id'] }}" class="field-container" style="overflow: auto;">
    <span id="field_container_{{ form.vars['id'] }}" >
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Критерий</th>
                    <th>Вопросы</th>
                </tr>
            </thead>

            <tbody class="sonata-ba-tbody">
                {% for row in form.children %}
                    <tr>
                        {% for col in row %}
                            {% if loop.last %}
                                {% for field in col %}
                                    {% if loop.index != 1 %}
                                        <tr>
                                    {% endif %}
                                        {{ _self.pasteTd(form, field.children|first) }}
                                    </tr>
                                {% endfor %}
                            {% else %}

                                {% set collection = row | last | length %}
                                <tr>
                                <td rowspan="{{ collection }}" class="sonata-ba-td-{{ col.vars['id'] }}-fileName control-group">
                                    <select id="{{ col.vars.id }}" name="{{ col.vars.full_name }}" style="display: none">
                                        <option value={{ col.vars.value }}>{{ col.vars.data }}</option>
                                    </select>
                                    <textarea readonly="readonly" class="form-control" id="criterion">{{ col.vars.data.criterion }}</textarea>
                                </td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </span>
</div>