{#{% extends 'SonataAdminBundle:Form:form_admin_fields.html.twig' %}#}
{% block radio_button_tree_widget %}
    {% macro showList(items, value, form) %}
        {% for item in items %}
            <li>
                {% set checked = item.item.value in value %}
                <div class="radio">
                    <label>
                        <input type="checkbox" value="{{ item.item.value }}"
                               {% if checked %}checked class="selected"{% endif %}
                               name="{{ form.vars.full_name }}"
                               id="{{ form.vars.id }}_{{ item.item.value }}"/>
                        <span class="control-label__text">{{ item.item.label }}</span>
                    </label>
                </div>
                {% if item.children %}
                    <ul class="list-unstyled" style="margin-left: 3%; display: none">
                        {{ _self.showList(item.children, value, form) }}
                    </ul>
                {% endif %}
            </li>
        {% endfor %}
    {% endmacro %}

    {% set grouped_categories = form.vars.choices|drop_down_list %}

    <ul id="{{ form.vars.id }}" class="list-unstyled">
        {{ _self.showList(grouped_categories, value, form) }}
    </ul>

    <script>
        (function(){
            var $checkbox = $("input[id*='{{ form.vars.id }}']");

            $checkbox.each(function(){
                if($(this).attr("checked")) {
                    $(this).closest("ul").show();
                }
            });

            $checkbox.on("ifChecked", function(){
                var subList = $(this).closest("li").find("ul"),
                    previouslySelectedCheckbox = $(this).closest("ul").find("input.selected[type='checkbox']");

                previouslySelectedCheckbox.iCheck("uncheck");
                previouslySelectedCheckbox.removeClass("selected");

                $(this).attr("checked", true);
                $(this).addClass("selected");

                subList.show();
                subList.find("li:first-child").find("input[type='checkbox']").iCheck("check");
            });

            $checkbox.on("ifUnchecked", function(){
                $(this).closest("li").find("input[type='checkbox']").iCheck("uncheck");
                $(this).attr("checked", false);
                $(this).removeClass('selected');
                $(this).closest("li").find("ul").hide();
            });
        })();
    </script>
{% endblock %}


{% block nko_order_admin_farvater_brief_application_2018_application_peopleCategories_drop_down_list_widget %}
    {% embed "@NKOOrder/Form/drop_down_entity_widget.html.twig" with {'form': form, 'value': value, 'outerInputType' : "checkbox", 'innerInputType' : "checkbox", 'notChecked' : 1 } %}
    {% endembed %}
{% endblock %}

{% block nko_order_admin_farvater_brief_application_2018_application_isReady_drop_down_list_widget %}
    {% embed "@NKOOrder/Form/drop_down_entity_widget.html.twig" with {'form': form, 'value': value, 'outerInputType' : "radio", 'innerInputType' : "checkbox", 'notChecked' : 1 } %}
    {% endembed %}
{% endblock %}

{% block sonata_admin_nko_order_brief_application_peopleCategories_drop_down_list_widget %}
    {% embed "@NKOOrder/Form/drop_down_entity_widget.html.twig" with {'form': form, 'value': value, 'outerInputType' : "checkbox", 'innerInputType' : "checkbox", 'notChecked' : 0 } %}
    {% endembed %}
{% endblock %}

{% block nko_order_admin_kns_application_2018_application_peopleCategories_drop_down_list_widget %}
    {% embed "@NKOOrder/Form/drop_down_entity_widget.html.twig" with {'form': form, 'value': value, 'outerInputType' : "checkbox", 'innerInputType' : "checkbox", 'notChecked' : 1 } %}
    {% endembed %}
{% endblock %}

{% block nko_order_admin_kns_application_2017_second_stage_peopleCategories_drop_down_list_widget %}
    {% embed "@NKOOrder/Form/drop_down_entity_widget.html.twig" with {'form': form, 'value': value, 'outerInputType' : "checkbox", 'innerInputType' : "checkbox", 'notChecked' : 1 } %}
    {% endembed %}
{% endblock %}

{% block nko_order_admin_kns_application_2018_second_stage_peopleCategories_drop_down_list_widget %}
    {% embed "@NKOOrder/Form/drop_down_entity_widget.html.twig" with {'form': form, 'value': value, 'outerInputType' : "checkbox", 'innerInputType' : "checkbox", 'notChecked' : 1 } %}
    {% endembed %}
{% endblock %}

{% block nko_order_admin_kns_application_2019_second_stage_peopleCategories_drop_down_list_widget %}
    {% embed "@NKOOrder/Form/drop_down_entity_widget.html.twig" with {'form': form, 'value': value, 'outerInputType' : "checkbox", 'innerInputType' : "checkbox", 'notChecked' : 1 } %}
    {% endembed %}
{% endblock %}

{% block nko_order_admin_report_mixed_report_kns_report_peopleCategories_drop_down_list_widget %}
    {% embed "@NKOOrder/Form/drop_down_entity_widget.html.twig" with {'form': form, 'value': value, 'outerInputType' : "checkbox", 'innerInputType' : "checkbox", 'notChecked' : 1 } %}
    {% endembed %}
{% endblock %}

{% block nko_order_admin_report_mixed_report_report2019_kns_report_drop_down_list_widget %}
    {% embed "@NKOOrder/Form/drop_down_entity_widget.html.twig" with {'form': form, 'value': value, 'outerInputType' : "checkbox", 'innerInputType' : "checkbox", 'notChecked' : 1 } %}
    {% endembed %}
{% endblock %}

{% block nko_order_admin_report_mixed_report_report2020_kns_report_drop_down_list_widget %}
    {% embed "@NKOOrder/Form/drop_down_entity_widget.html.twig" with {'form': form, 'value': value, 'outerInputType' : "checkbox", 'innerInputType' : "checkbox", 'notChecked' : 1 } %}
    {% endembed %}
{% endblock %}

{% block sonata_admin_orm_one_to_many_widget %}
    {% include 'NKOOrderBundle:CRUD:edit_orm_one_to_many.html.twig' %}
{% endblock %}

{% block sonata_admin_orm_many_to_many_widget %}
    {% include 'NKOOrderBundle:CRUD:edit_orm_one_to_many.html.twig' %}
{% endblock %}

{% block sonata_admin_nko_order_mark_list_sonata_type_collection_widget %}
    <table class="table table-bordered">
    <thead>
    <tr>
        <th>Вопрос</th>
        <th>Оценка</th>
        <th>Обоснование</th>
    </tr>
    </thead>
        <tbody class="sonata-ba-tbody">
            {% set sequence = form.parent.vars.data | generate_sequence_marks %}
            {% for key, criteria in sequence %}

                {% set break = false %}
                {% set criteriaTitle = false %}
                {% for item in form.children if not break %}
                    {% if item.vars.data.questionMark.criteria.id == key %}
                        {% set criteriaTitle = item.vars.data.questionMark.criteria %}
                        {% set break = true %}
                    {% endif %}
                {% endfor %}

                <tr>
                    <td colspan="3" class=""><b>{{ criteriaTitle }}</b></td>
                </tr>

                {% for question in criteria %}
                    {% for mark in form.children %}
                        {% if mark.vars.data.questionMark.id == question %}
                            <tr>
                                <td class="questionText">{{ mark.vars.data.questionMark }}</td>
                                <td class="sonata-ba-td-{{ form.vars.id }}-mark control-group">
                                    <input type="text" id="{{ mark.vars.id }}_mark" name="{{ mark.vars.full_name }}[mark]" class="form-control" value="{{ mark.vars.data.mark }}"/>
                                    <div class="help-block sonata-ba-field-error-messages">{{form_errors(mark.children.mark) }}</div>
                                </td>
                                <td class="sonata-ba-td-{{ form.vars.id }}-rationale control-group">
                                    <textarea id="{{ mark.vars.id }}_rationale" name="{{ mark.vars.full_name }}[rationale]" class="form-control form-control" >{{ mark.vars.data.rationale }}</textarea>
                                    <div class="help-block sonata-ba-field-error-messages">{{form_errors(mark.children.rationale) }}</div>
                                </td>
                                <td class="sonata-ba-td-{{ form.vars.id }}-questionMark control-group" style="display: none">
                                    <select id="{{ mark.vars.id }}_questionMark" name="{{ mark.vars.full_name }}[questionMark]" >
                                        <option value={{ mark.vars.data.questionMark.id }}>{{ mark.vars.data.questionMark.question }}</option>
                                    </select>
                                </td>
                                <td id="help-range" hidden>
                                    {{ 'Максимальный балл ' ~ mark.vars.data.questionMark.rangeMark }}
                                </td>
                                <td id="help-question" hidden>
                                    {{ mark.vars.data.questionMark.helpField }}
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block sonata_admin_nko_order_brief_application_competition_entity_widget %}
    {% embed "@NKOOrder/Form/entity_readonly_widget.html.twig" with {'form': form, 'title': form.vars.data.name } %}
    {% endembed %}
{% endblock %}

{% block nko_order_admin_farvater_brief_application_2018_application_competition_entity_widget %}
    {% embed "@NKOOrder/Form/entity_readonly_widget.html.twig" with {'form': form, 'title': form.vars.data.name } %}
    {% endembed %}
{% endblock %}

{% block sonata_admin_nko_order_kns2017_application_competition_entity_widget %}
    {% embed "@NKOOrder/Form/entity_readonly_widget.html.twig" with {'form': form, 'title': form.vars.data.name } %}
    {% endembed %}
{% endblock %}

{% block sonata_admin_nko_order_application_competition_entity_widget %}
    {% embed "@NKOOrder/Form/entity_readonly_widget.html.twig" with {'form': form, 'title': form.vars.data.name } %}
    {% endembed %}
{% endblock %}

{% block  sonata_admin_nko_order_mark_list_entity_widget %}
<div class="sonata-ba-field sonata-ba-field-standard-natural">
    <ul id="{{ form.vars.id }}" class=" list-unstyled">
        <li><div class="radio"><label><input type="radio" id="s58cabef8abbe8_finalDecision_placeholder" name="s58cabef8abbe8[finalDecision]" value="" /><span class="control-label__text">Не выбрано</span></label></div></li>
        {% for item in form.vars.choices %}
            {% set checked = item.value in value %}
            <li>
                <div class="radio">
                    <label>
                        <input type="radio" type_decision="{{ item.data.typeDecision }}" id="{{ form.vars.id }}_{{ item.value }}"
                               name="{{ form.vars.full_name }}" value="{{ item.value }}"
                               {% if checked %}checked{% endif %} />
                        <span class="control-label__text">{{ item.label }}</span>
                    </label>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}

{% block nko_order_admin_accept_plan_monitoringResults_sonata_type_collection_monitoringResults_widget %}
    {% import '@NKOOrder/Form/helps.html.twig' as help %}
    <div class="field-container">
        <table class="table-bordered accept-plan-table" id="monitoring-report">
            <thead>
                <tr>
                    <th class="fixed-side">№<br>п/п</th>
                    <th class="fixed-side">Показатель</th>
                    <th>План</th>
                </tr>
            </thead>
            <tbody class="sonata-ba-tbody">
                {% for monitoring_result_form in form.children %}
                    {% set indicator_form = monitoring_result_form['indicator'] %}
                    {% set indicator_title_form = indicator_form.children['title'] %}
                    {% set indicator_code_form = indicator_form.children['code'] %}
                    {% set indicator_parent_code_form = indicator_form.children['parentCode'] %}
                    {% set indicator_parent_id_form = indicator_form.children['parentId'] %}
                    {% set indicator_id_form = indicator_form.children['id'] %}

                    {% if form.parent.vars['data'].ReportForm.isSelectable and monitoring_result_form['periodResults'].children is defined %}
                        <tr>
                            {% if indicator_form.vars.value.parent != null and indicator_form.vars.value.parent.indexNumber != null %}
                                <td class="fixed-side">{{ indicator_form.vars.value.parent.indexNumber ~ '.' ~ indicator_form.vars.value.indexNumber }}</td>
                            {% else %}
                                <td class="fixed-side">{{ indicator_form.vars.value.indexNumber }}</td>
                            {% endif %}

                            {{ help.hidden_input(indicator_parent_code_form) }}
                            {{ help.hidden_input(indicator_parent_id_form) }}
                            {{ help.hidden_input(indicator_code_form) }}
                            {{ help.hidden_input(indicator_id_form) }}
                            {{ help.hidden_input(indicator_title_form) }}
                            <td class="fixed-side sonata-ba-td-{{ form.vars.id }}-{{ indicator_form.vars.name }} control-group">
                                <textarea id="{{ indicator_title_form.vars.id }}" readonly="readonly" name="{{ indicator_title_form.vars.full_name }}" class="form-control" >{{ indicator_title_form.vars.data }}</textarea>
                            </td>

                            {% if monitoring_result_form['periodResults'].children is defined %}
                                {% for period_result_form in monitoring_result_form['periodResults'].children %}
                                    {% if loop.last %}
                                        {% set total_amount_form = period_result_form.children['totalAmount'] %}
                                        <td class="sonata-ba-td-{{ form.vars.id }}-{{ total_amount_form.vars.name }} control-group">
                                            <input type="text" id="{{ total_amount_form.vars.id }}" name="{{ total_amount_form.vars.full_name }}" class="form-control" placeholder="{{ total_amount_form.vars.attr.placeholder }}" readonly="{{ total_amount_form.vars.attr.readonly }}" value="{{ total_amount_form.vars.data }}"/>
                                        </td>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </tr>

                    {% elseif not indicator_form.vars.value.indexNumber == null and indicator_form.vars.value.parent != null  and indicator_form.vars.value.title != null%}
                        <tr>

                            {% if indicator_form.vars.value.parent != null and indicator_form.vars.value.parent.indexNumber != null %}
                                <td class="fixed-side">{{ indicator_form.vars.value.parent.indexNumber ~ '.' ~ indicator_form.vars.value.indexNumber }}</td>
                            {% else %}
                                <td class="fixed-side">{{ indicator_form.vars.value.indexNumber }}</td>
                            {% endif %}

                            <td class="fixed-side sonata-ba-td-{{ form.vars.id }}-{{ indicator_form.vars.name }} control-group">
                                {{ help.hidden_input(indicator_parent_code_form) }}
                                {{ help.hidden_input(indicator_code_form) }}
                                {{ help.hidden_input(indicator_parent_id_form) }}
                                {{ help.hidden_input(indicator_id_form) }}
                                {% if  indicator_form.vars.value.parent.indexNumber == null %}
                                    <textarea id="{{ indicator_title_form.vars.id }}" readonly="readonly" name="{{ indicator_title_form.vars.full_name }}" class="form-control" style="font-weight: bold">{{ indicator_title_form.vars.data }}</textarea>
                                {% else %}
                                    <textarea id="{{ indicator_title_form.vars.id }}" readonly="readonly" name="{{ indicator_title_form.vars.full_name }}" class="form-control" >{{ indicator_title_form.vars.data }}</textarea>
                                {% endif %}
                            </td>

                            {% if monitoring_result_form['periodResults'].children is defined %}
                                {% for period_result_form in monitoring_result_form['periodResults'].children %}
                                    {% if loop.last%}
                                        {% set total_amount_form = period_result_form.children['totalAmount'] %}
                                        <td class="sonata-ba-td-{{ form.vars.id }}-{{ total_amount_form.vars.name }} control-group">
                                            <input type="text" id="{{ total_amount_form.vars.id }}" name="{{ total_amount_form.vars.full_name }}" class="form-control" placeholder="{{ total_amount_form.vars.attr.placeholder }}" readonly="{{ total_amount_form.vars.attr.readonly }}" value="{{ total_amount_form.vars.data }}"/>
                                        </td>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </tr>

                    {% else %}
                        {{ help.hidden_input(indicator_parent_code_form) }}
                        {{ help.hidden_input(indicator_parent_id_form) }}
                        {{ help.hidden_input(indicator_code_form) }}
                        {{ help.hidden_input(indicator_id_form) }}
                        {{ help.hidden_input(indicator_title_form) }}
                        {% if monitoring_result_form['periodResults'].children is defined %}
                            {% for period_result_form in monitoring_result_form['periodResults'].children %}
                                {% set total_amount_form = period_result_form.children['totalAmount'] %}
                                {{ help.hidden_input(total_amount_form) }}
                            {% endfor %}
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block nko_order_admin_accept_plan_harbor_2020_monitoringResults_sonata_type_collection_monitoringResults_widget %}
    {% import '@NKOOrder/Form/helps.html.twig' as help %}
    <div class="field-container">
        <table class="table-bordered accept-plan-table" id="monitoring-report">
            <thead>
                <tr>
                    <th class="fixed-side">№<br>п/п</th>
                    <th class="fixed-side">Показатель</th>
                    <th>План</th>
                </tr>
            </thead>
            <tbody class="sonata-ba-tbody">
                {% for monitoring_result_form in form.children %}
                    {% set indicator_form = monitoring_result_form['indicator'] %}
                    {% set indicator_title_form = indicator_form.children['title'] %}
                    {% set indicator_code_form = indicator_form.children['code'] %}
                    {% set indicator_parent_code_form = indicator_form.children['parentCode'] %}
                    {% set indicator_parent_id_form = indicator_form.children['parentId'] %}
                    {% set indicator_id_form = indicator_form.children['id'] %}

                    {% if form.parent.vars['data'].ReportForm.isSelectable and monitoring_result_form['periodResults'].children is defined %}
                        <tr>
                            {% if indicator_form.vars.value.parent != null and indicator_form.vars.value.parent.indexNumber != null %}
                                <td class="fixed-side">{{ indicator_form.vars.value.parent.indexNumber ~ '.' ~ indicator_form.vars.value.indexNumber }}</td>
                            {% else %}
                                <td class="fixed-side">{{ indicator_form.vars.value.indexNumber }}</td>
                            {% endif %}

                            {{ help.hidden_input(indicator_parent_code_form) }}
                            {{ help.hidden_input(indicator_parent_id_form) }}
                            {{ help.hidden_input(indicator_code_form) }}
                            {{ help.hidden_input(indicator_id_form) }}
                            {{ help.hidden_input(indicator_title_form) }}
                            <td class="fixed-side sonata-ba-td-{{ form.vars.id }}-{{ indicator_form.vars.name }} control-group">
                                <textarea id="{{ indicator_title_form.vars.id }}" readonly="readonly" name="{{ indicator_title_form.vars.full_name }}" class="form-control" >{{ indicator_title_form.vars.data }}</textarea>
                            </td>

                            {% if monitoring_result_form['periodResults'].children is defined %}
                                {% for period_result_form in monitoring_result_form['periodResults'].children %}
                                    {% if loop.last %}
                                        {% set total_amount_form = period_result_form.children['totalAmount'] %}
                                        <td class="sonata-ba-td-{{ form.vars.id }}-{{ total_amount_form.vars.name }} control-group">
                                            <input type="text" id="{{ total_amount_form.vars.id }}" name="{{ total_amount_form.vars.full_name }}" class="form-control" placeholder="{{ total_amount_form.vars.attr.placeholder }}" readonly="{{ total_amount_form.vars.attr.readonly }}" value="{{ total_amount_form.vars.data }}"/>
                                        </td>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </tr>

                    {% elseif not indicator_form.vars.value.indexNumber == null and indicator_form.vars.value.parent != null  and indicator_form.vars.value.title != null%}
                        <tr>

                            {% if indicator_form.vars.value.parent != null and indicator_form.vars.value.parent.indexNumber != null %}
                                <td class="fixed-side">{{ indicator_form.vars.value.parent.indexNumber ~ '.' ~ indicator_form.vars.value.indexNumber }}</td>
                            {% else %}
                                <td class="fixed-side">{{ indicator_form.vars.value.indexNumber }}</td>
                            {% endif %}

                            <td class="fixed-side sonata-ba-td-{{ form.vars.id }}-{{ indicator_form.vars.name }} control-group">
                                {{ help.hidden_input(indicator_parent_code_form) }}
                                {{ help.hidden_input(indicator_code_form) }}
                                {{ help.hidden_input(indicator_parent_id_form) }}
                                {{ help.hidden_input(indicator_id_form) }}
                                {% if  indicator_form.vars.value.parent.indexNumber == null %}
                                    <textarea id="{{ indicator_title_form.vars.id }}" readonly="readonly" name="{{ indicator_title_form.vars.full_name }}" class="form-control" style="font-weight: bold">{{ indicator_title_form.vars.data }}</textarea>
                                {% else %}
                                    <textarea id="{{ indicator_title_form.vars.id }}" readonly="readonly" name="{{ indicator_title_form.vars.full_name }}" class="form-control" >{{ indicator_title_form.vars.data }}</textarea>
                                {% endif %}
                            </td>

                            {% if monitoring_result_form['periodResults'].children is defined %}
                                {% for period_result_form in monitoring_result_form['periodResults'].children %}
                                    {% if loop.last%}
                                        {% set total_amount_form = period_result_form.children['totalAmount'] %}
                                        <td class="sonata-ba-td-{{ form.vars.id }}-{{ total_amount_form.vars.name }} control-group">
                                            <input type="text" id="{{ total_amount_form.vars.id }}" name="{{ total_amount_form.vars.full_name }}" class="form-control" placeholder="{{ total_amount_form.vars.attr.placeholder }}" readonly="{{ total_amount_form.vars.attr.readonly }}" value="{{ total_amount_form.vars.data }}"/>
                                        </td>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </tr>

                    {% else %}
                        {{ help.hidden_input(indicator_parent_code_form) }}
                        {{ help.hidden_input(indicator_parent_id_form) }}
                        {{ help.hidden_input(indicator_code_form) }}
                        {{ help.hidden_input(indicator_id_form) }}
                        {{ help.hidden_input(indicator_title_form) }}
                        {% if monitoring_result_form['periodResults'].children is defined %}
                            {% for period_result_form in monitoring_result_form['periodResults'].children %}
                                {% set total_amount_form = period_result_form.children['totalAmount'] %}
                                {{ help.hidden_input(total_amount_form) }}
                            {% endfor %}
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block nko_order_admin_report_monitoring_report_report_monitoringResults_sonata_type_collection_monitoringResults_widget %}
    {% import '@NKOOrder/Form/helps.html.twig' as help %}
    {% set reportForm = (form.vars.data | first).report.reportForm %}
    <div class="field-container">
        <table class="table-bordered monitoring-table scroll" id="monitoring-report">
            <thead>
                <tr>
                    <th class="fixed-side" rowspan="2">№<br>п/п</th>
                    <th class="fixed-side" rowspan="2">Показатель</th>
                    {% set period_collection = (form.vars.data | first).report.reportForm.reportPeriods %}
                    {% for period in period_collection %}
                        <th colspan="2" period_id="{{ period.id }}">{{ period.name }}</th>
                    {% endfor %}
                    <th colspan="2">Итого за год</th>
                    <th rowspan="2">Итого за весь период реализации проекта</th>
                    <th rowspan="2">Методы сбора данных (выбор из вариантов ) </th>
                    <th rowspan="2">Метод сбора данных (добавить свой) </th>
                    <th rowspan="2">Комментарии</th>
                </tr>
                <tr>
                    {% for period in period_collection %}
                        <th period_id="{{ period.id }}">Всего</th>
                        <th period_id="{{ period.id }}">В т.ч. новых</th>
                    {% endfor %}
                    <th>План</th>
                    <th>Факт</th>
                </tr>
            </thead>
            <tbody class="sonata-ba-tbody">
            <input type="hidden" id="isSelecteble"  class="form-control"
                   value="{{form.children[0].vars.value.report.reportForm.isSelectable}}"/>

                {% for monitoring_result_form in form.children %}
                    <tr>
                        {% set indicator_form = monitoring_result_form['indicator'] %}
                        {% if indicator_form.vars.value.parent != null and indicator_form.vars.value.parent.indexNumber != null %}
                            <td class="fixed-side">{{ indicator_form.vars.value.parent.indexNumber ~ '.' ~ indicator_form.vars.value.indexNumber }}</td>
                        {% else %}
                            <td class="fixed-side">{{ indicator_form.vars.value.indexNumber }}</td>
                        {% endif %}

                        {% set indicator_title_form = indicator_form.children['title'] %}
                        {% set indicator_code_form = indicator_form.children['code'] %}
                        {% set indicator_parent_code_form = indicator_form.children['parentCode'] %}
                        {% set indicator_parent_id_form = indicator_form.children['parentId'] %}
                        {% set indicator_id_form = indicator_form.children['id'] %}
                        {% set indicator_id_value = indicator_id_form.vars.data %}

                        {% if indicator_form.vars.value.parent == null %}
                            <td colspan="100%" class="fixed-side sonata-ba-td-{{ form.vars.id }}-{{ indicator_form.vars.name }} control-group">
                                {{ help.hidden_input(monitoring_result_form.children['id']) }}
                                {{ help.hidden_input(indicator_parent_code_form) }}
                                {{ help.hidden_input(indicator_parent_id_form) }}
                                {{ help.hidden_input(indicator_code_form) }}
                                {{ help.hidden_input(indicator_id_form) }}
                                <textarea id="{{ indicator_title_form.vars.id }}" readonly="readonly" name="{{ indicator_title_form.vars.full_name }}" class="form-control" style="font-weight: bold">{{ indicator_title_form.vars.data }}</textarea>
                            </td>
                        {% else %}
                            <td class="fixed-side sonata-ba-td-{{ form.vars.id }}-{{ indicator_form.vars.name }} control-group">
                                {{ help.hidden_input(monitoring_result_form.children['id']) }}
                                {{ help.hidden_input(indicator_parent_code_form) }}
                                {{ help.hidden_input(indicator_code_form) }}
                                {{ help.hidden_input(indicator_parent_id_form) }}
                                {{ help.hidden_input(indicator_id_form) }}
                                {% if  indicator_form.vars.value.parent.indexNumber == null %}
                                    <textarea id="{{ indicator_title_form.vars.id }}" readonly="readonly" name="{{ indicator_title_form.vars.full_name }}" class="form-control" style="font-weight: bold; height:100px">{{ indicator_title_form.vars.data }}</textarea>
                                {% else %}
                                    <textarea id="{{ indicator_title_form.vars.id }}" readonly="readonly" name="{{ indicator_title_form.vars.full_name }}" class="form-control"  style="height:100px">{{ indicator_title_form.vars.data }}</textarea>
                                {% endif %}
                            </td>
                            {% for key, period_result_form in monitoring_result_form['periodResults'].children %}
                                {% if key in period_collection|keys %}
                                    {% set period_id = period_collection[key].id %}
                                {% else %}
                                    {% set period_id = null %}
                                {% endif %}

                                {% set total_amount_form = period_result_form.children['totalAmount'] %}
                                <td class="sonata-ba-td-{{ form.vars.id }}-{{ total_amount_form.vars.name }} control-group">
                                {% if monitoring_result_form.vars.value.report.reportForm.isSelectable
                                    and loop.last
                                    and not monitoring_result_form.vars.value.report.isPlanAccepted
                                    and indicator_form.vars.data.parent.code != 'total' %}
                                    <input period_id="{{ period_id }}"  type="text" id="{{ total_amount_form.vars.id }}" name="{{ total_amount_form.vars.full_name }}" class="form-control" placeholder="{{ total_amount_form.vars.attr.placeholder }}" value="{{ total_amount_form.vars.data }}"/>
                                {% else %}
                                    <input period_id="{{ period_id }}" type="text" id="{{ total_amount_form.vars.id }}" name="{{ total_amount_form.vars.full_name }}" class="form-control" readonly="readonly" placeholder="{{ total_amount_form.vars.attr.placeholder }}" value="{{ total_amount_form.vars.data }}"/>
                                {% endif %}

                                {% if total_amount_form.vars['errors'] | length > 0 %}
                                    <div class="help-inline sonata-ba-field-error-messages">{{ form_errors(total_amount_form) }}</div>
                                {% endif %}
                                </td>

                                {% set new_amount_form = period_result_form.children['newAmount'] %}
                                <td class="sonata-ba-td-{{ period_result_form.vars.id }}-{{ new_amount_form.vars.name }} control-group">
                                    {% if period_result_form.vars.data.isFinalResult == true or indicator_form.vars.data.parent.code == 'total' %}
                                        <input period_id="{{ period_id }}"
                                               {% if indicator_form.vars.data.parent.code != 'total' %}
                                                   indicator_id="{{ indicator_id_value }}"
                                               {% endif %}
                                               type="text" id="{{ new_amount_form.vars.id }}" name="{{ new_amount_form.vars.full_name }}" class="form-control" readonly="readonly" placeholder="{{ new_amount_form.vars.attr.placeholder }}" value="{{ new_amount_form.vars.data }}"/>
                                    {% else %}
                                        <input period_id="{{ period_id }}"
                                                {% if indicator_form.vars.data.parent.code != 'individual_results' %}
                                                    indicator_id="{{ indicator_id_value }}"
                                                {% endif %}
                                               type="text" id="{{ new_amount_form.vars.id }}" name="{{ new_amount_form.vars.full_name }}" class="form-control" placeholder="{{ new_amount_form.vars.attr.placeholder }}" value="{{ new_amount_form.vars.data }}"/>
                                    {% endif %}
                                    {% if new_amount_form.vars['errors'] | length > 0 %}
                                        <div class="help-inline sonata-ba-field-error-messages">{{ form_errors(new_amount_form) }}</div>
                                    {% endif %}
                                </td>
                            {% endfor %}

                            {% set total_value_form = monitoring_result_form['totalValue'] %}
                            {% set prev_total_value_form = monitoring_result_form['prevTotalValue'] %}
                            <td class="sonata-ba-td-{{ form.vars.id }}-{{ total_value_form.vars.name }} control-group">
                                {{ help.hidden_input(prev_total_value_form) }}
                                <input type="text" readonly="readonly" placeholder="{{ total_value_form.vars.attr.placeholder }}" id="{{ total_value_form.vars.id }}" name="{{ total_value_form.vars.full_name }}" class="form-control" value="{{ total_value_form.vars.data }}"/>
                            </td>

                            {% if reportForm.isSelectable == true %}
                                {% set method_form = monitoring_result_form['linkedMethods'] %}
                                <td class="sonata-ba-td-{{ form.vars.id }}-{{ method_form.vars.name }} control-group">
                                    <select id="{{ method_form.vars.id }}" name="{{ method_form.vars.full_name }}" data-placeholder="Не выбран" multiple="{{ method_form.vars.multiple }}">
                                        {% for method in method_form.vars.choices %}
                                            {% if method.value in method_form.vars.value %}
                                                <option selected="selected" value={{ method.value }}>{{ method.label }}</option>
                                            {% else %}
                                                <option value={{ method.value }}>{{ method.label }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </td>
                            {% else %}
                                {% set method_form = monitoring_result_form['method'] %}
                                <td class="sonata-ba-td-{{ form.vars.id }}-{{ method_form.vars.name }} control-group">
                                    <select id="{{ method_form.vars.id }}" name="{{ method_form.vars.full_name }}">
                                        <option value>Не выбран</option>
                                        {% for method in method_form.vars.choices %}
                                            {% if method_form.vars.value == method.value %}
                                                <option selected="selected" value={{ method.value }}>{{ method.label }}</option>
                                            {% else %}
                                                <option value={{ method.value }}>{{ method.label }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </td>
                            {% endif %}

                            {% set custom_method_form = monitoring_result_form['customMethod'] %}
                            <td class="sonata-ba-td-{{ form.vars.id }}-{{ custom_method_form.vars.name }} control-group">
                                <div>
                                    <textarea class="form-control" name="{{ custom_method_form.vars.full_name }}" maxlength="1024" id="{{ custom_method_form.vars.id }} maxlength="{{ custom_method_form.vars.attr.maxlength }}" placeholder="{{ custom_method_form.vars.attr.placeholder }}"
                                              cols="30" rows="3" maxlength="{% if attr.maxlength is defined %}{{ attr.maxlength }}{% endif %}">{{ custom_method_form.vars.data }}</textarea>
                                        <i class="glyphicon glyphicon-resize-full expand-textarea" id="{{ id }}-expand"></i>
                                        <p class="close-textarea">Для возврата и<br> сохранения  введённых<br> данных нажмите сюда
                                            <i class="glyphicon glyphicon-remove close-textarea" id="{{ id }}-close"></i></p>
                                </div>
                            </td>

                            {% set comment_form = monitoring_result_form['comment'] %}
                            <td class="sonata-ba-td-{{ form.vars.id }}-{{ comment_form.vars.name }} control-group">
                                <div>
                                    <textarea class="form-control" name="{{ comment_form.vars.full_name }}" id="{{ comment_form.vars.id }}" placeholder="{{ comment_form.vars.attr.placeholder }}"
                                              cols="30" rows="3" maxlength="1024" maxlength="{% if attr.maxlength is defined %}{{ attr.maxlength }}{% endif %}">{{ comment_form.vars.data }}</textarea>
                                    <i class="glyphicon glyphicon-resize-full expand-textarea" id="{{ id }}-expand"></i>
                                    <p class="close-textarea">Для возврата и<br> сохранения  введённых<br> данных нажмите сюда
                                        <i class="glyphicon glyphicon-remove close-textarea" id="{{ id }}-close"></i></p>
                                </div>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}


{% block nko_order_admin_report_monitoring_report_harbor_2020_report_monitoringResults_sonata_type_collection_monitoringResults_widget %}
    {% import '@NKOOrder/Form/helps.html.twig' as help %}
    {% set reportForm = (form.vars.data | first).report.reportForm %}
    <div class="field-container">
        <table class="table-bordered monitoring-table scroll" id="monitoring-report">
            <thead>
                <tr>
                    <th class="fixed-side" rowspan="2">№<br>п/п</th>
                    <th class="fixed-side" rowspan="2">Показатель</th>
                    {% set period_collection = (form.vars.data | first).report.reportForm.reportPeriods %}
                    {% for period in period_collection %}
                        <th colspan="2" period_id="{{ period.id }}">{{ period.name }}</th>
                    {% endfor %}
                    <th colspan="2">Итого за год</th>
                    <th rowspan="2">Итого за весь период реализации проекта</th>
                    <th rowspan="2">Методы сбора данных (выбор из вариантов ) </th>
                    <th rowspan="2">Метод сбора данных (добавить свой) </th>
                    <th rowspan="2">Комментарии</th>
                </tr>
                <tr>
                    {% for period in period_collection %}
                        <th period_id="{{ period.id }}">Всего</th>
                        <th period_id="{{ period.id }}">В т.ч. новых</th>
                    {% endfor %}
                    <th>План</th>
                    <th>Факт</th>
                </tr>
            </thead>
            <tbody class="sonata-ba-tbody">
            <input type="hidden" id="isSelecteble"  class="form-control"
                   value="{{form.children[0].vars.value.report.reportForm.isSelectable}}"/>

                {% for monitoring_result_form in form.children %}
                    <tr>
                        {% set indicator_form = monitoring_result_form['indicator'] %}
                        {% if indicator_form.vars.value.parent != null and indicator_form.vars.value.parent.indexNumber != null %}
                            <td class="fixed-side">{{ indicator_form.vars.value.parent.indexNumber ~ '.' ~ indicator_form.vars.value.indexNumber }}</td>
                        {% else %}
                            <td class="fixed-side">{{ indicator_form.vars.value.indexNumber }}</td>
                        {% endif %}

                        {% set indicator_title_form = indicator_form.children['title'] %}
                        {% set indicator_code_form = indicator_form.children['code'] %}
                        {% set indicator_parent_code_form = indicator_form.children['parentCode'] %}
                        {% set indicator_parent_id_form = indicator_form.children['parentId'] %}
                        {% set indicator_id_form = indicator_form.children['id'] %}
                        {% set indicator_id_value = indicator_id_form.vars.data %}

                        {% if indicator_form.vars.value.parent == null %}
                            <td colspan="100%" class="fixed-side sonata-ba-td-{{ form.vars.id }}-{{ indicator_form.vars.name }} control-group">
                                {{ help.hidden_input(monitoring_result_form.children['id']) }}
                                {{ help.hidden_input(indicator_parent_code_form) }}
                                {{ help.hidden_input(indicator_parent_id_form) }}
                                {{ help.hidden_input(indicator_code_form) }}
                                {{ help.hidden_input(indicator_id_form) }}
                                <textarea id="{{ indicator_title_form.vars.id }}" readonly="readonly" name="{{ indicator_title_form.vars.full_name }}" class="form-control" style="font-weight: bold">{{ indicator_title_form.vars.data }}</textarea>
                            </td>
                        {% else %}
                            <td class="fixed-side sonata-ba-td-{{ form.vars.id }}-{{ indicator_form.vars.name }} control-group">
                                {{ help.hidden_input(monitoring_result_form.children['id']) }}
                                {{ help.hidden_input(indicator_parent_code_form) }}
                                {{ help.hidden_input(indicator_code_form) }}
                                {{ help.hidden_input(indicator_parent_id_form) }}
                                {{ help.hidden_input(indicator_id_form) }}
                                {% if  indicator_form.vars.value.parent.indexNumber == null %}
                                    <textarea id="{{ indicator_title_form.vars.id }}" readonly="readonly" name="{{ indicator_title_form.vars.full_name }}" class="form-control" style="font-weight: bold; height:100px">{{ indicator_title_form.vars.data }}</textarea>
                                {% else %}
                                    <textarea id="{{ indicator_title_form.vars.id }}" readonly="readonly" name="{{ indicator_title_form.vars.full_name }}" class="form-control"  style="height:100px">{{ indicator_title_form.vars.data }}</textarea>
                                {% endif %}
                            </td>
                            {% for key, period_result_form in monitoring_result_form['periodResults'].children %}
                                {% if key in period_collection|keys %}
                                    {% set period_id = period_collection[key].id %}
                                {% else %}
                                    {% set period_id = null %}
                                {% endif %}

                                {% set total_amount_form = period_result_form.children['totalAmount'] %}
                                <td class="sonata-ba-td-{{ form.vars.id }}-{{ total_amount_form.vars.name }} control-group">
                                {% if monitoring_result_form.vars.value.report.reportForm.isSelectable
                                    and loop.last
                                    and not monitoring_result_form.vars.value.report.isPlanAccepted
                                    and indicator_form.vars.data.parent.code != 'total' %}
                                    <input period_id="{{ period_id }}"  type="text" id="{{ total_amount_form.vars.id }}" name="{{ total_amount_form.vars.full_name }}" class="form-control" placeholder="{{ total_amount_form.vars.attr.placeholder }}" value="{{ total_amount_form.vars.data }}"/>
                                {% else %}
                                    <input period_id="{{ period_id }}" type="text" id="{{ total_amount_form.vars.id }}" name="{{ total_amount_form.vars.full_name }}" class="form-control" readonly="readonly" placeholder="{{ total_amount_form.vars.attr.placeholder }}" value="{{ total_amount_form.vars.data }}"/>
                                {% endif %}

                                {% if total_amount_form.vars['errors'] | length > 0 %}
                                    <div class="help-inline sonata-ba-field-error-messages">{{ form_errors(total_amount_form) }}</div>
                                {% endif %}
                                </td>

                                {% set new_amount_form = period_result_form.children['newAmount'] %}
                                <td class="sonata-ba-td-{{ period_result_form.vars.id }}-{{ new_amount_form.vars.name }} control-group">
                                    {% if period_result_form.vars.data.isFinalResult == true or indicator_form.vars.data.parent.code == 'total' %}
                                        <input period_id="{{ period_id }}"
                                               {% if indicator_form.vars.data.parent.code != 'total' %}
                                                   indicator_id="{{ indicator_id_value }}"
                                               {% endif %}
                                               type="text" id="{{ new_amount_form.vars.id }}" name="{{ new_amount_form.vars.full_name }}" class="form-control" readonly="readonly" placeholder="{{ new_amount_form.vars.attr.placeholder }}" value="{{ new_amount_form.vars.data }}"/>
                                    {% else %}
                                        <input period_id="{{ period_id }}"
                                                {% if indicator_form.vars.data.parent.code != 'individual_results' %}
                                                    indicator_id="{{ indicator_id_value }}"
                                                {% endif %}
                                               type="text" id="{{ new_amount_form.vars.id }}" name="{{ new_amount_form.vars.full_name }}" class="form-control" placeholder="{{ new_amount_form.vars.attr.placeholder }}" value="{{ new_amount_form.vars.data }}"/>
                                    {% endif %}
                                    {% if new_amount_form.vars['errors'] | length > 0 %}
                                        <div class="help-inline sonata-ba-field-error-messages">{{ form_errors(new_amount_form) }}</div>
                                    {% endif %}
                                </td>
                            {% endfor %}

                            {% set total_value_form = monitoring_result_form['totalValue'] %}
                            {% set prev_total_value_form = monitoring_result_form['prevTotalValue'] %}
                            <td class="sonata-ba-td-{{ form.vars.id }}-{{ total_value_form.vars.name }} control-group">
                                {{ help.hidden_input(prev_total_value_form) }}
                                <input type="text" readonly="readonly" placeholder="{{ total_value_form.vars.attr.placeholder }}" id="{{ total_value_form.vars.id }}" name="{{ total_value_form.vars.full_name }}" class="form-control" value="{{ total_value_form.vars.data }}"/>
                            </td>

                            {% if reportForm.isSelectable == true %}
                                {% set method_form = monitoring_result_form['linkedMethods'] %}
                                <td class="sonata-ba-td-{{ form.vars.id }}-{{ method_form.vars.name }} control-group">
                                    <select id="{{ method_form.vars.id }}" name="{{ method_form.vars.full_name }}" data-placeholder="Не выбран" multiple="{{ method_form.vars.multiple }}">
                                        {% for method in method_form.vars.choices %}
                                            {% if method.value in method_form.vars.value %}
                                                <option selected="selected" value={{ method.value }}>{{ method.label }}</option>
                                            {% else %}
                                                <option value={{ method.value }}>{{ method.label }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
{#                                    {% if method_form.vars['errors'] | length > 0 %}#}
{#                                        <div class="help-inline sonata-ba-field-error-messages">{{ form_errors(method_form) }}</div>#}
{#                                    {% endif %}#}
                                </td>
                            {% else %}
                                {% set method_form = monitoring_result_form['method'] %}
                                <td class="sonata-ba-td-{{ form.vars.id }}-{{ method_form.vars.name }} control-group">
                                    <select id="{{ method_form.vars.id }}" name="{{ method_form.vars.full_name }}">
                                        <option value>Не выбран</option>
                                        {% for method in method_form.vars.choices %}
                                            {% if method_form.vars.value == method.value %}
                                                <option selected="selected" value={{ method.value }}>{{ method.label }}</option>
                                            {% else %}
                                                <option value={{ method.value }}>{{ method.label }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </td>
                            {% endif %}

                            {% set custom_method_form = monitoring_result_form['customMethod'] %}
                            <td class="sonata-ba-td-{{ form.vars.id }}-{{ custom_method_form.vars.name }} control-group">
                                <div>
                                    <textarea class="form-control" name="{{ custom_method_form.vars.full_name }}" maxlength="1024" id="{{ custom_method_form.vars.id }} maxlength="{{ custom_method_form.vars.attr.maxlength }}" placeholder="{{ custom_method_form.vars.attr.placeholder }}"
                                              cols="30" rows="3" maxlength="{% if attr.maxlength is defined %}{{ attr.maxlength }}{% endif %}">{{ custom_method_form.vars.data }}</textarea>
                                        <i class="glyphicon glyphicon-resize-full expand-textarea" id="{{ id }}-expand"></i>
                                        <p class="close-textarea">Для возврата и<br> сохранения  введённых<br> данных нажмите сюда
                                            <i class="glyphicon glyphicon-remove close-textarea" id="{{ id }}-close"></i></p>
                                </div>
                            </td>

                            {% set comment_form = monitoring_result_form['comment'] %}
                            <td class="sonata-ba-td-{{ form.vars.id }}-{{ comment_form.vars.name }} control-group">
                                <div>
                                    <textarea class="form-control" name="{{ comment_form.vars.full_name }}" id="{{ comment_form.vars.id }}" placeholder="{{ comment_form.vars.attr.placeholder }}"
                                              cols="30" rows="3" maxlength="1024" maxlength="{% if attr.maxlength is defined %}{{ attr.maxlength }}{% endif %}">{{ comment_form.vars.data }}</textarea>
                                    <i class="glyphicon glyphicon-resize-full expand-textarea" id="{{ id }}-expand"></i>
                                    <p class="close-textarea">Для возврата и<br> сохранения  введённых<br> данных нажмите сюда
                                        <i class="glyphicon glyphicon-remove close-textarea" id="{{ id }}-close"></i></p>
                                </div>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}

{% block sonata_admin_nko_order_kns2017_second_application_competition_entity_widget %}
    {% embed "@NKOOrder/Form/entity_readonly_widget.html.twig" with {'form': form, 'title': form.vars.data.name } %}
    {% endembed %}
{% endblock %}

{% block nko_order_admin_analytic_report_monitoring_result_finalPeriodResult_sonata_type_collection_widget %}
    {% for result in form.children %}
        {% if result.children is defined %}
            {{ _self.final_period_result(result.children) }}
        {% endif %}
    {% endfor %}
{% endblock %}

{% macro final_period_result(form_fields) %}
    <table class="table table-bordered">
        <thead>
        <tr>
            {% for form_field in form_fields %}
                <th>{{ form_field.vars.label }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        <tr>
            {% for form_field in form_fields %}
                <td class="sonata-ba-td">
                    <input readonly placeholder="0" id="{{ form_field.vars.id }}" name="{{ form_field.vars.full_name }}" class="form-control" value="{{ form_field.vars.data }}"/>
                </td>
            {% endfor %}
        </tr>
        </tbody>
    </table>
{% endmacro %}

{% block nko_order_admin_analytic_report_monitoring_result_method_sonata_type_model_widget %}
    <select id="{{ form.vars.id }}" name="{{ form.vars.full_name }}" style="display: none">
        <option value={{ form.vars.value }}>{{ form.vars.data }}</option>
    </select>

    <input type="text" readonly="readonly" class="form-control" id="usr" value="{{ form.vars.data }}">
{% endblock %}

{% block nko_order_admin_report_analytic_report_report_practiceAnalyticResults_sonata_type_collection_widget %}
    {% include '@NKOOrder/Form/result_widget.html.twig' %}
{% endblock %}

{% block nko_order_admin_report_analytic_report_report2018_report_practiceAnalyticResults_sonata_type_collection_widget %}
    {% set admin_code = form.vars['sonata_admin']['field_description'].options['admin_code'] %}

    {% if  admin_code == 'nko_order.admin.report.analytic_report.report2018.practice_analytic_result_farvater' %}
        {% include '@NKOOrder/Form/expected_result_farvater_application_widjet.html.twig' %}
    {% else %}
        {% include '@NKOOrder/Form/expected_result_widjet.html.twig' %}
    {% endif %}
{% endblock %}

{% block nko_order_admin_analytic_report_report2018_kns_report_practiceAnalyticResults_sonata_type_collection_practiceAnalyticResults_widget %}
    {% embed '@NKOOrder/Form/AnalyticResults/result_kns_2018_widget.html.twig' %}
        {% block thead %}
            <tr>
                <th></th>
               <th rowspan="2">Услуги, мероприятия и пр.</th>
                <th rowspan="2">Целевая группа (благополучатели)</th>
                <th rowspan="2">Показатель</th>
                <th colspan="2">Целевые значения</th>
                <th rowspan="2">Способ измерения</th>
                <th rowspan="2">Собирали ли обратную связь</th>
                <th rowspan="2">Комментарий</th>
            </tr>
            <tr>
                <th>План</th>
                <th>Факт</th>
            </tr>
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block nko_order_admin_analytic_report_report2018_kns_report_expectedAnalyticResults_sonata_type_collection_expectedAnalyticResults_widget %}
    {% embed '@NKOOrder/Form/AnalyticResults/result_kns_2018_widget.html.twig' %}
        {% block thead %}
            <tr>
                <th></th>
                <th rowspan="2">Целевая группа (благополучатели)</th>
                <th rowspan="2">Социальный результат (для благополучателей)</th>
                <th rowspan="2">Показатель</th>
                <th colspan="2">Целевые значения</th>
                <th rowspan="2">Способ измерения</th>
                <th rowspan="2">Комментарий</th>
            </tr>
            <tr>
                <th>План</th>
                <th>Факт</th>
            </tr>
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block nko_order_admin_report_analytic_harbor_report_report2019_report_practiceAnalyticResults_sonata_type_collection_practiceAnalyticResults_widget %}
    {% embed '@NKOOrder/Form/AnalyticResults/result_kns_2018_widget.html.twig' %}
        {% block thead %}
            <tr>
                <th></th>
                <th rowspan="2">Услуги, мероприятия и пр.</th>
                <th rowspan="2">Целевая группа (благополучатели)</th>
                <th rowspan="2">Показатель</th>
                <th colspan="2">Целевые значения</th>
                <th rowspan="2">Способ измерения</th>
                <th rowspan="2">Комментарий</th>
            </tr>
            <tr>
                <th>План</th>
                <th>Факт</th>
            </tr>
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block nko_order_admin_report_analytic_harbor_report_report2019_report_expectedAnalyticResults_sonata_type_collection_expectedAnalyticResults_widget%}
    {% embed '@NKOOrder/Form/AnalyticResults/result_kns_2018_widget.html.twig' %}
        {% block thead %}
            <tr>
                <th></th>
                <th rowspan="2">Социальный результат (для благополучателей)</th>
                <th rowspan="2">Целевая группа (благополучатели)</th>
                <th rowspan="2">Показатель</th>
                <th colspan="2">Целевые значения</th>
                <th rowspan="2">Способ измерения</th>
                <th rowspan="2">Комментарий</th>
            </tr>
            <tr>
                <th>План</th>
                <th>Факт</th>
            </tr>
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block nko_order_admin_report_analytic_report_report2018_report_practiceAnalyticIndividualResults_sonata_type_collection_widget %}
    {% include '@NKOOrder/Form/practice_result_farvater_application_widjet.html.twig' %}
{% endblock %}

{% block nko_order_admin_report_analytic_report_report_expectedAnalyticResults_sonata_type_collection_widget %}

  {% include '@NKOOrder/Form/expected_result_widjet.html.twig' %}
{% endblock %}

{% block nko_order_admin_report_analytic_report_report2018_report_expectedAnalyticResults_sonata_type_collection_widget %}
    {% set admin_code = form.vars['sonata_admin']['field_description'].options['admin_code'] %}

    {% if  admin_code == 'nko_order.admin.report.analytic_report.report2018.expected_analytic_result_farvater' %}
        {% include '@NKOOrder/Form/practice_result_farvater_application_widjet.html.twig' %}
    {% else %}
        {% include '@NKOOrder/Form/result_widget.html.twig' %}
    {% endif %}
{% endblock %}

{% block nko_order_admin_report_analytic_report_report2018_report_expectedAnalyticIndividualResults_sonata_type_collection_widget %}
    {% include '@NKOOrder/Form/expected_result_farvater_application_widjet.html.twig' %}
{% endblock %}


{% block nko_order_admin_report_analytic_report_report2019_report_expectedAnalyticResults_sonata_type_collection_widget %}
    {% embed '@NKOOrder/Form/AnalyticResults/table_with_double_field.html.twig' with {'secondString': 'customMethods', 'string': 'methods' } %}
    {% block thead %}
        <tr>
            <th rowspan="2">Действия</th>
            <th rowspan="2">Услуги, мероприятия и пр.</th>
            <th rowspan="2">Целевая группа</th>
            <th rowspan="2">Показатель</th>
            <th colspan="2">Целевые значения</th>
            <th rowspan="2">Способ измерения</th>
            <th rowspan="2">Собирали ли обратную связь</th>
            <th rowspan="2">Комментарий</th>
        </tr>
        <tr>
            <th>План</th>
            <th>Факт</th>
        </tr>
    {% endblock %}
{% endembed %}
{% endblock %}

{% block nko_order_admin_report_analytic_report_report2019_report_implementationSocialResults_sonata_type_collection_widget %}
    {% embed '@NKOOrder/Form/AnalyticResults/table_with_double_field.html.twig' with {'secondString': 'customMethod', 'string': 'methods' } %}
        {% block thead %}
            <tr>
                <th rowspan="2">Действия</th>
                <th rowspan="2">Cоциальные результаты</th>
                <th rowspan="2">Показатель</th>
                <th colspan="2">Целевые значения</th>
                <th rowspan="2">Способ измерения</th>
                <th rowspan="2">Собирали ли обратную связь</th>
                <th rowspan="2">Комментарий</th>
            </tr>
            <tr>
                <th>План</th>
                <th>Факт</th>
            </tr>
        {% endblock %}
    {% endembed %}
{% endblock %}


{% block nko_order_admin_report_analytic_report_report2019_report_practiceAnalyticResults_sonata_type_collection_widget %}
    {% embed '@NKOOrder/Form/AnalyticResults/table_with_double_field.html.twig' with {'secondString': 'customMethods', 'string': 'methods' } %}
    {% block thead %}
        <tr>
            <th rowspan="2">Действия</th>
            <th rowspan="2">Услуги, мероприятия и пр.</th>
            <th rowspan="2">Формат распространения практики</th>
            <th rowspan="2">Целевая группа</th>
            <th rowspan="2">Показатель</th>
            <th colspan="2">Целевые значения</th>
            <th rowspan="2">Способ измерения</th>
            <th rowspan="2">Собирали ли обратную связь</th>
            <th rowspan="2">Участие грантополучателей Фонда</th>
            <th rowspan="2">Комментарий</th>
        </tr>
        <tr>
            <th>План</th>
            <th>Факт</th>
        </tr>
    {% endblock %}
{% endembed %}
{% endblock %}

{% block nko_order_admin_report_analytic_report_report2019_report_introductionSocialResults_sonata_type_collection_widget %}
    {% embed '@NKOOrder/Form/AnalyticResults/table_with_double_field.html.twig' with {'secondString': 'customMethod', 'string': 'methods' } %}
        {% block thead %}
            <tr>
                <th rowspan="2">Действия</th>
                <th rowspan="2">Cоциальные результаты</th>
                <th rowspan="2">Показатель</th>
                <th colspan="2">Целевые значения</th>
                <th rowspan="2">Способ измерения</th>
                <th rowspan="2">Собирали ли обратную связь</th>
                <th rowspan="2">Комментарий</th>
            </tr>
            <tr>
                <th>План</th>
                <th>Факт</th>
            </tr>
        {% endblock %}
    {% endembed %}
{% endblock %}

{%  block nko_order_admin_report_analytic_report_report_practiceFeedbackAttachments_sonata_type_collection_widget %}
    {% include '@NKOOrder/Form/analytic_attachment_widget.html.twig' %}
{% endblock %}

{%  block nko_order_admin_analytic_report_report2018_kns_report_practiceFeedbackAttachments_sonata_type_collection_widget %}
    {% include '@NKOOrder/Form/report_attachment_widget.html.twig' %}
{% endblock %}

{%  block nko_order_admin_report_analytic_report_report_practiceSpreadFeedbackAttachments_sonata_type_collection_widget %}
    {% include '@NKOOrder/Form/analytic_attachment_widget.html.twig' %}
{% endblock %}

{% block nko_order_admin_report_analytic_report_report_publicationAttachments_sonata_type_collection_widget %}
    {% include '@NKOOrder/Form/publication_attachments_widget.html.twig' %}
{% endblock %}

{% block nko_order_admin_report_analytic_report_report_materialAttachments_sonata_type_collection_widget %}
    {% include '@NKOOrder/Form/material_attachment_widget.html.twig' %}
{% endblock %}

{% block phone_widget %}
    <div class="sonata-ba-field sonata-ba-field-standard-natural form-group form-inline">
        +7<input type="text" id="{{ form.vars['id'] }}" name="{{ form.vars['full_name'] }}[code]" value="{{ form.vars['value']['code'] }}"class=" form-control">
        <input type="text" id="{{ form.vars['id'] }}" name="{{ form.vars['full_name'] }}[phone]" value="{{ form.vars['value']['phone'] }}" class=" form-control">
    </div>
{% endblock %}

{% block nko_order_admin_farvater_brief_application_2018_financing_source_type_entity_widget %}
    {% embed "@NKOOrder/Form/entity_readonly_widget.html.twig" with {'form': form, 'title': form.vars.data.title } %}
    {% endembed %}
{% endblock %}

{% block nko_order_admin_continuation_application_competition_entity_widget %}
    {% embed "@NKOOrder/Form/entity_readonly_widget.html.twig" with {'form': form, 'title': form.vars.data.name } %}
    {% endembed %}
{% endblock %}

{% block nko_order_admin_kns_application_2018_application_competition_entity_widget %}
    {% embed "@NKOOrder/Form/entity_readonly_widget.html.twig" with {'form': form, 'title': form.vars.data.name } %}
    {% endembed %}
{% endblock %}

{% block nko_order_admin_kns_application_2017_second_stage_competition_entity_widget %}
    {% embed "@NKOOrder/Form/entity_readonly_widget.html.twig" with {'form': form, 'title': form.vars.data.name } %}
    {% endembed %}
{% endblock %}

{% block nko_order_admin_kns_application_2018_second_stage_competition_entity_widget %}
    {% embed "@NKOOrder/Form/entity_readonly_widget.html.twig" with {'form': form, 'title': form.vars.data.name } %}
    {% endembed %}
{% endblock %}

{% block nko_order_admin_kns_application_2018_third_stage_competition_entity_widget %}
    {% embed "@NKOOrder/Form/entity_readonly_widget.html.twig" with {'form': form, 'title': form.vars.data.name } %}
    {% endembed %}
{% endblock %}

{% block nko_order_admin_continuation_application_drop_down_list_widget %}
    {% embed "@NKOOrder/Form/drop_down_entity_widget.html.twig" with {'form': form, 'value': value, 'outerInputType' : "checkbox", 'innerInputType' : "checkbox", 'notChecked' : 1 } %}
    {% endembed %}
{% endblock %}

{% block nko_order_admin_continuation_immediate_result_startDateFact_sonata_type_datetime_picker_widget %}
    {{ form_widget(form.parent.children['startDateFact']) }}
    {{ form_widget(form.parent.children['finishDateFact']) }}
    {% if  form.parent.children['finishDateFact'].vars['errors'] | length > 0 %}
        <div class="help-inline sonata-ba-field-error-messages">{{ form_errors(form.parent.children['finishDateFact']) }}</div>
    {% endif %}
{% endblock %}

{% block nko_order_admin_continuation_immediate_result_methods_entity_widget %}
    {{ form_widget(form.parent.children['methods']) }}
    {{ form_widget(form.parent.children['comment']) }}
{% endblock %}

{% block nko_order_admin_continuation_effectiveness_methods_entity_widget %}
    {{ form_widget(form.parent.children['methods']) }}
    {{ form_widget(form.parent.children['comment']) }}
{% endblock %}

{% block nko_order_admin_farvater_application_2018_competition_entity_widget %}
    {% embed "@NKOOrder/Form/entity_readonly_widget.html.twig" with {'form': form, 'title': form.vars.data.name } %}
    {% endembed %}
{% endblock %}



{% block nko_order_admin_report_monitoring_report_report_visibility_sonata_type_collection_widget %}
    {% embed "@NKOOrder/Form/visibility_widget.html.twig" with { 'form': form } %}
    {% endembed %}
{% endblock %}

{% block nko_order_admin_report_monitoring_report_harbor_2020_report_visibility_sonata_type_collection_widget %}
    {% embed "@NKOOrder/Form/visibility_widget.html.twig" with { 'form': form } %}
    {% endembed %}
{% endblock %}

{%  block nko_order_admin_report_analytic_report_report2018_report_practiceFeedbackAttachments_sonata_type_collection_widget %}
    {% include '@NKOOrder/Form/report_attachment_widget.html.twig' %}
{% endblock %}

{%  block nko_order_admin_report_analytic_report_report2018_report_practiceSpreadFeedbackAttachments_sonata_type_collection_widget %}
    {% include '@NKOOrder/Form/report_attachment_widget.html.twig' %}
{% endblock %}

{%  block nko_order_admin_report_analytic_report_report2019_report_practiceFeedbackAttachments_sonata_type_collection_widget %}
    {% include '@NKOOrder/Form/report_attachment_widget.html.twig' %}
{% endblock %}

{%  block nko_order_admin_report_analytic_harbor_report_report2019_report_practiceFeedbackAttachments_sonata_type_collection_widget %}
    {% include '@NKOOrder/Form/report_attachment_widget.html.twig' %}
{% endblock %}

{%  block nko_order_admin_report_analytic_report_report2019_report_practiceSocialFeedbackAttachments_sonata_type_collection_widget %}
    {% include '@NKOOrder/Form/report_attachment_widget.html.twig' %}
{% endblock %}

{%  block nko_order_admin_report_analytic_report_report2019_report_practiceSpreadFeedbackAttachments_sonata_type_collection_widget %}
    {% include '@NKOOrder/Form/report_attachment_widget.html.twig' %}
{% endblock %}

{%  block nko_order_admin_report_analytic_report_report2019_report_practiceSocialSpreadFeedbackAttachments_sonata_type_collection_widget %}
    {% include '@NKOOrder/Form/report_attachment_widget.html.twig' %}
{% endblock %}

{% block nko_order_admin_report_analytic_report_report2018_report_publicationAttachments_sonata_type_collection_widget %}
    {% if form.children | length %}
        {% include '@NKOOrder/Form/report_attachment_widget.html.twig' %}
    {% endif %}
{% endblock %}

{% block nko_order_admin_report_analytic_report_report2019_report_publicationAttachments_sonata_type_collection_widget %}
    {% if form.children | length %}
        {% include '@NKOOrder/Form/report_attachment_widget.html.twig' %}
    {% endif %}
{% endblock %}

{% block nko_order_admin_report_analytic_report_report2018_report_practiceSuccessStoryAttachments_sonata_type_collection_widget %}
    {% include '@NKOOrder/Form/report_attachment_widget.html.twig' %}
{% endblock %}

{% block nko_order_admin_report_analytic_report_report2019_report_practiceSuccessStoryAttachments_sonata_type_collection_widget %}
    {% include '@NKOOrder/Form/report_attachment_widget.html.twig' %}
{% endblock %}

{% block nko_order_admin_report_analytic_harbor_report_report2019_report_practiceSuccessStoryAttachments_sonata_type_collection_widget %}
    {% include '@NKOOrder/Form/report_attachment_widget.html.twig' %}
{% endblock %}

{% block nko_order_admin_report_analytic_report_report2018_report_practiceSpreadSuccessStoryAttachments_sonata_type_collection_widget %}
    {% include '@NKOOrder/Form/report_attachment_widget.html.twig' %}
{% endblock %}

{% block nko_order_admin_report_analytic_report_report2019_report_practiceSpreadSuccessStoryAttachments_sonata_type_collection_widget %}
    {% include '@NKOOrder/Form/report_attachment_widget.html.twig' %}
{% endblock %}

{% block nko_order_admin_report_analytic_harbor_report_report2019_report_practiceSpreadSuccessStoryAttachments_sonata_type_collection_widget %}
    {% include '@NKOOrder/Form/report_attachment_widget.html.twig' %}
{% endblock %}

{% block nko_order_admin_report_analytic_report_report2018_report_monitoringDevelopmentAttachments_sonata_type_collection_widget %}
    {% include '@NKOOrder/Form/report_attachment_widget.html.twig' %}
{% endblock %}

{% block nko_order_admin_report_analytic_report_report2019_report_monitoringDevelopmentAttachments_sonata_type_collection_widget %}
    {% include '@NKOOrder/Form/report_attachment_widget.html.twig' %}
{% endblock %}

{% block nko_order_admin_report_analytic_report_report2018_report_factorAttachments_sonata_type_collection_widget %}
    {% if form.children | length %}
        {% include '@NKOOrder/Form/report_attachment_widget.html.twig' %}
    {% endif %}
{% endblock %}

{% block nko_order_admin_report_analytic_report_report2019_report_factorAttachments_sonata_type_collection_widget %}
    {% if form.children | length %}
        {% include '@NKOOrder/Form/report_attachment_widget.html.twig' %}
    {% endif %}
{% endblock %}

{% block nko_order_admin_report_analytic_report_report2018_report_materialAttachments_sonata_type_collection_widget %}
    {% if form.children | length %}
        {% include '@NKOOrder/Form/report_attachment_widget.html.twig' %}
    {% endif %}
{% endblock %}

{% block nko_order_admin_report_analytic_report_report2019_report_materialAttachments_sonata_type_collection_widget %}
    {% if form.children | length %}
        {% include '@NKOOrder/Form/report_attachment_widget.html.twig' %}
    {% endif %}
{% endblock %}

{% block nko_order_admin_report_monitoring_report_report_documents_sonata_type_collection_widget %}
    {% include '@NKOOrder/Form/report_attachment_widget.html.twig' %}
{% endblock %}

{% block nko_order_admin_report_monitoring_report_harbor_2020_report_documents_sonata_type_collection_widget %}
    {% include '@NKOOrder/Form/report_attachment_widget.html.twig' %}
{% endblock %}

{% block nko_order_admin_analytic_report_report2018_kns_report_practiceSuccessStoryAttachments_sonata_type_collection_widget %}
    {% include '@NKOOrder/Form/report_attachment_widget.html.twig' %}
{% endblock %}

{% block nko_order_admin_report_mixed_report_kns_report_analyticAttachments_sonata_type_collection_analyticAttachments_widget %}
    {% include '@NKOOrder/Form/report_attachment_widget.html.twig' %}
{% endblock %}

{% block nko_order_admin_report_mixed_report_report2019_kns_report_analyticAttachments_sonata_type_collection_analyticAttachments_widget %}
    {% include '@NKOOrder/Form/report_attachment_widget.html.twig' %}
{% endblock %}

{% block nko_order_admin_report_mixed_report_report2020_kns_report_analyticAttachments_sonata_type_collection_analyticAttachments_widget %}
    {% include '@NKOOrder/Form/report_attachment_widget.html.twig' %}
{% endblock %}

{% block nko_order_admin_report_mixed_report_kns_report_mixedEmployeeResults_sonata_type_collection_mixedEmployeeResults_widget %}
    {% embed '@NKOOrder/Form/AnalyticResults/result_kns_2018_widget.html.twig' %}
        {% block thead %}
            <tr>
                <th></th>
                <th rowspan="2">Результат</th>
                <th rowspan="2">Показатель</th>
                <th colspan="3">Целевые значения</th>
                <th rowspan="2">Способ измерения</th>
                <th rowspan="2">Комментарий</th>
            </tr>
            <tr>
                <th>План<br>(на дату окончания проекта, согласно заявке)</th>
                <th>Факт<br>(на дату окончания проекта)</th>
                <th>Ожидается<br> на 01.06 следующего года</th>
            </tr>
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block nko_order_admin_report_mixed_report_report2019_kns_report_mixedEmployeeResults_sonata_type_collection_mixedEmployeeResults_widget %}
    {% embed '@NKOOrder/Form/AnalyticResults/result_kns_2018_widget.html.twig' %}
        {% block thead %}
            <tr>
                <th></th>
                <th rowspan="2">Результат</th>
                <th rowspan="2">Показатель</th>
                <th colspan="3">Целевые значения</th>
                <th rowspan="2">Способ измерения</th>
                <th rowspan="2">Комментарий</th>
            </tr>
            <tr>
                <th>План<br>(на дату окончания проекта, согласно заявке)</th>
                <th>Факт<br>(на дату окончания проекта)</th>
                <th>Ожидается<br> на 01.06 следующего года</th>
            </tr>
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block nko_order_admin_report_mixed_report_report2020_kns_report_mixedEmployeeResults_sonata_type_collection_mixedEmployeeResults_widget %}
    {% embed '@NKOOrder/Form/AnalyticResults/result_kns_2018_widget.html.twig' %}
        {% block thead %}
            <tr>
                <th></th>
                <th rowspan="2">Результат</th>
                <th rowspan="2">Показатель</th>
                <th colspan="3">Целевые значения</th>
                <th rowspan="2">Способ измерения</th>
                <th rowspan="2">Комментарий</th>
            </tr>
            <tr>
                <th>План<br>(на дату окончания проекта, согласно заявке)</th>
                <th>Факт<br>(на дату окончания проекта)</th>
                <th>Ожидается<br> на 01.06 следующего года</th>
            </tr>
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block nko_order_admin_report_mixed_report_kns_report_mixedBeneficiariesResults_sonata_type_collection_mixedBeneficiariesResults_widget %}
    {% embed '@NKOOrder/Form/AnalyticResults/result_kns_2018_widget.html.twig' %}
        {% block thead %}
            <tr>
                <th></th>
                <th rowspan="2">Результат</th>
                <th rowspan="2">Показатель</th>
                <th colspan="3">Целевые значения</th>
                <th rowspan="2">Способ измерения</th>
                <th rowspan="2">Комментарий</th>
            </tr>
            <tr>
                <th>План<br>(на дату окончания проекта, согласно заявке)</th>
                <th>Факт<br>(на дату окончания проекта)</th>
                <th>Ожидается<br> на 01.06 следующего года</th>
            </tr>
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block nko_order_admin_report_mixed_report_report2019_kns_report_mixedBeneficiariesResults_sonata_type_collection_mixedBeneficiariesResults_widget %}
    {% embed '@NKOOrder/Form/AnalyticResults/result_kns_2018_widget.html.twig' %}
        {% block thead %}
            <tr>
                <th></th>
                <th rowspan="2">Результат</th>
                <th rowspan="2">Показатель</th>
                <th colspan="3">Целевые значения</th>
                <th rowspan="2">Способ измерения</th>
                <th rowspan="2">Комментарий</th>
            </tr>
            <tr>
                <th>План<br>(на дату окончания проекта, согласно заявке)</th>
                <th>Факт<br>(на дату окончания проекта)</th>
                <th>Ожидается<br> на 01.06 следующего года</th>
            </tr>
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block nko_order_admin_report_mixed_report_report2020_kns_report_mixedBeneficiariesResults_sonata_type_collection_mixedBeneficiariesResults_widget %}
    {% embed '@NKOOrder/Form/AnalyticResults/result_kns_2018_widget.html.twig' %}
        {% block thead %}
            <tr>
                <th></th>
                <th rowspan="2">Результат</th>
                <th rowspan="2">Показатель</th>
                <th colspan="3">Целевые значения</th>
                <th rowspan="2">Способ измерения</th>
                <th rowspan="2">Комментарий</th>
            </tr>
            <tr>
                <th>План<br>(на дату окончания проекта, согласно заявке)</th>
                <th>Факт<br>(на дату окончания проекта)</th>
                <th>Ожидается<br> на 01.06 следующего года</th>
            </tr>
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block nko_order_admin_report_mixed_report_kns_report_mixedResults_sonata_type_collection_mixedResults_widget %}
    {% embed '@NKOOrder/Form/AnalyticResults/result_kns_2018_widget.html.twig' %}
        {% block thead %}
            <tr>

                <th rowspan="2">Результат</th>
                <th colspan="3">Целевые значения</th>
                <th rowspan="2">Способ измерения</th>
                <th rowspan="2">Комментарий</th>
            </tr>
            <tr>
                <th>План<br>(на дату окончания проекта, согласно заявке)</th>
                <th>Факт<br>(на дату окончания проекта)</th>
                <th>Ожидается<br> на 01.06 следующего года</th>
            </tr>
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block nko_order_admin_report_mixed_report_report2019_kns_report_mixedResults_sonata_type_collection_mixedResults_widget %}
    {% embed '@NKOOrder/Form/AnalyticResults/result_kns_2018_widget.html.twig' %}
        {% block thead %}
            <tr>

                <th rowspan="2">Результат</th>
                <th colspan="3">Целевые значения</th>
                <th rowspan="2">Способ измерения</th>
                <th rowspan="2">Комментарий</th>
            </tr>
            <tr>
                <th>План<br>(на дату окончания проекта, согласно заявке)</th>
                <th>Факт<br>(на дату окончания проекта)</th>
                <th>Ожидается<br> на 01.06 следующего года</th>
            </tr>
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block nko_order_admin_report_mixed_report_report2020_kns_report_mixedResults_sonata_type_collection_mixedResults_widget %}
    {% embed '@NKOOrder/Form/AnalyticResults/result_kns_2018_widget.html.twig' %}
        {% block thead %}
            <tr>

                <th rowspan="2">Результат</th>
                <th colspan="3">Целевые значения</th>
                <th rowspan="2">Способ измерения</th>
                <th rowspan="2">Комментарий</th>
            </tr>
            <tr>
                <th>План<br>(на дату окончания проекта, согласно заявке)</th>
                <th>Факт<br>(на дату окончания проекта)</th>
                <th>Ожидается<br> на 01.06 следующего года</th>
            </tr>
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block nko_order_admin_report_mixed_report_kns_report_documents_sonata_type_collection_widget %}
    {% include '@NKOOrder/Form/report_attachment_widget.html.twig' %}
{% endblock %}

{% block nko_order_admin_report_mixed_report_report2019_kns_report_documents_sonata_type_collection_widget %}
    {% include '@NKOOrder/Form/report_attachment_widget.html.twig' %}
{% endblock %}

{% block nko_order_admin_report_mixed_report_report2020_kns_report_documents_sonata_type_collection_widget %}
    {% include '@NKOOrder/Form/report_attachment_widget.html.twig' %}
{% endblock %}

{% block nko_order_admin_continuation_application_beneficiaryProblems_sonata_type_collection_widget %}
    {% include '@NKOOrder/Form/result_application_widget.html.twig' %}
{% endblock %}

{% block nko_order_admin_continuation_application_specialistProblems_sonata_type_collection_widget %}
    {% include '@NKOOrder/Form/result_application_widget.html.twig' %}
{% endblock %}

{% block nko_order_admin_farvater_brief_application_2018_application_beneficiaryProblems_sonata_type_collection_widget %}
    {% include '@NKOOrder/Form/result_application_widget.html.twig' %}
{% endblock %}

{% block nko_order_admin_farvater_application_2018_application_specialistProblems_sonata_type_collection_widget %}
    {% include '@NKOOrder/Form/result_application_widget.html.twig' %}
{% endblock %}

{% block nko_order_admin_kns_application_2017_second_stage_beneficiaryProblems_sonata_type_collection_widget %}
    {% include '@NKOOrder/Form/result_application_widget.html.twig' %}
{% endblock %}

{% block nko_order_admin_kns_application_2018_second_stage_beneficiaryProblems_sonata_type_collection_widget %}
    {% include '@NKOOrder/Form/result_application_widget.html.twig' %}
{% endblock %}
{% block nko_order_admin_kns_application_2019_second_stage_beneficiaryProblems_sonata_type_collection_widget %}
    {% include '@NKOOrder/Form/result_application_widget.html.twig' %}
{% endblock %}
{% block nko_order_admin_kns_application_2018_third_stage_beneficiaryProblems_sonata_type_collection_widget %}
    {% include '@NKOOrder/Form/result_application_widget.html.twig' %}
{% endblock %}

{% block nko_order_admin_continuation_second_stage_application_beneficiaryProblems_sonata_type_collection_beneficiaryProblems_widget %}
    {% include '@NKOOrder/Form/result_application_widget.html.twig' %}
{% endblock %}

{% block nko_order_admin_continuation_second_stage_application_specialistProblems_sonata_type_collection_specialistProblems_widget %}
    {% include '@NKOOrder/Form/result_application_widget.html.twig' %}
{% endblock %}

{% block nko_order_admin_continuation_second_stage_application_peopleCategories_drop_down_list_widget %}
    {% embed "@NKOOrder/Form/drop_down_entity_widget.html.twig" with {'form': form, 'value': value, 'outerInputType' : "checkbox", 'innerInputType' : "checkbox", 'notChecked' : -1} %}
    {% endembed %}
{% endblock %}

{% block nko_order_admin_continuation_second_stage_2019_application_peopleCategories_drop_down_list_peopleCategories_widget %}
    {% embed "@NKOOrder/Form/drop_down_entity_widget.html.twig" with {'form': form, 'value': value, 'outerInputType' : "checkbox", 'innerInputType' : "checkbox", 'notChecked' : -1} %}
    {% endembed %}
{% endblock %}

{% block nko_order_admin_continuation_second_stage_2019_application_beneficiaryProblems_sonata_type_collection_beneficiaryProblems_widget %}
    {% include '@NKOOrder/Form/result_application_widget.html.twig' %}
{% endblock %}

{% block nko_order_admin_continuation_second_stage_2019_application_specialistProblems_sonata_type_collection_specialistProblems_widget %}
    {% include '@NKOOrder/Form/result_application_widget.html.twig' %}
{% endblock %}

{% block nko_order_admin_continuation_kns_application_competition_entity_widget %}
    {% embed "@NKOOrder/Form/entity_readonly_widget.html.twig" with {'form': form, 'title': form.vars.data.name } %}
    {% endembed %}
{% endblock %}

{% block nko_order_admin_continuation_kns_application_peopleCategories_drop_down_list_widget %}
    {% embed "@NKOOrder/Form/drop_down_entity_widget.html.twig" with {'form': form, 'value': value, 'outerInputType' : "checkbox", 'innerInputType' : "checkbox", 'notChecked' : -1} %}
    {% endembed %}
{% endblock %}

{% block nko_order_admin_continuation_kns_application_beneficiaryProblems_sonata_type_collection_widget %}
    {% include '@NKOOrder/Form/result_application_widget.html.twig' %}
{% endblock %}

{% block nko_order_admin_continuation_kns_application_effectivenessKNSItems_sonata_type_collection_widget %}
    {% embed '@NKOOrder/Form/effectiveness_items.html.twig' %}
        {% block thead %}
            <tr>
                <th rowspan="2">Показатель</th>
                <th rowspan="2" style="width: 10%">Целевое значение на конец I года реализации проекта (ФАКТ) </th>
                <th rowspan="2" style="width: 10%">Целевое значение на конец реализации проекта (ПЛАН) </th>
                <th>Способ измерения </th>
            </tr>
            <tr>
                <th>Свои способы измерения </th>
            </tr>
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block nko_order_admin_kns_application_2018_third_stage_effectivenessKNSItems_sonata_type_collection_widget %}
    {% embed '@NKOOrder/Form/effectiveness_items.html.twig' %}
        {% block thead %}
            <tr>
                <th rowspan="2">Показатель</th>
                <th rowspan="2" style="width: 10%">Целевое значение на конец II года реализации проекта (ФАКТ)</th>
                <th rowspan="2" style="width: 10%">Целевое значение на конец реализации проекта (ПЛАН)</th>
                <th>Способ измерения </th>
            </tr>
            <tr>
                <th>Свои способы измерения </th>
            </tr>
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block nko_order_admin_kns_application_2019_application_competition_entity_competition_widget %}
    {% embed "@NKOOrder/Form/entity_readonly_widget.html.twig" with {'form': form, 'title': form.vars.data.name } %}
    {% endembed %}
{% endblock %}

{% block nko_order_admin_kns_application_2019_application_peopleCategories_drop_down_list_peopleCategories_widget %}
    {% embed "@NKOOrder/Form/drop_down_entity_widget.html.twig" with {'form': form, 'value': value, 'outerInputType' : "checkbox", 'innerInputType' : "checkbox", 'notChecked' : 1 } %}
    {% endembed %}
{% endblock %}

{% block nko_order_admin_kns_application_2020_application_competition_entity_competition_widget %}
    {% embed "@NKOOrder/Form/entity_readonly_widget.html.twig" with {'form': form, 'title': form.vars.data.name } %}
    {% endembed %}
{% endblock %}

{% block nko_order_admin_kns_application_2020_application_peopleCategories_drop_down_list_peopleCategories_widget %}
    {% embed "@NKOOrder/Form/drop_down_entity_widget.html.twig" with {'form': form, 'value': value, 'outerInputType' : "checkbox", 'innerInputType' : "checkbox", 'notChecked' : 1 } %}
    {% endembed %}
{% endblock %}

{% block nko_order_admin_mark_list_sequence_sequence_doubleSections_sonata_type_collection_doubleSections_widget %}
    {% if form.children | length %}
        {% include '@NKOOrder/Form/expert_mark_sequence_widget.html.twig' %}
    {% endif %}
{% endblock %}

{% block  nko_order_admin_register_expenses_sonata_type_collection_widget %}
    {% embed "@NKOOrder/Form/standart_collection_widget.html.twig"%}
        {%  block th %}
            {% set number = form.parent.parent.parent.vars.value|getTypeOfExpenseLabel %}
            {% if children.vars.label %}
                {{ children.vars.label|raw }}
            {% elseif field == 'proofProductExpenseDocument'%}
                {{ attribute(children.parent.vars.data.register.expenseType.helpProofProductExpenseDocument, number)|raw }}
            {% elseif field == 'proofPaidGoodsDocument'%}
                {{ attribute(children.parent.vars.data.register.expenseType.helpProofPaidGoodsDocument, number)|raw }}
            {% endif %}
        {% endblock %}
    {% endembed %}
{% endblock %}