{% macro hidden_input(form_field) %}
    <input type="hidden" id="{{ form_field.vars.id }}" name="{{ form_field.vars.full_name }}" class="form-control" value="{{ form_field.vars.data }}"/>
{% endmacro %}