<div id="field_container_{{ form.vars['id'] }}" class="field-container">
        <span id="field_container_{{ form.vars['id'] }}" >
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th></th>
                        <th rowspan="2">Услуги, мероприятия и пр.</th>
                            <th rowspan="2">Целевая группа</th>
                            <th rowspan="2">Показатель</th>
                            <th colspan="2">Целевые значения</th>
                            <th rowspan="2">Способ измерения</th>
                            <th rowspan="2">Собирали ли обратную связь</th>
                            <th rowspan="2">Комментарий</th>
                        </tr>
                        <tr>
                            <th>План</th>
                            <th>Факт</th>
                        </tr>
                    </tr>
                </thead>
                <tbody class="sonata-ba-tbody">
                {% for item in form.children %}
                    <tr>
                        <td></td>
                        <td class="sonata-ba-td-{{ form.vars['id'] }}-service control-group " style="min-width: 150px">
                            {{ form_widget(item.children['linkedFarvaterResult__service'] )  }}
                            {% if  item.children['linkedFarvaterResult__service'].vars['errors'] | length > 0 %}
                                <div class="help-inline sonata-ba-field-error-messages">{{ form_errors(item.children['linkedFarvaterResult__service']) }}</div>
                            {% endif %}
                        </td>

                        <td class="sonata-ba-td-{{ form.vars['id'] }}-targetGroup control-group" style="min-width: 150px">
                            {{ form_widget(item.children['linkedFarvaterResult__targetGroup']) }}
                            {% if  item.children['linkedFarvaterResult__targetGroup'].vars['errors'] | length > 0 %}
                                <div class="help-inline sonata-ba-field-error-messages">{{ form_errors(item.children['linkedFarvaterResult__targetGroup']) }}</div>
                            {% endif %}
                        </td>

                        <td class="sonata-ba-td-{{ form.vars['id'] }}-targetGroup control-group" style="min-width: 150px">
                            {% set indicator = item.children['linkedFarvaterResult__indicator'] is defined ? item.children['linkedFarvaterResult__indicator'] : item.children['linkedFarvaterResult__customIndicator']  %}

                            {{ form_widget(indicator) }}
                            {% if  indicator.vars['errors'] | length > 0 %}
                                <div class="help-inline sonata-ba-field-error-messages">{{ form_errors(indicator) }}</div>
                            {% endif %}
                        </td>

                        <td class="sonata-ba-td-{{ form.vars['id'] }}-serviceFactValue control-group" style="min-width: 80px">
                            {{ form_widget(item.children['linkedFarvaterResult__targetValue']) }}
                            {% if  item.children['linkedFarvaterResult__targetValue'].vars['errors'] | length > 0 %}
                                <div class="help-inline sonata-ba-field-error-messages">{{ form_errors(item.children['linkedFarvaterResult__targetValue']) }}</div>
                            {% endif %}
                        </td>

                        <td class="sonata-ba-td-{{ form.vars['id'] }}-servicePlanValue control-group" style="min-width: 80px">
                            {{ form_widget(item.children['serviceFactValue']) }}
                            {% if  item.children['serviceFactValue'].vars['errors'] | length > 0 %}
                                <div class="help-inline sonata-ba-field-error-messages">{{ form_errors(item.children['serviceFactValue']) }}</div>
                            {% endif %}
                        </td>

                        <td class="sonata-ba-td-{{ form.vars['id'] }}-measurementMethod control-group">
                            <select  style="max-width: 200px" id="{{ item.vars['id'] }}_measurementMethod" name="{{ item.vars['full_name'] }}[measurementMethod]" class=" form-control" >

                                {% for choice in item.children['measurementMethod'].vars['choices'] %}
                                    {% if item.children['measurementMethod'].vars['value'] == choice.value %}
                                        <option value="{{ choice.value }}" selected="selected">{{ choice.label }}</option>
                                {% else %}
                                        <option value="{{ choice.value }}">{{ choice.label }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                            {% if  item.children['measurementMethod'].vars['errors'] | length > 0 %}
                                <div class="help-inline sonata-ba-field-error-messages">{{ form_errors(item.children['measurementMethod']) }}</div>
                            {% endif %}
                        </td>
                        <td class="sonata-ba-td-{{ form.vars['id'] }}-isFeedback control-group">
                            <select id="{{ item.vars['id'] }}_isFeedback" name="{{ item.vars['full_name'] }}[isFeedback]" class=" form-control" >
                                {% for choice in  item.children['isFeedback'].vars['choices'] %}
                                    {% if item.children['isFeedback'].vars['value'] == choice.value %}
                                        <option value="{{ choice.value }}" selected="selected">{{ choice.label | trans([], 'SonataCoreBundle') }}</option>
                                    {% else  %}
                                        <option value="{{ choice.value }}">{{ choice.label | trans([], 'SonataCoreBundle') }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </td>
                        <td class="sonata-ba-td-{{ form.vars['id'] }}-comment control-group" style="min-width: 150px">
                            {{ form_widget(item.children['comment']) }}
                            {% if  item.children['comment'].vars['errors'] | length > 0 %}
                                <div class="help-inline sonata-ba-field-error-messages">{{ form_errors(item.children['comment']) }}</div>
                            {% endif %}
                        </td>
                        <td class="sonata-ba-td-{{ form.vars['id'] }}-idDirectResult control-group" style="display: none">
                            {{ form_widget(item.children['idDirectResult']) }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </span>
</div>



