{% block puclication_attachment_table_widget %}
    <p> Если таблица не умещается на экране, Вы можете воспользоваться горизонтальной прокруткой под ней</p>
    <div id="field_container_{{ form.vars['id'] }}" class="field-container">
        <span id="field_container_{{ form.vars['id'] }}" >
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th colspan="4">Публикация</th>
                    <th rowspan="2">Ссылка на публикацию (для онлайн-СМИ)</th>
                    <th rowspan="2">Скан публикации в формате pdf (для печатных СМИ)</th>
                </tr>
                <tr>
                    <th style="min-width: 200px;">ФИО автора</th>
                    <th style="min-width: 200px;">Название публикации</th>
                    <th style="min-width: 200px;">Дата публикации</th>
                    <th style="min-width: 200px;">Название СМИ</th>
                </tr>
                </thead>
                <tbody>
                {% for  item in form.children %}
                    <tr>
                        <td class="sonata-ba-td-{{ form.vars['id'] }}-file control-group" style="display: none">
                            {{ form_widget(item.children['fileName']) }}
                        </td>
                        <td class="sonata-ba-td-{{ form.vars['id'] }}-author control-group">
                            {{ form_widget(item.children['author']) }}
                            {% if  item.children['author'].vars['errors'] | length > 0 %}
                                <div class="help-inline sonata-ba-field-error-messages">{{ form_errors(item.children['author']) }}</div>
                            {% endif %}
                        </td>
                        <td class="sonata-ba-td-{{ form.vars['id'] }}-name control-group">
                            {{ form_widget(item.children['name']) }}
                            {% if  item.children['name'].vars['errors'] | length > 0 %}
                                <div class="help-inline sonata-ba-field-error-messages">{{  form_errors(item.children['name']) }}</div>
                            {% endif %}
                        </td>
                        <td class="sonata-ba-td-{{ form.vars['id'] }}-date control-group">
                            {{ form_widget(item.children['date']) }}
                            {% if  item.children['date'].vars['errors'] | length > 0 %}
                                <div class="help-inline sonata-ba-field-error-messages">{{ form_errors(item.children['date']) }}</div>
                            {% endif %}
                        </td>
                        <td class="sonata-ba-td-{{ form.vars['id'] }}-mediaName control-group">
                            {{ form_widget(item.children['mediaName']) }}
                            {% if  item.children['mediaName'].vars['errors'] | length > 0 %}
                                <div class="help-inline sonata-ba-field-error-messages">{{ form_errors(item.children['mediaName']) }}</div>
                            {% endif %}
                        </td>
                        <td class="sonata-ba-td-{{ form.vars['id'] }}-mediaLink control-group">
                            {{ form_widget(item.children['mediaLink']) }}
                            {% if  item.children['mediaLink'].vars['errors'] | length > 0 %}
                                <div class="help-inline sonata-ba-field-error-messages">{{ form_errors(item.children['mediaLink']) }}</div>
                            {% endif %}
                        </td>
                        <td class="sonata-ba-td-{{ form.vars['id'] }}-file control-group">
                            {{ form_widget(item.children['file']) }}
                            {% if  item.children['file'].vars['errors'] | length > 0 %}
                                <div class="help-inline sonata-ba-field-error-messages">{{ form_errors(item.children['file']) }}</div>
                            {% endif %}
                        </td>
                        {% include '@NKOOrder/Form/table_button_with_file_name.twig' %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </span>
    </div>
{% endblock %}