{% import '@NKOOrder/Form/table_buttons.html.twig' as help %}

{% macro addFieldFileName(form, item) %}
    <td class="sonata-ba-td-{{ form.vars['id'] }}-fileName control-group" style="display: none">
        {{ form_widget(item) }}
    </td>
{% endmacro %}

{% macro pasteTh(fieldName, nestedField, levels) %}
    {% if fieldName !='_delete' and fieldName !='fileName' %}
        <th rowspan="{{ levels }}" {{ nestedField.vars['required']  ? 'class="required"' : '' }}{% if (nestedField.vars['attr']['hidden'] is defined) and (nestedField.vars['attr']['hidden']) %} style="display:none;"{% endif %}>
            {{ nestedField.vars.label | trans ([], nestedField.vars.translation_domain) }}
        </th>
    {% endif %}
{% endmacro %}

{% macro pasteTd(form, nested_field, field_name) %}
    <td class="sonata-ba-td-{{ form.vars['id'] }}-{{ field_name  }} control-group{% if nested_field.vars.errors|length > 0 %} error{% endif %}"{% if (nested_field.vars['attr']['hidden'] is defined) and (nested_field.vars['attr']['hidden']) %} style="display:none;"{% endif %}>
        {{ form_widget(nested_field) }}
        {% if nested_field.vars.errors|length > 0 %}
            <div class="help-inline sonata-ba-field-error-messages">
                {{ form_errors(nested_field) }}
            </div>
        {% endif %}
    </td>
{% endmacro %}

{# Переменная для AnalyticReport2018 #}
{% set amount = form.parent.vars['amount'] is defined ? form.parent.vars['amount'] : null %}
{#---#}

{% set options = form.parent.vars.data | tableFile(form.vars.name) %}
{% set levels = options['level'] %}
{% if form.children|length %}
<p> Если таблица не умещается на экране, Вы можете воспользоваться горизонтальной прокруткой под ней</p>
<div id="field_container_{{ form.vars['id'] }}" class="field-container" style="overflow: auto;">
    <div class="parameters" amount= {{ amount }}></div>
    <span id="field_container_{{ form.vars['id'] }}" >
        <table class="table table-bordered">
            <thead>
                {% for key, level in 1..levels %}
                    {% set index = loop.index %}
                    {% set commonField = null %}
                    <tr>
                        {% if index == 1 %}
                            {% if options.enabled.number %}
                                <th rowspan= {{ options.level }} >Номер</th>
                            {% endif %}

                            {% for field_name, nested_field in form.children|first.children %}

                                {% if levels == 1 %}
                                    {{ _self.pasteTh(field_name, nested_field, levels) }}
                                {% elseif options.fieldDescription[3] is defined %}
                                    {% if field_name == options.fieldDescription[3] %}
                                        <th colspan= {{ options.fieldDescription[2] | length }} >{{ options.fieldDescription[1] }}</th>
                                    {% else %}
                                        {{ _self.pasteTh(field_name, nested_field, levels) }}
                                    {% endif %}
                                {% else %}
                                    {% if field_name in options.fieldDescription[2] and commonField == null %}
                                        <th colspan= {{ options.fieldDescription[2] | length }} >{{ options.fieldDescription[1] }}</th>
                                        {% set commonField = true %}
                                    {% elseif field_name not in options.fieldDescription[2] %}
                                        {{ _self.pasteTh(field_name, nested_field, levels) }}
                                    {% endif %}
                                {% endif %}

                            {% endfor %}

                            {% if options.enabled.button %}
                                <th rowspan= {{ options.level }} th style="width: 110px;" id="action_th">Действие</th>
                            {% endif %}
                        {% else %}
                            {% if levels == 2 %}
                                {% for field in options.fieldDescription[2] %}
                                    {% if not options.fieldDescription[0] %}
                                        <th style="min-width: 200px;">{{ field }}</th>
                                    {% else %}
                                        <th style="min-width: 200px;">{{ form.children|first.children[field].vars.label | trans ([], form.children|first.children[field].vars.translation_domain) }}</th>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% endif %}
                    </tr>
                {% endfor %}
            </thead>

            <tbody class="sonata-ba-tbody">
            {% for nested_group_field_name, nested_group_field in form.children %}
                <tr>
                    {% if options.enabled.number %}
                        <td class="selector_id" style="width: 5%; text-align: center; vertical-align: middle; top: 50%;"></td>
                    {% endif %}
                    {% set dummy = nested_group_field.setrendered %}

                    {% for field_name, nested_field in nested_group_field.children %}

                        {% if field_name == 'fileName' %}
                            {{ _self.addFieldFileName(form, nested_field) }}
                        {% elseif options.fieldDescription[3] is defined and field_name == options.fieldDescription[3] %}

                            {% for nested_field_embed in nested_group_field.children[options.fieldDescription[3]] %}
                                {% for key, item in nested_field_embed.children %}

                                    {% if key == 'fileName' %}
                                        {{ _self.addFieldFileName(form, item) }}
                                    {% elseif key !='_delete' %}
                                        {{ _self.pasteTd(form, item, key) }}
                                    {% else %}

                                    {% endif %}
                                {% endfor %}

                            {% endfor %}

                        {% elseif field_name !='_delete' %}
                            {{ _self.pasteTd(form, nested_field, field_name) }}
                        {% endif %}
                    {% endfor %}
                    <td class="sonata-ba-td-{{ form.vars['id'] }}-_delete control-group" style="display: {{ options.enabled.button == null ? 'none' : '' }}">
                        {{ help.addTableButtons(nested_group_field) }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </span>
</div>
{% endif %}

<script>
    (function () {
        var tableSelector = 'div[id$="{{ form.vars.name }}"] table tbody';

        $(tableSelector).find('tr').each(function () {
            var selector = $(this),
                splits = [],
                targetName,
                href;

            href = $(this).find('div[class*="itm_file_preview_ico_c"] a');

            href.each(function () {
                var countFile = href.length,
                    nameFile = $(this).closest('td').find('input').attr('id').split('_'),
                    nameFileSize = nameFile.length;

                if (countFile == 1) {
                    targetName = 'input[id*="' + nameFile[nameFileSize-2];
                } else {
                    targetName = 'input[id*="' + nameFile[nameFileSize-3] +'_'+ nameFile[nameFileSize-2];
                }

                if ($(this).attr('href') !== undefined) {
                    splits = $(this).attr('href') .split('/');
                    selector.find(targetName + '_fileName"]').val(splits[splits.length-1]);
                }
            });
        });
    })();
</script>