{% import '@NKOOrder/Form/table_buttons.html.twig' as help %}

<div id="field_container_{{ form.vars['id'] }}" class="field-container" style="overflow: auto;">
    <span id="field_container_{{ form.vars['id'] }}" >
        <table class="table table-bordered">
            <thead>
                <tr>
                    {% for nested_field in form.children|first %}
                        {% if nested_field.vars.name !='customSocialResult' %}
                            <th {% if nested_field.vars.name =='_delete' %}id="action_th"{% endif %}>
                                {{ nested_field.vars.label | trans ([], nested_field.vars.translation_domain) }}
                            </th>
                        {% endif %}
                    {% endfor %}
                </tr>
            </thead>

            <tbody class="sonata-ba-tbody">
                {% for nested_group_field in form.children %}
                    <tr>
                        <td class="sonata-ba-td-{{ form.vars['id'] }}-_delete control-group">
                            {{ help.addTableButtons(nested_group_field) }}
                        </td>

                        {% for field_name, nested_field in nested_group_field %}
                            {% if field_name !='_delete' and  field_name !='customSocialResult'%}
                                <td class="sonata-ba-td-{{ form.vars['id'] }}-{{ field_name  }} control-group{% if nested_field.vars.errors|length > 0 %} error{% endif %}"{% if (nested_field.vars['attr']['hidden'] is defined) and (nested_field.vars['attr']['hidden']) %} style="display:none;"{% endif %}>
                                    {{ form_widget(nested_field) }}

                                    {% if field_name =='socialResults' %}
                                        {{ form_widget(nested_group_field['customSocialResult']) }}
                                    {% endif %}

                                    {% if nested_field.vars.errors|length > 0 %}
                                        <div class="help-inline sonata-ba-field-error-messages">
                                            {{ form_errors(nested_field) }}
                                        </div>
                                    {% endif %}
                                </td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </span>
</div>