<div id="field_container_{{ form.vars['id'] }}" class="field-container" style="overflow: auto">
        <span id="field_container_{{ form.vars['id'] }}" >
          
            <table class="table table-bordered">
                <thead>
                    <tr>
                        {% if form.parent.vars.class is defined %}
                            {% if form.parent.vars.class == "analytic_report_2018" %}
                                    <th></th>
                                    <th rowspan="3">Услуги, мероприятия и пр.</th>
                                    <th rowspan="3">Целевая группа</th>
                                    <th colspan="4">Целевые значения</th>
                                    <th rowspan="3">Способ измерения</th>
                                    <th rowspan="3">Собирали ли обратную связь</th>
                                    <th rowspan="3">Комментарий</th>
                                </tr>
                                <tr>
                                    <th colspan="2">Число услуг/мероприятий</th>
                                    <th colspan="2">Число благополучателей</th>
                                </tr>
                                <tr>
                                    <th>План</th>
                                    <th>Факт</th>
                                    <th>План</th>
                                    <th>Факт</th>
                                </tr>
                            {% endif %}
                        {% else %}
                            <th style="width: 120px;" id="action_th">Удалить</th>
                            <th rowspan="3">Услуги, мероприятия и пр.</th>
                            <th rowspan="3">Целевая группа</th>
                            <th colspan="6">Целевые значения</th>
                            <th rowspan="3">Метод измерения</th>
                            <th rowspan="3">Собирали ли обратную связь</th>
                            <th rowspan="3">Комментарий</th>
                            </tr>
                            <tr>
                                <th></th>
                                <th colspan="2">Число услуг/мероприятий</th>
                                <th colspan="2">Число благополучателей</th>
                                <th colspan="2">Дата мероприятия</th>
                            </tr>
                            <tr>
                                <th></th>
                                <th>План</th>
                                <th>Факт</th>
                                <th>План</th>
                                <th>Факт</th>
                                <th>План</th>
                                <th>Факт</th>
                            </tr>
                    {% endif %}
                </thead>
                <tbody class="sonata-ba-tbody">
                {% for item in form.children %}
                    <tr>
                        <td class="sonata-ba-td-{{ form.vars['id'] }}-_delete control-group">
                            <div class="checkbox">
                                <label><input type="checkbox" id="{{ item.children['_delete'].vars['id'] }}"
                                              name="{{ item.children['_delete'].vars['full_name'] }}"
                                              class="sonata-admin-type-delete-checkbox" value="{{ item.children['_delete'].vars['value'] }}"/><span
                                            class="control-label__text">Delete</span></label>
                            </div>
                            <button type="button" class="btn btn-primary" id="add_btn">
                                <i class="glyphicon glyphicon-plus"></i>
                            </button>
                            <button type="button" class="btn btn-block btn-danger" id="delete_btn">
                                <i class="glyphicon glyphicon-trash"></i>
                            </button>
                        </td>

                        {%   set service = item.children['linkedResult__service'] is defined ? "linkedResult__service" : 'service' %}
                        <td class="sonata-ba-td-{{ form.vars['id'] }}-service control-group " style="min-width: 150px">
                            {{ form_widget(item.children[service] )  }}
                            {% if  item.children[service].vars['errors'] | length > 0 %}
                                <div class="help-inline sonata-ba-field-error-messages">{{ form_errors(item.children[service]) }}</div>
                            {% endif %}
                            {{ form_widget(item.children['_delete'].vars['form']) }}
                        </td>

                        {%   set targetGroup = item.children['linkedResult__problem'] is defined ? "linkedResult__problem" : 'targetGroup' %}
                        <td class="sonata-ba-td-{{ form.vars['id'] }}-targetGroup control-group" style="min-width: 150px">
                            {{ form_widget(item.children[targetGroup]) }}
                            {% if  item.children[targetGroup].vars['errors'] | length > 0 %}
                                <div class="help-inline sonata-ba-field-error-messages">{{ form_errors(item.children[targetGroup]) }}</div>
                            {% endif %}
                        </td>

                        {%   set servicePlanValue = item.children['linkedResult__servicePlanValue'] is defined ? "linkedResult__servicePlanValue" : 'servicePlanValue' %}
                        <td class="sonata-ba-td-{{ form.vars['id'] }}-servicePlanValue control-group" style="min-width: 80px">
                            {{ form_widget(item.children[servicePlanValue]) }}
                            {% if  item.children[servicePlanValue].vars['errors'] | length > 0 %}
                                <div class="help-inline sonata-ba-field-error-messages">{{ form_errors(item.children[servicePlanValue]) }}</div>
                            {% endif %}
                        </td>

                        <td class="sonata-ba-td-{{ form.vars['id'] }}-serviceFactValue control-group" style="min-width: 80px">
                            {{ form_widget(item.children['serviceFactValue']) }}
                            {% if  item.children['serviceFactValue'].vars['errors'] | length > 0 %}
                                <div class="help-inline sonata-ba-field-error-messages">{{ form_errors(item.children['serviceFactValue']) }}</div>
                            {% endif %}
                        </td>

                        {%   set beneficiaryPlanValue = item.children['linkedResult__beneficiaryPlanValue'] is defined ? "linkedResult__beneficiaryPlanValue" : 'beneficiaryPlanValue' %}
                        <td class="sonata-ba-td-{{ form.vars['id'] }}-beneficiaryPlanValue control-group" style="min-width: 80px">
                            {{ form_widget(item.children[beneficiaryPlanValue]) }}
                            {% if  item.children[beneficiaryPlanValue].vars['errors'] | length > 0 %}
                                <div class="help-inline sonata-ba-field-error-messages">{{ form_errors(item.children['beneficiaryPlanValue']) }}</div>
                            {% endif %}
                        </td>

                        <td class="sonata-ba-td-{{ form.vars['id'] }}-beneficiaryFactValue control-group" style="min-width: 80px">
                            {{ form_widget(item.children['beneficiaryFactValue']) }}
                            {% if  item.children['beneficiaryFactValue'].vars['errors'] | length > 0 %}
                                <div class="help-inline sonata-ba-field-error-messages">{{ form_errors(item.children['beneficiaryFactValue']) }}</div>
                            {% endif %}
                        </td>

                        {% if form.parent.vars.class is defined %}
                            {% if form.parent.vars.class == "analytic_report_2018" %}
                            {% endif %}
                        {% else %}
                            <td class="sonata-ba-td-{{ form.vars['id'] }}-eventDates control-group">
                                <div class="form-group" style="min-width: 150px" >
                                    {{ form_label(item.children['startDatePlan']) }}
                                    {{ form_widget(item.children['startDatePlan']) }}
                                    {% if  item.children['startDatePlan'].vars['errors'] | length > 0 %}
                                        <div class="help-inline sonata-ba-field-error-messages">{{ form_errors(item.children['startDatePlan']) }}</div>
                                    {% endif %}
                                    {{ form_label(item.children['finishDatePlan']) }}
                                    {{ form_widget(item.children['finishDatePlan']) }}
                                    {% if  item.children['finishDatePlan'].vars['errors'] | length > 0 %}
                                        <div class="help-inline sonata-ba-field-error-messages">{{ form_errors(item.children['finishDatePlan']) }}</div>
                                    {% endif %}
                                </div>
                            </td>

                            <td class="sonata-ba-td-{{ form.vars['id'] }}-dates control-group">
                            <div class="form-group" style="min-width: 150px" >
                                {{ form_label(item.children['startDateFact']) }}
                                {{ form_widget(item.children['startDateFact']) }}
                                {% if  item.children['startDateFact'].vars['errors'] | length > 0 %}
                                    <div class="help-inline sonata-ba-field-error-messages">{{ form_errors(item.children['startDateFact']) }}</div>
                                {% endif %}
                                {{ form_label(item.children['finishDateFact']) }}
                                {{ form_widget(item.children['finishDateFact']) }}
                                {% if  item.children['finishDateFact'].vars['errors'] | length > 0 %}
                                    <div class="help-inline sonata-ba-field-error-messages">{{ form_errors(item.children['finishDateFact']) }}</div>
                                {% endif %}
                            </div>
                            </td>

                         {% endif %}
                        <td class="sonata-ba-td-{{ form.vars['id'] }}-measurementMethod control-group">
                            <select  style="max-width: 200px" id="{{ item.vars['id'] }}_measurementMethod" name="{{ item.vars['full_name'] }}[measurementMethod]" class=" form-control" >

                                {% for choice in item.children['measurementMethod'].vars['choices'] %}
                                    {% if item.children['measurementMethod'].vars['value'] == choice.value %}
                                        <option value="{{ choice.value }}" selected="selected">{{ choice.label }}</option>
                                {% else %}
                                        <option value="{{ choice.value }}">{{ choice.label }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                            {% if  item.children['measurementMethod'].vars['errors'] | length > 0 %}
                                <div class="help-inline sonata-ba-field-error-messages">{{ form_errors(item.children['measurementMethod']) }}</div>
                            {% endif %}
                        </td>
                        <td class="sonata-ba-td-{{ form.vars['id'] }}-isFeedback control-group">
                            <select id="{{ item.vars['id'] }}_isFeedback" name="{{ item.vars['full_name'] }}[isFeedback]" class=" form-control" >
                                {% for choice in  item.children['isFeedback'].vars['choices'] %}
                                    {% if item.children['isFeedback'].vars['value'] == choice.value %}
                                        <option value="{{ choice.value }}" selected="selected">{{ choice.label | trans([], 'SonataCoreBundle') }}</option>
                                    {% else  %}
                                        <option value="{{ choice.value }}">{{ choice.label | trans([], 'SonataCoreBundle') }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </td>
                        <td class="sonata-ba-td-{{ form.vars['id'] }}-comment control-group" style="min-width: 150px">
                            {{ form_widget(item.children['comment']) }}
                            {% if  item.children['comment'].vars['errors'] | length > 0 %}
                                <div class="help-inline sonata-ba-field-error-messages">{{ form_errors(item.children['comment']) }}</div>
                            {% endif %}
                        </td>
                        {% if (item.children['idDirectResult'] is defined) %}
                            <td class="sonata-ba-td-{{ form.vars['id'] }}-idDirectResult control-group" style="display: none">
                                {{ form_widget(item.children['idDirectResult']) }}
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </span>
</div>



