{% import '@NKOOrder/Form/table_buttons.html.twig' as help %}

<div id="field_container_{{ form.vars['id'] }}" class="field-container">
        <span id="field_container_{{ form.vars['id'] }}" >
            <table class="table table-bordered">
                <thead>
                {% block thead %}
                    {%  for field, children in form.children[0] %}
                        {% if field == '_delete' %}
                            <th style="width: 110px;" id="action_th">Действие</th>
                        {% else %}
                            <th>
                                {%  block th %}
                                    {{ children.vars.label|raw }}
                                {% endblock %}
                            </th>
                        {% endif %}
                    {% endfor %}
                {% endblock %}
                </thead>
                <tbody class="sonata-ba-tbody">
                {% block body %}
                    {% for item in form.children %}
                        <tr>
                            {% for field, children in item.children %}
                                {% if field == "_delete" %}
                                    <td class="sonata-ba-td-{{ form.vars['id'] }}-_delete control-group">
                                        {{ help.addTableButtons(item) }}
                                    </td>
                                {% else %}
                                    <td class="sonata-ba-td-{{ form.vars['id'] }}-{{ field }} control-group">
                                        {{ form_widget(children) }}
                                        {% if children.vars['errors'] | length > 0 %}
                                            <div class="help-inline sonata-ba-field-error-messages">{{ form_errors(children) }}</div>
                                        {% endif %}
                                    </td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    {% endfor %}
                {% endblock %}
                </tbody>
            </table>
        </span>
</div>