<td class="sonata-ba-td-{{ form.vars['id'] }}-_delete control-group" style="display: {{ visible is defined ? '': 'none' }}">
    <div class="checkbox" style="display: none">
        <label><input type="checkbox" id="{{ item.children['_delete'].vars['id'] }}"
                      name="{{ item.children['_delete'].vars['full_name'] }}"
                      class="sonata-admin-type-delete-checkbox" value="{{ item.children['_delete'].vars['value'] }}"/><span
                    class="control-label__text">Delete</span></label>
    </div>
    <button type="button" class="btn btn-primary" id="add_btn">
        <i class="glyphicon glyphicon-plus"></i>
    </button>
    <button type="button" class="btn btn-block btn-danger" id="delete_btn">
        <i class="glyphicon glyphicon-trash"></i>
    </button>
</td>