<table width="1100" cellpadding="7" cellspacing="0" style="font-size: 30px;">
    <col width="51">
    <col width="290">
    <col width="99">
    <col width="283">
{#    <thead style="display: table-header-group">#}
    <tbody style="display: table-row-group">
    <tr valign="top" style="page-break-inside: avoid;">
        <td width="51" bgcolor="#ffffff" style="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.07in; padding-right: 0.08in">
            <b><p align="center" style="margin-bottom: 0in">№<font face="Arial Narrow, serif">п</font><font face="Arial Narrow, serif"><span lang="en-US">/</span></font><font face="Arial Narrow, serif">п</font></p></b>
            <p align="center"><br>
            </p>
        </td>
        <td width="222" bgcolor="#ffffff" style="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.07in; padding-right: 0.08in">
            <p align="center"><font face="Arial Narrow, serif"><b>Вопрос</b></font></p>
        </td>
        <td width="80" bgcolor="#ffffff" style="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.07in; padding-right: 0.08in">
            <p align="center"><font face="Arial Narrow, serif"><b>Оценка</b></font></p>
        </td>
        <td width="222" bgcolor="#ffffff" style="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.07in; padding-right: 0.08in">
            <p align="center"><font face="Arial Narrow, serif"><b>Обоснование
                        оценки</b></font></p>
        </td>
    </tr>
{#    </thead>#}
{#    <tbody style="display: table-row-group">#}
    {% set i, j, sequence = 1, 1, mark | generate_sequence_marks %}
    {% for key, criteria in sequence %}
        {% set criteriaTitle, break = false, false %}
        {% for item in mark.marks if not break %}
            {% if item.questionMark.criteria.id == key %}
                {% set criteriaTitle, break = item.questionMark.criteria, true %}
            {% endif %}
        {% endfor %}

        <tr style="page-break-inside: avoid;">
            <td bgcolor="#ffffff" colspan="4" style="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.07in; padding-right: 0.07in; width: 10%;">
                <p align="center">{{ criteriaTitle }}</p>
            </td>
        </tr>

        {% for question in criteria %}
            {% for val in mark.marks %}
                <tr style="page-break-inside: avoid; ">
                    {% if val.questionMark.id == question %}
                        <td bgcolor="#ffffff" style="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.07in; padding-right: 0.07in; width: 10%;">
                            <p align="center">{{ j }}.{{ i }}</p>
                        </td>
                        <td bgcolor="#ffffff" style="border: 1px solid #00000a; padding-top: 0.07in; padding-bottom: 0.07in; padding-left: 0.07in; padding-right: 0.07in; width: 30%;">
                            <p> {{ val.questionMark }}</p>
                        </td>
                        <td bgcolor="#ffffff" style="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0in; padding-right: 0in; width: 10%;">
                            <p align="center">{{ val.mark }}</p>
                        </td>
                        <td bgcolor="#ffffff" style="border: 1px solid #00000a; padding-top: 0.07in; padding-bottom: 0.07in; padding-left: 0.07in; padding-right: 0.07in; width: 50%;">
                            <p> {{ val.rationale }} </p>
                        </td>
                        {% set i = i + 1 %}
                    {% endif %}
                </tr>
            {% endfor %}
        {% endfor %}
        {% set i, j = 1, j + 1  %}
    {% endfor %}
    </tbody>
</table>



