{% macro addTableButtons(item) %}

    {{ form_widget(item.children['_delete'])}}

    <button type="button" class="btn btn-primary" id="add_btn">
        <i class="glyphicon glyphicon-plus"></i>
    </button>

    <button type="button" class="btn btn-block btn-danger" id="delete_btn">
        <i class="glyphicon glyphicon-trash"></i>
    </button>

    <script>
        $('td[class*="_delete"][class*="control-group"] div[class*="checkbox"]').css('display', 'none');
    </script>
{% endmacro %}
