{% block fullscreen_textarea_widget %}
    <div>
        <textarea class="form-control" name="{{ full_name }}" id="{{ id }}"
                  cols="30" rows="3" maxlength="{% if attr.maxlength is defined %}{{ attr.maxlength }}{% endif %}">{{ data }}</textarea>
        <i class="glyphicon glyphicon-resize-full expand-textarea" id="{{ id }}-expand"></i>

        <p class="close-textarea">Для возврата и<br> сохранения  введённых<br> данных нажмите сюда
            <i class="glyphicon glyphicon-remove close-textarea" id="{{ id }}-close"></i></p>
    </div>

    <script>
        (function(){
           $(".expand-textarea").on("click", function(){
               $(this).closest("div").addClass("fullscreen-textarea");
           });
           $(".close-textarea").on("click", function() {
               $(this).closest("div").removeClass("fullscreen-textarea");
               autosize.update($("textarea#{{ id }}"));
           });
        })();
    </script>
{% endblock fullscreen_textarea_widget %}
