{% import '@NKOOrder/Form/helps.html.twig' as help %}

{% block visibility_widget %}
    <div class="field-container">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>№<br>п/п</th>
                <th>Показатель</th>
                <th>Не показывать на форме</th>
            </tr>
            </thead>
            <tbody>
            {% for item in form.children %}
                <tr>
                    {% if item['indicator'].vars.value.parent != null and item['indicator'].vars.value.parent.indexNumber != null %}
                        <td>{{ item['indicator'].vars.value.parent.indexNumber ~ '.' ~ item['indicator'].vars.value.indexNumber }}</td>
                    {% else %}
                        <td>{{ item['indicator'].vars.value.indexNumber }}</td>
                    {% endif %}

                    <td class="sonata-ba-td-{{ form.vars['id'] }}-indicator control-group">
                        {{ help.hidden_input(item.children['id']) }}
                        {{ form_widget(item.children['indicator']) }}
                    </td>

                    {% if item['indicator'].vars.value.parent != null %}
                        <td class="sonata-ba-td-{{ form.vars['id'] }}-isVisible control-group">
                            {{ form_widget(item.children['isVisible']) }}
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

