{% trans_default_domain 'FOSUserBundle' %}

<div class="col-md-6">
    <div class="ct_simple_text paddings">
        <h1>Профиль пользователя</h1>
        <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
        <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
    </div>
</div>
