<div class="btn-group tab-bar">
    <button type="button" class="btn btn-info active" ><h5>1.</h5><h6>ОПИСАНИЕ ПРОЕКТА </h6></button>
    <button type="button" class="btn btn-default" ><h5>2.</h5><h6>РЕЗУЛЬТАТЫ ПРОЕКТА</h6></button>
    <button type="button" class="btn btn-default" ><h5>3.</h5><h6>ФИНАНСОВЫЙ ОТЧЁТ</h6></button>
    <button type="button" class="btn btn-default" ><h5>4.</h5><h6>ПРИЛОЖЕНИЯ</h6></button>
</div>
<p>
    <h4>Рекомендуем сохранять заполняемый отчёт каждые 15 минут. Все поля являются обязательными для заполнения.</h4>
</p>
