{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
    <div>
        <strong>{{ object.abbreviation }}</strong> <br />
        {#{{ object.abbreviation}} : {{ object.width }}x{{ object.height }} <br />#}
    </div>
{% endblock %}