{% extends 'standard_layout.html.twig' %}

{% block content %}
    <div class="radio col-md-12">
        <h3>Конкурс</h3>
        <br>
        {% set i = 0 %}
        {% for competition in competitions %}
            {% if competition.getLink is not empty  and (is_granted('ROLE_SONATA_ADMIN_NKO_ORDER_APPLICATION_CREATE', competition))%}
                <a href="{{ path(competition.getLink, {'competition' : competition.id } ) }}">
                    <button type="button" class="btn btn-default btn-lg">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        <br>{{ competition.name  }}
                    </button>
                </a>
                {% set i = i + 1 %}
            {% endif %}
        {% endfor %}
        {% if i == 0 %}
            <p>У вас нет доступных конкурсов</p>
        {% endif %}
    </div>
{% endblock %}
